<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Deployers</h1>   
    
    <p>Deployers allow data to be exported to different types of destinations. In VocBench they are realized as plugin implementations of the eponym extension point that can be invoked in the context of data dump operations. 
    </p>
	  
    <h2>Available extensions</h2>
    
    <p>This section describes how to use the deployers bundled with the current VocBench. They are available at &quot;Global Data Management&quot; / &quot;Export data&quot;. Under "Deployment" you can configure the destination of the data being exported and, optionally, transformed.</p> 

    <p>The technical details about the extension point and its available plugins, such as the interface definition, method signatures and parameters description are provided on dedicated <a href="https://semanticturkey.uniroma2.it/doc/sys/deployer.jsf">Semantic Turkey pages</a>.</p>
    
	<h3>ShowVoc Deployer</h3>

    <p>Use this deployer if you have a project in VocBench that you want to make available in ShowVoc. To do this, </p> 

    <ol type="1">
        <li>Go to Global Data Management > Export data.</li>
        <li>As &quot;Deployment&quot;, select &quot;Deploy to triple store&quot; from the dropdown list.</li>
        <li>As &quot;Deployer&quot;, select &quot;ShowVoc Deployer&quot; from the dropdown list.</li>
     <br />              
     
    <div class="figure"><img src="../images/SelectShowVocDeployer.png" alt="Select ShowVoc Deployer" /></div>    
    
    <br />
    
    <li>Then you can choose &quot;Deploy to existing project&quot; or &quot;Deploy to new project&quot;. In the screenshot below, the second option has been chosen.</li></ol>
        
    <div class="figure"><img src="../images/ShowVocDeployer.png" alt="ShowVoc Deployer" /></div>   
    
    <p>After selecting Deploy to new project, click "Configure". Note also the two buttons next to it that can be used to load and save configurations. The figure below shows an example of a configuration.</p> 
    
    <div class="figure"><img src="../images/DeployToNewProject.png" alt="Deploy to new project" /></div>
    
    <p>The following fields are required:
    <ul>
      <li><em>Semantic Turkey host</em>: the URL of the ShowVoc server, e.g. http://localhost:1980/</li>
      <li><em>Username</em> and <em>Password</em> of a user with admin rights.</li>
      <li><em>Project</em>: The name of the new project to create.</li>
      <li><em>Core repository configuration</em>, e.g. "GraphDB 10+ (remote only)".</li>
    </ul>
    </p>
    
    <p>Finally, click "OK" and "Submit" to start the deployment. When the deployment is successful, VocBench will display a success message.</p> 
    
    <p>Now, to make the project visible in ShowVoc, you need to login to ShowVoc as an administrator, then go to the &quot;Administration Dashboard&quot; and change the project's status from "Staging" to "Public".</p>              
    
    <div class="figure"><img src="../images/ShowVocAdminDashboard.png" alt="ShowVoc Admin Dashboard" /></div>
    
    <p>After having selected "Public", you will be presented with a dialog box asking you to agree to create indexes and create dataset metadata for the project.</p>
     
    <div class="figure"><img src="../images/ShowVocChangeStatus.png" alt="ShowVoc Change Status" /></div>
    
    <p>At this point you can log out and go back to the ShowVoc homepage and you should find the new record.</p>     
    
    <p><b>Important Note</b>: When you deploy to an existing project, you still need to go to the ShowVoc admin dashboard to update indexes and recompute the metadata.</p>     

    <h4>How to simplify the process described above</h4>

    <p>In VocBench, it is possible to create a <a href="/doc/user/users_adm.jsf#user_details">super user</a> account and save its credentials as default. In this way, when you submit a new dataset from VocBench to ShowVoc, you will no longer be prompted to insert your credentials. The same solution can be applied to the configuration of the triple store when deploying new projects. This can be done in the section Administration in VocBench.</p>  

    <div class="figure"><img src="../images/VocBenchUserMenu.png" alt="VocBench User Menu" /></div>

    <p>Then, go the tab <em>Settings Mgr</em> and configure the connected ShowVoc instance. See the steps below.</p>
    
    <div class="figure"><img src="../images/VocBenchShowVocConnectionSettings.png" alt="VocBench ShowVoc Connection Settings" /></div>

   <p>At step 3, enter the base URLs of the ShowVoc instance you want to connect to:</p>    
   
   <ul>
      <li><em>Scope</em>: Select "SYSTEM"</li>
      <li><em>API base URL</em>: e.g. http://localhost:1980/</li>
      <li><em>Frontend base URL</em>: e.g. http://localhost:1980/showvoc/ for a local installation or the "external" address (given by the proxy) of the ShowVoc web application. This could be something like http://example.org:1980/showvoc/</li>
      <li><em>Username</em> and <em>Password</em>: credentials mentioned above.</li>
    </ul>  
    
    <p>Click button Submit to save the data just inserted. Then, select scope "PROJECT" and as "Core repository configuration" select "GraphDB 10+ (remote only)". Click submit again.</p>

    <p>If you now repeat all the steps, you will find that all the fields are populated except for the Project field. Note that the credentials are not displayed, nor are they ever returned to the client.</p>

    <p>Unfortunately, the project name must be entered each time. To avoid errors, it is advisable to use the same project name for VocBench and ShowVoc.</p>
 
	  <h3>Graph Store HTTP Deployer</h3>
    
    <p>This deployer allows to deploy a VocBench project to any triple store complying to the SPARQL 1.1 Graph Store HTTP Protocol. This deployer can only write to an existing repository and 
     does not support the creation of new datasets. To use it,  
                                                                                  
    <ol type="1">
        <li>Go to Global Data Management > Export data.</li>
        <li>As &quot;Deployment&quot;, select &quot;Deploy to triple store&quot; from the dropdown list.</li>
        <li>As &quot;Deployer&quot;, select &quot;Graph store HTTP Deployer&quot; from the dropdown list.</li></ol>
    </p>
    
        <div class="figure"><img src="../images/DeployToTripleStore.png" alt="Deploy to triple store" /></div>       

    <p>The warning sign on the right of the widget indicates the necessity of further configuration. A click on the Configure button will open a dialog to edit the configuration. The two other buttons to the right can be used to load and save configurations. Here below we describe the information that needs to be provided.</p>                                                                                                                       

    <div class="figure"><img src="../images/GraphStoreHTTPDeployerConfiguration.png" alt="Graph Store HTTP Deployer configutation" /></div>  
    
    <ul>
      <li><em>Graph Store HTTP endpoint</em> (required): The address (URL) of the endpoint to which the data will be deployed.</li>
      <li><em>Destination graph</em>: The IRI of the graph where data should be deployed. If not provided, the triples will be written to the default graph (also known as null graph).</li>
      <li><em>Clear first (True/False)</em> (required): Tells if already existing data should be cleared first.</li>
      <li><em>Username</em> and <em>Password</em> of a user with sufficient privileges. Leave empty if the server does not require authentication.</li>
    </ul> 
     
    <p>The following configuration shows the general pattern for GraphDB. If you use another triple store, please consult its documentation.</p>

    <ul>    
      <li><em>Graph Store HTTP endpoint</em>: http://localhost:7200/repositories/{repositoryID}/rdf-graphs/service</li> 
      <li><em>Destination graph</em>: {named graph}</li>
      <li><em>Clear first</em>: True</li>
    </ul>
    
    <p>To try it out,
    <ul>
     <li>replace {repositoryID} with the GraphDB name of an existing repository, e.g. "HTTP_Deployed_core".</li>
     <li>replace {named graph} with the URL of the destination graph, e.g. "http://example.org/data/" (you may want to use the URL of the graph to be exported). </li>       
    </ul>     
    </p>             
    
    <h3>OntoPortal Deployer</h3>   
    
	  <p>This deployer allows to submit an ontology (or more precisely, an OWL ontology or a SKOS thesaurus) to an OntoPortal repository (e.g. BioPortal, EcoPortal, AgroPortal, etc.). The deployer can only make submissions for already existing ontologies (identified through their acronym) on the target repository. The deployer also implements some validation checks, to warn the user about violations of data constraints imposed by OntoPortal and, to some extent, suggest fixes as RDF Transformers.</p>	  
  
    <div class="figure"><img src="../images/OntoPortalDeployerConfiguration.png" alt="OntoPortal deployer configuration" /></div> 
  
    <p>OntoPortal and EcoPortal require almost the same parameters:   
    <ul>
      <li><em>API base URL</em> (required): The base URL of the OntoPortal REST API.</li>
      <li><em>API Key</em> (required): A valid API key for the OntoPortal REST API. A user''s API key be found on the account page of that user.</li>
      <li><em>Acronym</em> (required): The acronym of the ontology for which the submission is being done.</li>
      <li><em>Description</em>(required): The acronym of the ontology for which the submission is being done</li>
      <li><em>Version</em>: Version of the ontology.</li>
      <li><em>Format</em> (required): Ontology language (either "OWL" or "SKOS")</li>
      <li><em>Status</em> (required): Status of the ontology (either "alpha", "beta", "production" or "retired").</li>
      <li><em>Release date</em> (required): Release date. The date shall be formatted as yyyy-mm-dd (e.g. 2020-02-20)</li>
      <li><em>Contacts</em> (required): Contacts for the ontology. Each contact should be provided as a string matching this pattern: name (email).</li>
      <li><em>Homepage</em>: Address (URL) of the main web page of the ontology</li>
      <li><em>Documentation</em>: Address of a web page providing documentation for the ontology.</li>
      <li><em>Publications</em> (required for EcoPortal): Address of a web page listing publications about the ontology.</li>     
      <li><em>Creators</em> (required for EcoPortal): The main researchers involved in producing the data, or the authors of the publication, in priority order.</li>
    </ul>
    </p>
    
    <h3>HTTP Deployer</h3>
    
    <p>The HTTP deployer can be used for a wide range of uses cases. You need to provide the following information:</p>   

    <div class="figure"><img src="../images/HTTPDeployerConfiguration.png" alt="HTTP Deployer configutation" /></div>  
    
    <p>How to configure:</p>    
      
    <ul>
      <li><em>Endpoint</em> (required): The address (URL) of the endpoint to which the data will be deployed.</li>
      <li><em>HTTP verb</em> (required): HTTP verb to use (either PUT or POST).</li>
      <li><em>Query parameters</em>: Additional query parameters.</li>
      <li><em>Request headers</em>: Additional request headers.</li>
      <li><em>Username</em> and <em>Password</em> of a user with sufficient privileges. Leave empty if the server does not require authentication.</li>
    </ul>
    
	<h3>SFTP Deployer</h3>
	
  <p>Secure File Transfer Protocol (SFTP) is a network protocol that enables secure and encrypted file transfers between a client and a server.</p> 

  <p>To use this deployer, you need to provide the following information:</p> 
   
  <div class="figure"><img src="../images/SFTPDeployerConfiguration.png" alt="SFTP Deployer Configuration" /></div>  
   
    <ul>
      <li><em>Host</em> (required): The name/address of the target host, i.e. an IP address or a domain name, identifying a machine on which there is an active SFTP service.</li>
      <li><em>Port</em> (required): The target port (integer, default: 21).</li>
      <li><em>Server key fingerprint</em> (required): The fingerprint of the target server. The allowed forms are (MD5:)?[\\dA-F][\\dA-F](:[\\dA-F][\\dA-F]){15} and SHA(1|224|256|384|512):[Base64 encoding without trailing =].</li>
      <li><em>Username</em> (required): Username</li>
      <li><em>Password</em>: Password</li>
      <li><em>Timeout (ms)</em> (required): Timeout in milliseconds (default: 300000).</li>
    </ul> 
     
   </ui:define>

</body>

</html>