<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench Community</h1>

<p>VocBench has a growing user community mainly made of public organizations which were looking for open source solutions for maintaining their thesauri, code lists and authority resources.</p>
<p>Here follows a short lists (alphabetical order, based on the resource) of known partners which are using (or close to adopt) VocBench for the maintenance of their resources:</p>
<ul>
  
  <li>Food and Agriculture Organization (<a href="http://www.fao.org/home/en/" target="_blank">FAO</a>) &gt; <a href="http://aims.fao.org/standards/agrovoc">AGROVOC</a>, <a href="http://fao.org/statistics/caliper">Caliper</a>, <a href="http://fao.org/nocs/en">NOCS</a>, <a href="http://www.fao.org/biotech/biotech-glossary/en/" target="_blank">Biotechnology</a>, <a href="http://www.fao.org/nr/aboutnr/nrl/en/" target="_blank">Land and Water</a>, <a href="http://www.fao.org/themes/en/" target="_blank">FAO Topics</a></li>
  
  <li>Institut  National de la Recherche Agronomique (<a href="https://www.inra.fr/" moz-do-not-send="true">INRA</a>) &gt;&nbsp; in the context of <a href="http://www.anaee-france.fr/en/" moz-do-not-send="true">AnaEE France project</a> (ecosystems and biodiversity thesaurus) and Délégation à l'information  scientifique et technique (DIST)</li>
  
  <li>EC Parliament Library</li>
  
  <li>European Holocaust Research Infrastructure (<a href="https://ehri-project.eu/">EHRI</a>) project: <a href="https://portal.ehri-project.eu/vocabularies/ehri_terms ">EHRI holocaust thesaurus</a>, supporting the work of the EHRI Editorial Board (deployed by <a href=" http://ontotext.com/ ">Ontotext</a>)</li>
  
  <li><a href="https://publications.europa.eu/">EU Publications Office</a> &gt; <a href="http://eurovoc.europa.eu/" target="_blank">EUROVOC</a></li>
 
  <li>Columbia University &gt; <a href="http://www.iedadata.org/">IEDA Thesaurus</a></li>
    
  <li><a href="http://www.senato.it/home" target="_blank">Italian Senate</a> &gt; <a href="http://www.senato.it/3235?testo_generico=745" target="_blank">TESEO</a></li>
  
  <li>United Nations Environment Programme (<a href="http://www.unep.org/">UNEP</a>) &gt; <a href="http://www.informea.org/">InforMEA</a>, in the context of <a href="https://www.cbd.int/mea/ikm/default.shtml">MEA</a>, the Information and Knowledge Management Initiative</li>
  
  <li><a href="http://www.scotland.gov.uk/" target="_blank">Scottish Government</a> &gt; Gov metadata</li>
  
  <li>United Nations Convention to Combat Desertification (<a href="http://www.unccd.int/en/Pages/default.aspx" target="_blank">UNCCD</a>)</li>
  
  <li><a href="http://unesco.org/" target="_blank">UNESCO</a> &gt; <a href="http://vocabularies.unesco.org/browser/thesaurus/" target="_blank">UNESCO  Thesaurus</a> (<a href="http://blog.sparna.fr/2017/02/06/unesco-thesaurus-published-with-semantic-web-standards-and-open-source-software/" target="_blank">deployed</a> by <a href="http://www.sparna.fr/" target="_blank">Sparna</a>)    </li>
  
  <li><a href="https://www.nal.usda.gov/" target="_blank">National Agricultural Library</a> of the <a href="https://www.usda.gov/" target="_blank">U.S. Department of Agriculture </a> for the <a href="https://agclass.nal.usda.gov/" target="_blank">National Agricultural Library Thesaurus (NALT)</a></li>
  
  <li><a href="http://www.harvard.edu/" target="_blank">Harvard University</a> &gt; Unified Astronomy Thesaurus (<a href="http://astrothesaurus.org/" target="_blank">UAT</a>)</li>
  
  <li><a href="https://www.lifewatch.eu/" target="_blank">LifeWatch ERIC</a> &gt; <a href="http://ecoportal.lifewatch.eu/" target="_blank">EcoPortal</a></li>
        
</ul>

  <!-- no more with us -->
  
  <!-- they used a modified version of VB1. Now have no need to use a system like this as the thesaurus is stable and receives little or no updates anymore -->
  <!-- <li>European Environment Agency (<a href="http://www.eea.europa.eu/" target="_blank">EEA</a>) &gt; <a href="http://www.eionet.europa.eu/gemet/about" target="_blank">GEMET</a></li> -->  
  
  <!-- actually still evaluating, shouldn't be there from the start -->
  <!-- <li><a href="http://www.cabi.org/" target="_blank">CABI</a></li> -->


<p>If you are managing your thesaurus through VocBench and want to let others know about it, pls <a href="mailto:stellato@uniroma2.it">send us</a> the single line description (as in the examples above) and, at your discretion, further information about your project.</p>

</ui:define>


</body>
</html>
