<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../styles/art.css" rel="stylesheet" type="text/css" />  
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench Support</h1>

<p>VocBench provides a user <a href="http://groups.google.com/group/vocbench-user">discussion group</a> for asking questions related to the usage of Semantic Turkey, reporting possible bugs and/or posting suggestions on future improvements of the tool.</p>
  <p>A <a href="http://groups.google.com/group/vocbench-developer">Developers' DG</a> is also available for questions related to development of extensions for VocBench (or to the development of VocBench itself!)</p>
  <h2>VocBench Community</h2>
  <p>A number of organizations has already started to use VocBench for the maintenance of their thesauri and concept schemes. Please let us know your experiences and if you like to be part of the organizations mentioned in the <a href="community.jsf">VocBench Adopters</a> page  </p>
  <h2>Hosting Services, Courses and Dedicated Support</h2>
  <p>VocBench is, has been  and will always be free and open-source. Also, we will gladly provide free support (to a containable extent) through the discussion groups. However, some users might prefer to completely delegate to third parties the hosting of the platform and eventually other related services (e.g. data transformation, publishing of produced resources, etc..).</p>
  <p>If you need dedicated support, such as:</p>
  <ul>
    <li>hosting of a VB instance on one or more projects</li>
    <li>ad-hoc consulting on how to build a VB extension for your specific needs</li>
    <li>courses on Knowledge Management and Ontology Development</li>
    <li>specific course on VocBench </li>
    <li>dedicated support on VocBench on a <em>per staff/hour</em> basis</li>
  </ul>
  <p>you may <a href="../aboutus">contact us</a> and find the possible form of consulting which best fits your needs  </p>
  <h2>Open ears for future development: evaluating the tool</h2>
  <p>Periodically, we will send questionnaires to the <a href="http://groups.google.com/group/vocbench-user">user discussion group</a>, in order to both assess the system, and to gather suggestions and new directions for future development.</p>
  <p><strong>First VocBench Evaluation (2014)</strong>: The first VocBench evaluation has been carried on in October, 2014. The (anonymous) results have been publicly made available in <a href="http://vocbench.uniroma2.it/purl/VocBench-User-Questionnaire_2014-10.zip">this archive</a>, containing a PDF printout of the form and the datasheet containing the responses to the form.</p>
  <h2>A quick look to the user group</h2>
Here it is a frame offering a view of the user group, where it is possible to go through the group messages. In any case, we suggest to register to the group and paricipate actively if interested in the VocBench platform.
 
  <p>
  <iframe id="forum_embed"
 src="javascript:void(0)"
 scrolling="no"
 frameborder="0"
 width="900"
 height="700">
</iframe>
<script type="text/javascript">
 document.getElementById("forum_embed").src =
  "https://groups.google.com/forum/embed/?place=forum/vocbench-user&amp;showsearch=true&amp;showpopout=true&amp;parenturl=" +
  encodeURIComponent(window.location.href);
</script>
  </p>




<!--
<h2>Developer Support</h2>

  <p>
  <iframe id="forum_embed"
 src="javascript:void(0)"
 scrolling="no"
 frameborder="0"
 width="900"
 height="700">
</iframe>

<script type="text/javascript">
 document.getElementById("forum_embed").src =
  "https://groups.google.com/forum/embed/?place=forum/vocbench-developer&amp;showsearch=true&amp;showpopout=true&amp;parenturl=" +
  encodeURIComponent(window.location.href);
</script>
  </p>
-->

<!--
<h2>Supporting VocBench</h2>
<p>VocBench has been periodically funded by various projects, carried at the University of Tor Vergata and driven by our passion and dedication!</p>
<p>For this reason, <em>we welcome <a href="supporters.jsf">your donations</a></em>, that will be used to support further development and research on VocBench.</p>
<p> Donating is straightforward - just three simple steps: </p>
<ol>
  <li><strong><a href="../aboutus">Send us</a> an e-mail</strong>, possibly showing your Company's name  and logos, stating your intention to donate, and how much</li>
  <li><strong>Prepare a copy of the mail in a letter, </strong>possibly written on  your Company's official paper, and <strong>send us this letter by fax</strong> at + 39  06 7259 7460 (please add a cover page specifying &quot;To the attention of  the DII. and of dr. Stellato - VocBench Donation&quot;)</li>
  <li><strong>Make the donation via bank transfer</strong> using the following bank coordinates:</li>
</ol>
<table>
  <tbody class="code">
    <tr>
      <td>MOTIVATION:</td>
      <td>VocBench Donation</td>
    </tr>
    <tr>
      <td>COUNTRY:</td>
      <td>IT (Italy)</td>
    </tr>
    <tr>
      <td>IBAN:</td>
      <td>IT49J0200805168000400695305</td>
    </tr>
    <tr>
      <td>CIN EU:</td>
      <td>49</td>
    </tr>
    <tr>
      <td>CIN IT:</td>
      <td>J</td>
    </tr>
    <tr>
      <td>ABI #:</td>
      <td>02008</td>
    </tr>
    <tr>
      <td>CAB #:</td>
      <td>05168</td>
    </tr>
    <tr>
      <td>ACCOUNT#:</td>
      <td>000400695305</td>
    </tr>
    <tr>
      <td>HOLDER:</td>
      <td>DIPARTIMENTO DI INGEGNERIA DELL'IMPRESA -  UNIVERSITY OF TOR VERGATA, ITALY</td>
    </tr>
    <tr>
      <td>BANK:</td>
      <td>UNICREDIT SPA ROMA 75 - II UNIVERSITA' TOR VERGATA</td>
    </tr>
  </tbody>
</table>
<p> Please notice: Bank transfer is the only admissible means to donate, due to the accounting rules for Public Institutions</p>
-->


</ui:define>

</body>
</html>
