<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench Downloads</h1>
<p>VocBench 3 latest installation package is available from its <a href="https://bitbucket.org/art-uniroma2/vocbench3/downloads">bitbucket page</a>. 
Check the <a href="../doc">documentation</a> page for detailed instructions about its installation</p>
<p>The source code of VocBench 3 is available via GIT from its <a href="https://bitbucket.org/art-uniroma2/vocbench3">project site</a>.</p>

<!--
<p>VocBench3 is dependent on two other pieces of software developed by the ART team: </p>
<ul>
  <li><a href="http://semanticturkey.uniroma2.it">Semantic Turkey</a></li>
  <li><a href="http://art.uniroma2.it/coda">CODA</a></li>
  <li><a href="http://art.uniroma2.it/lime/">LIME-API</a></li>
</ul>
-->
 
 
 
 
<h2>&nbsp;</h2>
</ui:define>
</body>

</html>
