<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>


<ui:define name="head">  
	<link rel="stylesheet" title="Default" href="../../js/pre_default_style.css"/> 
	<script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script> 
	<script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script> 
	<script type="text/javascript" src="../../js/chili/recipes.js"></script> 
</ui:define>


<body class="art" jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

  <h1>VocBench Frequently Asked Questions</h1>
			
  <div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>
			
  <h2>Building</h2>
			<h4><strong>Q. I see I need to use <a href="http://maven.apache.org/">Maven</a> to <a href="http://vocbench.uniroma2.it/documentation/developers.jsf#building_vocbench">build</a> VocBench. I don't know how to use it and, frankly, I don't want to learn yet another technology, I just want to use &lt;<em>replace_here_with_your_favourite_IDE</em>&gt;. May I skip this step?</strong></h4>
			<p>Yes, in theory you can. You can just check all the dependencies written in the pom.xml file of each project, search them on the web, download them (make a prayer hoping you downloaded the exact version of everything, all the required dependencies etc..), then import them in &lt;<em>replace_here_with_your_favourite_IDE</em>&gt;, inside the project that you just created to hold the sources, then import the sources etc...</p>
			<p>...though..let us be a bit evangelists...<a href="http://maven.apache.org/">Maven</a> may be a big beast
			if you start to love it, you get addicted to it, and start thinking things like &quot;I want to prepare a beer with it&quot; (we are sure there is a Maven plugin even for that...), but, if you are an end user of Maven and just need it to build a project, the time you need to download and install it, is so short you will get immediately paid back for the time you would need to build this single project in the traditional way. See the <a href="http://vocbench.uniroma2.it/documentation/developers.jsf#building_vocbench">build</a> instructions to see how quick is to build VocBench (and most other projects you will find out there) with Maven. </p>
  <p>Last but not the least, Maven is today a de facto standard for releasing source code.</p>
			<p>...and..oh, yes, almost probably there is a Maven plugin for &lt;<em>replace_here_with_your_favourite_IDE</em>&gt; !</p>

  <h2>General</h2>
			<h4>Q. Can VocBench connect to other triplestores than <a href="http://rdf4j.org/">RDF4J</a> or <a href="http://graphdb.ontotext.com/">GraphDB</a>?</h4>
            <p>A question coming to many curious users willing to use VB with other technologies is: why not other triple stores? and if yes, which ones? why not many others have been explored? why not a more agnostic access to different technologies? </p>
            <p>The answer &quot;passes&quot; through the years of experience with the (more than decennial) evolutions of Semantic Turkey (before 1.0, the version that was released with VocBench 3). </p>
            <p>By first, let's enucleate the main challenges to real interoperability with triple stores:</p>
            <ol>
              <li><strong>standards limitations</strong>. The SPARQL standard is limited: it offers Web API but, just to mention the main (but not sole) limitation, there is no support for <em>transactions</em>. This gap gave life to a series of technologies being setup by different vendors, with some vendors adhering to one or more de-facto standards offered by middlewares.</li>
              <li><strong>backend-side extension</strong>. Some of the functionalities of VocBench require us to develop extensions being deployed in the backend. Again, this drives us to be technology-specific with some architecture for extensions</li>
              <li><strong>query-performance</strong>: yes, SPARQL is a protocol and returned results should be the same runinng the same query everywhere. We can't say the same about which query runs best on which store.</li>
            </ol>
            <p>Let's see them one by one:</p>
            <p>For what concerns the lack of a standard for transactions and the consequent proliferation of specific technologies, we tried to follow a shallow-integration approach. <a href="http://semanticturkey.uniroma2.it">Semantic Turkey</a>, the RDF Management platform behind VocBench, was initially depending on another project of the ART group, the <a href="http://art.uniroma2.it/owlart">OWLART</a> api, a very thin middleware over different RDF frameworks. This layer did not implement any storage facility and delegated to the underlying implementations (i.e. wrappers for notable frameworks such as <a href="http://jena.apache.org/">Jena</a> and Sesame, the precursor to <a href="http://rdf4j.org/">RDF4J</a>) most of the business logic. The first versions of Semantic Turkey, developed before SPARQL was a recommendation, were based on use of graph API, thus making it easier to switch among different technologies, providing that the <a href="http://art.uniroma2.it/owlart/documentation/apidocs/it/uniroma2/art/owlart/models/BaseRDFTripleModel.html">semantics</a> of basic operations such as addTriple(), deleteTriple(), listStatements() etc.. were consistent among them. When differences arose, we developed the wrappers so that these could conform to the <a href="http://art.uniroma2.it/owlart/documentation/apidocs/it/uniroma2/art/owlart/models/BaseRDFTripleModel.html">semantics</a> we provided in our API. The experience has been effort-demanding, and in the end it resulted in:</p>
            <ul>
              <li>drifting us away too often from our objectives, which are ST and its applications (e.g. VocBench) and not an RDF API</li>
              <li>losing much of the new interesting stuff coming from each of the single wrapped technologies, as we had to conform to the common denominator of all of them</li>
              <li>progressively managing to keep in track only few of the wrapped technologies, until we ended up with Sesame alone, some always-slightly-outdated Jena stuff, and none of the others</li>
            </ul>
            <p>It was then with much relief that, from version 1.0 of ST and VB3.0, we decided to abandon the <a href="http://art.uniroma2.it/owlart">OWLART</a> project and  move to <a href="http://rdf4j.org/">RDF4J</a> as the native, stable solution for RDF management within ST. We can finally focus on ST's features alone, standing on top of a mature library such as <a href="http://rdf4j.org/">RDF4J</a> and directly benefiting from all of its improvements by simply upgrading to its new versions.</p>
  <p>A set of facilities has been developed over RDF4J <a href="http://docs.rdf4j.org/javadoc/latest/org/eclipse/rdf4j/repository/RepositoryConnection.html">repository connection</a> and <a href="http://docs.rdf4j.org/javadoc/latest/org/eclipse/rdf4j/query/Query.html">query</a> classes in order to simplify the development of services specifically for ST, requiring SPARQL for exploiting them at their best. </p>
  <p>And now, the next questions: <em>ok, so now you use RDF4J, then why not connecting to the multiple available triple stores that are compliant with RDF4J</em>? and here we come to the second point described above: requirements on the backend. The need for extensions being directly deployed on the triple store rather than in the application imposes a choice on a reference architecture. In our case, this reference is <a href="https://rdf4j.org/documentation/reference/sail/">RDF4J's Sail</a> stack framework.</p>
            <p>So, VocBench  allows - in theory - for connections to any triple store accessible through a RDF4J remote connection and triple stores compliant with the <a href="https://rdf4j.org/documentation/reference/sail/">Sail</a> stack framework (such as <a href="http://graphdb.ontotext.com/">GraphDB</a>) are to be preferred. Various triplestores may have further requirements. </p>
            <p>Finally, the last obstacle is represented by non-trivial differences in the way queries are processed. Several RDF systems, limiting their activity to trivial queries for retrieving resources and using DESCRIBE queries to provide their information, might easily switch triple stores. However, VocBench features several services with non-trivial queries, produced dynamically taking into account tents of preferences and settings specified by users and system administrators. Unfortunately, a same query, due to different choices of query optimizers and executing engines, which are internal to each triple store, may produce very different performance. There are indeed techniques and solutions that can help maintaining performances consistent across different engines (e.g. nested queries enforce the order of resolution of the query clauses, thus maintaining a consistent processing). Nonetheless, keeping the hundreds of services that characterize VocBench aligned even just across GraphDB and RDF4J internal storage solutions requires contintuous dedication and maintenance.</p>
            <p>Information for connecting VocBench to separate triple stores are provided <a href="http://vocbench.uniroma2.it/doc/sys/#separate_triple_store">here</a> and a complete example is <a href="http://vocbench.uniroma2.it/doc/user/test_drive.jsf#creating_a_skos_project_for_managing_a_large_thesaurus_by_connecting_to_an_external_triple_store__exploiting_history__validation_and_inference_">available</a> on the VocBench test drives.</p>
            <p>A complete description of the requirements for connectable triplestores is provided <a href="http://semanticturkey.uniroma2.it/doc/dev/#connecting_to_other_triple_stores">here</a>.</p>			
			
			<h4><strong>Q. Why all those URIs in the data used also for labels?</strong> (in SKOS-XL)</h4>
  <p>VocBench  allows for the use of different standards for representing lexicalizations: plain rdfs:labels, skos labeling properties, and <a href="http://www.w3.org/TR/skos-reference/skos-xl.html">SKOS-XL</a> labels. Labels in <a href="http://www.w3.org/TR/skos-reference/skos-xl.html">SKOS-XL</a> are &ldquo;reified&rdquo;. This means that the labels are  described by URIs, and can have properties in turn. This has two advantages:</p>
  <ol>
    <li>You can  model labels in turn (adding, for instance, lexical relationships between  labels)</li>
    <li>You can  provide them with editorial notes and metadata in general</li>
  </ol>
  
			<p>VB already provides some additional metadata  automatically, such as creation and modification dates (as it does for concepts), while it is up to the user to add additional notes or, if they want,  to adopt vocabularies of lexical relations. </p>
			<p>VB also allows for reified <span class="code">skos:definitions</span>, a pattern foreseen by the SKOS standard (see second case of the &quot;<a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secadvanceddocumentation">Advanced Documentation Features</a>&quot; section of the <a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/">SKOS Primer</a> document).</p>
			<p>However, VB provides an export for SKOS which also allows to flatten the reified <span class="code">skos:definitions</span> to simple literals. There are then options for retaining or removing the triples providing the reified descriptions and labels.</p>
			<p>If you prefer to handle these transformations offline from VB, these operations are also available as <a href="http://art.uniroma2.it/owlart/documentation/utilities.jsf#skos_utilities">command line utilities</a> through the <a href="https://bitbucket.org/art-uniroma2/owlart/downloads">full distribution</a> of the <a href="http://art.uniroma2.it/owlart">OWLART</a> library. </p>
			
			<h4><strong>Q. I'm not interested in the collaborative aspects of VB, or at least I don't need all that user authentication/permissions part. Can I disable these features? <br />
		    Also I would like more in-depth control over the data, at triple level, thought not necessarily by having to use SPARQL</strong>. </h4>
  <p>Just install VocBench and keep using the default administrator login which is suggested by the platform. In this case, you will be using VB3 in a very much similar way to a desktop tool.</p>
  
  <h4><strong>Q. Can VocBench be used to publish data other than editing it?</strong> </h4>
  <p>Well, you can always use VocBench as a browsing tool, providing users with capabilities for reading only. However, there is a dedicated tool that does a much better job: <a href="http://showvoc.uniroma2.it/">ShowVoc</a>! ShowVoc is a companion to VocBench for data publication, browsing, and consumption (both machine and human consumption). </p>
  <p>It provides:</p>
  <ul>
    <li>a streamlined interface, thought for easy content consumption</li>
    <li>a global search that spans across all hosted datasets, homogenizing results coming from different lexical and semantic representations</li>
    <li>a translation service exploiting mapping between the various hosted datasets</li>
    <li>a linkset browser, showing linksets between the available datasets</li>
    <li>no need to authenticate for ordinary users: they just land on the page and browse</li>
    <li>all other features that you already know from VB are present in ShowVoc as well<br />
    </li>
  </ul>

  <!--
      <p><strong><a name="deprecation">Q.</a>Deprecated concepts cannot be edited anymore?</strong> </p>
  <p>By default, VB restricts to edit any deprecated concepts. In order to enable editing, The Administrator can:</p>
<ol>
  <li>go to Group management page</li>
  <li>Select the desired group which will be allowed to edit deprecated concepts</li>
  <li>Select group action (TERM-EDIT)</li>
  <li>Click [+] button from the Group actions box</li>
  <li>Tick the checkbox with the ‘Deprecated' status, and click the [Add] button. </li>
  </ol>
<p>This will allow editing of deprecated terms. After  editing, term&rsquo;s status will be change &lsquo;Revised' and after validation to  &lsquo;Published'.</p>
-->

<h2>SKOS</h2>	
	
  <h4>Q. Why I cannot see the concepts in the concept tab when a scheme is selected?</h4>
	<p>the concept tab works this way: if you click on any scheme (or a combination of them), then the concepts of that/those scheme are shown. If you click on no scheme, then all concepts are shown. In the first case (the one filtered by schemes) the root concepts are taken directly by the explicit declaration of being topConcepts, as in <span class="code">skos:topConceptOf</span>. In the latter case, these are automatically computed, by taking all concepts having no parent.</p>

	<p>So, one typical thing that happens is that only root concepts are shown, because some tools only use the <span class="code">skos:topConceptOf</span> property and do not use the skos:inScheme property (wrongly, see <a href="https://www.w3.org/TR/skos-reference/#L2577">https://www.w3.org/TR/skos-reference/#L2577</a>) assuming that it should be inherited by child concepts.</p>

  <p>Another possibility (especially if you see no concept at all) is that the triples with <span class="code">skos:topConceptOf</span> are missing (and only <span class="code">skos:inScheme</span> has been used). This is wrong modeling as well</p>

<h2>Sheet2RDF</h2>
	<h4>Q. URI Creation always uses the default namespace of the current project. How can I create new URIs with a different namespace?</h4>
	<p>There are two solutions:
  <li>use the formatting converter, where you can completely build the structure of the URI (see <span class="code">coda:formatter</span> in <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf#available_converters">Available Converters</a>)</li>
		<li>a clean and more general solution adaptable to all converters is to use the annoation for changing the default namespace (see <span class="code">@DefaultNamespace</span> in <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf#available_annotations">Available Annotations</a>) </li>
	</p>
	
	
	
<p>&nbsp;</p>
</ui:define>

</body>
</html>
