<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>
			<ui:insert name="pageTitle">Default Frame Title</ui:insert>
		</title>
		<link rel="icon" type="image/ico" href="#{favIconFile}" />
		<link href="#{cssStyleFile}" rel="stylesheet" type="text/css" />

		<!-- the following one can be used by specific pages to add further elements to their HEAD declaration -->
		<ui:insert name="head"/>
		</h:head>
		<h:body class="art" onload="#{onLoadScript}" >

			<div id="container">
				<div id="head_container">
					<div id="left_logo" >
						<div jsfc="ui:insert" name="leftLogo">put leftLogo here</div>
					</div>
					<div id="right_logo" >
						<div jsfc="ui:insert" name="rightLogo">put rightLogo here</div>
					</div>
					<div id="head_middle">
						<p>
							<div id="title" jsfc="ui:insert" name="projectTitle">Project Title</div>
						</p>
						<div id="topNavBar">
							<h:form id="topNavigationButtons">
								<ui:repeat value="#{navigationBean.topNavBar}" var="menuButton">
									<a class="topNavBarButton" href="#{menuButton.href}">
										<img src="#{contextPath}/#{menuButton.imageSrc}" alt="#{menuButton.imageAlt}"/>
									</a>
								</ui:repeat>
							</h:form>
						</div>
						<div class="horizontalBarContainer">
							<div class="horizontalBar"></div>
						</div>
					</div>
				</div>
				<!-- end of head_container -->

				<div id="leftSideBar">
					<div id="leftNavBar">
						<ul id="primary-nav">
							<ui:repeat value="#{navigationBean.currentLeftMenu}" var="leftMenu">
								<li class="menuparent">
									<a class="leftNavBarButton" href="#{leftMenu.href}">#{leftMenu.content}</a>
								</li>
							</ui:repeat>
						</ul>
						<script async="async" src="https://cse.google.com/cse.js?cx=d645995dacc2446c3"></script>
						<div class="gcse-search"></div>
					</div>
				</div>
				<div id="rightSideBar">
					<div>
						<a class="structure" href="http://validator.w3.org/check?uri=referer;outline=1" title="Check valid XHTML 1.0">
							<img src="#{contextPath}/images/valid-xhtml10.gif" alt="Valid XHTML 1.0 Strict" height="31" width="88" />
						</a>
					</div>
					<div>
						<a class="structure" href="http://jigsaw.w3.org/css-validator/check/referer" title="Check valid css!!!">
							<img alt="Valid CSS" src="#{contextPath}/images/valid-css.png" height="31" width="88" />
						</a>
					</div>
					<div>
						<a class="structure" href="http://ec.europa.eu/" title="European Commission">
							<img src="#{contextPath}/images/european_commission_logo.gif" alt="European Commission Logo" style="max-height: 80px; max-width: 100px;"/>
						</a>
					</div>
					<div>
						<a class="structure" href="https://www.eurodyn.com/" title="European Dynamics">
							<img src="#{contextPath}/images/european_dynamics.png" alt="European Dynamics" style="max-height: 80px; max-width: 100px;"/>
						</a>
					</div>
					<div>
						<a class="structure" href="https://digital-strategy.ec.europa.eu/en/activities/digital-programme" title="Digital Europe Programme">
							<img src="#{contextPath}/images/DEP_Logo_no_borders.png" alt="Digital Europe Programme" style="max-height: 80px; max-width: 100px;"/>
						</a>
					</div>
					<div>
						<a class="structure" href="https://katy-project.eu/" title="Katy">
							<img src="#{contextPath}/images/katy.svg" alt="Katy" style="max-height: 80px; max-width: 100px;"/>
						</a>
					</div>
				</div>
				<div id="mainContent">
					<div jsfc="ui:insert" name="mainContent">put mainContent here</div>
						<!-- <p/> -->
						<!-- this p is used to correct a bug in firefox, which corrupts the float positioning of the columns -->
						<!-- <iframe id="mainFrame" name="mainFrame" frameborder="0"  height="570" scrolling="auto" width="100%" src="http://ai-nlp.info.uniroma2.it"> </iframe> -->
					</div>
					<br class="clearfloat" />
					<!-- Questo elemento di clearing deve seguire immediatamente il div #mainContent al fine di forzare il div #container a contenere tutti i float di livello inferiore -->
					<div id="footer">
						<div class="horizontalBarContainer">
							<div class="horizontalBar"></div>
						</div>
						<p>
							<ui:insert name="copyrights">put copyrights here</ui:insert>
						</p>
					</div>
					<!-- end #container -->
				</div>
				<!--
				<script type="text/javascript">
				var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
				document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
				</script>
				<script type="text/javascript">
				var pageTracker = _gat._getTracker("UA-3921613-2");
				pageTracker._trackPageview();
				</script>
				-->

			</h:body>
		</html>
