<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<ui:composition template="/WEB-INF/templates/main-template-SCHEMA.xhtml">

	<ui:param name="contextPath" value="/vocbench-site"/>
		
	<!-- 
		DEPENDENCY VERSIONS
		PLS CHECK THE POM.XML
		https://bitbucket.org/art-uniroma2/semantic-turkey/src/master/pom.xml 
		for the various properties
	-->	
	<ui:param name="vb3_version" value="13.0"/>
	<ui:param name="skosdiff_version" value="1.1.1" /> <!-- OLD, replaced by ST-RSC -->
	<ui:param name="st-rsc_version" value="2.0.2" />
	<ui:param name="genoma_version" value="2.3.5" />
	<ui:param name="rdf4j_version" value="4.3.12" />	
	<!-- unfortunately, it seems that names with "." (e.g. "rdf4j.version") do not work -->
	
	<!-- 
		|  TABLE OF COMPATIBILITIES |
		|  VB3  | GENOMA |  ST-RSC  |
		| 13.0  |  2.3.5 |    //    |
		| 12.2.0|   //   |    //    |
		| 12.1.0|  2.3.4 |  2.0.2   |
		| 11.4.2|  2.3.3 |  2.0.1   |
		| 11.4.1|  2.3.2 |    //    |
		| 11.4  |   //   |    //    |
		| 11.3  |   //   |    //    |
		| 11.2  |   //   |    //    |
		| 11.1  |   //   |    //    |
		| 10.2  |  2.3.1 |    //    |
		| 10.1  |   //	 |    //    |	
		|  10   |  2.3	 |   2.0    |	
		|  VB3  | GENOMA | SKOSDIFF |
		| 8.0.x | 1.0.0	 |   1.1    |
	-->
	

	<ui:param name="vb_current_version" value="2.4.3" />	
	
	<ui:param name="cssStyleFile" value="#{contextPath}/styles/art.css" />
	<ui:param name="favIconFile" value="#{contextPath}/images/ArtLogoFavIcon.ico" />
	<ui:param name="BottomBarFile" value="#{contextPath}/images/BottomBar.jpg" />
	
	<ui:param name="navigationBean" value="#{mainNavigationBean}" />
	
	
	
	
	<ui:define name="projectTitle">
		<div style="display: flex; align-items: center; justify-content: center; position: relative;">
			<img style="z-index: 1;" src="#{contextPath}/images/VocBenchLogo.png" alt="VocBench Logo"/>
			<a href="https://lorestar.it" style="position: absolute; right: 0; padding-right: 1.25em;">
				<img style="display: block;" width="180" src="https://lorestar.it/assets/img/logos/lorestar_embedded.jpg" alt="Lore Star Logo"/>
			</a>
		</div>
	</ui:define>
	<ui:define name="pageTitle">VocBench: A Collaborative Management System for OWL ontologies, SKOS(/XL) thesauri, Ontolex-lemon lexicons and generic RDF datasets</ui:define>
	<ui:define name="leftLogo">
		<p><a class="leftLogo" href="http://publications.europa.eu/"><img src="#{contextPath}/images/PO_Logo.png" alt="Publications Office Logo" height="90"/></a></p>		
		<!-- <img src="#{contextPath}/images/FAO-logo.png" alt="FAO Logo"/> -->
	</ui:define>
	<ui:define name="rightLogo">
		<p><a class="rightLogo" href="http://www.uniroma2.it"><img src="#{contextPath}/images/LogoTorVergataFull.png" alt="Tor Vergata Logo"/></a></p>
	</ui:define>
	<ui:define name="copyrights">Copyright © <a href="http://art.uniroma2.it">ART Group</a> - <a href="http://www.uniroma2.it">Università degli Studi di Roma 'Tor Vergata'</a></ui:define>
	
</ui:composition>


</html>
