<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
	<title>
		<ui:insert name="title">Default title</ui:insert>
	</title>
	<link href="styles/art.css" rel="stylesheet" type="text/css" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">
<ui:define name="mainContent">
  <h1>VocBench</h1>
  <p><strong style="color: #047370">VocBench </strong>is a web-based, multilingual, collaborative development platform for managing <a href="https://www.w3.org/TR/owl2-overview/">OWL</a> ontologies, <a href="https://www.w3.org/TR/skos-reference/">SKOS</a>(/<a href="https://www.w3.org/TR/skos-reference/skos-xl.html">XL</a>) thesauri, <a href="https://www.w3.org/2016/05/ontolex/">Ontolex-lemon</a> lexicons and generic RDF datasets.</p>
<!--
    <p>Funded (in its third incarnation, VocBench 3) by the <a href="http://ec.europa.eu/isa/isa2/">the ISA² programme</a>, VocBench aims to set new standards for flexibility, openness and expressive power as a free and open source RDF modeling platform.</p>
   -->
  <p>Designed to meet the needs of semantic web and linked data environments, VocBench development has also been driven by the feedback gathered from a <a href="support/community.jsf">community of users</a> made of public organizations, companies and independent users looking for open source solutions for maintaining their ontologies, thesauri, code lists and authority resources.  </p>
  <p><strong style="color: #047370">VocBench </strong>(or, simply, <strong style="color: #047370">VB</strong>)  business and data access layers are realized by <a href="http://semanticturkey.uniroma2.it/" rel="nofollow">Semantic Turkey</a>, an open-source platform for Knowledge Acquisition and Management realized by the <a href="http://art.uniroma2.it/" rel="nofollow">ART Research Group</a> at the <a href="http://www.uniroma2.it/">University of Rome Tor Vergata</a>.  </p>
  <p><strong style="color: #047370">VocBench </strong>offers a powerful editing environment, with facilities for management of OWL ontologies, SKOS/SKOS-XL thesauri, OntoLex lexicons and any sort of RDF dataset. It aims to set new standards for flexibility, openness and expressive power as a free and open source RDF modelling platform.</p>
  <p>Initially funded by the <a href="http://ec.europa.eu/">European Commission</a> <a href="http://ec.europa.eu/isa/isa2/">ISA² programme</a> and currently by the Digital Europe Programme <a href="https://digital-strategy.ec.europa.eu/activities/digital-programme">(DIGITAL</a>), the development of <strong style="color: #047370">VocBench</strong> is managed by the <a href="http://publications.europa.eu/">Publications Office of the EU</a> under contract with <a href="https://www.eurodyn.com/">European Dynamics</a>.</p>
  <p>Download links for the sources and binaries of VocBench are available on the <a href="downloads">downloads page</a></p>
  <p>&nbsp;</p>
  <img src="images/OverallPicture_VB3.png"  alt="Overall Picture of VocBench" class="screenshot" />
  <p>&nbsp;</p>
</ui:define>
</body>
</html>
