<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>


<ui:define name="head">  
	<link rel="stylesheet" title="Default" href="../../js/pre_default_style.css"/> 
	<script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script> 
	<script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script> 
	<script type="text/javascript" src="../../js/chili/recipes.js"></script> 
</ui:define>


<body class="art" jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

  <h1>VocBench Tips &amp; Tricks</h1>
			
  <div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>
			
  <p><em>This page reports on solutions for resolving specific needs, going further than the user manual. While the user manual plainly explains the various features of VocBench, here we go bottom-up: starting from a need, we describe how this need can be covered in VocBench through its features (possibly, through a combination of them).</em></p>
			<h2>Dataset Maintenance with Externally Provided Information</h2>
            <p><em>We are regularly adding language labels and translated the  descriptors of the source vocabulary (in English only) into other languages</em>. <em>These updates come with new descriptors, and a few redirections, term  rejections.</em></p>
  <p><em>What strategy should we follow with VocBench?. Do we manually enter the term network for  the newly added terms? or do we have any other alternate mechanical process to  merge newly added terms into the VocBench?</em></p>
  <p>I guess the  most important questions are:</p>
            <ol start="1" type="1">
              <li>Which sort of policy you adopt for maintaining your vocabulary,       some questions:
                <ol>
                  <li>do you have *<strong>also</strong>* people maintaining on it natively in VB       or is it only gathering new addenda from outside?
                    <ol>
                      <li>In the former case, are you using validation?</li>
                      <li>In the latter case, you always get a completely new version of the        vocabulary or only the addenda? &lsquo;cause from your sentence it seems you        are getting a new version of the vocabulary entirely</li>
                    </ol>
                  </li>
                </ol>
              </li>
              <li>How big are the smaller parts of that new data you ingest? E.g. the       rejections, redirections…</li>
              <li>How are you getting the new data? is that &ldquo;source&rdquo; format you       described in point 1? Can you easily make a spreadsheet out of it?</li>
            </ol>
  <p>Based on  the above (and possibly other) questions it is possible to lay down a strategy.  However, to give some possible answers in advance:</p>
            <p>In case of  1.a.i:</p>
            <ul type="disc">
              <li>VB allows for the proposal of terms and for the validation (accept,       reject) of those terms. If the rejections are few, you could process       rejections manually. If they are applied to terms under validation, you       could use the validation interface, if by rejection you instead mean       deletion of older terms, then you can apply the deletion. In both cases,       if the rejection/deletion actions are many, you can use the Web API of       VocBench: <a href="http://semanticturkey.uniroma2.it/doc/user/first_access.jsf">http://semanticturkey.uniroma2.it/doc/user/first_access.jsf</a> and <a href="http://semanticturkey.uniroma2.it/doc/user/web_api.jsf">http://semanticturkey.uniroma2.it/doc/user/web_api.jsf</a></li>
            </ul>
  <p>In case of  1.a.ii</p>
            <ul type="disc">
              <li>If you are not using validation (and not even history), and if you get       the entire vocabulary each time, I have a question: is there any specific       role of VocBench into the matter since its first application for       translating your languages? </li>
              <li>If the role has only been of adding the translation at the start but       there&rsquo;s no maintenance, why not adding the translations you produced       (those in Hindi and Bengali) to your source format and then reconvert       everything to RDF instead of working as a delta addendum?</li>
              <li>If VB is only used for browsing/publication, why not considering&nbsp;       ShowVoc (<a href="http://showvoc.uniroma2.it/">http://showvoc.uniroma2.it/</a> ), which is a companion to VB3 focused on managing metadata (thus acting       as a metadata registry/dataset portal) and browsing?</li>
              <li>About the loading of the data, while I suppose you already developed your       conversion system, there are also solutions within VB3 (see below)</li>
            </ul>
  <p>Concerning  how to ingest the data, and besides the considerations above (which are, in  short, if there&rsquo;s no maintenance being done in VB3 and it comes from external  sources only and if there&rsquo;s no history being kept in VB, then no need to work  on the delta and instead reconvert everything from scratch each time), there  are several solutions in VB3:</p>
  <ul type="disc">
              <li>If the data can be represented as a spreadsheet (or, from the       forthcoming version 11.1 of VB3, if it is on a DB), you can use Sheet2RDF:       It has a UI within VocBench (<a href="http://art.uniroma2.it/sheet2rdf/documentation/vb_tool/">http://art.uniroma2.it/sheet2rdf/documentation/vb_tool/</a>)       and allows for the conversion of any tabular data to RDF. Pls notice that       you can use it also for deletions as sheet2rdf allows also for data       deletion (obviously, this if you don&rsquo;t opt neither for massive reload from       scratch of the vocabulary nor for manual rejections/deletions).</li>
              <li>VocBench has several possibilities for data import: <a href="http://vocbench.uniroma2.it/doc/user/global_data_management.jsf">http://vocbench.uniroma2.it/doc/user/global_data_management.jsf</a> which include transformations of RDF data and lifting from other formats (<a href="http://semanticturkey.uniroma2.it/doc/sys/rdf_lifter.jsf">http://semanticturkey.uniroma2.it/doc/sys/rdf_lifter.jsf</a>).       You can even develop your own lifter as a plugin for VocBench.</li>
  </ul>
  <p>&nbsp;</p>
            <h2>Story: Multiple scheme and hierarchy management</h2>
			<h4>I would like to manage multiple schemes within a same SKOS dataset. The schemes are managed by different groups/organizations and I would even like to have different hierarchies per each scheme.</h4>
            <p>This is indeed a complex story, for which we have created a dedicated <a href="multischememultitaxonomy.jsf">page</a>.</p>
            
</ui:define>

</body>
</html>
