<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />  
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">
  <h1>VocBench System Administration Manual</h1>
  <p>This manual supports System Administrators in all task related to installation and maintenance of the tool, usually including tasks which cannot be performed by the VocBench Administrator through the UI</p>
  
<div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>
 

<h2>Installation Options</h2>
<h3>Semantic Turkey Installation Options</h3>
<p>The <a href="http://semanticturkey.uniroma2.it/doc/sys/#installation_options">Installation Options</a> section of Semantic Turkey's site provides many details on how to customize the configuration of the system for various environments or according to specific requirements. Please refer to that page for ST-specific configuration options.</p>

<h3>Separate HTTP Server</h3>
<p>
  The standalone distribution contains everything needed to start playing with the system. Depending on the system administrator preference, organization policies, load balance optimization etc..., it might be desired to separate the RDF services managed by Semantic Turkey from the VocBench Web Application. In particular, since the Web Application contains only static assets, any standard http server can be adopted.
</p>
<p>
  The VocBench web application is available as a .jar file in the <span class="code">/lib</span> directory of the distribution, with name: <span class="code">vocbench3-<em>&lt;versionnumber&gt;</em>.jar</span>. 
  It is possible to extract the directory <em>public/vocbench3/</em> from the jar file and deploy it to any HTTP server, such as: <a href="http://httpd.apache.org/">Apache HTTP Server</a>.
</p>
<p>In this case, it might be necessary to have the VocBench web application explicitly pointing to the Semantic Turkey server, as explained in the following section.</p>

<h3>Further Configuration for reaching Semantic Turkey on a different host/port</h3>
<p><em>Note that the custom settings below are also possible when running VocBench from inside the standalone distribution, but since you need to edit the content of a file placed inside the Vocbench3 jar, you might need to extract and repackage the archive.</em></p>
<p>In <em>vbconfig.js</em> (under the <em>public/vocbench3/</em> dir of vocbench3-<i>ver</i>.jar placed in the <i>lib/</i> folder of the built distribution) it is possible to configure the <em>SemanticTurkey</em> host resolution. By default <em>VocBench3</em> resolves dynamically the IP address of the <em>SemanticTurkey</em> server (by using the same IP address of the <em>VocBench</em> host machine) and the port number (by using the same port of the <em>VocBench</em> container).</p>
<p>In case <em>VocBench3</em> runs on a different container or on a dedicated server (that is, its port/host are different from those of <em>SemanticTurkey</em>) the port and host cannot be automatically inferred as they belong to a separate (and unknown to VB) server. It is thus mandatory to change the following configuration by specifying the values for the <em>st_host</em> (only if ST is on a different machine) and <em>st_port</em> variables.</p>
<div>
  <pre>
    /**
    * IP address/logical host name of the machine hosting Semantic Turkey.
    * By default (variable left unspecified) the host is resolved dynamically
    * by using the same address of the machine hosting VocBench.
    * Thus if VocBench3 and Semantic Turkey are running on the same machine
    * this variable can be left commented, otherwise uncomment the line and
    * edit the value.
    */
    // var st_host = "127.0.0.1";

    /**
    * Port of the container hosting Semantic Turkey.
    * By default (variable left unspecified) the port is resolved dynamically
    * by using the same port of the container hosting VocBench.
    * Thus if VocBench3 and Semantic Turkey are running on the same container
    * this variable can be left commented, otherwise uncomment the line and
    * edit the value.
    */
    // var st_port = "1979";
  </pre>
</div>
<p>It is also possible to change the path where the <em>SemanticTurkey</em> server is listening and the protocol to use. The latter, if unspecified, is dynamically resolved as well as <em>st_host</em> and <em>st_port</em> just described.</p>
<div>
  <pre>
    /**
    * Path where SemanticTurkey server is listening. If omitted, the sole host
    * is considered.
    * Please note that the path of Semantic Turkey services is defined as in:
    * http://semanticturkey.uniroma2.it/doc/user/web_api.jsf#services_address_structure
    * This additional path information is considered to be the starting part
    * of the path described above, and is usually necessary in case Semantic
    * Turkey is installed behind a proxy redirecting the ST URL.
    */ 
    var st_path;

    /**
    * Protocol - either http or https
    * By default (variable left unspecified) the protocol is resolved 
    * dynamically by using the same one of the container hosting VocBench.
    */
    // var st_protocol = "http"; 
  </pre>
</div>
<h3>Running VocBench on HTTPS</h3>
<p>The last part of the <em>vbconfig.js</em> file concerns is related to the protocol for connecting to the Semantic Turkeyserver, either http or https.</p>
<div>
  <pre>/**   
  * Protocol - either http or https   
  */  

var st_protocol = &quot;http&quot;;  </pre>
</div>
<p>Please note that the Spring Boot container for the ST server must be configured for HTTPS, as explained in the <a href="http://semanticturkey.uniroma2.it/doc/sys/#running_st_on_https">ST documentation</a>.</p>
<h3>Running VocBench as a System Service</h3>
<p>It is possible to run Semantic Turkey as a system service. Instructions for doing so are reported on a <a href="http://semanticturkey.uniroma2.it/doc/sys/#running_st_in_different_modes_and_as_a_service">dedicated section</a> of the ST system administration manual. </p>
<p>Serving the VocBench web application as a service mostly depends on where it is installed. In the typical ST installation package, the web application is provided as an set of static assets embedded within the installtion of Semantic Turkey, so there is no other action to perform and ST and VB will be both started through Spring Boot. If the client is hosted on any other HTTP server, the relevant documentation for that server should be verified.</p>
<p>&nbsp;</p>
	
<h2>Updating Vocbench</h2>
<p>Each time VocBench is updated to a new version, the following general steps should be taken. </p>
<ul>
  <li>turn off VocBench and, if connected, the external triple store</li>
  <li>replace the semantic turkey package (containing VocBench) with the new one, while keeping the same <span class="code">SemanticTurkeyData</span> (<em>make a backup of it first!</em>)</li>
  <li>in case a separate triple store is used with VB, check whether a new version must be used (see previous section on using VB with <a href="#separate_triple_store">separate triple store</a>). In that case, replace the old triple store installation with the new one and proceed with installing all necessary materials for making it work with VB (e.g. the sails), then redeploy the old data in the data directory of the new installation (<em>again, make a backup of such data first!</em>)</li>
  <li>Turn everything on. In case a separate triple store is being used, turn it on first so that all migration routines are being run first, then start VB, which will perform its respective updates, and you are ready to use them combined again!</li>
</ul>
<p>Whenever there is any special exception to the above, we will report it in the <a href="#installation_options">installation instructions</a> for each version.</p>
<p>&nbsp;</p>
	
<h2>Maintenance and Settings</h2>
<p>VocBench allows Administrators and other authenticated users to perform most of the fine tuning of the system, through the UI of the platform. This section deals with all the hidden tricks and tunings which need to work under the hood</p>

<ul>
    <li><a href="system_settings.jsf">System Settings</a></li>
  </ul>
<p>&nbsp;</p>

	
	
<h2>Data Management</h2>
<h3>Separate Triple Store</h3>
<p>VocBench (or better, its RDF Backend Semantic Turkey), comes with an embedded distribution of <a href="http://rdf4j.org/">RDF4J</a>, which includes a couple of storage solutions: in-memory store and native store. Creating local repositories with this embedded solution is very convenient for quickly playing with the platform without any additional installation.</p>
<p>However, to the purpose of having full control over your data, we recommend to adopt a separate triple store and connect to it remotely.</p>
<p>VocBench requires a triple store compliant with the <a href="http://rdf4j.org/">RDF4J</a> client API and, in order to support the more advanced features of the system such as history and validation, compliant with the RDF4J's <a href="http://docs.rdf4j.org/sail/">Sail Stack</a> mechanism.</p>
<p>Current available options are:</p>
<ul>
  <li> A dedicated RDF4J server from the <a href="http://rdf4j.org/">RDF4J</a> site.<br />
    <br />
    The version of RDF4J to be adopted is #{rdf4j_version}, which is updated for VocBench #{vb3_version}. 
If you need to check compliance for past versions of VocBench, you can check the <a href="https://bitbucket.org/art-uniroma2/semantic-turkey/src/master/pom.xml">pom.xml</a> file of the project by selecting the tag corresponding to your version, and then checking the <em>rdf4j.version</em> propert. <br />
<br />
      <br />
  </li>
  <li><a href="http://ontotext.com/products/ontotext-graphdb/">Ontotext GraphDB, </a>an <a href="http://rdf4j.org/">RDF4J</a>-compliant triple store natively implementing RDF4J's Sail Stack mechanism, offering high performance and supporting different levels of reasoning.<br />
    <br/>
	Compatibility notes:
	<ul>
		<!-- <span style="color: #F8080C"> PUT HERE COMMENTS ON CURRENT VERSION </span> -->
		<li>For users of VB3 12.x, GDB version <em>at least</em> <a href="https://maven.ontotext.com/#browse/browse:owlim-releases:com%2Fontotext%2Fgraphdb%2Fgraphdb%2F10.6.2%2Fgraphdb-10.6.2-dist.zip">10.6.2</a> MUST be used. Later releases can be used and, especially in the case of patch or minor version releases, there should be no problem at all. However, this is the latest known version to have been tested extensively</li>
          <ul>
		    <li>This version requires the <a href="https://bitbucket.org/art-uniroma2/semantic-turkey/downloads/lucene-fts-plugin-graphdb-plugin.zip">lucene-fts (built for Java 17)</a> plugin to be installed. Instructions: download the zip and unzip it into the /lib/plugins directory of your graphdb installation</li>
	      </ul>
		<li>For users of VB3 10.x/11.x, we recommend:
		  <ul>
		    <li>either GDB version 9.8.1 Here's a permanent link for GDB 9.8.1: <a href="https://download.ontotext.com/owlim/40f76740-e3f4-11eb-bcaf-42843b1b6b38/graphdb-free-9.8.1-dist.zip">https://download.ontotext.com/owlim/40f76740-e3f4-11eb-bcaf-42843b1b6b38/graphdb-free-9.8.1-dist.zip</a></li>
		    <li>or 9.9 / 9.10.x (further versions have not been tested at the time of writing) providing that the <a href="https://bitbucket.org/art-uniroma2/semantic-turkey/downloads/lucene-fts-plugin.zip">lucene-fts</a> plugin is installed. Instructions: download the zip and unzip it into the /lib/plugins directory of your graphdb installation</li>
	      </ul>
	    </li>
		<li><em>For users of VB3 5.x or 6.0.x we recommend GDB version 8.8 or higher, yet still in the 8.x range; 9.x is not fully compatible with these versions of VB.</em></li>
		<li><em>For those using VB3 version 4.0.x</em>: the previous version of VB3 (4.0.2) is compatible with GraphDB version 8.5. Later versions have introduced some incompatibilities (that we have solved together with the OntoText team) which do not allow VB3 to exploit features such as History and Validation. Here's a direct download link to version 8.5<br />
    <a href="https://www.google.com/url?q=https%3A%2F%2Feur03.safelinks.protection.outlook.com%2F%3Furl%3Dhttp%253A%252F%252Fdownload.ontotext.com%252Fowlim%252Fca7e186e-2927-11e8-bbf9-42843b1b6b38%252Fgraphdb-free-8.5.0-dist.zip%26data%3D02%257C01%257C%257C77d2690ac51a499c3a1408d5f7e53757%257C84df9e7fe9f640afb435aaaaaaaaaaaa%257C1%257C0%257C636687486201376302%26sdata%3D93%252FT%252FIl9YMOaFEYUU3ba10hG5S40mtFZ7ba%252F%252F4UpygU%253D%26reserved%3D0&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNGXMBCCkXtJXHhFiQUpV-ly_wSloA" target="_blank">http://download.ontotext.com/owlim/ca7e186e-2927-11e8-bbf9-42843b1b6b38/graphdb-free-8.5.0-dist.zip</a>  <br />
		</li>
	</ul>
  </li>
  </ul>
<h4>Using history &amp; validation: deploying the change-tracking sail component in the connected triple store</h4>
<p>If the history or validation functionalities are required for projects connected to the separate triple store, then the component of Semantic Turkey for tracking changes in the repositories has to be deployed inside the connected store. </p>
<p>The component, which is implemented as a <em>sail layer</em> for triple stores compliant with RDF4J's <a href="http://docs.rdf4j.org/sail/">Sail Stack</a> mechanism, is available as a jar file called <span class="code">st-changetracking-sail-&lt;version&gt;.jar</span>, deployed into the <span class="code">lib</span> ( <em>for VB3 version &lt; 12 it is instead:</em> <span class="code">system/it/uniroma2/art/semanticturkey/st-changetracking-sail/&lt;version&gt;</span>) directory of Semantic Turkey.</p>
<p>This jar file has to be copied inside the lib directory of the connected triple store in order to enable the history validation functionalities. </p>
<p><em style="color: #6C0D0E">Warning for those using GraphDB: we have noticed that the loading of deployed sails on the triple store only works for the standalone version, not the os-specific installation package. Please take this into account when choosing which version of GraphDB to use</em></p>

<h4>Using the Trivial Inference Engine: deploying the trivial-inference sail component in the connected triple store</h4>
<p>If the trivial inference engine functionalities are required for projects connected to the separate triple store, then the component of Semantic Turkey managing inferences drawn by trivial reasoning in the repositories has to be deployed inside the connected store. </p>
<p>The component, which is implemented as a <em>sail layer</em> for triple stores compliant with RDF4J's <a href="http://docs.rdf4j.org/sail/">Sail Stack</a> mechanism, is available as a jar file called <span class="code">st-trivial-inference-sail-&lt;version&gt;.jar</span>, deployed inside the  <span class="code">lib</span> ( <em>for VB3 version &lt; 12 it is instead:</em> <span class="code">system/it/uniroma2/art/semanticturkey/st-trivial-inference-sail/&lt;version&gt;</span> ) directory of Semantic Turkey.</p>
<p>This jar file has to be copied inside the lib directory of the connected triple store in order to enable the history validation functionalities. </p>
<p><em style="color: #6C0D0E">Warning for those using GraphDB: we have noticed that the loading of deployed sails on the triple store only works for the standalone version, not the os-specific installation package. Please take this into account when choosing which version of GraphDB to use</em></p>

<h3>Configuring VocBench and GraphDB for large quantities of data</h3>
<p>When large quantities of data (hundreds of megabytes if not gigabytes) are being loaded, Semantic Turkey (the RDF management platform behind VB) might require higher memory settings in order to work properly.</p>
<p>The following environment variables can be setup for improving performance with large quantities of data:</p>
<p><em class="code">JAVA_MAX_MEM</em> and <em class="code">JAVA_MIN_MEM</em>: general Java settings, that will be used by Semantic Turkey</p>
<p><em class="code">GDB_MAX_MEM</em> and 
  <em class="code">GDB_MIN_MEM</em>: specific settings read by GraphDB<br />
</p>
<p>The following one is a recommended configuration for a PC with 16Gb of RAM. The values can be increased upon need.</p>
<p class="code">GDB_MAX_MEM=6144M<br />
  GDB_MIN_MEM=2048M<br />
  JAVA_MAX_MEM=2048M<br />
  JAVA_MIN_MEM=256M</p>
<p>Instructions for changing environment variables for most OSs can be found <a href="https://www.java.com/en/download/help/path.html">here</a>. Also, it is possible to directly assign values of these variables locally in the <span class="code">setvars.in.(bat/sh)</span> file used to run VocBench</p>
	
<h2>Internationalization: providing localizations for new languages.</h2>
<p>The <a href="internationalization.jsf">internationalization page</a> of this system admin manual describes how to prepare a new localization file and register it to VocBench.</p>


	
<h2>SAML Authentication</h2>
<p>Before you read the following instructions, please consider that SAML authentication has changed since version 12.0 of VocBench (and Semantic Turkey). If you are using a prior version, please read the <a href="#saml-pre-12">instructions at the end</a> of this section.</p>
<p>
  VocBench supports the authentication with any SAML Identity Provider. This means that system administrator can configure VocBench/SemanticTurkey in order to let a user log into VocBench through an external IDP that uses the SAML standard.
  Anyway, even if VocBench recognizes only users authenticated through the SAML IDP, they still have to be registered also in VocBench. It is SemanticTurkey's task to map the SAML authenticated user to a local one and if such user is not present in the internal ST store it will prompt him to register.
  The Identity Provider just needs to be configured properly as we will see at the end of this section.
</p>
<h3>VocBench configuration</h3>
<h4>Enabling SAML authentication</h4>
<p>
  In order to enable the SAML authentication in the VocBench UI, login into the application with the administrator user and go to <i>Administration</i> > <i>Settings Mgr</i>, then select the <i>SemanticTurkeyCoreSettingsManager</i> tab and then the only Settings Manager available. Choose the scope <i>SYSTEM</i>, then change the <i>Authentication Service</i> settings to <i>SAML</i> and submit the changes.
</p>
<div class="figure"><img src="images/saml_auth_service.png"/></div>
<p>
  Logout from VocBench and refresh the page, now you will see a <i>SAML login</i> button replacing the default email/password login form.
</p>
<div class="figure"><img src="images/saml_login_btn.png"/></div>

<h4>Customization of the SAML Login button</h4>
<p>
  The label of the login button can be customized. This can be done by editing the <em>vbconfig.js</em> file (under the <em>public/vocbench3/</em> dir of vocbench3-<i>ver</i>.jar placed in the lib/ folder of the built distribution): just uncomment the variable <i>saml_login_label</i> and provide the desired label.
</p>
<div class="figure"><img src="images/saml_login_label_custom.png"/></div>

<h3>Semantic Turkey configuration</h3>

<h4>Changing authentication service</h4>
<p>
  An alternative way to enable the SAML authentication is to do it directly from SemanticTurkey. Edit the setting <i>authService</i> in <i>SemanticTurkeyData\system\plugins\it.uniroma2.art.semanticturkey.settings.core.SemanticTurkeyCoreSettingsManager\settings.props</i>. 
  The allowed values are: <i>Default</i> and <i>SAML</i>. This procedure can be useful if the authService has been accidentally changed to <i>SAML</i> from VocBench UI and the administrator is not able to login again for restoring the <i>Default</i> one.
</p>

<h4>SAML configuration</h4>

<p>
  In SemanticTurkey in order to instruct the system to communicate with the SAML IDP you need to edit the configuration file at <i>&lt;ST_INST&gt;\config\saml\application.yml</i>
</p>

<p>
  By default the content of this file is the following
</p>

<code>
  <pre>
    #spring.security.saml2.relyingparty.registration.st_saml:
    #  base-url: "https://example.org"
    #  redirect-url: "https://example.org/vocbench3"
    #  identityprovider.metadata-location: "file:./config/saml/idp-metadata.xml"
    #  signing:
    #    credentials:
    #      - private-key-location: "file:./config/saml/private.key"
    #        certificate-location: "file:./config/saml/public.cer"
    #    keystore:
    #      - location: "file:./config/saml/keystore.jsk"
    #        alias: ""
    #        password: ""
  </pre>
</code>

<p>
  For a basic configuration it's enough to edit the content by uncommenting (removing the leading <code>#</code>) and providing these properties:
</p>
<ul>
  <li>
    <code>spring.security.saml2.relyingparty.registration.st_saml.base-url</code>: the baseURL where SemanticTurkey responds. This value will be used for determining:
    <ul>
      <li>the SP entityID, as <i>{baseUrl}/semanticturkey/saml2/service-provider-metadata/st_saml</i></li>
      <li>the Location of the Assertion Consumer Service, namely where the SP will receive the IDP assertion, as <i>{baseUrl}/semanticturkey/saml2/login/sso/st_saml</i></li>
    </ul>
  </li>
  <li>
    <code>spring.security.saml2.relyingparty.registration.st_saml.redirect-url</code>: the URL where VocBench responds. This value will be used for redirecting the user once successfully authenticated.
  </li>
  <li>
    <code>spring.security.saml2.relyingparty.registration.st_saml.identityprovider.metadata-location</code>: the path where the Identity Provider metadata xml is located. By default, the value is set to <i>file:./config/saml/idp-metadata.xml</i>. So, you can simply leave the value untouched and replace the content of <i>&lt;ST_INST&gt;/config/saml/idp-metadata.xml</i> with the metadata of EU Login IDP. Alternatively, you can place the metadata file to a different location and update the value accordingly.
  </li>
</ul>


<h4>Signature customization (Optional)</h4>

<p>
  Semantic Turkey needs to sign the authentication requests sent to the Identity Provider. For this purpose, it has been provided with a private key and public certificate pair already included in the classpath (respectively classpath:security/private.key and classpath:security/public.cert)
</p>
<p>
  Optionally, for security reasons, you may need to configure SemanticTurkey by providing your personal pair of key and certificate, or the references to a JKS keystore.
  If you want to override the default key and certificate, you'll need to provide the following properties:
</p>
<ul>
  <li><code>spring.security.saml2.relyingparty.registration.st_saml.signing.credentials.private-key-location</code>: path to the private key file</li>
  <li><code>spring.security.saml2.relyingparty.registration.st_saml.signing.credentials.certificate-location</code>: path to the public certificate file</li>
</ul>
<p>
  Alternatively, you can use a JKS keystore by providing these properties:
</p>
<ul>
  <li><code>spring.security.saml2.relyingparty.registration.st_saml.signing.keystore.location</code>: path to the keystore .jsk file</li>
  <li><code>spring.security.saml2.relyingparty.registration.st_saml.signing.keystore.alias</code>: alias name</li>
  <li><code>spring.security.saml2.relyingparty.registration.st_saml.signing.keystore.password</code>: keystore password</li>
</ul>


<h4>Generation of metadata</h4>
<p>
  In order to be recognized from an Identity Provider, SemanticTurkey needs to be registered as a Service Provider into the latter. In order to do that, the Identity Provider needs SemanticTurkey metadata. These metadata can be automatically produced simply by accessing the following URL (eventually replacing localhost:1979 with the proper ST base url, the same set in <i>&lt;ST_INST&gt;\config\saml\application.yml</i> as seen previously) when SemanticTurkey is up and running:<br/>
</p>
<p>
  <i>http://localhost:1979/semanticturkey/saml2/service-provider-metadata/st_saml</i>
</p>

<h4>Attributes mapping</h4>
<p>
  SemanticTurkey supports any SAML Identity Provider but it requires a minimal configuration of the IDP.
  In fact, once a user tries to log into VocBench passing through a SAML Identity Provider, this one sends back to SemanticTurkey a response (assertion) which contains attributes of the authenticated user. SemanticTurkey, in order to recognize the SAML user and map this to an internal registered one, needs that the user's email address is mapped to an attribute that must be named <i>emailAddress</i>,
  so the Identity Provider must be configured accordingly. In addition, two further optional attributes are the user's given name and family name which need to be returned in the assertion in attributes named respectively <i>firstName</i> and <i>lastName</i>. These two attributes are useful when the SAML authenticated user is not yet registered into VocBench, in such case VocBench redirect the user to the <a href="../user/first_access_usr.jsf#user_registration">registration page</a> pre-filling the email, given name and family name form fields.
</p>
<div class="figure"><img src="images/saml_assertion.png"/></div>





<h4 id="saml-pre-12">SAML configuration with VB &lt; 12.x</h4>

<p>
  SAML support in Semantic Turkey was originally implemented in version 10.1. SAML configuration explained previously is valid for version 12.x or above. In previous versions the configuration of SAML was slightly different: two files needed to be configured in order to instruct the system to communicate with the SAML IDP:
</p>
<ul>
  <li><i>&lt;ST_INST&gt;\etc\saml-login.properties</i></li>
  <li><i>&lt;ST_INST&gt;\etc\saml-login.xml</i></li>
</ul>

<p>
  The first one contains properties that need to be provided manually.
</p>
<code>
  <pre>
    # A value between https or http. It is related to the protocol used by the server (service provider) on which VocBench will be deployed.
    saml.scheme=https
    # The name of the service provider (without "http://" and without "/" at the end).
    saml.serverName=example.org
    # The entityID of the Identity Provider. Take this value from metadata file received from the team responsible for registering your instance.
    saml.defaultIDP=entityID
    # The base url of the server (service provider) --> scheme://serverName/contextPath
    saml.entityBaseURL=https://example.org/semanticturkey
    # The url of VocBench
    saml.redirect=https://example.org/vocbench3
  </pre>
</code>

<p>The second one contains a "placeholder" xml code that must be replaced with the metadata generated from the Identity Provider.</p>

<code>
  <pre>
    &lt;?xml version="1.0" encoding="UTF-8"?&gt;
    &lt;!-- Replace this EntityDescriptor with your metadata --&gt;
    &lt;EntityDescriptor xmlns="urn:oasis:names:tc:SAML:2.0:metadata"&gt;
    &lt;/EntityDescriptor&gt;
  </pre>
</code>

<p>
  Another important difference is represented by the endpoint URL for generating the Semantic Turkey metadata. In the old versions it was the following URL (eventually replacing localhost:1979 with the proper ST host url):
</p>
<i>http://localhost:1979/semanticturkey/it.uniroma2.art.semanticturkey/st-core-services/saml/metadata</i>


</ui:define>

</body>
</html>
