<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Internationalization</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <p>VocBench from version 9.0.0 provides a multilingual UI and support for internationalization.</p>

    <p>
      Currently the only built-in languages are English and Italian, hopefully more to come in the future versions. 
      Anyway VocBench provides a mechanism for overcoming such limitation to whoever wants to add further languages. 
      Note: this operation requires to have access to the filesystem of the VocBench installation.
    </p>

    <p>
      The first step to do is to create the translation file.
      You can start from one of the available <a href="https://bitbucket.org/art-uniroma2/vocbench3/src/master/src/assets/l10n/">translation files</a> and edit it accordingly.
      The i18n in VocBench has been developed using <a href="https://github.com/ngx-translate/core">ngx-translate</a> library. Its framework uses translation files written in JSON format.
    </p>

    <p>
      The translation file needs to be placed under <i>assets/l10n/</i> folder where those already existing are.
    </p>

    <p>
      Finally it is necessary to "inform" VocBench that a new language is available so that it will be then listed in the language selector. 
      This can be done by editing the <em>vbconfig.js</em> file (under the <em>public/vocbench3/</em> dir of vocbench3-<i>ver</i>.jar placed in the lib/ folder of the built distribution) and adding the language code to the <i>additional_l10n_langs</i> variable.
      It is strictly necessary that the language code provided in additional_l10n_langs is the same used to naming the json translation file like in the following example for the Chinese language.
    </p>
    <div class="figure"><img src="images/i18n_ext.png"/></div>
    <div class="figure"><img src="images/i18n_zh.png"/></div>
    

  </ui:define>
</body>

</html>