<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">
    <h1>VocBench System Settings</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Introduction</h2>

    <p>
      The <a href="http://semanticturkey.uniroma2.it/doc/user/settings.jsf">Settings Management page</a> of Semantic Turkey docs details most of the information regarding settings and preferences in the platform. Here we provide a listing of specific properties which need to be setup under the hood, as there is (currently) no counterpart in the UI of the system.
    </p>

    <h2>Language Definitions</h2>

    <p>
      Semantic Turkey comes with a default <em>definition list</em> of languages that can be shown in different options: editing languages per each project, language proficiencies of the users, language for showing the content, etc... Each of these options restricts the set of languages that can be chosen by users, adopted in projects etc.. but no language can be ever selected if it has not been by first declared in this <em>definition list</em>.
    </p>
    <p>
      Everything about the definition list is provided in the <a href="http://semanticturkey.uniroma2.it/doc/user/settings.jsf">Settings Management page</a> of Semantic Turkey docs, section: &quot;<em>Available Languages: definition list in the defaults of the &quot;languages&quot; project property</em>&quot;.
    </p>

    <h2>Home page customization</h2>
    <p>
      Vocbench, by default, comes with a clean home page that consists of a top navigation bar, a bottom footer and a middle section containing the application logo flanked by a brief description of what Vocbench is.
    </p>
    <div class="figure"><img src="images/homepage.png" alt="Home page" /></div>
    <p>
      Vocbench provides a basic customization of the middle section, in particular it allows for adding custom content to the blank section between the application description and the footer.
    </p>
    <p>
      Note: this procedure requires a system administrator to have access to the filesystem of the Vocbench installation.
      Furthermore, since it is necessary to manipulate the content of Vocbench .war, this procedure can be performed only if the web archive has been extracted and deployed on a separate HTTP server as described <a href="index.jsf#separate_http_server">here</a>. <br />
      A further way to customize the web page from the Vocbench UI is described <a href="../user/sys_config_adm.jsf">here</a>. The method described in this section is more thought for unchangeable custom content that should distinguish a certain VB installation (e.g. logo of the organization etc..) while the latter is thought more for dynamic content (e.g. communications to all users) that might be changed by the VB administrator.</p>
    <p>
      The <i>&lt;VOCBENCH_INST_ROOT&gt;/assets/ext/home/</i> directory contains the file <i>custom_content.html</i>, containing a brief description of how to customize the home page.
      This description is already formatted as (commented) HTML code and might represent custom content itself. The administrator can directly edit this content.
    </p>

    <pre style="background-color: #F0F0F0; font-size: 12px; padding: 0px 14px">
      <code>
&lt;!-- &lt;div style="overflow-y: auto;"&gt;
	&lt;h1&gt;This is a custom content&lt;/h1&gt;

	&lt;p&gt;
		This document can be edited in order to insert a custom content in the home page of VocBench.
		The content will be inserted in the central section of the page, just between the brief description of VocBench (on the top)
		and the footer that contains the organizations that contributed to VocBench.
		In order to try this feature, you can uncomment the content of this document and see how the home page changes.
	&lt;/p&gt;

	&lt;p&gt;
		The container &lt;code&gt;&lt;div/&gt;&lt;/code&gt; element has the &lt;code&gt;"overflow-y: auto"&lt;/code&gt; style
		applied in order to make the content responsive through a vertical scrollbar in case the available space is exceeded.
	&lt;/p&gt;

	&lt;p&gt;
		It is also possible to insert images simply by adding them to the assets/ext/home/ folder and to use them as follow:
	&lt;/p&gt;

	&lt;img src="./assets/ext/home/example.png"&gt;
&lt;/div&gt; --&gt;</code>
    </pre>

    <p>
      For example, uncommenting the above code, the home page will be shown as follow
    </p>
    <div class="figure"><img src="images/homepage_custom.png" alt="Home page custom" /></div>

    <h2>Privacy Statement</h2>

    <p>
      VocBench provides, to the organizations that wish to, the opportunity to publish a privacy statement document for users to download and read.
    </p>
    <p>
      This procedure requires a system administrator to have access to the filesystem of the SemanticTurkey installation.
      In fact, it is necessary to place the privacy statement file, which must be named <i>privacy_statement.pdf</i>, in the path <i>%ST_DATA_FOLDER%/system/docs/</i>, so usually something like:
    </p>
    <i>SemanticTurkeyData\system\docs\privacy_statement.pdf</i>
    <p>
      Once such file is added, in the bottom right section of the page (just above the footer), a download link is visible.
      It is also added a new entry <i>Privacy statement</i> in the <i>About VocBench</i> dropdown menu on the top right corner.
    </p>

    <div class="figure"><img src="images/privacy_statement.png" alt="Privacy statement" /></div>

  </ui:define>
</body>

</html>