<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>IO Extension Points</h1>
    <p>Extension points are well-defined functionalities in an extensible system the behavior of which is partly determined (and implemented) by the system and partly required by external plug-ins (extensions) that can be plugged into the extension point to provide different use case and technological implementations.</p>
    <p>VocBench offers five extension points related to Input/Output, namely:</p>
    <p><strong>Input/Output</strong></p>
    <ul>
      <li><a href="rdf-transformers">RDF Transformers</a></li>
    </ul>
    <p><strong>Input</strong></p>
    <ul>
      <li><a href="loaders">Loaders</a></li>
      <li><a href="lifters">Lifters</a></li>
    </ul>
    <p><strong>Output</strong></p>
    <ul>
      <li><a href="deployers">Deployers</a></li>
      <li><a href="reformatters">Reformatters</a></li>
    </ul>
    <p></p>
  </ui:define>

</body>

</html>