<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <link href="../../../styles/art.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
  <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
  <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
  <script type="text/javascript" src="../../js/chili/recipes.js"></script>
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="head">
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
    <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
    <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript" src="../../js/chili/recipes.js"></script>
  </ui:define>
  <ui:define name="mainContent">

    <h1>Custom Forms</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../../js/indexCreator.js"></script>
    </div>

    <h2>The need to go beyond ontology-driven modeling</h2>
    <p>The editing capabilities of ontology editors are usually...ontology-driven. That is, data-entry forms
      are painted on the screen, and options for filling them are provided, by analyzing the axioms defined
      in the ontology vocabularies loaded in the dataset being managed, including both the W3C basic
      modeling vocabularies (RDF, RDFS, OWL, SKOS, SKOS-XL) and domain-specific ones. However, a purely
      ontology-driven approach has some limitations.</p>
    <p>One typical limitation is the lack of axioms on annotation properties. The range of some properties
      is known "de facto", such as the use of language literals for RDFS and SKOS labeling properties, or <span class="code">rdfs:Resource</span> in the case of <span class="code">rdfs:seeAlso</span>, but no
      axiom is stating this information. We have solved this in previous versions of Semantic Turkey by
      introducing some hard-wired ranges in the system, taking precedence over the analysis of available
      axioms. </p>
    <p>Yet, in many scenarios, users would benefit from a greater level of customization when valuing
      properties, as some objects only make sense when built according to well-known templates. For
      instance, a general-purpose RDF editor, would prompt the user with the possibility to select an
      existing <span class="code">skosxl:Label</span> when valuing the <span class="code">skosxl:preLabel</span>
      property, or to create a new one. However, a <span class="code">skosxl:Label</span> instance only
      makes sense if a <span class="code">skosxl:literalForm</span> is provided for it. Hence, a pattern
      with the mandatory <span class="code">skosxl:prefLabel --&gt; skosxl:literalForm</span> should be
      specified somehow. This is not limited to creation, but also to viewing: indeed, such kind of objects
      only makes sense if, in a view of the resource described by them, the <span class="code">skosxl:literalForm</span>
      linked to the <span class="code">skosxl:Label</span> is explicitly shown, and not the URI/bnode
      describing it. Again, we have solved such typical cases with built-in solutions tailored over notable
      vocabularies (such is the case of SKOS-XL). However, we felt the need for giving users the possibility
      to tailor the UI of Semantic Turkey to their specific needs.</p>

    <h2>User-Customizable Forms</h2>
    <p><em>Custom Forms</em> are a flexible data-driven form definition mechanism that we devised for
      VocBench, allowing users to perform a declarative specification of the key elements that concur to the
      creation of a complex RDF resource. In particular, <em>custom forms</em> rely on the combination of
      the following four key elements:</p>
    <ul>
      <li>a declaration of the data that is expected to be prompted by the user</li>
      <li>a series of transformations that have to be applied to the prompted data in order to produce valid
        RDF entities to be stored</li>
      <li>the organization of the produced RDF entities into meaningful graph patterns, instantiating the
        template of the resource to be created</li>
      <li>the automatic production of a form layout based on the above declarations information that is
        required for "constructing" a new resource</li>
    </ul>
    <p>Custom Ranges have been implemented in VocBench through a (rather unorthodox :-) ) use of <a href="http://art.uniroma2.it/coda/">CODA</a>,
      the <a href="https://uima.apache.org/">UIMA</a>-based framework for Unstructured Information
      Acquisition, Management and RDF-Triplification. In <a href="https://uima.apache.org/">UIMA</a>,
      information acquired from unstructured content is processed and stored inside <em>feature structures</em>
      that can be later retrieved and stored into a target repository according to different technologies
      and models. <a href="http://art.uniroma2.it/coda/">CODA</a> extends <a href="https://uima.apache.org/">UIMA</a>
      by focusing on the triplification of UIMA feature structures. <a href="http://art.uniroma2.it/coda/">CODA</a>
      provides a highly-expressive transformation language, <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a>,
      thought specifically for transforming feature-structures into RDF graphs. </p>
    <p>The implementation of Custom Ranges in VocBench exploits all the power of PEARL, to build forms by
      means of UIMA feature structures. User-defined feature structures are parsed by VB and used to create
      a form for filling their content. The rest of the PEARL rule describes how the user prompted content
      is <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf#nodes">converted</a> into RDF nodes
      and then <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf#graph">composed</a> into an RDF
      graph</p>
    <p>The construction of new resources in VB through Custom Forms is managed through two solutions:</p>
    <ul>
      <li><em>Custom Constructors</em>: Custom Forms can be associated to specific classes of an ontology,
        so that when a new instance of that class is being created, the system will prompt the user with the
        Custom Form that has been associated to the class, instead of the standard resource creation form.
        Custom Constructors can also defined by overlaying existing forms (see later "overlaying default
        forms").</li>
      <li><em>Custom Ranges</em>: custom ranges allow the user to customize the range of properties beyond
        what is axiomatically asserted in their definition. Furthermore, they allow to define complex
        patterns for creating new objects by providing customizable forms for filling the information they
        require to be consistent in the domain of interest.</li>
    </ul>

    <h2>Data Architecture</h2>
    <p>In this section we describe the components realizing the data architecture of Custom Ranges in ST.</p>
    <p>The PEARL rule defining the templates for these structured objects is embedded into an XML file
      called <em>Custom Range </em> <span style="font-style: italic">Entry</span> (see figure below). The
      binding between an entry and each specific property is defined in another XML file, called <em>Custom
        Range</em>. In the next section, we will see how to create these files in Semantic Turkey.</p>
    <div class="figure"><img src="images/cforms-diagram.png" alt="Custom Range concept" /></div>

    <h2>Usage: the Custom Form Management Page </h2>
    <p>To configure Custom Forms, a management page is accessible through the VocBench Tools menu. </p>
    <div class="figure"><img src="images/cforms-page.png" alt="Custom Forms Page" /></div>
    <p>The panel is composed of three main sections:</p>
    <ul>
      <li>the top left (<em>Custom Form</em>) section allows authorized users to create, edit and remove
        Custom Forms</li>
      <li>the top right section (<em>Custom Collection</em>) allows authorized users to create, edit and
        remove Collections of Custom Forms</li>
      <li>the bottom section (<em>Forms mapping</em>) allows authorized users to establish mappings between
        Form Collections and classes, thus realizing Custom Constructors, or properties, thus defining
        Custom Ranges.</li>
    </ul>
    <p>The <em>Custom Form</em> section lists available custom forms. The greyed ones are factory-provided
      custom forms that cannot be altered, yet their content can be inspected (in order to use them as
      examples), or they can be adopted as-is. </p>
    <p>The following action buttons are available for interacting with the listed forms and for creating
      new ones:</p>
    <ul>
      <li><em>Create</em>: a new custom form is created from scratch</li>
      <li><em>Delete</em>: deletes the selected custom form</li>
      <li><em>Edit</em>: edits the selected custom form</li>
      <li><em>Clone</em>: clones the selected custom form. It is useful in order to create an altered
        version of an existing custom form without changing the original one. </li>
      <li><em>Export</em>: export the selected custom form to an export-file.</li>
      <li><em>Import</em>: imports a previously exported custom form into the project.</li>
    </ul>
    <p>Created custom forms are project-local. If users want to reuse a custom form across different
      projects, they can export them from a project and reimport them into a new project.</p>
    <p>A click on the create button produces the following form for describing a Custom Form:</p>
    <div class="figure"><img src="images/cforms-create.png" alt="Custom Forms Page" /></div>
    <p>Here follows a description of the fields in the form:</p>
    <ul>
      <li><em>ID:</em> a namespaced identifier;</li>
      <li><em>Name:</em> a short name which at the same time may suggest the nature of the resource being
        created through the form. This is also used in the UI to present the entry as a choice;</li>
      <li><em>Description:</em> a natural language understandable explanation of the form. This is used as 
        tooltip when the mouse hovers over the choice;</li>
      <li><em>Type:</em> tells the nature of the custom creation: <em>graph</em> for complex resource
        description or <em>node</em> for URI or literal. Simple nodes can be useful in Custom Ranges, which
        might be useful to override existing ranges or specify ranges that are not present in the ontology</li>
      <li><em>Ref:</em> the content of this property depends on the type of the entry. In case of <em>graph</em>
        Entry it must contains a CODA rule expressed in <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a>
        language;</li>
    </ul>

    <h2>Editing Custom Forms</h2>
    <p>As anticipated earlier, Custom Forms are defined by specifying a <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a>
      document, declaring a set of RDF nodes that are created from a set feature structures. In fact, the
      node section of the CODA rule determines the fields that will compose the form. The graph section will
      then specify how these nodes are arranged into an RDF graph.</p>
    <div class="figure"><img src="images/cforms-editor.png" alt="Custom Forms Editing" /></div>
    <p>Let's explain how it works with an example, by considering the <em>nodes</em> and <em>graph</em>
      sections of the Form in the previous picture:</p>
    <div>
      <pre>
		<code class="pearl_example">...
nodes = {
    resource uri(coda:randIdGen("note", {})) .
    noteLit literal userPrompt/note .
    source literal userPrompt/source .
    related uri userPrompt/related .
    modified literal^^xsd:datetime userPrompt/modified .
    created literal(coda:datetime["yyyy-MM-dd"]) .
}
graph = {
    $resource rdf:value $noteLit .
    OPTIONAL { $resource dc:related $related . }
    OPTIONAL { $resource dc:source $source . }
    OPTIONAL { $resource dc:modified $modified . }
    $resource dc:created $created.
}
...		</code>
	</pre>
    </div>
    <p>The <em>nodes</em> section is composed of various lines, each with three elements:</p>
    <ul>
      <li>a declaration of a RDF node (first element)</li>
      <li>a non-mandatory element being converted (the third element of each row), represented as a feature
        structure. This in CODA represents an element to be converted, usually in knowledge-acquisition
        processes. However, in Custom Forms, we coined a special feature structure, called <span class="code">userPrompt</span>,
        thought to hold all the elements that will appear in the custom form and which will be prompted to
        the user.</li>
      <li>a conversion declaration, specified by means of
        <ul>
          <li>a mandatory resource type (URI, literal, bnode)</li>
          <li>an optional specification of the <em>converter</em> used to perform the transformation</li>
        </ul>
      </li>
    </ul>
    <p>In the <em>graph</em> section, the placeholders for the created nodes are then used to assemble the
      description of the resource created through the form. The CODA placeholders that appears in <em>OPTIONAL</em>
      block in this section will be optional in the input form too. So, in this case, there will be five
      fields: note, source, related, modified and created and only the first will be mandatory. </p>
    <p>Note that the <em>resource</em> and the <em>created</em> nodes are not created by transforming
      some user input, as the userPrompt element is missing from their rows. This means that these elements
      will be generated from scratch, as some <em>converters</em> are actually generators able to create
      new RDF nodes on the sole basis of some configuration (e.g. the <em>coda:dateTime</em> converter
      generates the representation for the current date and time when not dateTime expression is passed as
      the third argument of the node declaration).</p>
    <p>The Form Editor supports syntax highlighting, though it does not currently provide syntax completion.
      A syntax helper for the converters has however been provided, in the form of a converter picker, that
      lists all the available converters already loaded into the system, their possible invocation
      signatures (converters supports invocation overloading) and copying their syntaxes to the editing
      textarea, as shown in figure below:</p>
    <div class="figure"><img src="images/cforms-convert-helper.png" alt="Custom Forms Page" /></div>
    <p>For each converter, it is possible to select the proper signature by clicking on the pencil symbol
      besides the signature textfield, showing a chooser window like in figure below</p>
    <div class="figure"><img src="images/cforms-convert-helper-signaturechooser.png" alt="Custom Forms Page" /></div>

    <h2>Overlaying Default Forms</h2>
    <p>Skos concepts, schemes, collections, etc.. all these kind of resources share default forms that
      expose advanced editing characteristics that cannot be (currently) represented through custom forms
      and that, in any case, <em>should not be overridden</em> by them. For instance, the concept creation
      form shows a list of schemes that will be associated to the new concept: this list. though editable,
      is defaulted to all schemes inherited from its parent concept (the one on which the "create child
      concept" action has been performed). Clearly this particular behavior *should* always be part of the
      concept creation form. In order to keep the peculiar characteristic of each resource's form, and yet
      to allow for a certain degree of customization, custom form adopt an overlaying mechanism in which the
      basic structure of known-resources' forms is kept, and the additional specification of a custom
      constructor is added to it. </p>
    <p>In such overlaid custom forms, some of the information that is produced by the <em>default part</em>
      of the form could be necessary for computing some aspects of the custom part. E.g. the local name of a
      concept could be reused in the <em>node</em> section of the custom form, in order to create another
      resource connected to the concept whose URI is similar to the one of the concept. In order to support
      this possibility, all default forms fields are also mapped as </p>
    <p>In the following figure, an editor opened on a new form cloned from the basic factory-based template
      for extending default forms</p>
    <div class="figure"><img src="images/cforms-template.png" alt="Custom Forms Page" /></div>

    <h2>CustomForm wizard</h2>

    <p>
      Writing a CustomForm may not be an easy task, especially for those users not familiar with PEARL, features, converters and all the related stuff.
      The CustomWizard comes in help providing an editor that aims to facilitate (as much as possible) the writing of the PEARL code of a CustomForm.
    </p>
    <p>
      CustomForm wizard can be opened via the <i>Wizard</i> button placed at the right of the <i>Ref</i> textarea. The button prompts to chose between Custom Constructor and Custom Range (the need for this differentiation will be clearer later).
    </p>
    <div class="figure"><img src="images/cforms-wizard-button.png" /></div>
    <p>
      The wizard appears in a dialog as follows.
    </p>
    <div class="figure"><img src="images/cforms-wizard.png" /></div>
    <p>
      The wizard is quite full of information which it's understandable being the PEARL of a CustomForm something complex. 
      But let's decompose the wizard editor in sub-sections. Broadly we can identify three main sections: the top one is dedicated to the definition of the fields that will be prompted in the form, the middle one manages the nodes of the PEARL, and the bottom one defines the relations between such nodes. Finally, on the right side of the wizard, a textarea shows a preview of the PEARL code that is automatically updated when a change is detected on any of the three sections above.
    </p>

    <p>
      The wizard provides through the two buttons on the top-right corner, the possibility to export the status on the filesystem in order to reload it later and to resume the creation of the form. 
    </p>

    <p>
      Now, let's focus on one section at the time.
    </p>

    <h3>Fields wizard</h3>
    <p>
      In the top part of the wizard user can create the fields that will be shown in the resulting form. It is possible to choose between two types of field: <i>Uri</i> and <i>Literal</i>. This choice will determine the type of value user will be able to insert into the field.
    </p>

    <div class="figure"><img src="images/cforms-wizard-fields.png" /></div>

    <p>
      When a field is selected, in the <i>Field details</i> panel it is possible to customize some aspects of the field, like the possibility to accept multiple values for the same field (optionally indicating the minimum and maximum amount) and the possibility to put constraints on it. The available constraints are:
    </p>
    <ul>
      <li><i>Enumeration</i>: the field will admit values that must be chosen among a list of pre-defined values.</li>
      <li><i>Role</i>: the value must be a resource of the given type(s) (also said roles in VB). This constraint is appliable only to URI fields.</li>
      <li><i>Range</i>: the value must be an instance of the given class(es) (only for URI field).</li>
      <li><i>Datatype</i>: the value must have the given datatype (only for literal field).</li>
      <li><i>LangString</i>: the value must have a language that can be fixed or provided on-the-fly when filling the field (only for literal field).</li>
    </ul>

    <p>
      A field can be also marked as optional through the dedicated checkbox in the <i>Form fields</i> panel, this means that the field in the form can be left empty.
    </p>

    <h3>Nodes wizard</h3>

    <p>
      When a field is defined, automatically a node is added in the <i>Nodes</i> panel, this happens because at each field corresponds a node (in some case even multiple nodes, as in language tagged literals, but let's not get lost in the details). The same is not true in the inverse direction, namely the definition of a node does not automatically implies the presence of a field in the form, this means that in the <i>Nodes</i> panel user can define an arbitrary amount of nodes that will not be prompted in the form. An example could be the definition of a node for automatically setting the creation date of the resource: user may not want to manually set the current date, so it would be useful that the form sets it behind scenes.
    </p>

    <div class="figure"><img src="images/cforms-wizard-nodes.png" /></div>

    <p>
      The previous image shows the <i>Nodes</i> panel. By first, let's notice the presence of the node <i>resource</i>. This is a node automatically set only in the wizard for Custom Range, while it is not present in case of Custom Constructor. In such case, this node is mandatory because a Custom Range is used to define a graph (or reified object) which is going to be "appended" as value to a subject-predicate pair (e.g. a reified note set as value to <i>:aSubject</i>-<i>skos:note</i>). Custom Constructor, instead, are used to add further predicate-object pairs to a resource (subject) created contextually during the creation of a resource (e.g. creation of a concept, class, individual, ...). So, the node <i>resource</i> represents exactly the entry point of the graph, namely the node that will be the object of the aforementioned subject-predicate pair.
    </p>

    <p>
      A new node can be added through the <b>+</b> button on the panel header. The node is automatically named <i>new_node</i> (or, in case of duplicated name, <i>new_node_i</i> where <i>i</i> is a numerical index) and can be renamed by user. Only the nodes defined by user can be deleted using the "trashbin" button; the <i>resource</i> node cannot be deleted and nodes created from fields can be deleted only by removing the related field.
    </p>

    <div class="figure"><img src="images/cforms-wizard-newnode.png" /></div>

    <p>
      The second field represents the converter to use for producing the node. The pencil button opens a dialog that allows the selection of a converter (and its signature and parameters) among those available.
    </p>

    <div class="figure"><img src="images/cforms-wizard-converter.png" /></div>

    <p>
      Finally, under the third column <i>Feature</i>, a combobox optionally (only in case the converter requires an input) allows the selection of a feature, namely the input value of the converter. These features are grouped in three groups:
    </p>
    <ul>
      <li><i>User prompted features</i>: all the features linked to a form field. Each fields defined in the <i>Form fields</i> panel is mapped into a feature named <code>userPrompt/</code><i>field_ID</i>. So, choosing one of these features, the value inserted in the field will be the converter input.</li>
      <li><i>Session's features</i>: at the moment just one, the current user (<i>session/user</i>).</li>
      <li><i>Standard Form's features</i>: features containing values provided in the standard form (e.g. form for creation of a concept, class, ...). These are available only in Custom Constructor wizard which are exploited during the creation of resources. The available features are:
        <ul>
          <li><i>stdForm/resource</i>: contains the IRI of the resource being created.</li>
          <li><i>stdForm/labelLang</i>: contains the language of the label (available only when creating lexicalized resources).</li>
          <li><i>stdForm/label</i>: contains label of the resource (available only when creating lexicalized resources in non-SKOSXL projects).</li>
          <li><i>stdForm/xlabel</i>: contains the IRI of the created skosxl label (available only when creating lexicalized resources in SKOSXL projects).</li>
          <li><i>stdForm/lexicalForm</i>: contains the literal form of the label of the resource (available only when creating lexicalized resources in SKOSXL projects).</li>
          <li><i>stdForm/lexicon</i>: contains the lexicon to which the lexical entry belongs (available only when creating lexical entry in Ontolex projects).</li>
        </ul>
      </li>
      <li><i>Context's features</i>: features containing values contextual to the operation. Currently available:
        <ul>
          <li><i>formCtx/subject</i>: contains the IRI of the resource to which a CR-produced element is being added (available only for Custom Range).</li>
        </ul>
      </li>
    </ul>

    <h3>Graph wizard</h3>

    <p>
      The third section of the wizard aims to help user in defining the relations among the nodes. This results in the definition of the graph section of the PEARL. This sections is splitted in two panels: the left one allows the definition of simple subject-predicate-object relations, the right one manages more complex graph pattern. Let's start from the left panel.
    </p>

    <div class="figure"><img src="images/cforms-wizard-graphs.png" /></div>

    <p>
      Clicking on the <b>+</b> button in the <i>Nodes relations</i> panel, a new subject-predicate-object row is added. The subject can be chosen among the nodes defined in the <i>Nodes</i> panel (in case of Custom Range wizard, the subject of the first row is locked on the <i>entryPoint</i> node). The predicate must contain the IRI of a property, it can be written manually or also picked by browsing the property tree clicking on the pencil button. The object can be both a <i>Node</i> or a <i>Value</i>. The first selector allows you to make this distinction and according the choice made the right part of the <i>Object</i> changes dynamically. In case of <i>Node</i>, a combobox allows the selection of a node among those defined, while in case of <i>Value</i>, user can provide a literal or IRI.
    </p>

    <div class="figure"><img src="images/cforms-wizard-graphs-object.png" /></div>
    
    <p>
      The right panel <i>Advanced graph pattern</i> aims to overcome the limitation of the <i>Nodes relations</i> one through the definition of complex graph patterns.
      The <b>+</b> button opens the following editor.
    </p>

    <div class="figure"><img src="images/cforms-wizard-graphs-adv.png" /></div>

    <p>
      An advanced graph pattern needs to be bound to an input field which can be selected at the top of the dialog. Once selected, the related nodes are automatically listed into the <i>Nodes</i> panel where you can add further nodes to use in the graph pattern. The <i>Graph pattern</i> panel, as the name suggests, provides a textarea for writing the graph pattern. This pattern will be written as it is in the resultant PEARL code. In the latter panel there is also a sub-panel that lists the prefix-namespace mappings defined in the VB project and eventually allows to define further mappings useful in the graph pattern.<br/>
      By clicking Ok, the pattern will undergo to a validation step and then a preview will be visible in the dedicated panel of the wizard.
    </p>
    <p>
      <i>Note: this is quite similar to the <a href="http://art.uniroma2.it/sheet2rdf/documentation/vb_tool/#the_header_editor">Advanced Graph application</a> available in Sheet2RDF.</i>
    </p>

    <p>
      Once the user has completed the configuration of the wizard, the same can be closed with the "Ok" button. In case of everything is ok, the dialog is closed and the produced PEARL is placed into the <i>Ref</i> textarea of the CustomForm editor where it can be edited further.
    </p>
    

    <h2>Custom Form in action: customizing the reifiedNote CustomForm</h2>
    <p>In this section we learn how to reuse an existing custom form and to modify it for our own purposes.
      We will customize the "reified note" custom form. </p>
    <p>A reified note is a skos:note modeled after the
      second pattern described in <a href="https://www.w3.org/TR/skos-primer/#secadvanceddocumentation">advanced documentation of the SKOS Primer</a>,
      that is an RDF resource described in turn by other properties, the main one being <span class="code">rdf:value</span> and having as object the literal content of the note. The basic reified note available with the standard installation of the system contains only the basic reification pattern: <br />
      <em>&lt;resource being described&gt; --&gt; skos:note --&gt; &lt;resource representing the note&gt; --&gt; rdf:value --&gt; &lt;the literal value of the note&gt;</em><br />
      What we will do in this section is to create our own version of the note and to add to it a few more metadata properties.
      <br />
    </p>
    <p>In order to create and use a new Custom Form, it is necessary to:</p>
    <ul>
      <li>create the Custom Form</li>
      <li>assign the Custom Form to a Form Collection (<em>we recall that a Form Collection is an
          aggregate of Custom Forms. Collections allow for the association of more custom forms to a same
          resource</em>)</li>
      <li>assign the Form Collection to a property (in case of Custom Range) or a class (in case of Custom
        Constructor)</li>
    </ul>
    <p>If a Custom Form and Form Collection are already available, the only step to be performed is the third and last one, which is the one we are going to show in the next section, before diving into the more
      elaborated aspects of customization.</p>

    <h3>Mapping a Custom Form</h3>
    <p>In order to associate an existing custom form, available in an existing Custom Collection, we need to
      associate this last element to a resource. The Form Collections can be managed from the top-right
      panel of the Custom Forms Management page. </p>
    <p>A Form Collection consists of the following:
    <ul>
      <li><em>ID:</em> a namespaced identifier;</li>
      <li>A list of <em>Custom Forms</em> assignable from the existing ones;</li>
      <li>A list of <em>Suggestions</em>, namely properties or classes for which the Custom Forms of the
        Collection are suggested to be used with.</li>
    </ul>
    As shown in the following image, the factory-provided Form Collection for the reified notes is
    composed by only one Custom Form (<i>it.uniroma2.art.semanticturkey.customform.form.reifiednote</i>)
    and according to the suggestions, it is advisable to use it with the skos note properties (<i>skos:note</i>
    and its sub-properties). </p>
    <div class="figure"><img src="images/cforms-collection-editor.png" alt="Custom Collection editor" /></div>
    <p>The Form Collection needs thus to be mapped to a resource: property or class. This operation can be
      performed through the bottom panel, which allows for creation/deletion of such mappings. </p>
    <p>When creating a new mapping, if the Form Collection that is going to be mapped has suggested classes
      or properties declared, the UI offers the possibility to exploit these suggestions. </p>
    <p>A mapping to a class generates a "Custom Constructor". When an instance of that class is being
      created, the form is layered on top of the original form for creating instances of that class.</p>
    <p>A mapping to a property generated a "Custom Range", that is, whenever that property is going to be
      valued, the Custom Form will be presented as an alternative to the usual range. In the case of Custom
      Ranges an additional option allows to "replace" the ordinary range (i.e. the range expressed by the
      owl:range property or derived by inference), thus directly prompting the user with the Custom Form.</p>
    <div class="figure"><img src="images/cforms-mapping-editing.png" alt="Form Mapping editor" /></div>
    <p> In the image below, the <i>note</i> Collection has been associated to the <i>skos:note</i>
      property and the "Replace" option has not been ticked.</p>
    <div class="figure"><img src="images/cforms-mapping-panel.png" alt="Form Mapping panel" /></div>
    <p> The Custom Form (in this specific case a Custom Range) is now ready to be used. After valuing the <i>skos:note</i>
      property (on any resource), a dialog for selecting the range type is shown. All the Custom Ranges
      contained in the Form Collection are listed among the available ranges (like we said, this step would
      have been skipped if the <i>replace</i> flag had been checked). </p>
    <p>In this case the only CustomRange defined in the FormCollection is <i>Reified note</i>. </p>
    <div class="figure"><img src="images/cforms-enrich-select.png" alt="CustomRange range selection" /></div>
    <p>Once the Reified note element has been selected, the Custom Form is prompted to the user. </p>
    <div class="figure"><img src="images/cforms-enrich-form.png" alt="CustomRange form" /></div>
    <p>After filling the Custom Form, the prompted data has been added to the dataset and it is visible in
      the Resource View. As you can see in the following image, the reified resource, unlike the plain one ("plain note"), is rendered as an individual through its qname.</p>
    <div class="figure"><img src="images/cforms-enrich-resview.png" alt="CustomForm in ResourceView" /></div>

    <p>By double clicking on such value, the ResourceView of the reified note can be displayed containing the <i>rdf:value</i> entered in the previous form.</p>
    <div class="figure"><img src="images/cforms-reifiednote-expanded.png" /></div>

    <p>The rendering of reified resources, like the note in this example, can be improved by exploiting the <a href="custom_views.jsf">Custom View</a> mechanism.</p>

    <h3>Customizing the Custom Form fields</h3>
    <p> As stated before, the Custom Forms mechanism was designed to allow the user to tailor the UI of
      Semantic Turkey to their specific needs. With the following example, it will be shown how to extend
      the factory-provided <i>reifiednote</i> Custom Form in order to add a further field.<br />
      By first, since the new form will be based on the existing one for reified notes, it is advisable not to start from scratch, rather to clone the original one. This can be done by selecting the original form and clicking on the &quot;clone&quot; button on
      the Custom Forms panel. As a start, the only information that needs to be prompted is the ID for the new Form. </p>
    <p><em>Note that all forms have an ID characterized by a namespace and a local name. By default, a namespace is provided (the one of Semantic Turkey, the backed system of VocBench), to allow users simply prompting a local name. However, by clicking on the lock button, it is possible to change the full name of the form.</em></p>
    <div class="figure"><img src="images/cforms-clone-form.png" alt="Clone CustomForm" /></div>
    <p> After creating the form, it is possible to edit its characteristics through the PEARL editor: the name, the description and the PEARL reference
      that will determine the prompted form. </p>
    <div class="figure"><img src="images/cforms-custom-reified-note.png" /></div>
    <p> The addenda to the original PEARL are highlighted in the previous image: </p>
    <ul>
      <li> <span class="code">source uri userPrompt/source </span>: generates an RDF node converted with
        the <span class="code">uri</span> CODA <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf#converters">converter</a>.
        We recall that the feature &quot;userPrompt&quot; is a special feature introduced in PEARL when dealing with custom forms. It means that the value is expected to be prompted by the user. The name of the feature, <span class="code">source</span>, tells to the CustomForm mechanism how
        to label the field in the prompted form. <br />
        Note that the <span class="code">userPrompt/lang</span> feature path (already present in the
        original CF) will not result in a field in the CustomForm since it produces the <span class="code">noteLang</span>
        node, that is only used as parameter of the literal converter and never mentioned in the <span class="code">graph</span>
        section of the PEARL. </li>
      <li> <span class="code">OPTIONAL { $resource dct:source $source . } </span>: specifies that the <span class="code">source</span> node produced above is linked to the reified resource with the <span class="code">dct:source</span>
        property. Moreover, the surrounding OPTIONAL block makes the input field optional. So, whenever the
        user will enter a value in this field, it will produce a triple of the form:<br />
        <br />
        <i>%reified_note_IRI%</i> <span class="code">dct:source</span> <i>%entered_value%</i>.
      </li>
    </ul>
    <p> Now, as already shown for the standard reified note, it is necessary to add this new Custom Form to a Form
      Collection. Since it is not possible to edit the factory-provided <i>it.uniroma2.art.semanticturkey.customform.collection.note</i>
      collection, it is necessary to create a new one or simply to clone the latter and add the new
      created CF. </p>
    <div class="figure"><img src="images/cforms-custom-note-collection.png" /></div>
    <p> After mapping this new collection to <i>skos:note</i>, the new custom form will be added to the range of possible values </p>
    <div class="figure"><img src="images/cforms-multiple-c_range.png" /></div>
    <p>...and then, the new form can be filled.</p>
    <div class="figure"><img src="images/cforms-custom-reified-note-form.png" /></div>
    <p>The resulting note will be the following, thus showing also the source element</p>
    <div class="figure"><img src="images/cforms-reifiednote-with-source.png" /></div>

    <!-- 
    <h3>Tabular view</h3>

    <p>
      A preview form alternative to the just seen <i>Property chain</i> is the <i>Table</i> preview.
      For example purposes only, let's take into account the following CustomForm.
    </p>
    <div class="figure"><img src="images/cforms-table-editor.png" /></div>
    <p>
      It defines a form with three fields: <i>givenName</i>, <i>familyName</i> and <i>age</i>. According the graph section, it will create a reified object with these three values linked through the respective foaf properties.
    </p>
    <div class="figure"><img src="images/cforms-table-form.png" /></div>
    <p>
      We selected <i>Table</i> as PreviewForm with same three properties (<i>foaf:givenName</i>, <i>foaf:familyName</i> and <i>foaf:age</i>),
      so each object created through the above CustomForm will be rendered into a table as in the image below (in this specific example the CF has been mapped with the <i>foaf:knows</i> property).
    </p>
    <div class="figure"><img src="images/cforms-table-preview.png" /></div>
    <p>Each table row represents a reified object. The value represented in the cells are editable and deletable directly from the table. Finally, on the left of each of row a buttons allows the inspection of such reified object in a new ReourceView.</p>
    <div class="figure"><img src="images/cforms-table-resview.png" /></div> 
    -->

    <h3>PEARL annotations</h3>

    <p>
      From version 8.0.0, Custom Forms have been enhanced with the introduction of PEARL annotations.
      By annotating a node declaration it could be possible to add semantic to the same node and this will be reflected on the produced Form.
      For instance it could be possible to state that a node can take only values <i>x</i>, <i>y</i> or <i>z</i>, or that it can only be an instance of a certain class,
      or even that it must be a resource taken from a specific external project.
    </p>
    <p>
      The available annotations are:
    </p>
    <ul>
      <li><i>Collection</i></li>
      <li><i>DataOneOf</i></li>
      <li><i>Foreign</i></li>
      <li><i>ObjectOneOf</i></li>
      <li><i>Range</i></li>
      <li><i>RangeList</i></li>
      <li><i>Role</i></li>
    </ul>
    <p>
      For each of them we will see how they can be used and how they affect the Form. Combination of these annotations are allowed. For example <i>Foreign</i> can be combined with <i>Range</i> in order to constrain the selection from an external project of the instance of a given class, or again <i>Collection</i> with <i>Role</i> in order to allows the selection of multiple resources of a type.
    </p>
    <p>
      In the examples that will follow the annotations will be tested by customizing the factory-provided Custom Form for reified note.
    </p>

    <div class="figure"><img src="images/cforms-reifiednote-pearl.png" /></div>

    <h4>Collection</h4>
    <p>
      This annotation allows for prompting more values for the same element. It takes two optional numeric arguments: <i>min</i> and <i>max</i> (if not provided their value is assumed to be 0).
      Value 0 for <i>min</i> means that it is not necessary to provide at least one value, namely the form field will be optional.
      Value 0 for <i>max</i> means there’s no limit restriction on the number of values to create.
    </p>
    <p>
      Now, let's extend the reifiednote Custom Form PEARL as follow (changes in yellow):
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@Collection(min = 2, max = 4)</span>
        <span style="background-color: yellow;">listNode uri userPrompt/list .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $listNode . }</span>
      }
    }
      </code>
    </pre>

    <p>
      As it is highlighted, it has been added a new <code>listNode</code> node annotated with <code>@Collection</code>. This will be reflected in a new <i>list</i> field in the form.
      The annotation here determines that the field will allow multiple values, precisely from 2 to 4 values.
      Then these values will be linked to the reified note through the <i>rdfs:comment</i> property (for illustration purpose only).
      Side note: <i>rdfs</i> prefix is not declared in the original reified note Custom Form, it has to be manually added.
    </p>
    <p>The resulting Form is the following</p>
    <div class="figure"><img src="images/cforms-annotations_collection.png" /></div>

    <p>
      The <i>list</i> field has initially two textfields which allow the selection of IRI resources. The "trashbin" buttons are disabled since the minimum declared by the annotation is 2.
      It is possible to add up to 4 further elements to the list (through the plus button), then the add button will be disabled.
    </p>
   

    <h4>DataOneOf</h4>
    <p>
      This annotation declares a set of possible literal values that can be assigned to the related node. The Custom Form can be changed as follow
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@DataOneOf({ "example"@en, "esempio"@it, "ejemplo"@es })</span>
        <span style="background-color: yellow;">dataOneOfNode literal userPrompt/dataOneOf .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $dataOneOfNode . }</span>
      }
    }
      </code>
    </pre>

    <p>
      Here it has been added a new <code>dataOneOfNode</code> node annotated with <code>@DataOneOf</code>.
      This determines that the new <i>dataOneOfNode</i> field will accept only the values specified as argument.
      As in the previous case, the value will be linked to the reified note through the <i>rdfs:comment</i> property.
    </p>
    <p>The resulting Form is the following</p>
    <div class="figure"><img src="images/cforms-annotations_dataoneof.png" /></div>


    <h4>Foreign</h4>
    <p>
      <i>Foreign</i> annotation constrains the selection of a resource value from an external project (hosted on VB).
      The argument of this annotation is the ID of a project.
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@Foreign("TestProject")</span>
        <span style="background-color: yellow;">foreignNode uri userPrompt/foreign .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $foreignNode . }</span>
      }
    }
      </code>
    </pre>

    <p>
      A <code>foreignNode</code> node has been annotated with <code>@Foreign</code> with argument <i>TestProject</i>.
      This will add in the form a new <i>dataOneOfNode</i> field allowing the selection of a resource from the target project <i>TestProject</i>.
      Obviously in order to works, the ID of the project must identify an existing project, moreover the target project must grant access to the source project (see documentation about <a href="project_access_control.xhtml">ACL</a>).
    </p>
    <p>As shown in the following image, next to the <i>dataOneOfNode</i> field a button with an arrows (in place of the usual "pencil") suggests that the value will be picked from an external source.</p>
    <div class="figure"><img src="images/cforms-annotations_foreign.png" /></div>
    <p>Once clicked, the selection of the project is prompted, then user needs to choose the type of picked resource and finally he can browse the desired tree/list.</p>
    <div class="figure"><img src="images/cforms-annotations_foreign_pick.png" /></div>

    <h4>ObjectOneOf</h4>
    <p>
      This annotation is very similar to <i>DataOneOf</i> previously seen. In fact it declares a set of possible IRI values that can be assigned to the related node.
      Custom Form pearl could be changed as follow.
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@ObjectOneOf({ skos:ConceptScheme, &lt;http://www.w3.org/2004/02/skos/core#Concept&gt; })</span>
        <span style="background-color: yellow;">objOneOfNode uri userPrompt/objOneOf .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $objOneOfNode . }</span>
      }
    }
      </code>
    </pre>

    <p>
      The <code>objOneOfNode</code> node, annotated with <code>@ObjectOneOf</code> will add in the form a field <i>objOneOf</i> that through a combobox
      allows the selection of the only values provided as annotation argument. As shown in the previous PEARL code, arguments of the annotation can be both IRI and qname (in case of qname the prefix must be declared in the PEARL).
    </p>
    <div class="figure"><img src="images/cforms-annotations_objectoneof.png" /></div>

   
    <h4>Range</h4>
    <p>
      This annotation describes the class that is meant to be used for feeding potential values to the annotated node. Its argument must be an IRI (or qname) that identifies a class.
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@Range( skos:ConceptScheme )</span>
        <span style="background-color: yellow;">rangeNode uri userPrompt/range .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $rangeNode . }</span>
      }
    }
      </code>
    </pre>

    <p>
      The above is an example of how the annotation can be used in order to constrain the selection of values to the only instances of <i>skos:ConceptScheme</i> class.
    </p>

    <div class="figure"><img src="images/cforms-annotations_range1.png" /></div>
    <p>In this way the picker of the <i>range</i> field opens a browsing modal allowing the selection of any instances of <i>skos:ConceptScheme</i> class, both from current and external project.</p>
    <div class="figure"><img src="images/cforms-annotations_range2.png" /></div>


    <h4>RangeList</h4>
    <p>
      This annotation is the extension of the previous with the only difference that can specify multiple classes as argument (e.g. <code>@RangeList( { skos:ConceptScheme, skos:Concept } )</code>) and the browsing modal allows the selection of their instances.
    </p>

    <h4>Role</h4>
    <p>
      This annotation constrain the role(s) that a certain node may assume. The only argument represents a list of string among <a href="http://semanticturkey.uniroma2.it/doc/dev/modules/st-core-framework/apidocs/index.html?it/uniroma2/art/semanticturkey/data/role/RDFResourceRole.html">those</a> available in Semantic Turkey.
    </p>
    <p>
      Assuming you want to restrict the selection to concepts, schemes or collections, the PEARL rule can be modified as follow
    </p>

    <pre>
      <code>
    rule it.uniroma2.art.semanticturkey.customform.form.reifiedNoteExt id:reifiednote {
      nodes = {
        resource uri(coda:randIdGen("note", {})) .
        noteLang literal userPrompt/lang .
        noteLit literal(coda:langString($noteLang)) userPrompt/note .
        <span style="background-color: yellow;">@Role({'concept', 'conceptScheme', 'skosCollection'})</span>
        <span style="background-color: yellow;">roleNode uri userPrompt/role .</span>
      }
      graph = {
        $resource rdf:value $noteLit .
        <span style="background-color: yellow;">OPTIONAL { $resource rdfs:comment $roleNode . }</span>
      }
    }
      </code>
    </pre>


    <p>
      By doing that, the usual resource picker placed next to the form field (that in this case will be labeled with <i>role</i>) will prompt a modal for selecting the type of resource among those specified as annotation argument.
    </p>

    <div class="figure"><img src="images/cforms-annotations_role.png" /></div>

  </ui:define>
</body>

</html>