<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />  
</head>



<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core" class="art">

<!-- <ui:define name="head"><script type="text/javascript" src="../js/d13.js"/></ui:define> -->

<ui:define name="mainContent">

<h1>VocBench Developers Manual</h1>
<p>This section provides detailed information for people interested in developing extensions for VocBench or even in modifying the core system. Currently, it contains generic information about the architecture of the system. We will add more details soon.</p>

<div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>
		
			
<h2><a name="building">Building VocBench</a></h2>
<p>Everything related to building the platform is written in the README of the <a href="http://bitbucket.org/art-uniroma2/vocbench3">VocBench3</a> and <a href="http://bitbucket.org/art-uniroma2/semantic-turkey">Semantic Turkey</a> projects. </p>

<div class="figure"><img src="images/Architecture.png" alt="architecture" width="800" style="float: right;"/></div>

<h2><a name="architecture">VocBench Architecture</a></h2>
<p>The architecture&nbsp; of VocBench has been designed by following a three-tier approach.</p>


<h3><a name="presentation">Presentation</a> </h3>
<p>The presentation layer of VocBench 3 is represented by the VB3 web application, built on <a href="https://angular.io/">Angular</a></p>

<h3><a name="business_logic">Middle Layer: Business Logic</a> </h3>
<p>Requests from the VB3 web application are sent to <a href="http://semanticturkey.uniroma2.it/">Semantic Turkey</a>, the RDF Data Management platform powering VocBench. Semantic Turkey offers services for RDF Manipulation (with abstractions for OWL ontologies and SKOS thesauri), User Management and Authentication, Project Management etc...  platform powering VocBench. More details about its architecture can be found in the <a href="http://semanticturkey.uniroma2.it/documentation/dev/">development page</a> of that project.</p>

<h3><a name="business_logic">Data Access</a> </h3>
<p><a href="http://semanticturkey.uniroma2.it/">Semantic Turkey</a> bases its RDF services on the <a href="http://rdf4j.org/">Eclipse RDF4J</a> framework. The Data Manager component of Semantic Turkey provides high level facilities for management of imports, metadata, etc.. on top of the RDF4J framework. Access to different triple stores is possible, providing that they are capable of supporting RDF4J remote connections and, in case history/validation support is necessary, they implement RDF4J's Sail Stack mechanism</p>


<h2><a name="logging">Logging</a> </h2>
<p>VB3 logs information both server and client side</p>
<p>For ST server logs, please refer to the documentation of <a href="http://semanticturkey.uniroma2.it/documentation/dev/#logging">Semantic Turkey</a>. </p>
<p>The logs of the VocBench web application can instead be inspected through the client browser, by activating the console (e.g. CTRL+SHIFT+J on Chrome)</p>

<h2><a name="settings_preferences">Settings and Preference Management</a> </h2>
<p>VB3 distinguishes the following properties:</p>
<ul>
  <li><em>Settings</em>: properties that define the behavior of the system. These can be local to a project (<em>project settings</em>) or global (<em>system settings</em>)</li>
  <li><em>Preferences</em>: properties set by the users, expressing their preferences about the way they interact with the system. Preferences are always local to each user but, as for settings, can influence the interaction with the system as a whole (<em>system preferences</em>) or be local to each project (<em>project preferences</em>).</li>
</ul>
<p>Settings and Preferences have also defaults that can be set at various levels. For instance, a user can set the default value for a given preference for all projects, so that if that preference is not set for a given project, the default will be applied. Project Managers can also set default project preferences for their managed projects, so that if no preference is set by the user, the project default preference applies</p>
<p>Currently, VocBench 3 offers a <em>preferences</em> page from the user menu (activated from the user icon, topmost-right part of the screen). The settings are instead sparse across the application or through the Project Management pages.</p>
<p>In the future, pages for setting defaults for both <em>system/project settings</em> and <em>preferences</em> will be made available to users. However, it is now possible to set these defaults by editing the Semantic Turkey property files, as specified in the <a>properties</a> section of the ST manual</p>
	
	
<h2><a name="exceptions_management">Exceptions Management</a> </h2>
<p>In Semantic Turkey, exceptions 
  thrown by java code are managed by an handler that creates a dedicated response to the client. Semantic Turkey always returns a HTTP 200 code in that any exception that is generated  &quot;in app&quot; is considered to be part of the normal behavior of the system (e.g. if a service invocation requests to delete a class and the request cannot be satisfied because the class has instances, this is dealt within the semantics of the application that are embedded within the content level of the message, while the response's code is 200 because the request has been received and properly managed). At the content level of the response, messages referring to exceptions produced by ST are explicitly represented as exceptions. </p>
<p>In the VocBench client, exceptions returned by the server raise exceptions in the client code. The HttpManager service has a general handler for exceptions that produce a red dialog window in VocBench, reporting the error, the message of the exception and a &quot;details&quot; section with the stacktrace of the exception in the server. A dedicated handler allows the requester to specify, through a parameter of the request, a list of exceptions that should not be intercepted by the general handler. These exception will thus &quot;bubble up&quot; in the client code, which can thus catch it and create a dedicated alert (e.g. in the previous example, the rejection of the action does not need any scaring &quot;red window&quot; nor to show the stacktrace in java: it's a normal even that occurs as users might request to delete a class without knowing that it has instances: a reassuring message can thus be shown to the user, asking if they want to force the deletion of the class or cancel the action).</p>

<p>
  The following examples and code snippets should allow for a more in-detail understanding of how VB handle exceptions.
</p>
<p><a href="https://bitbucket.org/art-uniroma2/vocbench3/raw/6b3664f4db332e12380b0d8ed381f12f852b341d/src/app/services/skosServices.ts">SkosServices.ts</a> contains the code responsible for the invocation of SemanticTurkey's SKOS services class. Some of the exceptions that might be thrown from <code>createConcept</code> are:</p>
<ul>
  <li><i>PrefAltLabelClashException</i>: When there is a concept that has the provided label as alternative label;</li>
  <li><i>PrefPrefLabelClashException</i>: When already exists a concept with the same preferred label provided;</li>
  <li><i>BlacklistForbiddendException</i>: Thrown when the term provided as concept label has been blacklisted previously.</li>
</ul>
<p>
  In all these three cases it would be preferrable to handle such exceptions and allow further operations (e.g. allow user to force the creation of the concept) instead of simply show a  error red alert.
  So, in preparing the options for invoking the <em>createConcept</em> service through the HTTP Manager, we add to <code>exceptionsToSkip</code> the class names of the exceptions we want to handle separately. Such exceptions will be ignored by the default handler in HttpManager.
</p>
<div>
  <pre>
    <code>
      createConcept(label: ARTLiteral, conceptSchemes: ARTURIResource[], ...) {
        let params: any = {
          label: label,
          conceptSchemes: conceptSchemes,
          //...other params
        };
        let options: VBRequestOptions = new VBRequestOptions({
          errorAlertOpt: { 
            show: true, 
            exceptionsToSkip: [
              'it.uniroma2.art.semanticturkey.exceptions.PrefAltLabelClashException',
              'it.uniroma2.art.semanticturkey.exceptions.PrefPrefLabelClashException',
              'it.uniroma2.art.semanticturkey.exceptions.BlacklistForbiddendException'
            ] 
          } 
        });
        return this.httpMgr.doPost(this.serviceName, "createConcept", params, options)
      }
    </code>
  </pre>
</div>

<p>
  The following code is from <a href="https://bitbucket.org/art-uniroma2/vocbench3/raw/6b3664f4db332e12380b0d8ed381f12f852b341d/src/app/utils/VBActions.ts">VBActions.ts</a>,
  where the createConcept service is invoked. As you can see, in case of failure, the returned error can be properly handled.
</p>
<div>
  <pre>
    <code>
      this.skosService.createConcept(data.label, data.schemes, ...).subscribe(
        () => { 
          //concept created succesfully
        },
        (err: Error) => {
          if (err.name.endsWith('PrefAltLabelClashException')) {
            //handler of PrefAltLabelClashException
          } else if (err.name.endsWith('PrefPrefLabelClashException')) {
            //handler of PrefPrefLabelClashException
          } else if (err.name.endsWith('BlacklistForbiddendException')) {
            //handler of BlacklistForbiddendException
          }
        }
      );
    </code>
  </pre>
</div>
	
	<h2><a name="extensions_development">Extension Development</a></h2>
<p>VocBench UI cannot (currently) be extended "per se", but it features several functionalities that can be based on different implementations, provided in the forms of extensions. VocBench's backend service platform, <a href="https://semanticturkey.uniroma2.it/">Semantic Turkey</a>, has several "extension points", that is, well-defined interfaces in the code for functionalities that can be implemented in different ways and deployed in the platform in the form of plugins.</p>
	<p>A dedicated <a href="https://semanticturkey.uniroma2.it/doc/dev/#extension_point_development">Extension Point development page</a> on Semantic Turkey's site describes the set of extensions points available for the platform, their interfaces and the ways these can be implemented</p>
	
</ui:define>
</body>
</html>
