<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../styles/art.css" rel="stylesheet" type="text/css" />  
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>RDF Transformers Library</h1>
<p>This section (still <em>work in progress</em>) is meant to host configurations for RDF Transformers that have very variable settings in VocBench.</p><h2>Sections Index
</h2>
<p>We list here the library sections related to different configurable export filters in VocBench</p>

<ul>
<li><a href="sparql.jsf">RDF Transformers: the SPARQL transformer</a></li>
</ul>
</ui:define>

</body>
</html>
