<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../styles/art.css" rel="stylesheet" type="text/css" />  
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="head">
  <link rel="stylesheet" title="Default" href="../../../js/pre_default_style.css"/> 
  <script type="text/javascript" src="../../../js/jquery/jquery-1.2.5.js"></script>  
  <script type="text/javascript" src="../../../js/chili/jquery.chili-2.2.js"></script> 
  <script type="text/javascript" src="../../../js/chili/recipes.js"></script>
  <script type="text/javascript" src="../../../js/d13.js"></script>
</ui:define>

<ui:define name="mainContent">

<h1>The SPARQL RDF Transformer</h1>
<p>We provide here a collection of SPARQL transformers for covering common export needs.</p>

<div id="IndexDiv"><script type="text/javascript" src="../../../js/indexCreator.js"></script></div>


<h2>Export a Selected Scheme from a Thesaurus</h2>
<p>Realizing the  export of a scheme might not be so straightforward:  an RDF thesaurus could contain a lot of specific RDF constructs defined by  the  community (e.g. developed by means of <a href="../../user/cforms/">Custom Forms</a>) maintaining the thesaurus and not all of them might be local  to scheme, so there is  no way to make a general exporter that works for all thesauri. The following SPARQL code performs general operations that will probably satisfy the need of most thesauri, plus it can represent a starting point for developing a custom exporter for your own thesaurus.</p>
<div>
  <pre><code class="sparql">PREFIX skos: &lt;http://www.w3.org/2004/02/skos/core#&gt;
PREFIX skosxl: &lt;http://www.w3.org/2008/05/skos-xl#&gt;
DELETE {
    ?concept ?p ?o .
    ?label ?pLabel ?oLabel .
    ?scheme ?pScheme ?oScheme .
}
WHERE{
    ?concept a skos:Concept .
    FILTER NOT EXISTS{
        ?concept skos:inScheme|skos:topConceptOf|^skos:hasTopConcept &lt;TARGET_SCHEME&gt; .
    }
    ?concept ?p ?o .
    OPTIONAL {
        ?concept ?p2 ?label .
        ?label a skosxl:Label .
        ?label ?pLabel ?oLabel .
    }
    ?scheme a skos:ConceptScheme .
    FILTER (?scheme != &lt;TARGET_SCHEME&gt;) 
    ?scheme ?pScheme ?oScheme .
    OPTIONAL{
        ?scheme ?p3 ?labelScheme .
        ?labelScheme a skosxl:Label .
        ?labelScheme ?pLabelScheme ?oLabelScheme .
    }
}</code></pre></div>

<p>So, this generic UPDATE removes from the export:</p>
<ul type="disc">
  <li>all triples with the concepts not belonging to the target scheme as their subject</li>
  <li>In       case of a SKOSXL lexicalization, removes all triples defining the reified labels for concepts not in the target scheme (usually two, plus all triples starting or ending in the       URI of the reified label in case of lexical relationships)</li>
  </ul>

<p>A further possibility is to remove       all triples with the skos:Concepts and skosxl:Labels not belonging to the selected scheme as their object. With the sparql update above, in case of two       schemes A and B where A is the scheme to be exported, triples such as:</p>
<div>
  <pre><code>:CA skos:related CB</code></pre></div>
<p>  where CB belongs to scheme B, would not be removed (CB would be a &ldquo;mention&rdquo; in the resulting dataset).</p>
</ui:define>
</body>
</html>
