<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench History</h1>
<p>In 2008 the group for Agriculture  Information Management Standards (AIMS) of the Food and Agriculture  Organization of the United Nations (<a href="http://www.fao.org/">FAO</a>) developed a collaborative platform for collaboratively managing their  <a href="https://www.fao.org/agrovoc/">Agrovoc</a> thesaurus. The so-called  &ldquo;Agrovoc Workbench&rdquo; soon met the interest of other FAO departments and several  other organizations interested in open source solutions for collaborative  thesaurus development. </p>
<p>Rebranded as VocBench (VB), to suggest a  more general environment for thesaurus management, the platform was later strongly  reengineered in the context of a collaboration between FAO and the <a href="http://art.uniroma2.it">ART</a> group of the <a href="http://web.uniroma2.it/">University of Rome Tor Vergata</a>. The result of this collaboration,  VocBench 2 (VB2), released in 2013, was  rethought as a fully-fledged collaborative platform for thesaurus management,  freely available and open-sourced, offering native RDF support for SKOS and SKOS-XL knowledge  organization systems, while retaining  from its original version the focus on multilingualism, collaboration, and a  structured content validation and publication workflow. Under the hood, the  original VB1 backend for RDF was replaced with the RDF Management framework <a href="http://semanticturkey.uniroma2.it">Semantic  Turkey</a>, already developed  by the ART Group.</p>
<p>The strengths of the platform included the  possibility for project administrators to define roles with very specific  capabilities and to assign them to different users according to their  proficiencies and authorizations, together with the publication workflow where  dedicated users could supervise the work of others and accept their  modifications. They were appreciated especially by those organizations  requiring a collaborative yet centrally controlled publication environment. Unfortunately,  this controlled approach was realized on a rigid model comprising a few  first-class resources (e.g. concepts, concept schemes, etc.) and predefined  operations on them. Consequently, some other users felt more freedom on data modeling  was missing from the system, desiring unrestricted capabilities for editing  data at its very core, as in triple-oriented RDF editing environments. The  increased freedom would also reflect in the possibility to customize the  models, going beyond plain SKOS/SKOS-XL modeling, which is sometimes a must for  users dealing with complex, yet still KOS-like, resources.</p>
<p>VocBench 3 (or, simply, VB3) was planned to  overcome the above limitations, while broadening the original scope of the  platform to a general-purpose collaborative environment for development of SKOS  thesauri, OWL ontologies and RDF datasets in general. The VocBench 3 project has been funded by Action 1.1 of the <a href="https://ec.europa.eu/isa2/">ISA2 Programme</a> of the European  Commission for &ldquo;Interoperability solutions for public administrations,  businesses and citizens&rdquo;.  The action has been managed by the <a href="https://publications.europa.eu/">Publications Office of the European Union</a>.  VB3 has been developed in close collaboration with the ART group of the  University of Rome Tor Vergata, the same group that contributed to the  development of the second version of the platform. <br />
  VocBench 3 was released to the public on September  2017, under a <a href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause license</a>.</p>
</ui:define>
<p>Currently,  the project funding VocBench, together with <a href="http://showvoc.uniroma2.it">ShowVoc</a> (a companion application to VocBench for data publication and fruition) is being funded by the <a href="https://digital-strategy.ec.europa.eu/en/activities/digital-programme">DIGITAL programme of the EU</a>.
</p>
<h2>Is the 3 in VocBench 3 a version number?</h2>
<p>In a sense...yes :-) VocBench 3 is the third incarnation of the VocBench platform, considering all the time that the platform has been strongly reengineered (with most of its parts built from scratch). </p>
<p>However, VocBench follows the <a href="https://semver.org/">Semantic Versioning</a> standard and thus changes its major version number for much less than a overall rewrite of the system. As a consequence, we adopted the &quot;3&quot; as part of the name of the application. So, when you read something like &quot;VocBench 3 v. 11.1&quot; that means software version 11.1 of the 3rd incarnation of the VocBench system.</p>
</body>
</html>
