<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench Documentation</h1>
<p>This documentation page is focused on VocBench 3, the new version of VocBench since 2017.</p>
<p>Documentation for the previous version of VocBench, VB2, can be found <a href="../documentation">here</a>.</p>
<p>A comparison of the two versions of the system is available <a href="vb2_vs_vb3.jsf">here</a>. This is outdated now, not reflecting all the features added to VocBench 3 in the last years.</p>

<div id="IndexDiv"><script type="text/javascript" src="../js/indexCreator.js"></script></div>

<h2>Requirements and Installation</h2>
<h3>Requirements</h3>
<p>VocBench 3 comes with a standalone distribution (see the <a href="http://vocbench.uniroma2.it/downloads">downloads</a> page) which includes:</p>
<ul>
  <li>the <a href="http://semanticturkey.uniroma2.it">Semantic Turkey</a> RDF services platform</li>
  <li>the Vocbench web application</li>
</ul>
<p>For a basic use of the system, it suffices to download the above distribution and install <a href="https://www.oracle.com/java/technologies/javase/jdk17-archive-downloads.html">Java 17</a> (or a more recent version).</p>

<h4>Other Options</h4>
<p>We recommend use of a separate, dedicated triple store for storing the data, while adopting local repositories only for small projects and for quickly playing with the system. </p>
<!--In particular, due to a <a href="https://github.com/eclipse/rdf4j/issues/749">bug</a> in RDF4J, <em>NativeStore</em> repositories might not be properly persisted if the server is closed abruptly, without closing the project holding the repository first.-->
<p>Optionally, a separate http server can be used for hosting the web application. </p>
<p>More details for both options are provided in the <a href="sys">system administrator manual</a>.</p>

<h4>docker distribution</h4>
For those proficient with <a href="https://www.docker.com/">Docker</a>, a docker distribution has been <a href="https://bitbucket.org/art-uniroma2/vocbench3-docker/">made available</a> along with the standalone distribution. The readme file available on the docker project explains everything about installation and run; the following instructions are thus related to the standalone distribution.

<h3>Installation</h3>
<p>Installation of the system is pretty immediate: unzip the standalone distribution and that's all! So, even if you start completely from scratch, downloading and installing java and then downloading VocBench shouldn't take more than 10'</p>
<p>More advanced installation options are described in the <a href="sys">system administrator manual</a>.</p>

<h3>Running the system</h3>
<p>Just:</p>
<ul>
  <li>run the <span class="code">semanticturkey</span> (with extension: .bat in Windows systems and .sh in UNIX ones) script from the <span class="code">/bin</span> directory of the distribution and wait for the console to prompt the messages shown in the following screenshot:
  <img src="images/start-console.png" alt="Console messages at start" class="inline" />
  </li>
  <li>point your browser to: <a href="http://localhost:1979/vocbench3">http://localhost:1979/vocbench3</a></li>
  </ul>

<h3>Test Drive</h3>
<p>Following the installation, if you are familiar with RDF editors, you may want to try immediately a quick <a href="user/test_drive.jsf">Test Drive</a>, and read the manual later for getting more details about the system</p>
<h2>Manuals</h2>
<p>The <a href="user">user  manual</a> details all (well, <em>all</em>..we are always improving the application, and we hope to keep up with the docs!) the operations that users can perform on the application.</p>
<p>The <a href="sys">system administrator manual</a> deals with various installation options and all the advanced features related to system customization/reconfiguration that need to be performed under the hood</p>
<!-- <p>The <a href="adv">advanced user manual</a> deals with advanced features related to system customization/reconfiguration.</p> -->
<p>The <a href="dev">developer manual</a> provides behind-the-stage information for VB developers, third party developers and anybody interested in how VB works</p>
<h2>Additional Documentation</h2>
<p>The <a href="faq">FAQ</a> page provides information about frequently asked questions.</p>
<p>The <a href="tipsntricks">Tips 'n' Tricks</a> page goes beyond the normal documentation, putting together several ideas for supporting complex use cases.</p>
<p>The <a href="troubleshooting">troubleshooting</a> section of this site deals with any problem in making VocBench work..at any cost! :-). This may be related to known bugs or issues with the adopted technologies.</p>
<h2>Videos</h2>
<p>The <a href="user/videos.jsf">videos page</a> is collecting references to interesting presentations and tutorials about VocBench</p>


<h2>SKOS Development Pages</h2>
<p>While not intended as a full SKOS guide, the <a href="skos.jsf">SKOS Development</a> pages provide insights on aspect of SKOS development which are usually less known, best practices and also typical modeling issues and how they are dealt with in VocBench.</p>


</ui:define>
</body>
</html>
