<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

  <h1>List of VocBench related Publications</h1>
  <h2>Main Reference Article</h2>
  
  <p>The VocBench 3 reference paper is the following:</p>
  
  <ul>
 
<li class="publ"> 
<i>Armando Stellato, Manuel Fiorelli, Andrea Turbati, Tiziano Lorenzetti, Willem Gemert, Denis Dechandon, Christine Laaboudi-Spoiden, Anikó Gerencsér, Anne Waniart, Eugeniu Costetchi and Johannes Keizer</i>
<b><i>VocBench 3: A collaborative Semantic Web editor for ontologies, thesauri and lexicons</i>,
Semantic Web,</b> 
doi:10.3233/SW-200370, 
<b>1-27,</b> 05, 2020
<a href="https://content.iospress.com/articles/semantic-web/sw200370"><img src="http://art.uniroma2.it/publications/img/InternetDocument.bmp" width="20" border="0" alt="Document on the Web" /></a>
<a href="http://art.uniroma2.it/publications/docs/2020_SWJ_VocBench3.pdf"><img src="http://art.uniroma2.it/publications/img/pdf.gif" width="20" border="0" alt="Download Local Document" /></a>
</li> 
 
</ul>
  
  <p>VocBench 2 reference paper is the following:</p>
  <ul>
    <li><em>Armando Stellato, Sachit Rajbhandari, Andrea Turbati, Manuel Fiorelli, Caterina Caracciolo, Tiziano Lorenzetti, Johannes Keizer and MariaTeresa Pazienza</em> <strong><em>VocBench: A Web Application for Collaborative Development of Multilingual Thesauri</em>, The Semantic Web. Latest Advances and New Domains, </strong>doi:10.1007/978-3-319-18818-8_3, <strong>(Gandon, Fabien and Sabou, Marta and Sack, Harald and d&rsquo;Amato, Claudia and Cudré-Mauroux, Philippe and Zimmermann, Antoine eds.),</strong> <strong>Lecture Notes in Computer Science,</strong> <strong>9088,</strong> <strong>38-53,</strong> Springer International Publishing, 2015 <a href="http://dx.doi.org/10.1007/978-3-319-18818-8_3"><img src="http://art.uniroma2.it/publications/img/InternetDocument.bmp" width="20" border="0" alt="Document on the Web" /></a> <a href="http://art.uniroma2.it/publications/docs/2015_ESWC15_VocBench.pdf"><img src="http://art.uniroma2.it/publications/img/pdf.gif" width="20" border="0" alt="Download Local Document" /></a></li>
  </ul>  
  <p>Also, you may refer to <a href="http://semanticturkey.uniroma2.it/documentation/publications.jsf">Semantic Turkey</a> publications page in case you want to mention its associated backing RDF framework.</p>
  <p>&nbsp;</p>
  <p>If you are interested in specific uses/applications of VocBench for which is appropriate to add further citations, please get a look at the following publications (ordered by topic) and pick up the reference(s) that best suite your needs</p>
  <h2>Adoption of VocBench for the maintenance of the Agrovoc thesaurus</h2>
  <ul>
    <li><em>Caterina Caracciolo, Armando Stellato, Sachit Rajbhandari, Ahsan Morshed, Gudrun Johannsen, Yves Jaques and Johannes Keizer</em> <strong><em>Thesaurus Maintenance, Alignment and Publication as Linked Data - The AGROVOC Use Case</em>, International Journal of Metadata, Semantics and Ontologies,</strong>, pp. 65-75, v. 7, Issue 1, Inderscience Publishers, DOI: 10.1504/IJMSO.2012.048511; ISSN: 1744-2621 (Print); 1744-263X (Online), , 14 August 2012</li>
  </ul>
  <p>&nbsp;</p>
  <h2>Extensions or complementary tools to VocBench</h2>
  <p>Check the <a href="http://art.uniroma2.it/sheet2rdf/documentation/publications.jsf">publications</a> page of Sheet2RDF, a system for lifting spreadsheet data to meaningful RDF content.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

<h2>Other Publications about VocBench 3</h2>
<ul>
    <li class="publ">
<i>Armando Stellato, Andrea Turbati, Manuel Fiorelli, Tiziano Lorenzetti, Eugeniu Costetchi, Christine Laaboudi, Willem Van Gemert and Johannes Keizer</i>
<b><i>Towards VocBench 3: Pushing Collaborative Development of Thesauri and Ontologies Further Beyond</i>,
Proceedings of the 17th European Networked Knowledge Organization Systems Workshop, co-located with the 21st International Conference on Theory and Practice of Digital Libraries 2017 (TPDL 2017)</b> 
<b>VOL. 1937,</b><b> pp. 39-52,</b>  2017
<a href="http://ceur-ws.org/Vol-1937/paper4.pdf"><img src="http://art.uniroma2.it/publications/img/InternetDocument.bmp" width="20" border="0" alt="Document on the Web"/></a>
</li>
</ul>
  
  
</ui:define>
</body>
</html>
