<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />   
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>SKOS Development</h1>
<p>While not intended as a full SKOS guide, this page provides insights on aspect of SKOS development which are usually less known, best practices and also typical modeling issues and how they are dealt with in VocBench.</p>
<h2>Concept Scheme Management and Multiple Schemes</h2>
<p>A <em>concept scheme</em> identifies a single thesaurus or, more in general, a KOS (Knowledge Organization System). This is explained in different sections of the <a href="http://www.w3.org/TR/skos-primer/">SKOS Primer</a> guide. However, in SKOS, it is possible to use Concept Schemes in more advanced forms that, in general, imply the reuse of concepts across different schemes.</p>
<p>There can be different  scenarios: for instance, there can be a thesaurus with completely disjoint  schemes or, conversely, one scheme containing everything, and then some  <em>views</em> over the full content. An example of a view is a concept scheme defining a subtree  which is rooted on a concept which is not a topconcept of the main scheme. This is shown in the following code sample:</p>
<pre>
&lt;S1&gt; a skos:ConceptScheme .<em><br /></em>&lt;S2&gt; a skos:ConceptScheme .
&lt;C1&gt; a skos:Concept .<em></em>
&lt;C2&gt; a skos:Concept .<em></em>

&lt;C1&gt; skos:topConceptOf  &lt;S1&gt; .
&lt;C2&gt; skos:inScheme      &lt;S1&gt; .<em>
</em>&lt;C2&gt; skos:broader       &lt;C1&gt; .<em><br /></em>

&lt;C2&gt; skos:topConceptOf  &lt;S2&gt; .</pre>
<p>So, in S1, C1 is a topConcept, and C2 is a concept positioned &quot;under&quot; C1. <br />
  However, in the scheme S2, C2 is a top concept, and C1 is not present there.</p>
<p>It is possible even to have  a mix of both situations, with some main  disjoint schemes (i.e. no concepts in common) and some other schemes providing  views over them, or even have partially overlapping schemes.</p>
<p>VocBench accounts for all of the above situations, and provide support in dealing with all of them.</p>
<h3>ConceptScheme URI Naming Best Practices</h3>
<p>There is no explicit rule nor consensus on how to name concept schemes. A quite common practice is to give the <em>main scheme</em> of a thesaurus (e.g. the scheme - if any - which usually holds all of its concepts), a URI equal to the thesaurus baseuri, <em>minus</em> the trailing slash. </p>
<p>E.g. in the case of Agrovoc, the baseuri is: http://aims.fao.org/aos/agrovoc/ <br />
  and the URI of the main scheme is: http://aims.fao.org/aos/agrovoc</p>
<p>For other schemes, usually they follow the same URI pattern of concepts, that is: baseuri + local name.</p>
<h3>Cross-Scheme Management</h3>

<p>SKOS Cross-Scheme Management deals with the possibility of having same concepts belonging to different schemes, instead of just having separate trees (bound to different schemes) of non-interlacing concepts.</p>
<p>Two important considerations hold:</p>
<p>Scope of broader/narrower relations: (see end of <a href="http://www.w3.org/TR/skos-primer/#secscheme">section 2.5</a> of the SKOS Primer): <em>in SKOS, the  broader/narrower relationship is not local to a scheme, so if you define a  concept as broader/narrower of one another, this will happen everywhere</em></p>
<p>Visibility: <em>for a concept C to be visible in a scheme S,  it must not only belong to it, but there should be a clear path from a  top concept of S to C, running through all concepts belonging to S</em> <em>(this trivially includes C being a topConceptOf S)</em></p>
<p>please notice in fact that SKOS <a href="http://www.w3.org/TR/skos-reference/#L2577" rel="nofollow">L2577</a> tells that:</p>
<pre>&lt;A&gt; skos:narrower &lt;B&gt; .<br />&lt;A&gt; skos:inScheme &lt;MyScheme&gt; .<br /><em>does not entail<br /></em>&lt;B&gt; skos:inScheme &lt;MyScheme&gt; .</pre>
<p>So, it is important that, for a given scheme, a tree based on a scheme view is never broken, that is, all of the concepts on its branches, belong to that scheme.</p>
<h3 id="SKOSCross-SchemeManagement-Assumptions">Legal Configurations and Integrity breaks</h3>
<p>Note that some options (that could seem to represent an integrity break) may be actually desired by the user, and should thus not be forbidden <em>in toto</em>. For instance, in the case of the sequence of concepts:</p>

<pre>
A skos:broader ..; skos:inScheme S .  <em>(the rest of the tree, here we limit to consider these three concepts)</em>
B skos:broader A
C skos:broader B
</pre> 

  
<p>if it is desired that <em>scheme S</em> shows only <em>concept A</em>, then it is admittable to have only <em>A skos:inScheme S</em>. The tree branch will be interrupted on A, but that's fine, because maybe, in the intention of the publisher, that branch should represent only some high-level concepts and be interrupted from showing further narrower concepts.</p>
<p>Also, a sequence like this is legal as well:</p>
<code>A skos:broader .. ; skos:inScheme S . <br />
  B skos:broader A   <br />
  C skos:broader B ; skos:topConceptOf S</code>
<p>In the above case, <em>A</em> (following its broader concepts not reported here) will be shown. <em>B</em> will be left out, but <em>C</em>, though being narrower of <em>A</em>, will be shown <em>also</em> as topConcept of that same scheme S (you may find it weird, but SKOS allows for that, not only because it is possible to write these triples, but this is a concrete possibility suggested in the specifications)
</p>
<p>On the contrary, a sequence like this is <em>not</em> legal:</p>
<code>A skos:broader .. ; skos:inScheme S . <br />
  B skos:broader A   <br />
  C skos:broader B ; skos:inScheme S .</code>
<p>In the above case, <em>C </em>is <em>skos:inScheme</em> <em>S</em>, but has not broader concept which is also <em>skos:inScheme S</em>, nor it is a <em>skos:topConceptOf S</em>, thus there is no reachability for it, i.e. there is no path going from a topConcept of S to it which passes through all concepts which are bound through a <em>skos:broader</em> chain AND are <em>all skos:inScheme</em> <em>S</em>. The concept is thus not reachable from the tree and thus will never be visible on the concept panel when the view on scheme S is activated.</p>
<h3 id="SKOSCross-SchemeManagement-Checks">Checks</h3>
<p>We report here a series of checks that are carried out by VocBench. These checks are applied when adding/removing concepts from a scheme, when asserting/retracting broader/narrower relationships and, in general, with all other operations which could cause a integrity break according to the above configurations.</p>
<h4 id="SKOSCross-SchemeManagement-Removingaconceptfromascheme">Removing a concept from a scheme</h4>
<p>When removing a concept C from a scheme TS, the operation should be allowed unless</p>
<p>1) C belongs only to TS (otherwise C itself would remain dangling )<br />
  2) there is a chainbreak (CB) due to at least one of C narrowers remaining dangling in TS.<br />
  The check should be as defined below:<br />
  For each concept N narrower of C:.</p>
<ul>
  <li>If N doesn&rsquo;t belong to scheme TS, then there it is not causing a CB.</li>
  <li>If N is in scheme TS, but it is a top concepts of TS, then it is not a problem, because you won&rsquo;t break any chain, as it is also topconcept of TS and thus visible even if its broader is removed from TS. You could ask: how is it possible that a concept is narrower of another concept which is in TS, and be also a topConcept of TS? Well, in SKOS this is possible… (that&rsquo;s the weird thing I told in the previous email when I joked about our innocence wrt to SKOS weirdness in the first days of development of ST <img height="16" width="16" src="https://art-uniroma2.atlassian.net/images/icons/emoticons/smile.gif" data-image-src="https://art-uniroma2.atlassian.net/images/icons/emoticons/smile.gif" /> ). In that case, when viewing scheme TS, you would see N both under C and as a topConcept.</li>
  <li>One further check you could add is: if after the above checks, you have some N which seems to be causing a CB, you could check if N as some other broader (not C) which is in TS. In that case, N would be reachable in any case. Note: this check would just widen the possibilities. By not applying it, you are not causing any damage, you are just forbidding removal in a case where it could be admitted. My suggestion is that you do not carry it, and we will do everything server side in ST core SKOS services on VB2.2.</li>
</ul>
<h2>&nbsp;</h2>
</ui:define>
</body>
</html>
