<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />   
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">
  <h1>A comparison between VocBench 2 and VocBench 3</h1>
  <p><strong style="color: #06F">VocBench 2</strong>, developed by the <a href="http://art.uniroma2.it/">ART Group</a> in the context of a collaboration with the <a href="http://www.fao.org/">Food and Agriculture Organization of the United Nations (FAO)</a>, offered a web environment for maintaining thesauri, code lists and authority resources, providing advanced collaboration features such as history, validation and a publication workflow, and multi-user management with <em>role-based access control</em>.</p>
  <p>We provide a <a href="doc/vb2_vs_vb3.jsf">list of the features</a> offered by VocBench 3 and a comparison between the two versions to show early adopters of VocBench which benefits they take from moving to VB3 and newcomers what they may find in the platform.</p>
  <p><strong></strong></p>
  <p>VocBench 3 aims at improving its previous incarnation by setting new standards for flexibility, openness and expressive power as a free and open source RDF modelling platform. </p>
  <p>With respect to VocBench 2, the current version of VB3 offers a much more flexible environment, fine grained RDF editing, support for several core modeling vocabularies.</p>
  <p>The following table provides a simple feature comparison between VocBench 2 and VocBench 3. The table does not represent the many other improvements that VB3 brings over VB2 (and is now outdated, not including all recent improvements to VB3 since 2019), it is however useful in terms of a macroscopic feature comparison.</p>
  <p>&nbsp;</p>
  <table width="1024" border="1">
    <tbody>
    <tr>
      <th bgcolor="#305A5F" scope="col" width="200"><strong style="color: #FFFFFF">Feature</strong></th>
      <th bgcolor="#305A5F" scope="col" width="500"><strong style="color: #FFFFFF">VB3</strong></th>
      <th bgcolor="#305A5F" scope="col" width="400"><strong style="color: #FFFFFF">VB2 </strong></th>
      </tr>
    <tr>
      <th scope="row">SKOS Editing</th>
      <td><p>YES. <br />
        - Support for both SKOS and SKOS-XL labels<br />
        - Support for SKOS reified notes by means of 
        <a href="user/custom_forms.jsf">Custom Forms</a></p></td>
      <td><p>YES, but with the following limitations:<br />
        - 
        only SKOS-XL labels<br />
        - no support for collections</p></td>
      </tr>
    <tr>
      <th scope="row">SKOS-XL Editing </th>
      <td>YES </td>
      <td>YES</td>
    </tr>
    <tr>
      <th scope="row">OWL Editing</th>
      <td>YES (OWL2)</td>
      <td> NO</td>
    </tr>
    <tr>
      <th scope="row">OntoLex Editing</th>
      <td>YES</td>
      <td>NO</td>
      </tr>
    <tr>
      <th scope="row">RDF Editing Capabilities</th>
      <td>YES, Unrestricted</td>
      <td> Governed by Tabs, scoped on skos:concepts and skosxl:Labels<br /></td>
      </tr> 
    <tr>
      <th scope="row">SPARQL Support</th>
      <td>YES<br />
        With syntax highlight and completion fed by the vocabularies imported in the managed dataset<br />
        Support for storable queries/updates</td>
      <td>YES, with syntax highlight</td>
    </tr>
    <tr>
      <th scope="row">Interaction with external triple stores</th>
      <td><p>Support for RDF4J, GraphDB and, potentially, with other stores compliant with RDF4J client API. Compliancy with RDF4J's sail mechanism is required for store-side facilities such as history and validation.</p>
        <p>Improved wrt VB2, it is now possible to directly create and configure the repository, with configuration options for RDF4J and GraphDB (both free and SE sails)</p></td>
      <td><p>Support for RDF4J, GraphDB (and, potentially, with other stores compliant with RDF4J client API)</p>
        <p>Limited to connection to existing repositories</p></td>
    </tr>
    <tr>
      <th scope="row">Access Control and User Management</th>
      <td>YES</td>
      <td>YES</td>
      </tr> 
    <tr>
      <th scope="row">Role Based Access Control (RBAC) </th>
      <td>YES: a much more flexible system than in VB2, it is possible to completely customize roles and capabilities, and even create new ones very easily</td>
      <td>YES</td>
      </tr> 
    <tr>
      <th scope="row">History</th>
      <td>YES; stored as triples in a triple store; content as action metadata <em>and</em> actual list of changed triples</td>
      <td>YES; stored on a separated SQL database; content limited to action metadata</td>
      </tr> 
        <tr>
      <th scope="row"> Action Validation</th>
      <td>YES: with validation enabled, all changed triples are reified and stored in a staging repository; normal triples are stored in a staging graph for temporary visualization. Upon validation, these are moved to the working graph (and in case of history, saved as reified changed triples on the history repository)</td>
      <td>YES (upon rejection of action <em>A</em>, a&nbsp;a counter-action to <em>A</em> is fired)</td>
      </tr> 
        <tr>
      <th scope="row">Publication Workflow</th>
      <td><p>YES; streamlined wrt VB2, now it is interwoven with the validation mechanism. Any triples added/removed through validation are stored in a dedicated store and <em>previewed </em>in a dedicated graph of the main data store. </p>
        <p>Thus, resources with their definition (i.e. triples with rdf:type) still under validation are assumed to be <em>new resources</em> while if their definition is being deleted (under approval of validation) these are considered to be <em>proposed for deletion</em>, without needing a dedicated status property for that. The only explicit status is related to deprecated resources, adopting the standard <em>owl:deprecated</em> property. Resources with their owl:deprecated status being under validation are considered as <em>proposed for deprecation</em>.</p></td>
      <td> YES</td>
      </tr> 
        <tr>
          <th scope="row">Provenance</th>
          <td>YES; everything is stored in RDF, using widespread vocabularies for provenance (e.g. <a href="http://www.w3.org/TR/prov-o/">PROV-O</a>)</td>
          <td>YES (on the relational DB)</td>
        </tr>
        <tr>
      <th scope="row">Customizable Forms</th>
      <td>YES: possibility to define <a href="user/custom_forms.jsf">Custom Forms</a> when adding new instances of certain classes or new values of certain properties</td>
      <td>NO</td>
      </tr> 
        <tr>
      <th scope="row">Integrated Constraint Validation</th>
      <td>YES: several ICV checks and fixing actions are available</td>
      <td>NO</td>
      </tr> 
        <tr>
      <th scope="row">Alignment Support</th>
      <td>YES. Improved wrt VB2 as it provides semi-automatic alignment</td>
      <td> YES</td>
      </tr> 
        <tr>
          <th scope="row">Alignment Validation</th>
          <td><p>YES: an integrated system for analyzing mapping documents following <a href="http://alignapi.gforge.inria.fr/">INRIA's Alignment Ontology<br />
          </a>and extending it for evaluating alignments and/or validating them in order to </p></td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">Metadata Vocabularies</th>
          <td>YES: Support for <a href="http://www.w3.org/TR/void/">VoID</a>, <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a>, <a href="http://www.w3.org/TR/vocab-dcat">DCAT</a>, <a href="https://joinup.ec.europa.eu/asset/dcat_application_profile/">DCAT-AP</a>, <a href="http://www.w3.org/TR/vocab-adms">ADMS</a>. <br />
            More can be added through a dedicated extension point.</td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">Metadata Registry</th>
          <td>A metadata registry inside VocBench caches all of the metadata information gathered from visited datasets on the Web. The information can be complemented by users.<br />
            The metadata registry adopts all of the most renowned metadata vocabularies (<a href="http://www.w3.org/TR/void/">VoID</a>, <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a>, <a href="http://www.w3.org/TR/vocab-dcat">DCAT</a>, <a href="https://joinup.ec.europa.eu/asset/dcat_application_profile/">DCAT-AP</a>, <a href="http://www.w3.org/TR/vocab-adms">ADMS</a>) and combines them into a complete registry</td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">LOD Navigation</th>
          <td>YES: when mention of an external resource is present in the edited dataset, VB3 will access the web to recover the data and present it uniformly in the same interface used for the local one. The information stored in the metadata registry will be exploited to use the best resource (e.g. SPARQL endpoint over simple http dereferenciation) to recover the data and to recover it in the best way for presentation (e.g. by knowing the adopted lexicalization model thanks to  <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a> metadata)</td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">Versioning</th>
          <td><p>YES: users can create snapshots of a repository and tag them  with a version identifier (and other metadata, such as the time of creation of  the snapshot). It is possible to time-travel through different versions of the edited repository</p></td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">RDF Transformers</th>
          <td><p>YES<br />
            Extension point for connecting RDF Transformation Engines. A few implementations are already available. The most general one is a SPARQL Update transformer, that allows to virtually apply any transformation to the data being imported/exported.<br />
            Can be used for dataset import and export, and for processing the results of SPARQL Graph queries (i.e. DESCRIBE and CONSTRUCT) before they are exported.<br />
            Chain of configured exporters
            can be stored, with different scopes (user, project, system and user-on-project)<br />
          </p></td>
          <td>NO<br />
          Only a few refactoring utilities and an export option for SKOSXL--&gt;SKOS</td>
        </tr>
        <tr>
          <th scope="row">Advanced Search</th>
          <td>YES</td>
          <td>YES</td>
        </tr>
        <tr>
          <th scope="row">Customizable Search Support</th>
          <td>YES, powered by user-defined SPARQL queries that can be stored as custom searches</td>
          <td>NO</td>
        </tr>
        <tr>
          <th scope="row">Collaboration System Support</th>
          <td><p>YES: an extension point allows to connect different collaboration systems. Extension for JIRA available.</p></td>
          <td>NO</td>
        </tr>                
        <tr>
          <th scope="row"><p>Spreadsheet<br />
          Import</p></th>
          <td><p>Sheet2rdf included in the system. It allows to import spreadsheet's content (in various formats, from Excel to various open formats) and to triplify it by using a transformation language: <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a>. A convention-over-configuration approach allows users to get most of the transformation already computed by the system, basing on heuristics and spreadsheet patterns.</p></td>
          <td>NO</td>
        </tr>
    </tbody>
</table>

  <h2>VocBench 2 Downloads</h2>
  <p>VocBench 2 installation packages are available from its <a href="https://bitbucket.org/art-uniroma2/vocbench2/downloads">bitbucket page</a>. 
    Check the <a href="../documentation">documentation</a> page for detailed instructions about its installation</p>
  <p>The source code of VocBench 2 is available via GIT from its&#160;<a href="https://bitbucket.org/art-uniroma2/vocbench2">project site</a>.</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ui:define>
</body>
</html>
