<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Loaders</h1>
    <p>Loaders provide Vocbench with the ability to load data from various kinds of sources such as files, triple stores and custom sources. On the "Load Data" page, the desired type of source can be chosen using the combobox labelled "Load from".</p>
	  
	<div id="IndexDiv">
		<script type="text/javascript" src="../../../../js/indexCreator.js"></script>
	</div>  	  
	
    <h2>Available extensions</h2>
    <p>This section lists all extensions bundled with the current VocBench.</p>  

    <p>Details about the extension point and its available plugins, such as the interface definition, method signatures and parameters description are provided on dedicated <a href="https://semanticturkey.uniroma2.it/doc/sys/loader.jsf">Semantic Turkey pages</a>.</p>
	  
    <h3>Graph Store HTTP Loader</h3>
    <p>This loader loads RDF data from a source complying with the SPARQL 1.1 Graph Store HTTP Protocol. You can use it to load graph data from a remote repository.</p>
     
    <div class="figure"><img src="images\GraphStoreHTTPLoaderConfiguration.png" alt="Graph Store HTTP Loader Configuration" /></div>        

    <p>Configuration:</p>     
    <ul>
    <li><em>Graph Store HTTP endpoint</em> (required): The address (URL) of the endpoint from which the data will be loaded.</li>  
    <li><em>Source graph</em> (optional): The graph where data should be loaded from. If not provided, the default graph is used.</li>    
    <li><em>Username</em> and <em>Password</em>: Username and password (if required by the server).</li>  
    </ul>  
    
    <p>The following example shows the general pattern for GraphDB. In this example {repositoryID} is a placeholder for the repository name. If you use another triple store, please consult its documentation.</p>

    <ul>
    <li><em>Graph Store HTTP endpoint</em>: http://localhost:7200/repositories/{repositoryID}/rdf-graphs/service</li>
    </ul>
    
    <h3>HTTP Loader</h3>
    <p>This loader uses the Hypertext Transfer Protocol (HTTP). HTTP is a stateless application-level protocol and it requires a reliable network transport connection to exchange data between client and server.</p>

    <div class="figure"><img src="images\HTTPLoaderConfiguration.png" alt="HTTP Loader Configuration" /></div>

    <p>Configuration:</p> 
    <ul>
    <li><em>Endpoint</em> (required): The address (URL) of the endpoint from which the data will be loaded.</li>  
    <li><em>Query parameters</em> (optional): Additional query parameters.</li>
    <li><em>Request headers</em> (optional): Additional request headers.</li>
    <li><em>Enable Content negotiation</em> (required): Enables content negotiation based on the user-supplied data format.</li>
    <li><em>Report content type</em> (required): Tells the loader to report the content-type received by the server</li>    
    <li><em>Username</em> and <em>Password</em>: Username and password (if required by the server).</li>  
    </ul> 
            
    <h3>SFTP Loader</h3>
    <p>This loader uses the Secure File Transfer Protocol (SFTP). SFTP is a network protocol that provides file access, file transfer, and file management over any reliable data stream.</p>
	  
    <div class="figure"><img src="images\SFTPLoaderConfiguration.png" alt="SFTP Loader Configuration" /></div>
    <p>Configuration:</p>     
    
    <ul>
    <li><em>Host</em> (required): The name/address of the source host, i.e. an IP address or a domain name, identifying a machine on which there is an active SFTP service.</li>
    <li><em>Port</em> (required): The target port (integer, default: 21).</li>
    <li><em>Server key fingerprint</em> (required): The fingerprint of the target server. The allowed forms are (MD5:)?[\\dA-F][\\dA-F](:[\\dA-F][\\dA-F]){15} and SHA(1|224|256|384|512):[Base64 encoding without trailing =].</li>
    <li><em>Username</em> (required): Username</li>
    <li><em>Password</em> (optional): Password</li>
    <li><em>Timeout (ms)</em> (required): Timeout in milliseconds (default: 300000).</li>
    </ul> 
    
  </ui:define>

</body>

</html>