<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>The administration pages</h1>

        <p>
            By clicking on the top-right corner user button, it is possible to access a series of options for the user. The &quot;Administration&quot; option on the menu allows the administrator to access a set of administration pages for managing users, projects, roles, groups and some core aspects of the application.
        </p>

        <div class="figure"><img src="images/administration.png" alt="Administration" /></div>

        <p>
            By default the <i>Projects</i> page is focused and from the top buttons group it is possible to switch among the pages. For each page a dedicated documentation is available:
        </p>

        <ul>
            <li><a href="users_adm.jsf">Users Management</a></li>
            <li><a href="projects_adm.jsf">Projects Management</a></li>
            <li><a href="roles_adm.jsf">Roles Management</a></li>
            <li><a href="groups_adm.jsf">Groups Management</a></li>
            <li><a href="sys_config_adm.jsf">System configuration</a></li>
            <li><a href="settings_mgr.jsf">Settings Managers</a></li>
        </ul>


    </ui:define>
</body>

</html>