<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
  <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
  <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
  <script type="text/javascript" src="../../js/chili/recipes.js"></script>
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="head">
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
    <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
    <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript" src="../../js/chili/recipes.js"></script>
  </ui:define>
  <ui:define name="mainContent">

    <h1>Custom Forms and Views</h1>

    <p>
        Custom Forms and Custom Views are two distinct tools that complement each other. 
        Detailed documentation for these tools is available at the following pages:
    </p>
    <ul>
        <li><a href="cforms">Custom Forms</a></li>
        <li><a href="custom_views.jsf">Custom Views</a></li>
    </ul>

  </ui:define>
</body>

</html>