<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>The Code view</h1>

        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <h2>Introduction</h2>
        <p>
            VocBench, from version 8.0.0, comes with a powerful tool for editing resources: the Code view. This is an alternative perspective to the <a href="data_view.jsf#the_resource_view">Resource View</a> and the <a href="termview.jsf">TermView</a>.
        </p>

        <h2>The code editor</h2>

        <p>
            The code editor can be activated by clicking on the <i>Code</i> tab at the bottom of the Data view and it is available for every resource, except for those imported by vocabularies (e.g. <i>owl:Thing</i>, <i>skos:Concept</i>, ...).
        </p>

        <img src="images/codeview.png" alt="Code view" class="screenshot" />

        <p>
            The content of the editor is the description of the resource expressed in <a href="https://www.w3.org/TR/turtle/">Turtle</a> format.
        </p>

        <p>
            Authorized users can edit the content and submit the changes through the <i>Apply changes</i> button located on the editor footer.
            The updated code undergoes to a server-side validation process. In case the code is successfully parsed (no syntactic error found) it is compared with the old code in order to detect removed, updated and added triples. Then the resource description is finally updated.
        </p>
        <p>
            Note: This view does not allow editing in projects with <a href="history_and_validation.jsf#validation">validation</a> enabled.
        </p>

    </ui:define>
</body>

</html>