<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />        
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>Collaboration System</h1>
<div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>

<h2>Introduction</h2>
<p>VocBench provides a collaboration mechanism which allows users to link any RDF resoruce inside a project loaded into VocBench to a collaboration platform. At the moment, a Jira and a Freedcamp implementaions are 
provided with VocBench itself.</p>

<h2>Collaboration endpoint configuration </h2>
<p>Once a VocBench project has been selected, the Collaboration endpoint can be configured from the VB main toolbar</p>
<img class="screenshot" src="images/collaborationSystemTools.png" alt="collaborationSystemTools"/>

<p>The first time, you need to configure all the required parameters to connect to a Collaboration project:</p>
<img class="screenshot" src="images/collaborationSystemConf1.png" alt="collaborationSystemConf1"/>

<p>After clicking <i>Project Configuration</i> a <i>Backend type</i> has to be selected. As stated before, at the moment, the two supported are: 
<ul>
<li>Freedcamp backend</li>
<li>Jira backend</li>
</ul>
</p>

<h3>Jira Collaboration endpoint configuration</h3>
<p> After selecting <i>Jira Backend</i> for <i>Backend type</i>, fill other fields (only <i>Server URL</i> is mandatory, the other two, <i>Jira Project Key</i> and <i>Jira Project Id</i> should be filled only if the Jira Project is already know, 
otherwise their values can be obtained from the Jira repository afterwards or a new Jira project can be created from the dedicate UI).</p>
<img class="screenshot" src="images/collaborationSystemConf_Jira1.png" alt="collaborationSystemConf_Jira1"/>

<p>Then you need to provide the credentials (<i>Username</i> and <i><a href="https://id.atlassian.com/manage-profile/security/api-tokens">Token</a></i>/Password ). Whether a password or token is required, it depends on the type of JIRA instance being connected (e.g. cloud, server)</p>
<img class="screenshot" src="images/collaborationSystemConf_Jira2.png" alt="collaborationSystemConf_Jira2"/>

<p>If the non mandatory parameters (<i>Jira Project Key</i>and <i>Jira Project Id</i>) were not specified, it is now possible to create a new Jira Project or connect to an existing one, using the UI. To use an existing Jira Project, 
select it from the list and press <i>Ok</i>. To create a new one, click on <i>+</i> and then set the <i>key</i> and <i>name</i>.</p>
<img class="screenshot" src="images/collaborationSystemConf_Jira3.png" alt="collaborationSystemConf_Jira3"/>

<p></p>
<img class="screenshot" src="images/collaborationSystemConf_Jira4.png" alt="collaborationSystemConf_Jira4"/>




<h3>Freedcamp Collaboration endpoint configuration</h3>
<p> After selecting <i>Freedcamp Backend</i> for <i>Backend type</i>, fill other fields (only <i>Server URL</i> is mandatory, the other two, <i>Freedcamp Project id</i> and <i>Freedcamp task list id</i> should be filled only if the Freedcamp Project is already know, 
otherwise their values can be obtained from the Freedcamp repository afterwards or a new Freedcamp project can be created from the dedicate UI).</p>
<img class="screenshot" src="images/collaborationSystemConf_Freedcamp1.png" alt="collaborationSystemConf_Freedcamp1"/>

<p>Then you need to provide the credentials (<i>API key</i> and <i>API Secret</i>, see <a href="https://freedcamp.com//Mobile_7Yh//iOS_application_6zp//wiki//wiki_public//view//DFaab">here</a> for more info)</p>
<img class="screenshot" src="images/collaborationSystemConf_Freedcamp2.png" alt="collaborationSystemConf_Freedcamp2"/>

<p>If the non mandatory parameters (<i>Freedcamp Project id</i>and <i>Freedcamp task list id</i>) were not specified, it is now possible to create a new Freedcamp Project or connect to an existing one, using the UI. 
To use an existing Freedcamp Project, select it from the list and press <i>Ok</i>. To create a new one, click on <i>+</i> and then set the <i>name</i>.</p>
<img class="screenshot" src="images/collaborationSystemConf_Freedcamp3.png" alt="collaborationSystemConf_Freedcamp3"/>

<p></p>
<img class="screenshot" src="images/collaborationSystemConf_Freedcamp4.png" alt="collaborationSystemConf_Freedcamp4"/>






<h2>Assign an issue (from the selected collaboration system) to an RDF Resource</h2>
<p>Once a Collaboration Project (e.g. Jira or Freedcamp) as been assigned to a VB Project (either by creating a new Project or by selecting an existing one), it is now possible to assign a Collaboration Issue to an RDF Resource. 
This can be done by selecting a Resource inside VB and then click on the <i>!</i> in the upper right part.
There are two possibilities:
<ul>
<li>Create a new Collaboration Issue to the current resource</li>
<li>Search for an existing Collaboration Issue to assign to the current resource</li>
</ul>
</p>
<img class="screenshot" src="images/collaborationSystemAssign1.png" alt="collaborationSystemAssign1"/>

<p>When creating a new Collaboration Issue, two parameters are asked: <i>Summary</i>, mandatory and <i>Description</i>, optional.
When assigning an existing Collaboration Issue, a list of existing Issues is provided, and the user need to select one of them.
If a resource has one or more Collaboration Issues assigned, then its <i>!</i> is blue and not black.  </p>


<h2>List all Collaboration Issues</h2>
<p>It is possible to see all the Issues of the Collaboration Project associated to the current VB Project.
This can be achieved from the VB main toolbar (the same menu entry used before to assign a Collaboration Project). 
For every Collaboration Issue, the key, the summary and the list of RDF Resources associated to such Collaboration Issue:</p>
<img class="screenshot" src="images/collaborationSystemShowIssue1.png" alt="collaborationSystemShowIssue1"/>


</ui:define>
</body>
</html>