<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />      
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="mainContent">

		<h1>Custom Tree</h1>

		<div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>
		
		<h2>Introduction</h2>
		<p>In VocBench there are several tree to show different type of hierarchies, such as the Concept Tree, to show the concepts and their skos:broader/skos:narrower relations or the Class tree
		to show the classes and their rdfs:subClassOf relations. </p>
		<p>In VocBench the administrator can create, for each project, a custom tree to show specific type o RDF resources and decide which property to use for the hierarchy in this tree representation.</p>
		
		<h2>Create a Custom Tree</h2>
		<p>First of all, the Administrator needs to go in the <i>Administration</i> page (by clicking on the avatar on the top right part of the window), then in the <i>Projects</i></p> tab, select the desired project and 
		click on the <i>Project settings</i> and select the tab <i>Other</i>:
		
		<div class="figure">
            <img src="images/customtree_Other1.png" alt="Projects-user Management" />
        </div>

		<p>Then click on the checkbox <i>Custom Tree</i> and fill the various fields depending on what the custom tree should show. </p>
		<p>For example, let's assume that we have a project in which we have a class, <i>:Person</i> 
		and this class has several instances: <i>:Adam</i>, <i>:Brianna</i>, <i>:Charles</i> and <i>:Dorothy</i> and between each of these instances is linked to maximum another one with the property <i>:bossOf</i>.
		We then would like to show this hierarchy, using the property <i>:bossOf</i>, so we would fill the fields in this way:</p>
		<div class="figure">
            <img src="images/customtree_Other2.png" alt="Projects-user Management" />
        </div>
		<p>Press Submit</p>
		<p>Return in the <i>Data</i></p> tab and click on the Gear button, near the <i>Datatype</i> tab, to open the <i>Tree/List settings</i> and click on the checkbox <i>Custom Tree</i> to see the desired custom tree (it is possible to set the Custom Tree here and not in the Administration page):
		<div class="figure">
            <img src="images/customtree_treeListSettings.png" alt="Projects-user Management" />
        </div>
		<p>Press Ok and then the new tab, <i>Custom</i> is placed on the right of the tab <i>Custom</i></p>
		<div class="figure">
            <img src="images/customtree_customTab.png" alt="Projects-user Management" />
        </div>
		<p>Press on the tab <i>Custom</i> to see the new Custom Tree and navigate such tree in the same way as the other tree</p>
		<div class="figure">
            <img src="images/customtree_customTab2.png" alt="Projects-user Management" />
        </div>
		

</ui:define>
</body>
</html>