<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
  xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Custom Reports</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Introduction</h2>

    <p>
      <em>Custom Reports</em> are compiled by invoking an <em>invokable reporter</em>, which contains a series of
      invocations of <a href="custom_services.jsf">custom services</a> (i.e. a service and arguments for its parameters,
      if any). The report is a hierarchical model (represented in JSON) and it can be rendered in a user-defined format
      (i.e. MIME type) and as a PDF document: the generation of the PDF is only supported for certain formats for which
      a dedicated conversion procedure is available. A common choice is to render a report as an HTML page (i.e.
      <em>text/html</em>).
    </p>

    <h2>Editing Invokable Reports</h2>

    <p>
      The screenshot below depicts the main user interface for editing the <em>invokable reporters</em> used to compile
      <em>custom reports</em>.
    </p>

    <p>
      <img src="images/custom-reports.png" alt="Editing of custom reports" class="screenshot" />
    </p>

    <p>
      The <em>reports</em> tab always contains (on the left) the list of <em>invokable reporters</em>: they are
      represented through their <em>id</em>, which is in fact the <em>identifier</em> of the <em>configuration</em> used
      to store the definition of the reporter in the configuration manager
      <em>it.uniroma2.art.semanticturkey.config.invokablereporter.InvokableReporterStore</em>. As expected, the
      <em>plus</em> and <em>minus</em> buttons in the header of the list are used to create a new reporter and delete
      the selected one, respectively.
    </p>
    <p>
      Once a reporter is selected in the aforementioned list, its details are shown in the panel on the right. Firstly,
      global information:
    </p>
    <ul>
      <li>label</li>
      <li>description (optional)</li>
      <li>template</li>
      <li>mime</li>
    </ul>
    <p>
      The <em>pencil</em> button in the header of the section can be used to edit this information for an existing
      reporter.
    </p>
    <p>
      The actual content of the report is generated through a series of <em>service invocations</em> listed in the
      bottom of the panel. The <em>plus</em> and <em>minus</em> buttons in the header of this list are used to add a new
      service invocation an delete the selected one, respectively.
    </p>
    <p>
      Once a service invocation is selected in the aforementioned list, its details are shown in the panel on the right:
    </p>
    <ul>
      <li>label</li>
      <li>description</li>
      <li>service</li>
      <li>operation</li>
      <li>arguments</li>
      <li>template</li>
    </ul>

    <p>
      The screenshot below depicts the dialog for adding a new service invocation: it is possible to recognize the items
      above (e.g. label, description, etc.) and the parallel lists (in the bottom of the dialog) to select the
      <em>service</em>, then
      choose an <em>operation</em> withing that service and, lastly, the <em>actual parameters</em>. These should be
      serialized according to the format used in Semantic Turkey's property system: primitives and strings are given as
      literals, while RDF values are represented in N-Triples syntax (e.g. note
      &lt;http://www.w3.org/2002/07/owl#Class&gt; in the figure).
    </p>
    <p>
      <img src="images/custom-reports-add-service-invocation.png" alt="Adding a service invocation to a report"
        class="screenshot" />
    </p>

    <h2>Compiling a custom report</h2>
    <p>
      The <em>play</em> button in the header of the details section for an invokable reporter allows for compiling a
      report. The report is displayed without applying the templates to render it, showing the <em>result</em>
      associated with each section as the JSON value returned by the corresponding service invocation.
    </p>

    <p>
      <img src="images/custom-reports-without-rendering.png"
        alt="Custom reports shown without applying the templates to render it" class="screenshot" />
    </p>

    <p>
      The whole report is in fact as a JSON object, in which we can easily recognize the <em>global information</em>
      associated with the <em>reporter</em> (e.g. label, description, etc.) and an array of <em>sections</em>, each
      corresponding to a <em>service invocation</em>. These sections contain the information supplied in the service
      invocation plus the <em>result</em> obtained the actually doing this service invocation.
    </p>
    <p>
      <img src="images/custom-reports-json.png" alt="Custom report in JSON" class="screenshot" />
    </p>

    <h2>Rendering a report</h2>
    <p>
      The low-level representation discussed in the <a href="#compiling_a_custom_report">previous section</a> is mainly
      useful for development purposes, while the actually consumed report is the rendered one.
    </p>
    <p>
      The dropdown menu in the top-right corner allows to choose the rendering format, while the button on its right
      allows for downloading the rendered report (usually, in a new tab):
    </p>
    <p>
      <img src="images/custom-reports-download-report.png" alt="Download report" class="screenshot" />
    </p>
    <p>
      A report is rendered to the target <em>mime</em> type (associated with the <em>invokable reporter</em>) in a
      bottom-up manner:
    </p>
    <ul>
      <li>the <em>template associated with a service invocation</em> (if any) is rendered using the JSON object
        representing the section as a context: the result is stored in the property <em>rendering</em> of that JSON
        object (see the picture above)</li>
      <li>the <em>template associated with the invokable reporter</em> is rendered using the JSON object representing
        the whole report: the result is stored in the property <em>rendering</em> of that JSON object (see the picture
        above)</li>
    </ul>
    <p>
      The <em>templates</em> shall be expressed in the <a href="https://mustache.github.io/">Mustache</a> template
      language. In particular, VocBench 3 uses <a href="https://github.com/samskivert/jmustache">JMustache</a>, which
      provides some <a href="https://github.com/samskivert/jmustache#extensions">extensions</a> for Mustache, such as
      some <a href="https://github.com/samskivert/jmustache#special-variables">special variables</a> that can be used in
      templates. Furthermore, the template engine is configured to consider null values and empty strings as false, for
      what concerns section enabling.
    </p>
    <p>
      Without pretending to replace the documentation of Mustache, let us discuss its use with some examples.
    </p>
    <h3>Report-level template</h3>
    <p>
      Let us image that a report is associated with the following template, which has to be evaluated against a JSON
      object like the one in the picture above (representing the whole report without rendering) :
    </p>
    <div>
      <code>
<pre>
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;body&gt;
    &lt;h1&gt;{{label}}&lt;/h1&gt;
    &lt;table&gt;
      {{#sections}}
      &lt;tr&gt;
        &lt;td&gt;&lt;b&gt;{{label}}&lt;/b&gt;&lt;/td&gt;&lt;td&gt;{{{rendering}}}&lt;/td&gt;
      &lt;/tr&gt;
      {{/sections}}
      &lt;/table&gt;
  &lt;/body&gt;
  &lt;/html&gt;
</pre>
</code>
    </div>

    <p>
      The first occurrence of <code>{{label}}</code> is replace by the value of the property <code>label</code> of the
      root JSON object (in the example, <em>Test Report</em>).
    </p>
    <p>
      The syntax
    </p>
    <div>
      <code>
    <pre>
{{#sections}}
...
{{/sections}}
      </pre>
    </code>
    </div>
    <p>
      is used instead to iterate over the items of the value of the property <code>sections</code>, which is an array:
      the inner portion of the template (shortened as <code>...</code>) will be evaluated repeatedly, using each item of
      the array as context object. If we consider the fragment
      <code>&lt;td&gt;&lt;b&gt;{{label}}&lt;/b&gt;&lt;/td&gt;&lt;td&gt;{{{rendering}}}&lt;/td&gt;</code>, the
      expressions
      <code>{{label}}</code> and <code>{{{rendering}}}</code> will be replaced by the values of the homonym properties
      stored in each section object. The triple braces around <em>rendering</em> (instead of two) are intended to
      disable HTML escaping (because we want to incorporate the HTML produced when rendering each section)
    </p>
    <p>
      The end result should be something like the following:
    </p>
    <div>
      <code>
    <pre>
&lt;html&gt;
  &lt;body&gt;
    &lt;h1&gt;Test Report&lt;/h1&gt;
    &lt;table&gt;
      &lt;tr&gt;
        &lt;td&gt;&lt;b&gt;number of classes&lt;/b&gt;&lt;/td&gt;&lt;td&gt;1&lt;/td&gt;
      &lt;/tr&gt;
    &lt;/table&gt;
  &lt;/body&gt;
&lt;/html&gt;
  </pre>
  </code>
    </div>
    <h3>Section-level template</h3>
    <p>
      The template associated with each service invocation is evaluated using the JSON object representing the
      corresponding section as context object.
    </p>
    <p>
      If the return type of the invoked custom service is a primitive or a string, then a template like the following
      may suffice:
    </p>
    <div>
      <code>
    <pre>
{{result}}
  </pre>
  </code>
    </div>
    <p>
      Alternatively, if the returned type is described by complex JSON object or an array, a more complex template is
      required.
    </p>
    <p>
      Let us consider a return type like <code>List&lt;AnnotatedValue&lt;IRI&gt;&gt;</code>. The following figure
      focuses on the <em>result</em> in the section:
    </p>
    <p>
      <img src="images/custom-reports-list-annotated-values.png" alt="List of annotated values" class="screenshot" />
    </p>
    <p>
      In this case, the template associated with the section might be something like the following:
    </p>
    <div>
      <code>
    <pre>
&lt;ul&gt;
  {{#result}}
  &lt;li&gt;
    {{show}} ({{@id}}) - {{resCount}}
  &lt;/li&gt;
  {{/result}}
&lt;/ul&gt;
  </pre>
  </code>
    </div>
    <p>
      producing a rendering like the following:
    </p>
    <div>
      <code>
    <pre>
&lt;ul&gt;
  &lt;li&gt;
  EuroVoc (en) (http://eurovoc.europa.eu/100141) - 539
  &lt;/li&gt;
  &lt;li&gt;
  7231 economic geography (en) (http://eurovoc.europa.eu/100282) - 33
  &lt;/li&gt;
  &lt;li&gt;
  7211 regions of EU Member States (en) (http://eurovoc.europa.eu/100278) - 25
  &lt;/li&gt;
&lt;/ul&gt;
  </pre>
  </code>
    </div>
  </ui:define>
</body>

</html>