<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
  <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
  <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
  <script type="text/javascript" src="../../js/chili/recipes.js"></script>
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="head">
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
    <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
    <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript" src="../../js/chili/recipes.js"></script>
  </ui:define>
  <ui:define name="mainContent">

    <h1>Custom Views</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Introduction</h2>
    <p>
        Custom View is a powerful mechanism introduced in VocBench 11.0.0 that allows you to customize the representation of values into the ResourceView.
    </p>
    <p>
        A Custom View represents values through different views (or widgets) that are rendered into the Resource View when a so-called triggering property is detected.
        This means that whenever a resource being described in the ResourceView has an outgoing property for which a Custom View is associated, its value will be showed according such Custom View.
    </p>
    <p>
        The Custom Views editor is accessible via the <i>Tools</i> &gt; <i>Custom Forms and Views</i> entry under the top navigation bar. Since they can be often used in combo, this tool has been grouped with the Custom Form one under the same page.
        The Custom View panel is on the right side of the page and it is basically splitted in two sections, the top one which manages the Views, and the bottom one which allows the definition of association between properties and Views.
    </p>
    <p>For simplicity, let's start form the latter.</p>

    <div class="figure"><img src="images/cviews-panel.png" /></div>

    <h2>Property associations editor</h2>

    <p>
        The <i>Property associations</i> panel lists the associations between triggering properties and Custom Views, namely determines which Custom View is expected to be shown when a value for such property is detected in a Resource View.
    </p>

    <div class="figure"><img src="images/cviews-prop-association.png" /></div>

    <p>
        A new association can be created by clicking on the <b>+</b> button which opens the following dialog which trivially requires the selection of a property (by browsing the property tree) and a Custom View among those available.
        Whereas multiple widgets are available for the chosen Custom View, it is possible to select the <i>Default view</i>.
    </p>

    <div class="figure"><img src="images/cviews-prop-association-create.png" /></div>
    <p>
        A triggering property can be associated to just one Custom View, but different properties may be associated to the same Custom View.
    </p>

    <h2>Views editor</h2>

    <p>
        The Views panel lists the Custom Views available in VocBench. On the panel header a toolbar allows actions on them: it is possible to edit, delete, export on the local file-system an existing View, and its also possible to import (from file-system) and create new Views.
    </p>
    <p>
        By clicking on the <b>+</b> button the following editor is prompted, here you must enter a unique <i>Name</i> and select a <i>Category</i> and a <i>Model</i>.
    </p>
    <div class="figure"><img src="images/cviews-create-view.png" /></div>
    <p>
        There are four categories of Views, each of which supports multiple models.
    </p>
    <ul>
        <li>
            <i>Single value</i>: views for rendering data through a single value.
            <ul>
                <li><i>Property chain</i>: the value to render is reached through a chain of properties.</li>
                <li><i>Advanced single value view</i>: the value to render is selected by means a SPARQL query.</li>
            </ul>
        </li>
        <li>
            <i>Vector</i>: the views of this category show, in place of the property object, a vector of values in tabular form.
            <ul>
                <li><i>Predefined static vector model</i>: the values that compose the vector are the objects of a property set.</li>
                <li><i>Dynamic customizable vector model</i>: the values of the vector are retrieved by means a SPARQL query.</li>
            </ul>
        </li>
        <li>
            <i>Geospatial</i>: category for representing geospatial data as:
            <ul>
                <li><i>Point</i>: a single point represented on a map.</li>
                <li><i>Area</i>: multiple points which create an area.</li>
                <li><i>Route</i>: multiple point which describe a route.</li>
            </ul>
        </li>
        <li>
            <i>Statistical series</i>: category for representing statistical data as:
            <ul>
                <li><i>Series</i>: a series of numerical values.</li>
                <li><i>Series collection</i>: a collection of series.</li>
            </ul>
        </li>
    </ul>

    <p>
        When a category is selected, the editor restricts the selection of the model according the schema above, then, when the model is selected too, it prompts the proper editor for such Custom View.
    </p>

    <div class="figure"><img src="images/cviews-model-selection.png" /></div>

    <p>
        At the bottom of the editor, a <i>Suggested view</i> selector let the user choose which view/widget use for representing the data. 
        We will see the available options in the following sections, anyway, for most of the Custom Views, only a view is available and in such cases the selector is constrained to the only option.
    </p>

    <p>
        Let's see in details each Custom View.
    </p>

    <h2>Single value views</h2>

    <p>
        By means of these views, an object in the ResourceView can be rendered with a single value which is the "usual" widget for representing values in the ResourceView.
        Under this Custom View category two model implementations are available: the <i>property chain</i> and the <i>advanced single value view</i>. 
    </p>


    <h3>Property chain</h3>

    <p>
        This is probably the simplest view available, the rendered single value is reached passing by a property chain.
    </p>
    <p>
        The editor for this view is quite simple and it is composed only by a <i>Property chain</i> selector which allows the definition of the property chain.
    </p>
    <div class="figure"><img src="images/cviews-single-prop-chain.png" /></div>
    <p>
        Here below you can see an example of usage of this view for a reified note use case. The Custom View defined in the previous screenshot is associated to <i>skos:note</i>; the property chain is composed by the sole <i>rdf:value</i>, so the reified note in the Resource View is displayed as a single value which is actually the <i>rdf:value</i> of the object of <i>skos:note</i>.
    </p>
    <div class="figure"><img src="images/cviews-single-reifiednote.png" /></div>

    <p>
        This is just a simple (but actually common) use case, obviously a chain can be composed by multiple properties, in such case the rendered value will be reached through multiple hops 
        (e.g. &lt;<i>resource</i>&gt; &lt;<i>triggering_prop</i>&gt; &lt;<i>object</i>&gt;;
        &lt;<i>object</i>&gt; &lt;<i>chain_prop<sub>1</sub></i>&gt; &lt;<i>res<sub>1</sub></i>&gt;;
        &lt;<i>res<sub>1</sub></i>&gt; &lt;<i>chain_prop<sub>2</sub></i>&gt; &lt;<i>res<sub>2</sub></i>&gt;; ...; 
        &lt;<i>res<sub>N-1</sub></i>&gt; &lt;<i>chain_prop<sub>N</sub></i>&gt; &lt;<i>renderedValue</i>&gt;).
    </p>

    <h3>Advanced single value view</h3>
    <p>
        This View is more powerful than the previous, in fact it allows you to define any SPARQL query for retrieving the single value to render. This can be done using the SPARQL editor under the <i>Retrieve</i> tab.
        Such query must meet certain constraints, it must contain the following placeholders:
    </p>
    <ul>
        <li><code>$value</code>: The value to be rendered, it must be returned as well;</li>
        <li><code>$resource</code>: represents the resource being described in ResourceView where the Custom View is shown;</li>
        <li><code>$trigprop</code>: represents the predicate that will be associated to the Custom View.</li>
    </ul>
    <p>
        It is also possible to define an arbitrary amount of pivot placeholders (to name <code>$pivot</code>, <code>$pivot_1</code>, <code>$pivot_2</code>, ...) which can be used to define anchor points to be referenced in the <i>Update</i> query. 
        Each pivot resource returned by the <i>Retrieve</i> query will be bound to the related placeholder in the <i>Update</i> query during an update operation.
    </p>
    <div class="figure"><img src="images/cviews-adv-single-view.png" /></div>
    <p>
        It's noteworthy the <i>Suggest from CF</i> button placed on the right, just above the SPARQL editor which, as the label suggests, given the selection of an existing Custom Form, tries to infer and suggest a suitable SPARQL select for the Custom View.
    </p>

    <p>
        Switching to the <i>Update</i> tab, this Custom View allows also the customization of the value update. Three <i>Update mode</i>s are available:
    </p>
    <ul>
        <li><i>No update:</i> the value is not editable;</li>
        <li><i>Value edit:</i> the value is editable as a string serialized in NT format;</li>
        <li><i>Value picker:</i> the value is editable by means a value picker. The picker can be then customized for restricting the type of value to:
            <ul>
                <li><i>Any</i> kind of value;</li>
                <li><i>Resource</i>, which in turn can be restricted in order to pick only instances of specific class(es);</li>
                <li><i>Literal</i>, which in turn can be restricted to enter only literals with a specific datatype.</li>
            </ul>
        </li>
    </ul>

    <div class="figure"><img src="images/cviews-adv-single-view-update.png" /></div>

    <p>
        If the update is allowed (2nd or 3rd options above), a SPARQL update must specify how to update the value.
        In this query the same variables and placeholders described in the <i>Retrieve</i> one are available. In particular the reserved variable <code>?value</code> which will be bound to the new value.
        It is possible to refer to any <code>$pivot</code> placeholder eventually defined into the <i>Retrieve</i> query.
        It is also strongly recommended to use a dedicated placeholder <code>$oldValue</code> for referencing to the old value to be edited. Such placeholder will be bound to the edited value during an update operation.
    </p>

    <h2>Vector model views</h2>

    <p>
        <i>Vector model views</i>, as suggested by the name, allows you to show a vector of values in place of the actual object of a property.
        In the ResourceView such values are represented in tabular format where each row represents the description for the object of the triggering property.  
    </p>
    
    <h3>Predefined static vector model</h3>

    <p>
        The editor for such view is quite similar to the <i>Property chain</i> one, a <i>Headers</i> selector allows the definition of a list of properties.
    </p>

    <div class="figure"><img src="images/cviews-static-vector.png" /></div>

    <p>
        The above Custom View defines a table with three headers: <i>foaf:firstName</i>, <i>foaf:familyName</i>, <i>foaf:mbox</i>.
        Now let's consider the following ResourceView, where <code>:ART</code>, instance of <i>foaf:Group</i>, has four <i>foaf:member</i>s. By default, <code>:ART</code> would be rendered as follows.
    </p>

    <div class="figure"><img src="images/cviews-static-vector-plain.png" /></div>

    <p>
        As you can see, under the <i>foaf:member</i> section of the ResourceView the objects are rendered through their qname.
        If we associate the above CustomView to <i>foaf:member</i>, the same members are now replaced by a table where each row contains the <i>foaf:firstName</i>, <i>foaf:familyName</i>, <i>foaf:mbox</i> of the member.
    </p>

    <div class="figure"><img src="images/cviews-static-vector-table.png" /></div>

    <p>
        At the left of each table row, a button allows user to open the ResourceView of the actual resource (e.g. <i>:Andrea</i>, <i>:Armando</i>, ...). A field can be edited by clicking on the pencil button and, in case it is in turn a resource, a double click on it opens the related ResourceView. Finally, the <b>-</b> button on the right removes the whole table row (object of the triggering property).
    </p>

    <h3>Dynamic customizable vector model</h3>

    <p>
        The <i>Dynamic customizable vector model</i> is an additional view for representing data in tabular format. Unlike the previous one, the table field are determined through a SPARQL query.
        In the <i>Retrieve</i> tab you can define a query with an arbitrary amount of <code>?field_value</code> variables (e.g. <code>?name_value</code>, <code>?family_name_value</code>, ...) which identify the value that will be rendered in the table fields. The table headers will be labeled after these identifiers by just removing the suffix <code>_value</code> (e.g. <code>?name_value</code> -&gt; <i>name</i>, <code>?family_name_value</code> -&gt; <i>family_name</i>).
    </p>
    <p>
        The <i>Retrieve</i> query must meet some constraints already seen in the <i>Advanced single value view</i>, in particular: it must returns the fields variables and the variable representing the object of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).
        It must also contains the placeholders <code>$resource</code>, which represents the resource being described in ResourceView, and <code>$trigprop</code> which is the predicate that will be bound to the property associated to the Custom View.
    </p>
    <p>
        It is also possible to define an arbitrary amount of pivot placeholders (to name <code>$pivot</code>, <code>$pivot_1</code>, <code>$pivot_2</code>, ...) which can be used to define anchor points to be referenced in the <i>Update</i> query. 
        Each pivot resource returned by the <i>Retrieve</i> query will be bound, to the related placeholder in the <i>Update</i> query, during an update operation.
    </p>

    <p>
        As per the <i>Advanced single value</i> view, a <i>Suggest from CF</i> allows to infer a <i>Retrieve</i> query starting from an existing Custom Form.
    </p>

    <p>
        Now, let's consider the same use case seen for the <i>Predefined static vector model</i>. We can obtain a similar result with the following Custom View.
    </p>

    <div class="figure"><img src="images/cviews-dynamic-vector-retrieve.png" /></div>

    <p>
        As you can see, there are three field variables: <code>?name_value</code>, <code>?family_name_value</code> and <code>?email_value</code> which are the object respectively of <i>foaf:firstName</i>, <i>foaf:familyName</i> and <i>foaf:mbox</i>.
    </p>
    <p>
        Just below the SPARQL editor are shown the fields automatically detected in the query (in this case <code>name</code>, <code>family_name</code> and <code>email</code>) which will be used also as table columns' name. Moving to the <i>Update</i> tab, for every detected field, we have the possibility to customize the update behaviour of the related values.  
    </p>

    <div class="figure"><img src="images/cviews-dynamic-vector-update.png" /></div>

    <p>
        The available <i>update mode</i>s are the same already described for the <i>Advanced single value</i> view (<i>No update</i>, <i>Value edit</i> and <i>Value picker</i>) with the possibility to specify the SPARQL update to execute.
    </p>

    <p>
        The table resulting from the association of this Custom View with the <i>foaf:member</i> property is the following.
    </p>

    <div class="figure"><img src="images/cviews-dynamic-vector-table.png" /></div>
    
    <p>
        Being applied on the same data, it is obviously quite similar to the one obtained with the previous Custom View, just notice that the table headers are named after the field variables, and the fields under <i>family_name</i> and <i>email</i> columns are not editable (pencil button not clickable and greyed out) since the <i>update mode</i> has been set to <i>No update</i>.
    </p>

    <p>
        Note: for the sake of simplicity, the <i>Dynamic customizable vector model</i> has been described using the same example of the <i>Predefined static vector model</i>. However, for such simple use case, it could be excessive to use this Custom View, it would be much simpler to use the <i>predefined static</i> one (unless user wants to customize the update mode as we just saw). <i>Dynamic customizable vector model</i> has been designed for more complicated use cases, where the <i>Retrieve</i> SPARQL query might need more complex patterns for reaching the field values. 
    </p>

    <h2>Geospatial views</h2>

    <p>
        Geospatial views are useful for representing geospatial data like points, areas and routes on maps. The map widget has been implemented using the open-source JavaScript library <a href="https://leafletjs.com/">Leaflet</a>.
    </p>

    <h3>Point</h3>

    <p>
        Point is the simplest view for the geospatial category. As well as all the views under this category, it is SPARQL-based, namely it requires a SPARQL query to specify how to retrieve the data (latitude and longitude of the location) for drawing the point on the map.
    </p>
    <p>
        The <i>Retrieve</i> query for this view have some reserved variables that need to be returned:
    </p>
    <ul>
        <li><code>?location:</code> the resource representing the point;</li>
        <li><code>?latitude:</code> the latitude of the location. This is supposed to be bound to a literal numeric value (likely xsd:double);</li>
        <li><code>?longitude:</code> the longitude of the location. This is supposed to be bound to a literal numeric value (likely xsd:double);</li>
    </ul>
    <p>
        The query must always return the object variable of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).
        Moreover it must contain the following placeholders:
    </p>
    <ul>
        <li><code>$resource</code>: represents the resource being described in ResourceView where the Custom View is shown;</li>
        <li><code>$trigprop</code>: represents the predicate that will be associated to the Custom View.</li>
    </ul>

    <p>
        Here it is an example of <i>Point</i> view which uses the properties <code>geo:lat</code> and <code>geo:long</code> of the <a href="https://www.w3.org/2003/01/geo/">WGS84</a> vocabulary.
    </p>
    <div class="figure"><img src="images/cviews-point-retrieve.png" /></div>

    <p>
        Also in this view, as already seen for other views, there is the possibility to specify a SPARQL <i>Update</i> for specify how to update a point. The same reserved variables described in the <i>Retrieve</i> query are supposed to be used here.
    </p>
    <div class="figure"><img src="images/cviews-point-update.png" /></div>

    <p>
        The result of the association of the above Custom View to the triggering property <i>geo:location</i> is like the following.
    </p>
    <div class="figure"><img src="images/cviews-point-map.png" /></div>

    <p>
        By clicking on the little arrow button on the top-right corner of the map, it is possible to delete and, if the <i>Update</i> query is provided, to edit the point. This last action shows the same map in a dialog where the location can be updated by clicking on a different point. 
    </p>

    <div class="figure"><img src="images/cviews-point-edit.png" /></div>

    <h3>Area</h3>

    <p>
        Area is another SPARQL-based Custom View of the geospatial category. The idea is to represent an area on the map by means multiple points that define its perimeter.
    </p>
    <p>
        The <i>Retrieve</i> query for this view must return the following variables:
    </p>
    <ul>
        <li><code>?route_id</code>: The resource representing the route/perimeter of the area;</li>
        <li><code>?location</code>: A resource representing a single point of the area perimeter;</li>
        <li><code>?latitude:</code> the latitude of the location. This is supposed to be bound to a literal numeric value (e.g xsd:double);</li>
        <li><code>?longitude:</code> the longitude of the location. This is supposed to be bound to a literal numeric value (e.g xsd:double);</li>
    </ul>
    <p>
        The query must always return the object variable of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).
        Moreover it must contain the usual placeholders:
    </p>
    <ul>
        <li><code>$resource</code>: represents the resource being described in ResourceView where the Custom View is shown;</li>
        <li><code>$trigprop</code>: represents the predicate that will be associated to the Custom View.</li>
    </ul>
    <p>
        Let's see an example of usage.
    </p>
    <div class="figure"><img src="images/cviews-area-retrieve.png" /></div>
    <p>
        Also in this case the <a href="https://www.w3.org/2003/01/geo/">WGS84</a> vocabulary has been used. So, the triggering property points to a resource which in turns is linked to a set of locations that describe the area polygon, each of them with latitude and longitude.
    </p>
    <p>
        The <i>Update</i> query in this case must specify how to update a single location of the area. Here it is an example: the <code>WHERE</code> block retrieves the coordinates of the updating location (the related resource is bound to the variable <code>?location</code>), then the <code>DELETE</code> block deletes such old coordinates while the <code>INSERT</code> writes the new ones (new coordinates are always bound to <code>?latitude</code> and <code>?longitude</code>).
    </p>
    <div class="figure"><img src="images/cviews-area-update.png" /></div>

    <p>
        Finally, the Custom View associated to a local <i>:perimeter</i> property gives the following result.
    </p>
    <div class="figure"><img src="images/cviews-area-map.png" /></div>

    <p>
        If the <i>Update</i> query is provided, as in this case, the area can be edited through a map opened in a dialog where the points of the perimeter can be dragged in different positions.
    </p>
    <div class="figure"><img src="images/cviews-area-map-edit.png" /></div>

    <h3>Route</h3>

    <p>
        The <i>Route</i> view is a variant of the <i>Area</i> view. There is not much more to add, it works at the same way and involves the same variables and placeholders in the query, the only thing that distinguishes it from the <i>Area</i> view is the way the map renders the points.
        This is an example with the same data (notice the same locations), but a <i>Route</i> view has been used here.
    </p>
    <div class="figure"><img src="images/cviews-route-map.png" /></div>
    <p>
        Note: the example showed here, and in the <i>Area</i> view, doesn't take into account the order of the points, this means that it is not granted that the order is maintained (e.g. Rome -&gt; Florence -&gt; Ancona -&gt; Pescara). At such purpose it should have been necessary to use more complex pattern in the <i>Retrieve</i> query which has been avoided here for the sake of simplicity.
    </p>

    <h2>Statistical Series views</h2>

    <p>
        With the <i>Statistical series</i> views it is possible to show data through charts widgets. Three types of charts are available: bar and pie chart for <i>Series</i> view and line chart for <i>Series Collection</i> view.
    </p>

    <h3>Series</h3>

    <p>
        This view requires a SPARQL query for retrieving attribute-value mappings defined by <code>name</code> and <code>value</code>. Optional labels for <i>x,y</i> (where supported; e.g. in the bar chart) are included, called <code>series_label</code> and <code>value-label</code>. A single series is identified through the reserved variable <code>series_id</code>.
    </p>
    <p>
        So, the <i>Retrieve</i> query in this case must return:
    </p>
    <ul>
        <li><code>?series_id</code>: The resource representing the series;</li>
        <li><code>?series_label</code>: (optional) Where admitted, this value is used for identifying the X axis in the chart;</li>
        <li><code>?value_label</code>:  (optional) Where admitted, this value is used for identifying the Y axis in the chart;</li>
        <li><code>?name</code>: Name of a single value;</li>
        <li><code>?value</code>: Value to be represented in the chart. This is supposed to be bound to a literal numeric value;</li>
    </ul>
    <p>
        The query must always return the object variable of the <code>$resource $trigprop</code> pair (e.g. <code>?obj</code> in <code>$resource $trigprop ?obj</code>).
        Moreover it must contain the usual placeholders:
    </p>
    <ul>
        <li><code>$resource</code>: represents the resource being described in ResourceView where the Custom View is shown;</li>
        <li><code>$trigprop</code>: represents the predicate that will be associated to the Custom View.</li>
    </ul>
    
    <p>
        The following is a basic example of <i>Series</i> view.
    </p>
    <div class="figure"><img src="images/cviews-series-retrieve.png" /></div>

    <p>
        The view retrieves a list of <code>name</code>-<code>value</code> mappings where the <code>name</code> is a resource linked to the series through the <i>:country</i> property and the <code>value</code> is the <i>:population</i> of such country.
    </p>
    <p>
        As stated for the <i>geospatial</i> views, this example is trivial, for real data use cases it could be necessary to define more complex SPARQL patterns and to use vocabularies suitable for statistical data representation.
    </p>

    <p>
        A series is then rendered as in the following image.
    </p>
    <div class="figure"><img src="images/cviews-series-bar-chart.png" /></div>

    <p>
        The Custom View is initialized with the bar chart, the one chosen as <i>default view</i> during the creation. On the right of the widget, a selector allows user to choose the alternative available widget, in this case the pie chart.
    </p>
    <div class="figure"><img src="images/cviews-series-pie-chart.png" /></div>

    <p>
        Also in this Custom View it is possible to specify how to update a single value of the series. The <i>Update</i> query can use the same variables and placeholders described in the <i>Retrieve</i> one. In particular:
    </p>
    <ul>
        <li><code>?series_id</code>: Will be bound to the resource representing the series;</li>
        <li><code>?name</code>: Will be bound to the resource representing the name of the updating value;</li>
        <li><code>?value</code>: Will be bound to the new value;</li>
    </ul>

    <p>
        If the update is provided, a pencil button is displayed next to each entry in the legend (which lists the <code>name</code>s returned by the retrieve query) which if clicked allows the update of the related value.
    </p>

    <h3>Series Collection</h3>

    <p>
        This is another Custom View for statistical data, it allows the visualization of collection of series through a line chart.
        As well as other SPARQL-based view it requires a SPARQL query for retrieving data, specifically it must retrieve series of attribute-value mappings (<code>name</code> and <code>value</code>) where the value is assumed to be a numeric value. Variable <code>series_collection_id</code> identifies a collection of series, each identified by a <code>series_name</code>.
        Optional labels for <i>x,y</i> can be provided with the variables <code>series_label</code> and <code>value_label</code>.
    </p>

    <p>
        Here it is a basic example of <i>Series collection</i> Custom View. In this use case a single series represents the average monthly temperatures of a city.
    </p>
    <div class="figure"><img src="images/cviews-seriescoll.png" /></div>

    <p>
        A resulting line chart is like the follow: the collection is composed by five series, each with four average month - temperatures mappings (name - value). 
    </p>

    <div class="figure"><img src="images/cviews-seriescoll-chart.png" /></div>


    <!-- <h2>Special widgets</h2> -->


  </ui:define>
</body>

</html>