<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>Data View consumers</h1>

        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <h2>Introduction</h2>
        <p>
            From VocBench 10.0.0 it is possible to customize the <a href="data_view.jsf#the_resource_view">Resource View</a> aspect by changing the templates and defining custom sections.
        </p>
        <p>Accessing the <a href="projects_adm.jsf#project_settings">Project settings</a> page, and selecting the <i>Resource View</i> tab, the following editor is shown.</p>

        <div class="figure"><img src="images/custom_consumers_editor.png" /></div>

        <p>It is mainly composed by two panels, the top one is dedicated to the management of the ResourceView templates while the bottom one allows the definition of custom consumers.</p>

        <h2>Template editor</h2>
        <p>
            The structure of the ResourceView is guided by a template. Every type of resource defined in VocBench is mapped with a pre-defined template, for example, the default template for concepts has the following sections (or partitions): <i>Types</i>, <i>Top Concept of</i>, <i>Schemes</i>, <i>Broaders</i>, <i>Lexicalizations</i>, <i>Notes</i> and <i>Other properties</i>.
        </p>

        <p>
            From the <i>Template</i> panel it is possible to edit these mappings between resource types and partitions. After the selection of a resource type, the two <i>Partitions</i> lists show respectively: the sections assigned to the related template (in the left list) and the rest available (in the right one). A partition can be added to, or removed from, the visible ones through the two arrow buttons between the list (after selecting a partition). An active section can be also moved in a different position in the list by using the buttons on the panel header.
        </p>

        <p>
            Note: this editor can be used by the administrator (or the project manager) for the customization of the default templates in the project. There are also other possibilities, for both the <a href="users_adm.jsf#resource_view_template">administrator</a> and the <a href="data_view.jsf#customization_of_resourceview">user</a>, for customizing further the templates for the specific user.
        </p>

        <h2>Custom sections</h2>
        <p>
            The composition of a single template section is based on a statements consumer which, as the name suggests, "consumes" those statements of a resource that involves specific managed properties. For example, the <i>Types</i> section is bound to a consumer which manages <i>rdf:type</i> and its sub-properties.
        </p>
        <p>
            So, defining a new section means, under the hood, defining a new consumer. In order to achieve that, we can use the <i>Custom Sections</i> panel which is splitted in two sub-panels: <i>Sections</i> and <i>Managed properties</i>.
            The first one basically allows the creation of new custom sections, the renaming or the deletion of the created ones. In the second one user can define the list of managed properties, namely those properties that will be processed by the consumer and for which the related values will be collected under the section.<br />
            Note that a consumer processes also the sub-properties of its managed properties, moreover, the properties are processed only once by the first consumer that manages them, this means that if we define a custom section that consumes <i>rdf:type</i> property, it will have no effect if it is placed after <i>Types</i> section (that already consumes the same property), on the contrary, if placed before <i>Types</i>, our custom consumer will process <i>rdf:type</i>, the related section will show its values and <i>Types</i> will result in an empty section.
        </p>

        <p>
            Once a custom section is defined, in order to make it visible into the ResourceView, it needs to be added to a template through the dedicated editor described before. In the following image it is an example of ResourceView of a concept using the template containing the custom section defined in the previous screenshot, namely a section (trivially named <i>custom section</i>) which manages <i>rdfs:comment</i> and <i>rdfs:seeAlso</i> properties and it's placed between the <i>Notes</i> and <i>Other properties</i> partitions.
        </p>
        <div class="figure"><img src="images/custom_consumer_res_view.png" /></div>

        <p>Finally, at the bottom right corner of the editor, it is possible, by means the <i>Default</i> button, to restore the system default configuration (templates and custom sections) or to set the current one as system default.</p>
        <div class="figure"><img src="images/custom_consumers_editor_defaults.png" /></div>

        <h2>Customized section info</h2>

        <p>
            The <i>Customize Section Heading</i> option, accessible in the <i>Resource View</i> tab under <i>Project Settings</i>, allows administrators (and PMs) to configure the information displayed for each section within the Resource View.
        </p>

        <div class="figure"><img src="images/res_view_section_display_info_btn.png" /></div>
        <div class="figure"><img src="images/res_view_section_display_info.png" /></div>

        <p>
            Upon clicking the adjacent button, a tabbed editor opens, where each tab corresponds to a different language. Within each tab, users can view and edit mappings that define titles and descriptions for the Resource View sections.
            Both titles and descriptions can be provided in multiple languages, automatically adapting to the user’s selected interface language.
        </p>

        <div class="figure"><img src="images/res_view_section_display_info_customized.png" /></div>

        <h2>Customized rendering of predicates</h2>

        <p>
            The Resource View includes a feature that allows you to customize how property labels are rendered, offering an alternative to the default labels. In the <i>Project settings</i> editor, under <i>Resource View</i> tab, you’ll find a <i>Render Predicate Labels</i> option. When enabled, this setting displays custom labels for properties instead of the default labels in the Resource View. To the right of this option, a button opens the editor for defining these custom labels.
        </p>

        <div class="figure"><img src="images/res_view_pred_labels_opt.png" /></div>

        <p>
            The custom label editor is organized with a tabbed interface, allowing for labels in multiple languages. A new tab can be created by clicking the <b>+</b> tab, which prompts you to select a language from those available in the platform. Once a language is chosen, the editor will be initialized as an empty workspace.
        </p>

        <div class="figure"><img src="images/pred_labels_editor.png" /></div>

        <p>
            To populate this workspace, you can click the button <img src="images/pred_labels_bootstrap_btn.png" />, which allows you to select specific vocabularies from which to import predicates. This action brings in the predicates defined in those vocabularies, enabling you to begin customizing their labels.
        </p>
        <div class="figure"><img src="images/pred_labels_bootstrap_vocabularies.png" /></div>

        <p>
            Additionally, there is a lightning icon button that can be used to bootstrap the custom labels. This feature initializes the default labels (either rdfs:label or skos:prefLabel) for the available predicates directly from the vocabulary, providing a quick starting point for customization.
        </p>
        <p>
            With these tools, the custom label editor allows flexible control over how properties are labeled in the Resource View, enabling a more tailored and multilingual user experience.
        </p>

        <div class="figure"><img src="images/pred_labels_custom.png" /></div>

    </ui:define>
</body>

</html>