<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>The Data View</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Introduction</h2>
    <p>After clicking on the Data area in the VocBench Sections Menu, the user lands on any of the various Data View pages. All of the data pages are composed of two main areas: the structure on the left, and the resource view on the right. </p>
    <p>For instance, the structure section for the Class Page is composed of a Class Widget and an Instance Widget. The first one shows the tree of Classes in the current project, while the latter shows the list of instances for the class selected on the Class Widget.</p>
    <div class="figure"><img src="images/resourceview-class.png" alt="classPanel" /></div>

    <h2>The Data Structure View</h2>
    <p>All structure areas in the Data View have two buttons in common (upper-right part of the structure area).</p>
    <p>The Rendering Button <img src="images/renderingbutton.png" width="27" height="25" /> activates the rendering for the resources shown in the structure. By default, the rendering is deactivated for OWL entities and activated for SKOS ones.</p>
    <p>The Refresh Button <img src="images/refreshbutton.png" width="23" height="21" /> allows the user to refresh the view on the structure. Usually structures are kept aligned with changes occurring from any operation. However, it might happen that certain actions cannot be intercepted in all of their outcomes (e.g. a massive inclusion of data); in these case normally a refresh is automatically invoked, though a manual button is included for all those cases which cannot be foreseen by the system.</p>
    <p>A gear button <img src="images/treegear.png" width="23" height="21" />, present on the top-right most part of the data structure view, allows to choose various options that are used globally for all structures. Currently, the only one available is for toggling the visualization of deprecated resources.</p>


    <p>
      A dropdown menu button <span style="color: gray;">&#9660;</span> provides a list of further actions.
    </p>
    <div class="figure"><img src="images/data_struct_dropdown.png" alt="data dropdown operations" /></div>
    <p>All structure areas have just two items in common in this menu</p>
    <ul>
      <li><i>Multiselection</i>: Enables the selection of multiple resources under the tree/list structure in order to apply changes to all of them at the same time.</li>
      <li><i>Show data-oriented graph</i>: Shows the data through a graph representation (available only when a resource is selected). More details in the dedicated <a href="graphs.jsf">page</a>.</li>
    </ul>
    <p>When the <i>Multiselection</i> is enabled, a checkbox appears next to each resources in the structure. Only when at least one of them is ticked, a further item '<i>Add a property value to the selected values</i>' is enabled in the menu. As its label suggests, this item allows the user to add a property-value pairs to each checked resource.
    </p>
    <div class="figure"><img src="images/multiselection.png" alt="multiselection" /></div>

    <p>Other buttons in the panel heading and items in the dropdown menu may appear depending on the specific data structure being viewed (see <a href="#data_view_pages">later</a> for more details)</p>
	
	<h3>Rename tabs / hide tabs</h3>
	<p>It is possible to rename one or more tabs in the Data Stricuture view. Only the Administrator, or the Project Manager have this possibility. </p>
	<p>To rename one or more tabs, first log in to VocBench, as administrator, and then click on the avatar and select "Administration" </p>
	<div class="figure"><img src="images/rename_tabs_1.png" /></div>
	<p>In the list of project, select the desired one (the one that will have the tabs name changed) and then click on the "Project Settings". In it, click on the tab "Other"</p>
	<div class="figure"><img src="images/rename_tabs_2.png" /></div>
	<p>Then click on the pencil button, in the "Visible tabs" section to open the windows having the list of available tabs, with the current name. Click on the "+" button and select a language (e.g "en"). Now it is possible to set a new label for any of the existing tabs. For example, it is possible to rename the "Concept" tab into "Concept Tree". </p>
	<div class="figure"><img src="images/rename_tabs_3.png" /></div>
	<p>Click on "Ok" to save the change and return into the desired prject view (by selecting such project as the "Current project", for example) to see the tabs (on the left side) and see that the changed one has the new name (in this example it went from "Concept" to "Concept Tree")</p>
	<div class="figure"><img src="images/rename_tabs_4.png" /></div>
	<p>It is also possible to hide one or more tabs. Return in the "Administration" section, select a project, click on "Project settings" and then on "Other" (so the same procedure was done for the rename of a tab) and, to hide a tab, uncheck the "Show" checkbox near the desired tab. For example, uncheck "Collection" and "Property"</p>
	<div class="figure"><img src="images/hide_tabs_1.png" /></div>
	<p>Return inside the project (to see the project data) and now the tabs that had the "show" checkbox unchecked are no longer visible</p>
	<div class="figure"><img src="images/hide_tabs_2.png" /></div>

    <h2>The Resource View</h2>
    <p>The resource-view is a general widget for showing the details of different kind of resources. The resource-view is adaptive wrt the shown resource. So, in the case of classes, class axioms will be highlighted, in the case of properties, the different facets of the property (i.e. OWL types denoting further characteristic of the property) will be shown in a dedicated area, and so on for each major type of resource defined in the RDFS, OWL, SKOS and SKOS-XL vocabularies.</p>
    <p>Every time a new resource is being inspected, a new tab on the resource-view will be opened on the resource, while keeping the history of opened tabs.</p>
    <div class="figure"><img src="images/resourceview-multitabs.png" alt="classPanel" /></div>

    <p>A click on the X symbol available after the last tab will kill all open tabs but the selected one. </p>
    <h3>Operations available on the Resource View</h3>
    <p>Each of the partitions that compose the resource view (see figure below) shows a set of operations that are possible on it.</p>
    <div class="figure"><img src="images/resview_operations.png" alt="operations on the res view" /></div>




    <p>There are three different class of areas providing operations:</p>
    <ul>
      <li>Partitions</li>
      <li>The single properties being shown in each partition</li>
      <li>The values shown for each property</li>
    </ul>
    <h4>Partition-level operations</h4>
    <p>Each partition may be responsible for a single property or for a set of properties, according to some logical grouping. Usually, when representing a single property (as it is the case of the &quot;types&quot; partition) the partition still accounts for all the subproperties (e.g. subproperties of <span class="code">rdf:type</span> in this case) of the property associated to it.</p>
    <p>The following actions are possible:</p>
    <ul>
      <li>An iconed &quot;add&quot; button, with an icon associated to the usual type of values being added on that partition (e.g. <img src="images/icons/class_create.png" width="20" height="20" /> for properties pointing to classes, such as those related to <em>types</em>), associated to a default add action, depending on the kind of object:
        <ul>
          <li>link to an existing resource for resource values</li>
          <li>create a new value for literals</li>
        </ul>
      </li>
      <li>besides the add button, a menu with a series of options. The options may vary depending on the partition and on the nature of the resource being shown on the resource view. However, the following actions are generally available:
        <ul>
          <li><span class="code">Add value manually</span>: allows the user to add a value using NT syntax (e.g. URIs in between &lt;&gt;, literals in between &quot;&quot; with an additional language tag for language literals or a type for all other typed literals, etc..). </li>
          <li><span class="code">Add value from another project</span>: allows the user to add a resource browsing an external (local) project (this external project must have <a href="project_access_control.jsf#configuring_the_project_access_control_through_vocbench_ui">granted access</a> to the current project).</li>
        </ul>
      </li>
    </ul>
    <p>Any &quot;add&quot; action chosen from the partition, allows the user to choose the property from the set of properties associated to the partition and/or from their subproperties.</p>
    <h4>Property-level operations</h4>
    <p>After a value is being added for a certain property, that property is listed under its associated partition. The following actions are made available besides each shown property:</p>
    <ul>
      <li>An + button, associated to a default add action, depending on the kind of object:
        <ul>
          <li>link to an existing resource for resource values</li>
          <li>create a new value for literals</li>
        </ul>
      </li>
      <li>besides the add button, a menu with a series of options. The options may vary depending on the partition and on the nature of the resource being shown on the resource view. However, the following actions are generally available:
        <ul>
          <li><span class="code">add value manually</span>: allows the user to add a value using NT syntax (e.g. URIs in between &lt;&gt;, literals in between &quot;&quot; with an additional language tag for language literals or a type for all other typed literals, etc..)</li>
          <li><span class="code">Add value from another project</span>: allows the user to add a resource browsing an external (local) project (this external project must have <a href="project_access_control.jsf#configuring_the_project_access_control_through_vocbench_ui">granted access</a> to the current project).</li>
          <li><span class="code">Delete all values</span>: deletes all values linked to the viewed resource through this property</li>
        </ul>
      </li>
    </ul>
    <p>Any &quot;add&quot; action chosen from the actions besides each property, is restricted to use that property, and thus allows the user to only choose/create the value to be added.</p>
    <h4>Value-level operations</h4>

    <div class="figure"><img src="images/resourceview-value-level-actions.png" /></div>

    <p>These operations are shown on a menu located on the rightmost part of the widgets showing the values associated to the viewed resource through certain properties. The actions associated to them depend on the nature of the value (resource or literal) and on the partition type.</p>
    <ul>
      <li>All resource values generally allow for these actions
        <ul>
          <li><span class="code">Edit</span>: edits the value by using the NT notation. Please notice that the linked resource is not renamed. This simply changes the mention of the pointed resource. Remember to be careful in proceeding with this action as it is very easy to point to non-existing resource. The possibility to point to a non-existing resource is allowed as the intention of the user could be to <em>mention</em> an external existing resource that is possibly not available on the web. It is also possible to change the nature of the pointed value (e.g. changing its value from a resource to a literal). If the nature is not compatible with the property of the triple, a message will warn the user on the possible consequences of this choice.</li>
          <li><span class="code">Replace with existing resource</span>: this option allows the user to choose another resource from the current dataset and making it replace the previous value</li>
          <li><span class="code">Delete</span>: deletes the connection to the pointed resource. Please notice that the pointed resource is not deleted from the dataset, only the connection to it through the property used in the triple</li>
        </ul>
      </li>
      <li>All literal values generally allow for these actions
        <ul>
          <li><span class="code">Edit</span>: edits the value by using the NT notation. It is possible to change the nature of the pointed value (e.g. changing its value from a literal to a resource). If the nature is not compatible with the property of the triple, a message will warn the user on the possible consequences of this choice.</li>
          <li>
            <span class="code">Edit literal content</span>: edits the content of the literal, so excluding the eventual language tag or datatype. This action is also available for the skosxl labels (even if they are not literals). In case of literals with datatype rdf:HTML the HTML editor will be opened.
          </li>
          <li>
            <span class="code">Copy value to other locales</span>: copies the literal value to other locales. This action is available for language-tagged literal only in some partitions and only if the language has locales available or it is itself a locale.
          </li>
        </ul>
      </li>
      <li>For all kind of values these actions are available:
        <ul>
          <li><span class="code">Assert inferred statement</span>: explicitly asserts an inferred statement. The inferred statements are recognizable by a really light blue background.
          </li>
          <li>
            <span class="code">Bulk edit</span>: edits the value for all the S-P-O statements with the same predicate-object pair. This action uses the same NT notation seen for the <i>Edit</i> aforementioned. This action is available only in some partitions.
          </li>
          <li>
            <span class="code">Add/Change property</span>: replaces the predicate that links the resource to the value, or, according a subsequent choice by user, simply copies the same value to another predicate.
          </li>
          <li>
            <span class="code">Bulk delete</span>: deletes the value from all the S-P-O statements with the same predicate-object pairs. As well as for the <i>Edit</i> action described before, this action doesn't delete the pointed resource from the dataset, it simply delete the connection to the resource through the property. This action is available only in some partitions.
          </li>
        </ul>
      </li>
      <li>Further actions are also available exclusively for skosxl labels of concepts:
        <ul>
          <li><span class="code">Move xLabel to another concept</span>: removes the xLabel from the concept and assigns it to another concept.
          </li>
          <li><span class="code">Spawn new concept from this label</span>: removes the xLabel from the concept and creates a new concept assigning it the xLabel.
          </li>
        </ul>
      </li>
    </ul>
    <h3>Status button</h3>
    <p>
      On the bottom right of the resource view, there is a small <em>status button</em> the appearance of which reflects the mechanism
      used to retrieve the data about the displayed resource and, consequently, its position (i.e. local project or
      remote dataset). The table below describes the meaning of the different icons.
    </p>
    <table border="1px">
      <tr>
        <td rowspan="2">
          <div style="text-align: center">Local Resources</div>
        </td>
        <td><img src="images/status_current_project.png" alt="Resource in the current project" /></td>
        <td>Resource in the current project, which is accessed directly via the RDF4J API</td>
      </tr>
      <tr>
        <td><img src="images/status_local_project.png" alt="Resource in another local project" /></td>
        <td>Resource in another local project, which is open and accessible by the current project (according to the <a href="project_access_control.jsf">ACL</a>).
          Similarly to the case above, the resource is accessed directly via the RDF4J API</td>
      </tr>
      <tr>
        <td rowspan="3">
          <div style="text-align: center">Remote Resources</div>
        </td>
        <td><img src="images/status_remote_dereferentiation.png" alt="Remote resource accessed via URI dereferentiation" /></td>
        <td>Remote resource that is accessed by dereferencing its IRI (typically an HTTP URL). The resource view is severely limited
          by the inability to access information not readily available in the subject page of the resource
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align: center"><img src="images/status_remote_sparql.png" style="height: 25px;" alt="Remote resource accessed via SPARQL" /></div>
        </td>
        <td>Resource in a remote dataset that is accessed via SPARQL. In this circumstance, the resource view behaves similarly
          to the case of local projects
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align: center"><img src="images/status_remote_sparql.png" style="height:25px; opacity:0.5" alt="Remote resource accessed via SPARQL (with limitations)" /></div>
        </td>
        <td>Resource in a remote dataset that is accessed via a simplified use of SPARQL. In this case, the remote SPARQL endpoint
          is unable to handle the complex queries associated with the resource view, which fall backs to simplified queries.
          The resource view behaves like in the dereferentiation scenario, but it also expands some objects (e.g. SKOS-XL reified labels)
        </td>
      </tr>
    </table>
    <p>
      A click on the status button opens a popup that indicates explicitly the name of the <em>access method</em> and, depending on the scenario, the <em>accessed project</em> or the <em>accessed remote dataset</em>.
    </p>
    <p>
      The position of a resource (local vs remote) is determined by matching its namespace against the one associated with a local project or a remote dataset. In the latter case, the information
      (together with the available access mechanisms) is stored in the <a href="mdr.jsf">Metadata Registry</a>. In fact, irrespectively of the declared namespace, a resource is located in the
      current project, if it occurs as the subject of any triple.
    </p>

    <p>
      If the position of a resource can't be determined, the resource view fall backs to dereferentiation, while a red exclamation mark is placed near the status button to let the user
      know that this access was not informed by metadata in the Metadata Registry. If the user clicks on the status button, the displayed popup reports that this is an attempt to dereference
      a resource in an unknown dataset and offers a button to start the process of automatic discovery of the dataset metadata. If the discovery succeeds, the resource view is reloaded, aiming
      at an improved visualization by exploiting the just discovered metadata.
    </p>

    <h3>Alignment to an External Resource</h3>
    <p>Resources in a VocBench project can be aligned to resources available in the same project or to external resources. These external resources can be looked in other projects available on the same VocBench instance or in remote datasets.
      The option for alignment is available from the general menu at the top-rightmost part of the resource-view, as shown in figure below</p>
    <div class="figure"><img src="images/align-start.png" alt="start the alignment" /></div>
    <p>The user will then start the procedure for alignment...</p>
    <div class="figure"><img src="images/align-add.png" alt="add an alignment" /></div>
    <p>it is possible to select a mapping property and to choose three different ways to provide the target resource</p>
    <ul>
      <li><span class="code">Browse local projects</span></li>
      <li><span class="code">Assisted search</span></li>
      <li><span class="code">Enter value manually</span>: allows the user to set an IRI manually</li>
    </ul>

    <p>Let's see in details the first two options.</p>
    <p><span class="code">Browse local projects</span> option allows to browse the resources trees/lists of the target repository, looking for the candidate match (figure below). Note that, in order to be inspectable, the other projects must have <a href="project_access_control.jsf#configuring_the_project_access_control_through_vocbench_ui">granted access</a> to the project that the user is logged on.</p>
    <div class="figure"><img src="images/align-found.png" alt="add the alignment" /></div>
    <p>After clicking on &quot;ok&quot;, the matched resource is visible on the resource-view (figure below)</p>
    <div class="figure"><img src="images/align-result.png" alt="add the alignment" /></div>

    <p><span class="code">Assisted search</span> is a search-based way to discover potential match in external local projects and remote datasets. In the dialog that introduces this feature there is a selector for switching the target of the alignment: a resource in a <i>local</i> project or in a <i>remote</i> dataset. If <i>local</i> is selected, it will be listed the open local projects that grant access to the current project, if <i>remote</i> it will be listed the remote datasets defined in the <a href="mdr.jsf">Metadata Registry</a>, it is also possible to define a new dataset on the fly.</p>
    <div class="figure"><img src="images/align-assisted_search.png" alt="assisted search" /></div>

    <p>In order to operate, the assisted-search needs to profile the mediation between the resource to align and the target project/dataset, consequently it needs metadata about the target project/dataset. In case these metadata are missing, if the target is <i>local</i> it is possible to generate them on the fly, otherwise, if the target is <i>remote</i> it is necessary to generate them from the <a href="mdr.jsf">Metadata Registry</a> management page.</p>
    <p>Once the mediation is done, the UI shows a list of lexicalization sets shared between the source resource and the target project/dataset. Then it is possible to select the language (among the ones listed as result of the aforementioned mediation) and the string match modes on which to base the search.</p>
    <div class="figure"><img src="images/align-assisted_search_config.png" alt="assisted search config" /></div>
    <p>The search will return the resources that matches the search criteria, so the resources that may represent a candidate for the alignment, accompanied by the language and the string match modes which satisfied the match.</p>
    <div class="figure"><img src="images/align-assisted_search_result.png" alt="assisted search results" /></div>

    <h3>Customization of ResourceView</h3>

    <p>
      The aspect of the ResourceView can be customized according the user preferences. In the top right corner of the ResourceView, a "cog" button opens a dialog that allows to edit the settings.
    </p>
    
    
    <p>The following preferences can be edited:</p>
    <ul>
      <li>
        <i>ResourceView mode</i>: by choosing the option "splitted" instead of the default "tabbed", instead of keeping an history of tabs, the resource-view will keep two parallel screens. Every time a resource is double clicked on the main view (the left one), it is expanded in the secondary view (the right splitted panel). This is very useful when willing to examine several resources while keeping the eye on a given specific resource.
        When the "tabbed" mode is active, a further option is available that allows to keep the selected tab synchronized with the tree/list shown in the left side of the Data view.
      </li>
      <li><i>Display image</i>: If enabled, URL values resolvable to images on the web will be displayed as images (preview) in the ResourceView.</li>
      <div class="figure"><img src="images/resourceview-settings-mode.png" /></div>
      <li>
        <i>Value-filter languages</i>: 
        allows to define a language-base filter in order to show or hide literal values in the ResourceView.
        <div class="figure"><img src="images/resourceview-settings-value-filter.png" /></div>
      </li>
      <li><i>ResourceView template</i>: from this panel is possible to show or hide entire partitions of the ResourceView in order to make it more readable if the user is not interested in some of them. The panel is splitted in two sub-panel. The left one lists all the available resource types (e.g. <i>Concept</i>, <i>Class</i>, ...), for each of them is possible to check/uncheck a specific partition in order to show/hide it from the view. The <i>Partitions</i> panel provides also quick actions. From the header buttons is possible to check/uncheck all the partitions, while the arrows beside the eye icons expand a menu for setting visible or hiding the given partition for all the resource types. The "Enable all" button placed on the panel footer restore as visible all partitions of all resource types.<br />
        The <i>ResourceView template</i> panel header provides a toolbar that allows to:
        <ul>
          <li>Store a template as configuration.</li>
          <li>Load a template configuration previously stored by the user (also in another project) or even from other users (according the level chosen during the store operation).</li>
          <li>Set the current configuration as default for all the projects or restore the default configuration (action available from the "Default" dropdown button).</li>
        </ul>
        Note that the administrator could set a default template for the user in a specific project (see <a href="projects_adm.jsf#project-users_management">here</a>) of independently from the project (see <a href="users_adm.jsf#resource_view_template">here</a>).
      </li>
      <div class="figure"><img src="images/resourceview-settings-template.png" /></div>
    </ul>

    <p>Here below an image of a splitted ResourceView, showing both an individual and the class it belongs to:</p>
    <div class="figure"><img src="images/resourceview-split.png" alt="Splitted ResView" /></div>

    <p>And here an image of a ResourceView in tabbed visualization mode. The screenshot demonstrates also how an image is displayed when the <i>Display image</i> preference is enabled.</p>
    <div class="figure"><img src="images/resourceview-display-img.png" alt="ResView display image" /></div>

    <p>
      Some of these preferences are also available in the <i>Preferences</i> page described in the following section.
    </p>

    <h2>Undo</h2>
    <p>
      From version 10.0.0 of VocBench, the <i>Undo</i> feature is available. This feature can be enabled during the <a href="./projects.jsf#project_creation">project creation</a> and can disabled (or enabled back) through the <a href="./projects.jsf#project_settings">project settings</a> editor.
    </p>
    <div class="figure"><img src="images/undo_button.png"/></div>
    <p>
      When this feature is enabled, using the button in the top bar, or through the key combination ctrl+Z (or cmd+Z on Mac), it is possible to reverse the operations on data that the user has performed. The system keeps a stack of the last 10 operations performed on data, so user can reverse up to 10 operations. This limitations is overcome if the <a href="history_and_validation.jsf">History</a> feature is enabled as well. When an operation is reversed, a notification is shown on the bottom right corner of the screen.
    </p>
    <div class="figure"><img src="images/undone.png"/></div>
    <p>Moreover, whereas it is possible, the previous status is restored also in the UI, e.g. a resource restored in a tree/list, a value restored in the ResourceView, a commit restored in the History/Validation page.</p>
    <p>It is possible to reverse only operations performed by the same user that execute the undo, any action performed by any other user stops the ability to perform further undo.</p>
    <div class="figure"><img src="images/undone_warning.png"/></div>

    <h2>User Preferences for Visualization</h2>
    <p>Through the user menu - and only when a project is being accessed - it is possible to open the <em>Preferences</em> page. </p>
    <div class="figure"><img src="images/preferences.png" alt="classPanel" /></div>
    <p>Currently, the most prominent preferences options cover:</p>
    <ul>
      <li><em>Resource-view mode</em>: determines the visualization mode of the Resource view. This is the same preferences described in the previous section.</li>
      <li><i>Display images</i>: If enabled, URL values resolvable to images on the web will be displayed as images (preview) in the ResourceView.</li>
      <li>
        <em>Languages</em>: this panel covers three language preferences:
        <ul>
          <li>
            <i>Rendering</i>: the chosen Rendering-Engine establishes how resources are shown on the screen. There's no a-priori constraint on the strategy being chosen for representing resources as the rendering-engine can virtually perform any operation (an extension point allows to plug customized rendering engines). However, all Rendering-Engines have the possibility to use the <em>languages</em> property set through the preferences in order to choose which lexicalizations to represent. The Languages section offers a user-friendly view for choosing the set of languages that can be considered by Rendering-Engines for rendering the resources on the various views of VB. The defined languages can be sorted by name, code or the rendering order (&quot;position&quot; column) chosen by the user. The &quot;active&quot; column determines which languages have been selected for being shown. No selection is equivalent to &quot;show all languages&quot;.
          </li>
          <li>
            <i>Editing</i>: allows to select the language prompted by default when creating a new language-tagged literal. The language list is restricted to those languages assigned to the user in the current project (see <a href="projects_adm.jsf#project-users_management">here</a>)
          </li>
          <li>
            <i>Value-filter</i>: allows to define a language-base filter in order to show or hide literal values in the ResourceView.
          </li>
        </ul>
      </li>
      <li><em>Show flags</em>: the evergreen of UI debates! Flags do not properly fit the representation of languages, as they are bound to countries...nonetheless they are cool! Users can choose here which option to adopt.</li>
      <li><em>Project theme</em>: it is possible to customize the color theme for each project. This choice is user-locale so won't affect the color on the same project for other users.</li>
    </ul>

    <h2>Search</h2>
    <p>Navigation in tree and list panels is supported by a search bar for finding resources in the dataset.</p>
    <div class="figure"><img src="images/search_bar.png" alt="search bar" /></div>

    <h3>The Search Bar</h3>
    <p>The search bar provides three different search modes</p>
    <ul>
      <li>Standard search: a &quot;simple&quot; search that looks for a prompted string</li>
      <li><span class="code">Advanced search</span>: a more powerful search which allows to apply filters</li>
      <li><span class="code">Custom search</span>: a search based on parameterized SPARQL queries</li>
    </ul>

    The <i>standard search</i> is the default search fired when the &quot;lens&quot; symbol is clicked or the <i>ENTER</i> key is pressed during the typing into the search bar input field.

    <div class="figure"><img src="images/search_strategy.png" alt="search strategy" /></div>
    <p>Besides the &quot;lens&quot; symbol for searching, a quick option button allows to choose the strategy for search, among:</p>
    <ul>
      <li><span class="code">Starts with</span>: looks for resource having at least a lexicalization starting with the prompted string</li>
      <li><span class="code">Contains</span>: looks for resource having at least a lexicalization containing the prompted string</li>
      <li><span class="code">Ends with</span>: looks for resource having at least a lexicalization ending with the prompted string</li>
      <li><span class="code">Exact</span>: looks for resource having an exact match with the prompted string</li>
      <li><span class="code">Fuzzy</span>: looks for resource having an approximate match with the prompted string</li>
    </ul>

    <p>The gear button on the Search bar opens a further set of options:</p>
    <div class="figure"><img src="images/search_options.png" alt="search options" /></div>
    <p>The following options are available:</p>
    <ul>
      <li>The first option (String match mode) is related again to the search strategy, also available as a quick option on the bar.</li>
      <li><span class="code">Search mode</span>: if the search (normally acting on lexicalizations only) should be extended to look into the whole URI, the local name of the resource and eventual notes.</li>
      <li><span class="code">Lexicalizations Search</span>: allows the user to restrict the search only to some languages. If the &quot;Include locales in search&quot; option is ticked, locales will be searched even if they are not explicitly marked in the restricted list of languages.</li>
      <li><span class="code">Autocompletion</span>: enables the autocompletion of the search string while this is being typed by looking on all available lexicalizations (and local names if included in the search).</li>
      <li><span class="code">Classes-Instances panel search</span> (available only in classes-instances panel): by default both classes and instances are searched (as in all resource-specific sections, first a list of matched resources is returned, then the resource selected by the user will be resolved in its proper subsection, class or instance). Through this option it is possible to constrain the search to only one of these sets.</li>
      <li><span class="code">Concept search</span> (available only in concept panel): through an option contained in this section it is possible to constrain the search to only the currently active skos:ConceptScheme(s).</li>
    </ul>

    <h3>Advanced Search</h3>
    <p>The <i>advanced search</i> is a powerful search tool that allows to search resources in the dataset with the support of a set of more complex filters than the ones of the standard search. Unlike the standard, this search looks for any resource in the dataset, so it is not constrained to the kind of resource shown by the panel where the search is executed/invoked.</p>
    <div class="figure"><img src="images/advanced_search.png" alt="advanced search" /></div>
    <p>It foreseen the following filters:</p>
    <ul>
      <li><span class="code">Search string</span>: it is optional, if provided, similarly to the standard search, this string is used to search a resource according the criteria specified in the <i>Search mode</i> section.</li>
      <li><span class="code">Status</span>: allows to search resources by status. Available statuses are <i>Anything</i>, <i>Not deprecated</i> and <i>Only deprecated</i>.</li>
      <li><span class="code">Search mode</span>: see the description in the previous section.</li>
      <li><span class="code">Lexicalization</span>: see the description in the previous section.</li>
      <li><span class="code">Types</span>: if provided, filters the results to the resources belonging to the given class. Multiple classes are evaluated in AND</li>
      <li><span class="code">Schemes</span>: similarly to the <i>Types</i>, filters the results to the resources belonging to the given scheme (only in projects where the concept tree is available). Multiple schemes are evaluated in AND.</li>
      <li><span class="code">Ingoing links</span>: filters the results according to subject-predicate pairs. Multiple pairs are evaluated in AND, multiple subjects in OR.</li>
      <li><span class="code">Outgoing links</span>: filters the results according to predicate-object pairs. Multiple pairs are evaluated in AND, multiple objects in OR. The object could be a set of values, or a plain literal that is in turn retrieved through a free-text search.</li>
    </ul>

    <h3>Custom Search</h3>
    <p>The <i>custom search</i> exploits the power of SPARQL to execute customizable search. A custom search can be instantiated selecting a previously stored <a href="sparql.jsf#parameterized_sparql_query_editor">parameterized query</a> which must return a single variable (if not, an error will be displayed when running the search).</p>
    <div class="figure"><img src="images/custom_search_load.png" alt="load custom search" /></div>

    <p>The UI shows a form composed by as many input fields as parameters defined by the parameterized query. Each input field guides the user to enter a value that is compliant with the constraints defined by the related parameterized SPARQL query. For instance, in the example shown in the following figure, the <i>Type</i> field suggests to enter a class, <i>Label Pred.</i> a property and <i>Label</i> a string or a plain literal.<br />
      Enabling the details (by clicking on the <i>Details</i> button in the top right corner) the UI shows the variable names (instead of a display name) beside each fields and also the SPARQL query related to the custom search.</p>
    <div class="figure"><img src="images/custom_search_details.png" alt="custom search details" /></div>

    <h2>Data View Tabs</h2>

    <p>As of version 8.0, the DataView panel provides three different tabs offering different perspectives on the resource being shown:</p>
    <ul>
      <li><a href="#the_resource_view"><i>resview</i></a>: the resource view is the default view over a resource and contains everything that has been described so far in this page</li>
      <li><a href="codeview.jsf"><i>codeview</i></a>: the code view shows all the triples related to the described resource. Given the proper authorization, it is possible to edit these triples and save the change in the data</li>
      <li><a href="codeview.jsf"><i>termview</i></a> (only for skos concepts): a simplified view for terminologists. It allows for the modification of labels and definitions in various languages. </li>
    </ul>


    <h2>Data View Pages</h2>
    <p>Depending on the dataset being edited (an OWL ontology or a SKOS thesaurus), two different set of views are available:</p>

    <ul>
      <li><em><a href="owl_editing.jsf">OWL Vocabulary</a></em>: Class, Property and Datatype views</li>
      <li><em><a href="skos_editing.jsf">SKOS Thesaurus</a></em>: Class, Concept, Scheme, Collection and Property and Datatype views</li>
      <li><em><a href="ontolex_editing.jsf">OntoLex-Lemon Lexicon</a></em>: Class, Concept, Scheme, Collection and Property, Lexicon, Lexical Entry and Datatype views</li>
    </ul>

    <h2>Graph View</h2>
    <p>
      In addition to the Data Structure Views (trees and lists), it is possible to explore the data through the <a href="graphs.jsf">Graph View</a>.<br />
      VocBench provides three kinds of Graph View:
    <ul>
      <li><i>Data-oriented</i>: it is a close representation of the RDF graph, with nodes representing resources and edges representing properties.</li>
      <li><i>Model-oriented</i>: it is oriented to the relations that describe the ontology model, like the relations between the domain and range classes of a property.</li>
      <li><i>Class-diagram</i>: an UML-like class-diagram that describes relations between classes and their properties.</li>
    </ul>
    For further details, see the <a href="graphs.jsf">dedicated page</a>.
    </p>

  </ui:define>
</body>

</html>