<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>The Data View: Editing Edoal alignments
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </h1>

        <h2>Intro</h2>

        <p>
            The data view page for the Edoal projects differs a lot from the others. Instead of the "classic" two-sections page structure, with the data structure on the left and the resource view on the right, here the page adopts a three-columns subdivision: in the left and right columns there are the data structures of the two datasets involved in the Edoal project, at the center there is a panel that allows the management of the alignments.
        </p>

        <div class="figure"><img src="images/edoal_data.png" alt="edoal data view" /></div>

        <p>
            The side panels contain the tree/list structures essential to the alignment. In the specific case shown in the figure above, where the two aligned datasets are both SKOS thesauri, the panels contain the skos:Concept tree and the skos:ConceptScheme list (needed in order to eventually restrict the view of the concept tree to different schemes).
        </p>

        <h2>Alignment creation</h2>

        <p>
            The central column has two panels: the lower one, which takes up most of the column, allows to manage existing alignments, while the upper one is used to define new ones. When the user selects a resource in one of the side panels, the same is shown in the <i>New alignment</i> panel. It is then possible to select one of the relations available and set a measure between 0 and 1 (the higher it is, the more trustworthy the relation). Clicking the <i>Create</i> button will add the new alignment to the <i>Alignments</i> list below.
        </p>
        <p>The relations available for alignments are those defined by <a href="http://alignapi.gforge.inria.fr/">INRIA's Alignment API</a>:</p>
        <ul>
            <li><i>=</i>: the left and right resources are equivalent or very similar. The mapping properties for this relation depend on the type of resources involved in the alignment, for example <i>skos:exactMatch</i> or <i>skos:closeMatch</i> for concepts and <i>owl:sameAs</i> for properties, classes, or individuals, etc.</li>
            <li><i>&gt;</i>: the left resource subsumes the right resource. An example of a semantic relation property would be <i>skos:narrowMatch</i>.</li>
            <li><i>&lt;</i>: the left resource is subsumed by the right resource. An example of a semantic relation property would be <i>skos:broadMatch</i>.</li>
            <li><i>%</i>: the two resources are considered incompatible. Examples of equivalent properties would be <i>owl:disjointWith</i> or <i>owl:differentFrom</i>.</li>
            <li><i>HasInstance</i>: relation between a class and an individual, like in an OWL ontology.</li>
            <li><i>InstanceOf</i>: relation between an individual and a class, like in an OWL ontology.</li>
        </ul>

        <h2>Alignments management</h2>
        <p>
            The <i>Alignments</i> panel located in the central column lists the available mappings. This panel contains a table with five columns:
        </p>
        <ul>
            <li><i>Left entity</i>: the resource of the left dataset involved in the alignment. If double clicked, it opens a dialog with the ResourceView of the resource.</li>
            <li><i>Right entity</i>: the resource of the right dataset involved in the alignment. If double clicked, it opens a dialog with the ResourceView of the resource.</li>
            <li><i>Relation</i>: shows the relation between the two entities. If clicked it allows to select another relation.</li>
            <li><i>Mapping prop</i>: allows the selection of an alignment property.</li>
            <li><i>Measure</i>: shows the confidence measure assigned to the alignment. If clicked it allows to edit the value.</li>
        </ul>

        <p>
            There are three action buttons on the right side of the panel header. The first one, two arrowheads, is enabled only when an alignment is selected in the table. It allows to highlight the two entities of the alignment in the side panels. The button with the <i>minus</i> icon simply removes the selected alignment. Finally, the last button refreshes the list of alignments.
        </p>

        <p>
            When selecting a mapping property (using the selector under <i>Mapping prop</i> column) the system suggests one or more properties suitable for the type of resources involved in the alignment and the type of relation. The following table defines the possible combinations.
        </p>



        <style>
            th,
            td {
                padding: 4px 8px;
            }

            th,
            .table-header {
                background-color: #eee;
            }
        </style>
        <table style="margin-left: auto; margin-right: auto;">
            <thead>
                <tr>
                    <th style="text-align: end;">Relation &#9654;</th>
                    <th rowspan="2" style="text-align: center;">=</th>
                    <th rowspan="2" style="text-align: center;">&gt;</th>
                    <th rowspan="2" style="text-align: center;">&lt;</th>
                    <th rowspan="2" style="text-align: center;">%</th>
                    <th rowspan="2" style="text-align: center;">InstanceOf</th>
                    <th rowspan="2" style="text-align: center;">HasInstance</th>
                </tr>
                <tr>
                    <th>&#9660; Entity Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table-header"><b>Property</b></td>
                    <td><code>owl:equivalentProperty</code>; <code>owl:sameAs</code></td>
                    <td></td>
                    <td><code>rdfs:subPropertyOf</code></td>
                    <td><code>owl:propertyDisjointWith</code></td>
                    <td><code>rdf:Type</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table-header"><b>Concept</b></td>
                    <td><code>skos:exactMatch</code>; <code>skos:closeMatch</code></td>
                    <td><code>skos:narrowMatch</code></td>
                    <td><code>skos:broadMatch</code></td>
                    <td></td>
                    <td><code>skos:broadMatch</code>; <code>rdf:type</code></td>
                    <td><code>skos:narrowMatch</code></td>
                </tr>
                <tr>
                    <td class="table-header"><b>Class</b></td>
                    <td><code>owl:equivalentClass</code>; <code>owl:sameAs</code></td>
                    <td></td>
                    <td><code>rdfs:subClassOf</code></td>
                    <td><code>owl:disjointWith</code></td>
                    <td><code>rdf:type</code></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="table-header"><b>Individual</b></td>
                    <td><code>owl:sameAs</code></td>
                    <td></td>
                    <td></td>
                    <td><code>owl:differentFrom</code></td>
                    <td><code>rdf:type</code></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <p>
            So, as shown in the example below, the properties suggested for an alignment between two concepts and a <code>=</code> relation are <code>skos:exactMatch</code> and <code>skos:closeMatch</code>. Note: Given that aligning two resources of different types would not make sense, only the type of the left entity role is taken into account.
        </p>

        <div class="figure"><img src="images/edoal_mapping_prop.png" /></div>

        <p>
            Additionally, as shown in the sample above, an "Other..." option is available under the <i>Mapping prop</i> selector. This option allows the selection of a property, different from the ones suggested by default, by picking it from the property tree.
        </p>
        <p>
           Once a custom property has been set, the system will suggest it, in addition to the default ones, whenever choosing a mapping property for the same role-relation pair. As you can see in the following image, <code>rdfs:seeAlso</code> is suggested, in addition to the default <code>skos:exactMatch</code> and <code>skos:closeMatch</code>, since it is already used in another alignment between concepts with <code>=</code> relation.
        </p>
        <div class="figure"><img src="images/edoal_mapping_prop_custom.png" /></div>


    </ui:define>
</body>

</html>