<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>First Access</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Administrator registration</h2>
    <p>
      Once accessed for the first time, VocBench recognizes that no user has been registered, so it prompts a form in order to register the first user that will be automatically promoted as administrator.
    </p>
    <div class="figure"><img src="images/registration_admin.png" alt="Admin signup" /></div>

    <p>
      A pre-defined dummy user (email <i>admin@vocbench.com</i>) is available for letting those willing to use VocBench as a simple desktop tool.
      This user, along with the mandatory information, can be automatically filled by clicking the <i>Fill pre-defined user</i>.
    </p>

    <h2>System configuration</h2>

    <p>
      At the first access VB needs also to be configured in some core aspects of the system. These configurations are not mandatory but they are needed in order to make the whole system works as expected.
      Once the administrator registration is complete, the system redirects to a configuration page.
    </p>
    <div class="figure"><img src="images/sys_initial_configuration.png" alt="System configuration" /></div>
    <p>A more detailed description of this configuration is provided <a href="sys_config_adm.jsf">here</a>.</p>

  </ui:define>
</body>

</html>