<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>User Accessing the Platform</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>The Opening Screen</h2>
    <p>The landing page for VocBench appears as in the following figure. Here it is possible to log in by prompting the email used for registering on the system and the chosen password.</p>

    <div class="figure"><img src="images/user-first-access.png" alt="Opening Screen" /></div>

    <p>Note: VocBench allows also to login using an alternative authentication method (SAML). Read details <a href="../sys/index.jsf##saml_authentication">here</a>.</p>

    <h2>User registration</h2>

    <p>
      A user that is accessing VocBench for the first time needs to register to the system. By clicking on the <i>Sign up</i> link, just under the login form on the right side of the landing page, the following registration form is prompted.
    </p>
    <div class="figure"><img src="images/registration_form.png"/></div>

    <p>
      Only essential fields are mandatory. Optional fields may be hidden or further ones may appear in the form according the customization made by the administrator (see <a href="sys_config_adm.jsf">here</a>). Notice the presence of the <i>Language proficiencies</i> field which, even if it is optional, is highly recommended to fill in order to suggest to the system administrator which languages to assign when he will grant to user the access to a project (further info <a href="projects_adm.jsf#project-users_management">here</a>).
    </p>
    <p>
      If administrator has enabled the email address verification, the new registered user may receive an email providing a link to click in order to verify the email address and thus to complete the registration process. 
    </p>
    <p>
      Once the user is registered (and eventually verified), it must have been &quot;activated&quot; by the administrator in order to be able to log in.
    </p>

    <h2>Accessing a Project</h2>
    <p>After logging in, users will be prompted with the list of projects they are allowed to access. Note that, in order for a project to be present in the list, the following two conditions must be true:</p>
    <ul>
      <li>The user has been assigned to the project, with one or more roles</li>
      <li>The project must have been opened by an administrator</li>
    </ul>
    <div class="figure"><img src="images/choosing_project.png" alt="Opening Screen" /></div>
    <p>After having chosen the project to access, the project landing page will be shown, as in the following figure. Note that in some case some options might not be available to the user according the roles (and the related capabilities) that the user has in the project (e.g. only a subset of tools is accessible among those <a href="tools.jsf">available</a>).</p>
    <div class="figure"><img src="images/project_user_landingpage.png" alt="Project Landing Page" /></div>

    <h2>User Profile Editing</h2>
    <p>
      By clicking on the top-right corner user button, it is possible to access a series of options for the user. 
      Note: the <i>Administration</i> entry is available only for administrator users and redirect to the <a href="administration.jsf">Administration</a> page.
      The <i>View profile</i> option on the menu allows users to access their profile page and revise those info provided during the registration.
    </p>
    <div class="figure"><img src="images/profileChange.png" alt="Opening Screen" /></div>

    <h2>Multilingual UI</h2>
    <p>VocBench from version 9.0.0 provides a multilingual UI and support for <a href="../sys/internationalization.jsf">internationalization</a>.</p>

    <p>User can changes the language of the textual content shown in the UI through the selector on the top right corner.</p>
    <div class="figure"><img src="images/i18n_it.png"/></div>

  </ui:define>
</body>

</html>