<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
  <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
  <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
  <script type="text/javascript" src="../../js/chili/recipes.js"></script>
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="head">    
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
    <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
    <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
    <script type="text/javascript" src="../../js/chili/recipes.js"></script> 
  </ui:define>

  <ui:define name="mainContent">

    <h1>Global Data Management</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>


    <p>The Global Data Management menu provides functionalities for overall management of the data in the project. </p>
    <div class="figure"><img src="images/gdm-menu.png" alt="global data management menu" /><br />
    </div>

    <h2>Load Data</h2>
    <p><em>Please notice that this functionality is meant for loading the data that has to be maintained within the project (e.g. load the latest distribution of the Eurovoc dataset in order to edit Eurovoc within VocBench). If the intent is to <a href="http://www.w3.org/TR/2012/REC-owl2-primer-20121211/#Ontology_Management">owl:import</a> an ontology, in order to create a knowledge base based on it, or to create another ontology extending its model, then the <a href="namespaces_imports.jsf#imports">Import functionality</a> in the &quot;<a href="metadata.jsf">Metadata Management</a>&quot; section should be used.</em></p>

    <div class="figure"><img src="images/load-data.png" alt="Load data" /></div>

    <p>
      VocBench can load data from a variety of sources such as <em>files</em>, <em>triple stores</em> and <em>custom sources</em>. The desired type of source can be chosen using the combobox labeled &quot;Load from&quot;. Depending on this choice, the user shall then configure:
    </p>
    <ul>
      <li>a <em><a href="http://semanticturkey.uniroma2.it/doc/sys/loader.jsf">loader</a></em>, which extracts the data from a source</li>
      <li>a <em><a href="http://semanticturkey.uniroma2.it/doc/sys/rdf_lifter.jsf">lifter</a></em>, which transforms a byte sequence to RDF. This component is not required when loading data from a triple store, because the loader itself produces RDF data.</li>
    </ul>
    <p>The <em>baseuri</em> field is usually not mandatory as the baseuri is generally provided by the data being loaded. The value for the baseuri is used only when the loaded content includes local references (e.g. <span class="code">#Person</span>) and no baseuri has been specified. Formats such as<em> NTRIPLES</em>, which always contain fully specified URIs, never need this optional parameter, and in cases local references are possible (such as in <em>RDFXML</em>), usually the baseuri is provided inside the file.</p>
    <p>
      The data that has been loaded and (if necessary) lifted to RDF can be further processed before it is written in the working graph of the current project. The transformation of the data can be controlled by specifying a sequence of <em><a href="http://semanticturkey.uniroma2.it/doc/sys/rdf_transformer.jsf">RDF Transformers</a></em> (more details provided later in the <a href="#export_data">Export Data</a> section). Transformers can operate destructively on a copy of the data being loaded, which are first loaded in a temporary, in-memory repository. Otherwise, this temporary copy is avoided, and the data is directly fed to the project repository.
    </p>
    <p>The &quot;Resolve transitive imports from :&quot; combo box, shows the following possible values, instructing VocBench on how to import vocabularies specified on transitive dependencies, that is, vocabularies that are owl:imported by the loaded data, or by other vocabularies in turn imported by it.</p>
    <ul>
      <li><em>Web</em>: transitive imports are resolved by trying to import the related vocabularies through their URIs specified in the <span class="code">owl:imports</span> declarations</li>
      <li><em>Web with fallback to Ontology Mirror</em>: if a vocabulary required by a transitive import is not found on the Web, then the <em>Ontology Mirror</em> will be used as a fallback solution</li>
      <li><em>Ontology Mirror</em>: transitive vocabulary dependencies will be resolved locally on the Ontology Mirror</li>
      <li><em>Ontology Mirror with fallback to </em><em>Web</em>: if a vocabulary required by a transitive import is not found on the <em>Ontology Mirror</em>, then the Web will be used as a fallback solution</li>
    </ul>
    <p>Note that the content will be loaded inside the project's working graph, so it is possible to modify it. This is the main difference with respect to the <em>import</em> options on the <a href="metadata.jsf#Import">Import Panel</a> that allow users to import existing ontologies as read-only data. Conversely, the <em>Load RDF</em> option is typically used to reimport data which has been previously backed up from an old repository, or for data exchange among different users.</p>
    <p>
      The flexibility of the &quot;load data&quot; mechanism clearly allows for complex procedures to be defined. To ease the (consistent) reuse of these procedures, VocBench supports saving (and then loading them) on different scopes (system, project, user, project-user), depending on the desired level of sharing. To that end, it is sufficient to use the &quot;floppy disc&quot; buttons inside the header of the window.
    </p>

    <div class="figure"><img src="images/load-data-save-configuration-buttons.png" alt="Save overall load configuration" /></div>

    <p>
      It is worth to notice that the configuration of individual components (i.e. loaders, lifters, RDF transformers) are not included inside the configuration of the overall process, but they are only included by reference. In case one these sub-configurations was not saved independently, a dialog like the one below is shown:
    </p>

    <div class="figure"><img src="images/load-data-unsaved-configuration.png" alt="Reference to an unsaved configuration" style="border: 1px solid black" /></div>

    <p>
      To save and load the configuration of individual components, it is possible to use analogous save/load buttons associated with each configurable component.
    </p>

    <h3>Loading Large Amounts of Data on Projects Requiring Validation</h3>
    <p>When dealing with big datasets in projects with validation enabled, loading the initial data might result in a very slow process, this is because each single triple present in the repository is copied first in the support repository (in its reified form) and in the validation graph of the core repository, and then it needs to be validated, causing another heavy operation for being finalized. </p>
    <p>As a solution, authorized users can tick the &quot;Implicitly validate loaded data&quot; option (which appears only in projects requiring validation, and only for authorized users) which, as the options says, skips the validation process and copies the data directly in the repository (if history is enabled though, a copy in the history will be made in any case, still requiring less time than a copy in the validation, and not requesting validators to perform the heavy validation operation later).</p>
    <div class="figure"><img src="images/loading_under_validation.png" alt="loading_under_validation" /></div>
    <h2>Export Data</h2>
    <p>After selecting the <em>Export Data</em> option, a window like the one in figure below will be shown. The window is organized into three sections, which correspond with the selection of the <em>graphs to export</em>, an optional pipeline of <em>export transformations</em> and a <em>deployment</em> specification. Additionally, a checkbox near the button &quot;Export&quot; can be used to include the inferred statements in the export.</p>

    <div class="figure"><img src="images/export-data.png" alt="Export data" /></div>

    <p>The section, &quot;Graphs to export&quot; lists all the named graphs available in the dataset of the project, so that the user can decide whether to export the sole working data or other information. Note that the provenance information of the graph is maintained depending on the configured deployment specification: serializing the data in a file conforming to quad-oriented formats (e.g. N-Quads, TriX, etc..) allows to keep track of the context each statement belong to, while triple-formats (N-Triple, TriG..) will have all the data merged in the same triple set.</p>

    <p>The middle part of the export page concerns the possibility to use <em><a href="http://semanticturkey.uniroma2.it/doc/sys/rdf_transformer.jsf">RDF transformers</a></em> for altering the content to be exported according to user preferences. Export transformers range from very specific transformations (e.g. transform all SKOS-XL reified labels into plain SKOS core ones) through user-customizable ones (e.g. DeletePropertyValue, allowing the user to specify a property and a value that should be removed from all resources in the dataset, adopted usually in order to remove some editorial data that is not desired to appear on the published dataset, but repurposable for any need) to completely specifiable transformers, such as the SPARQL Update Export Transformer, that allows the user to completely change the content according to user-defined SPARQL updates. The warning sign near the SPARQL RDF Transformer in the figure above indicates that the user has not already provided the required configuration.</p>
    <p>Note that when transformers are adopted, all the content to be exported is copied to a temporary in-memory repository, which can thus be altered destructively by the transformers without corrupting the original data. The export process is optimized in case no transformer has been selected: in this case, no temporary repository is generated and the data is directly dumped from the original dataset.</p>
    <p>We have provided a dedicated page for describing useful (and thus reusable) configurations of the <a href="../lib/rdf_transformers">RDF Transformers</a>.</p>
    <p>The last section, &quot;Deployment&quot;, allows to configure the destination of the exported data. Available options are:</p>
    <ul>
      <li>Save to file</li>
      <li>Deploy to a triple store</li>
      <li>Use custom deployer</li>
    </ul>
    <p>
      The first option, &quot;save to file&quot;, serializes the exported data as a sequence of bytes that are returned to the browser so that they can be downloaded in a file within the filesystem of the user. The serialization is controlled by the selection of a <em><a href="http://semanticturkey.uniroma2.it/doc/sys/reformatting_exporter.jsf">reformatter</a></em>, which may optionally require a configuration. Moreover, a combobox labeled &quot;Export Format&quot; allows to select the specific serialization format among the ones supported by the chosen reformatter. In the figure above, it has been chosen to format the data according to the RDF/XML syntax.
    </p>
    <p>
      The second option, &quot;Deploy to a triple store&quot;, uses a <em><a href="http://semanticturkey.uniroma2.it/doc/sys/deployer.jsf">deployer</a></em> supporting destinations that (broadly speaking) are a triple store. The figure below shows the use of the <em>deployer</em> implementing the <a href="https://www.w3.org/TR/sparql11-http-rdf-update/">SPARQL 1.1 Graph Store HTTP Protocol</a> to save the data to a graph of a compliant (remote) triple store.
    </p>

    <div class="figure"><img src="images/export-data-deploy-triple-store.png" alt="Deploy data to a triple store" /></div>

    <p>
      The third option, &quot;Use custom deployer&quot;, uses <em>deployers</em> for byte oriented destinations: consequently, the user shall also select a <em>reformatter</em>, which translates the RDF data to the actual sequence of bytes that will be deployed. The figure below shows the possibility to deploy the data to an SFTP server after that they have been converted to the <a href="http://zthes.z3950.org/">Zthes</a> format.
    </p>

    <div class="figure"><img src="images/export-data-deploy-custom.png" alt="Deploy data to a triple store" /></div>

    <p>
      The mechanisms that have been described so far allows for the definition of very complex export procedures. The &quot;floppy disc&quot; buttons inside the header of the window allow to save and load the configuration of a complete export procedures. Configurations are identified by a name, and they can be saved to different scopes (system wide, project, user, project-user), to support different sharing options (e.g. a configuration may be made available to every user of a project, or saved privately by a user).
    </p>

    <div class="figure"><img src="images/export-data-save-configuration-buttons.png" alt="Save the overall export configuration" /></div>

    <p>
      The saved export configuration does not include the configurations of the components it uses (i.e. RDF transformers, reformatters and deployers), rather it includes references to these configurations, which shall be saved independently. The figure below shows an error occurred while saving an export configuration that depends on an unsaved configuration of a deployer.
    </p>

    <div class="figure"><img src="images/export-data-unsaved-configuration.png" alt="Reference to an unsaved configuration" style="border: 1px solid black" /></div>

    <p>
      To save and load the configuration of individual components, it is possible to use analogous save/load buttons associated with each configurable component.
    </p>

    <h2>Clear Data</h2>
    <p>Through this action, the project repository will be completely cleared.</p>
    <p><em>Needless to say, pay attention to this action because it erases all information in the project</em> (we recommend to save the existing data before clearing it).</p>

    <h2>Versioning</h2>
    <p>VocBench allows authorized users to create time-stamped data dumps of the dataset, that can later be inspected through the same project. Each versioned dump is stored to a separate repository, which is prevented from being written by the application.</p>
    <div class="figure"><img src="images/versioning-menu.png" alt="version dump menu" /></div>
    <p>The Dump menu allows the user to create a new version of the dataset, either by following conventioned coordinates for the creation of the repository for the new version, or by manually specifying them. The following figure shows the simple dialog for dumping a new version of the dataset, requesting only an ID (a tag) for the version.</p>

    <div class="figure"><img src="images/versioning-dump-default.png" alt="load_repository" /></div>

    <p>The following figure shows instead the repository configuration in case of a dump to a custom location established by the user. The configuration panel is very similar to the one for creating the main dataset repository when initializing the project. Note that all the information related to the custom dump will be retained by the project, so it will be always possible to access this custom location without having to note down its coordinates/configuration.</p>

    <div class="figure"><img src="images/versioning-dump-configured.png" alt="load_repository" /></div>

    <p>After a new version has been dumped, it will be listed on the available versions. The &quot;Switch to&quot; button located on the top right corner allows the user to temporarily switch to this version and inspect its content. Everything in VB will now be localized to this dumped version, except that it will not be possible to write on it. The Delete button allows the authorized user to delete the selected version.</p>

    <div class="figure"><img src="images/versioning-list.png" alt="load_repository" /></div>

    <h2>Change working graph</h2>
    <p>The repository associated with a project may contain multiple <a href="https://www.w3.org/TR/rdf11-concepts/#dfn-named-graph" title="RDF 1.1 named graphs">named graphs</a>. These include the <em>main graph</em> named after the project base URI and containing the data being edited, and zero or more graphs each named after a (transitively) <em>imported ontology</em> and containing its data. When <a href="history_and_validation.jsf#validation">validation</a> is active, variants of these graphs can be created to account for triples being added or deleted.</p>
    <p>As anticipated, operations modify by default the content of the main graph, while other graphs are considered read-only (imported ontologies) or managed by the system according to its own strategy (graphs supporting validation). However, it doesn't have to be that way and, indeed, the concept of <em>working graph</em> has been introduced to reference the graph being edited. Referencing by default the main graph, the working graph can be reassigned to a different graph by users with the <a href="roles_adm.jsf#capabilities_vocabulary">capability</a> <code>rdf(graph), U</code>. Actually, this capability is checked by the backend server each time a write operation is being executed against a graph other than the main graph</p>

    <div class="figure"><img src="images/working-graph-change.png" alt="Change working graph" /></div>

    <p>
      When the working graph doesn't reference the main graph, it is displayed at the top of the page.
    </p>

    <div class="figure"><img src="images/working-graph-indication.png" alt="Working graph indication" /></div>

    <h2>Data Refactor</h2>
    <p>The Data Refactor page allows the administrator or project manager (or equivalently authorized user) to perform massive refactoring of the loaded data. Note that this refactoring is usually performed at the beginning of the life of a project, usually after some data has been loaded from an external file. This is because the data is non-conformant to the specifications of the project (e.g. the dataset contains SKOS core labels while the project is thought for managing SKOS-XL lexicalizations) and might need to be refactored in order to be properly managed with the intended project settings and configuration.</p>

    <div class="figure"><img src="images/datarefactor-page.png" alt="load_repository" /></div>
    <p>Current refactoring options include going back and forth from SKOS to SKOS-XL and migrating data from the default graph (i.e. the single unnamed graph in the repository) to the working graph (i.e. the graph named after the baseuri of the dataset, which is supposed to hold the working data).</p>

    <h2>Load Shapes</h2>
    <p>
      If <a href="https://www.w3.org/TR/shacl/">SHACL</a> shape validation was <a href="projects.jsf#project_creation">enabled</a>, it is possible to load shape definitions from an RDF file conforming to any of the serializations supported by VocBench. 
    </p>
   
    <div class="figure"><img src="images/load-shapes.png" alt="load_shapes" /></div>

    <p>
      The dialog prompts for a <em>file</em> containing the shape definitions to load, allowing to specify the file <em>format</em> (guessed from the extension of the file).
      The checkbox "Clear existing" shall be checked, if already existing shape definitions should be deleted. Otherwise, the definitions just loaded are simply added to the 
      existing ones.
    </p>

    <div style="background-color: wheat; border-radius: 1em; padding: 1em; margin: 1em 0; text-align: center;">
      VocBench validates data as soon new shape definitions are loaded, aborting the load in case of any shape violation. Loading shapes may thus be a slow operation, if data are bug enough.
    </div>
  
    <p>
      SHACL shapes enable the definitions on constraints over the data graph. By default, any edit of the data that would result in a violation of any of these constraints will be rejected by the system. Actually, this setting can be changed upon <a href="projects.jsf#project_creation">project creation</a> or afterwards by editing <a href="projects.jsf#project_settings">project settings</a>. Shape validation is complementary to reasoning, which uses ontological axioms to draw inferences and check the consistency of the represented knowledge. While the latter
      may be related to shape validation, the semantics of RDF(S)/OWL makes difficult to reduce checking data integrity to consistency checking. In particular, the
      <a href="https://en.wikipedia.org/wiki/Open-world_assumption">open-world</a> and <a href="https://en.wikipedia.org/wiki/Unique_name_assumption">non-unique name</a> prevent the 
      verification of cardinality constraints (e.g. having two values for a functional property is consistent, as long we can't prove that they are semantically different) and existential constraints
      (e.g. because we shall merely infer the existence of the missing value, which could defined elsewhere). Conversely, SHACL allows to predicate over the actual data under a closed-world perspective
      and supports elaborate constraints over the data, which in some cases may not be represented by means of RDFS/OWL.
    </p>
    <p>
      We make a concrete example for the use of SHACL in the context of a test <a hre="projects.jsf#project_creation">project</a> using SKOS as <em>model</em>
      and <em>SKOS-XL</em> as lexicalization model.
    </p>
    <p>
      When adding a <em>skos:note</em> to a concept, VocBench asks whether the note should be a <em>resource</em>, <em>typed literal</em> or <em>plain literal</em>. These possibilities stem
      from the fact that <em>skos:note</em> is ontologically defined as an <em>owl:AnnotationProperty</em>, without effectively constraint the kind of objects for that property. From the 
      ontological viewpoint any choice would be consistent. Choosing a different annotation style for different concepts would be consistent as well. However, the latter is probably forbidden
      by guidelines that may prefer uniform data modelling.
    </p>
    <p>
      The following SHACL shape can be used to enforce that any <em>skos:note</em> of a <em>skos:Concept</em>s shall be a IRI, which in turn is associated with the actual note 
      (represented as a language tagged string) through the property <em>rdf:value</em>. This pattern is known as <em>reified notes</em>.
    </p>

    <div>
      <pre>
  <code>
@prefix ex: &lt;http://example.org/&gt; .
@prefix owl: &lt;http://www.w3.org/2002/07/owl#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .
@prefix sh: &lt;http://www.w3.org/ns/shacl#&gt; .
@prefix skos: &lt;http://www.w3.org/2004/02/skos/core#&gt; .

ex:ReifiedNoteShape
  a sh:NodeShape ;
  sh:targetClass skos:Concept ;
  sh:property [
    sh:path skos:note ;
    sh:nodeKind sh:IRI ;
    sh:property [
      sh:path rdf:value ;
      sh:minCount 1;
      sh:nodeKind sh:Literal ;
      sh:datatype rdf:langString 
    ]
  ]
  .
  </code>
</pre>
    </div>
  <p>
    After loading the shape above, any attempt to add a language-tagged literal as a <em>skos:note</em> should fail with a message like the one below: 
  </p>

  <div class="figure"><img src="images/shacl-validation-report.png" alt="shacl-validation-report" /></div>

  <p>
    The error dialog reports on the constraints violated by the proposed change:
  </p>
  <ul>
    <li>the one focused on the subject resource (e.g. <em>&lt;http://test.it/c_1cf1b652&gt;</em>) tells that the value of <em>skos:note</em> is not a IRI</li>
    <li>the one focused on the actual definition provided as text, obviously, tells that the definition (which can not be described further in RDF) does not have the property <em>rdf:value</em></li>
  </ul>

  <p>
    Loading suitable SHACL shapes allowed for constraining how <em>skos:note</em>s can be represented. The problem, however, is how to enable the
    addition of conforming notes as in a single operation that would pass the shape validation. The solution to this problem is to use
    <a href="cforms">custom forms</a>, which enable the instantiation of arbitrary graph patterns, when instantiating a class (i.e. <em>custom constructors</em
      >) or setting the value of a property (i.e. <em>custom ranges</em>).
  </p>
  <p>
    Continuing the running example on reified notes, it is not necessary develop a new custom form, since VocBench already ship a suitable one. As described in the documentation,
    it is sufficient to <a href="cforms#mapping_a_custom_form">map the custom form for reified notes</a> to the (suggested) property <em>skos:note</em> (and then check
    the option to replace the existing range, since it doesn't satisfy the loaded shape). 
  </p>
  <p>
    Subsequent attempts to create a <em>skos:note</em> will open a form like the one below, which prompts for other information (not constrained by the shape) that will be added to
    the reified note:
  </p>
  
  <div class="figure"><img src="cforms/images/cforms-custom-reified-note-form.png" alt="cforms-custom-reified-note-form" /></div>

  <p>
    The custom forms is also used in the <em>resource view</em> to show the reified note with its textual content (rather than its IRI that can be seen in the tooltip), while other
    fields of the custom form are shown in a <em>form-based preview</em> of the note.
  </p>

  <div class="figure"><img src="cforms/images/cforms-enrich-resview2.png" alt="cforms-enrich-resview2.png" /></div>

  <h2>Export Shapes</h2>
  <p>
    It is possible to download the currently loaded shapes as a nicely formatted Turtle file.
  </p>

  <h2>Clear Shapes</h2>
  <p>
    Deleting any shape clearly makes the validation ineffective.
  </p>

  <h2>Batch Validation</h2>
  <p>
    Batch validation refers to the possibility to validate the entire repository against <a href="#load_shapes">previously loaded shapes</a> and produce a validation report describing any constraint violation. This kind of validation makes sense when (on commit) validation (discussed above) is not enabled or it has been <a href="projects.jsf#project_settings">re-enabled</a> after a few (unvalidated) commits; otherwise, interactive SHACL validation would ensure that no violation can be ever found.
  </p>

  <div class="figure"><img src="images/shacl-batch-validation.png" alt="shacl-batch-validation.png" /></div>

  <p>
    Click on the "play" button in the header to start the actual validation. When it is complete, the validation report will be shown in the (initially empty) text area underneath.  
  </p>

  <div class="figure"><img src="images/shacl-batch-validation-report.png" alt="shacl-batch-validation-report.png" /></div>

  <p>
    The report (in RDF) is written as pretty-printed and abbreviated Turtle, and it conforms to the <a href="https://www.w3.org/TR/shacl/#validation-report">SHACL validation report</a> specs. The text area supports syntax coloring and references to (domain) resources (usually occurring as <em>focus nodes</em>) can be clicked to open their resource view: these clickable references stand out well in the report, as they are noticeably highlighted in yellow.    
  </p>
  </ui:define>
</body>

</html>