<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>Groups administration</h1>

        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <p>
            The Group Management page lists all the groups defined on the system and allows authorized users to create them, delete and edit their information. Groups define an aggregation of users and give the possibility to constrain or limit the management of SKOS thesauri to their members. The left panel lists all the available groups and the right panel shows the information about the selected group. The buttons on the left panel heading allow respectively to: create, delete and edit a group.
        </p>

        <div class="figure"><img src="images/group_management.png" alt="Groups Management" /></div>

        <p>
            Groups are defined system-wide, but their properties, namely the users who belong to them and the limitation they introduce, are local to each project. This means that a user may belong to a group in a <i>Project A</i> but not in a <i>Project B</i>, or that a group may have limitations in <i>Project A</i> but not in <i>Project B</i>.<br />
            That said, in order to manage the above properties is necessary to switch to the <i>Projects</i> panel from the top-left selector, so please see the <a href="projects_adm.jsf#project-groups_management">dedicated page</a> for details.
        </p>


    </ui:define>
</body>

</html>