<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>VocBench User Manual</h1>
    <p>The following detail different aspects of the user experience on VocBench.
    </p>
    <h2>Sections Index</h2>

    <h3>Administrators</h3>
    <p>Administrators have cross-project capabilities spanning from system configuration to project creation and configuration</p>

    <ul>
      <li><a href="first_access_adm.jsf">First Access</a></li>
      <li>
        <a href="administration.jsf">The administration pages</a>
        <ul>
          <li><a href="users_adm.jsf">Users administration</a></li>
          <li><a href="projects_adm.jsf">Projects administration</a></li>
          <li><a href="roles_adm.jsf">Roles administration</a></li>
          <li><a href="groups_adm.jsf">Groups administration</a></li>
          <li><a href="sys_config_adm.jsf">System configuration</a></li>
          <li><a href="settings_mgr.jsf">Settings Managers</a></li>
        </ul>
      </li>
      <li>
        <a href="projects.jsf">Project page</a>
        <ul>
          <li><a href="project_access_control.jsf">Project Access Control</a></li>
        </ul>
      </li>

    </ul>

    <h3>Ordinary Users</h3>
    <p>Ordinary Users include different groups of users, from Project Managers, ruling everything on the project they manage, to progressively more specialized roles dealing with vertical aspects of data modeling</p>

    <ul>
      <li><a href="first_access_usr.jsf">First Access</a></li>
      <li><a href="data_view.jsf">The Data View</a>
        <ul>
          <li><a href="owl_editing.jsf">editing ontologies</a></li>
          <li><a href="skos_editing.jsf">editing thesauri</a>
            <ul>
              <li><a href="termview.jsf">terminologist view</a></li>
            </ul>
          </li>
          <li><a href="ontolex_editing.jsf">editing OntoLex-Lemon lexicons</a></li>
          <ul>
            <li><a href="lexview.jsf">lexicographer view</a></li>
          </ul>
          <li><a href="edoal_editing.jsf">editing Edoal alignments</a></li>
          <li><a href="custom_tree.jsf">Custom Tree</a></li>
          <li><a href="dataview_consumers.jsf">Data View consumers</a></li>
          <li><a href="time_machine.jsf">Time machine</a></li>
          <li><a href="graphs.jsf">the Graph View</a></li>
        </ul>
      </li>
      <li><a href="metadata.jsf">Metadata</a>
        <ul>
          <li><a href="namespaces_imports.jsf">Namespaces and Imports</a></li>
          <li><a href="metadata_vocabularies.jsf">Metadata Vocabularies</a></li>
          <li><a href="mdr.jsf">Metadata Registry</a></li>
        </ul>
      </li>
      <li><a href="dataset_catalogs.jsf">Dataset Catalogs</a></li>
      <li><a href="global_data_management.jsf">Global Data Management</a>
        <ul>
          <li><a href="ioext">IO Extension Points</a>
            <ul>
              <li><a href="ioext/rdf-transformers">RDF Transformers</a></li>
              <li><a href="ioext/loaders">Loaders</a></li>
              <li><a href="ioext/lifters">Lifters</a></li>
              <li><a href="ioext/deployers">Deployers</a></li>
              <li><a href="ioext/reformatters">Reformatting Exporters</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="notifications.jsf">Notifications</a></li>
      <li><a href="sparql.jsf">The SPARQL Editor</a></li>
      <li><a href="history_and_validation.jsf">History and Validation</a></li>
      <li><a href="tools.jsf">The Available Tools</a></li>
      <ul>
        <li><a href="alignment_validation.jsf">Alignment Validation</a></li>
        <ul>
          <li><a href="alignment_systems.jsf">Alignment Systems</a></li>
        </ul>
        <li><a href="collab_platform.jsf">Collaboration System</a></li>
        <li><a href="c_forms_views.jsf">Custom Forms and Views</a> </li>
        <li><a href="custom_services.jsf">Custom Services</a></li>
        <li><a href="custom_reports.jsf">Custom Reports</a></li>
        <li><a href="icv.jsf">Integrity Constraint Validation</a></li>
        <li><a href="resource_metadata.jsf">ResourceMetadata</a></li>
        <li><a href="sheet2rdf.jsf">Sheet2RDF</a></li>
        <li><a href="skos_diffing.jsf">SKOS Diffing</a></li>
      </ul>
    </ul>
    <h3>Web API</h3>
    <p>VocBench is a web application based on the <a href="http://semanticturkey.uniroma2.it/">Semantic Turkey</a> RDF Management platform. All of VocBench functionalities can be invoked programmatically by adopting Semantic Turkey's <a href="http://semanticturkey.uniroma2.it/doc/user/">Web API</a>.</p>
    <h3>Appendix</h3>
    <ul>
      <li>A quick <a href="test_drive.jsf">Test Drive</a> for loading your first thesaurus or ontology</li>
    </ul>
    <p>&nbsp;</p>
  </ui:define>

</body>

</html>