<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
  xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Editing OntoLex-Lemon Lexicons: The Lexicographer view</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Intro</h2>

    <p>This section describes an alternative user interface for ontolex:LexicalEntry called "LexView", available from
      version 9.0.0.</p>

    <h2>The Lexical Entry Section in Lexicographer view</h2>
    <p>As already described in <a href="ontolex_editing.jsf">The Data View: Editing OntoLex-Lemon lexicons</a> section,
      The Lexical Entry section is composed of two main areas that in this case are: the structure on the left and the
      LexicographerView on the right.</p>
    <div class="figure"><img src="images/lexview.png" alt="Lexicographer view" /></div>
    <p>User can choose to see this interface both by clicking on "LexicographerView" tab, located at the bottom of the
      page as it is possible to see in the figure above, and by clicking on ResourceView settings button <img
        src="images/icons/gear.png" alt="gear" width="15" height="15" /> selecting "Lexicographer" item on field
      "Initial view for lexical entries" as shown in the following image. </p>
    <div class="figure"><img src="images/lexicographer-preferredsetting.png" alt="lexicographer" /></div>
    <p>In this second way, user will always be able to see LexicographerView panel as favorite view also for other
      lexical entries without clicking on tab "LexicographerView" each time.</p>

    <h2>The structure of the Lexicographer view</h2>
    <p>LexicographerView page is composed of four parts. The first one is the heading containing the lemma and its
      morphosyntactic properties, then there are the constituents, subterms and lexical relations, and finally a list of
      senses (represented as colored boxes).</p>

    <h3>Heading</h3>
    <p> The heading contains the lemma (i.e. citation or dictionary form) associated with the lexical entry, followed by
      its morphosyntactic properties (usually, the part of speech).</p>
    <div class="figure"><img src="images/lexview-heading.png" alt="Lexicographer view: heading" /></div>
    <p>
      The semi-transparent pencil <img src="images/lexview-pencil.png" alt="Edit lemma" /> on the right of the heading
      is associated with a menu (revealed by clicking on the pencil) with an item for adding a morphosyntactic property
      of the lemma.
    </p>
    <p>
      The addition of a morphosyntactic property happens in line through a sequence of steps as shown by the figures
      below.
    </p>
    <p>
      First, a dropdown is shown allowing to select the morphosyntactic property to set.
    </p>
    <div class="figure"><img src="images/lexview-heading-pos-1.png"
        alt="Lexicographer view: heading, selection of a morphosyntactic property" /></div>
    <p>
      Once the property is selected, a second dropdown makes it possible to choose the property value (among the ones
      appropriated for that property).
    </p>
    <div class="figure"><img src="images/lexview-heading-pos-2.png"
        alt="Lexicographer view: heading, selection of the value a morphosyntactic property" /></div>
    <p>
      The final step is to click on the button <img src="images/lexview-accept.png" alt="accept" /> to add the property
      value.
    </p>
    <p>
      To remove a value, just press the button <img src="images/lexview-remove.png" alt="remove" /> on its right.
    </p>
    <p>
      Clicking on the value of a morphosyntactic property, turns it into a dropdown that enables to choose a different
      value. The buttons <img src="images/lexview-accept.png" alt="accept" /> and <img src="images/lexview-cancel.png"
        alt="cancel" /> allow to apply, respectively, cancel the change.
    </p>
    <div class="figure"><img src="images/lexview-heading-pos-change.png"
        alt="Lexicographer view: heading, change the value of a morphosyntactic property" /></div>

    <h3>Forms</h3>
    <p>
      Just below the heading, there is a list of the forms for the lexical entry, the first of which is always the
      lemma. To add another form, click on the button <img src="images/lexview-add.png" alt="add" /> underneath and
      select the corresponding menu item: this will add an inline text editor to enter the new form.
    </p>
    <div class="figure"><img src="images/lexview-add-form.png" alt="Lexicographer view: add a form" /></div>
    <p>
      Once finished writing the form, press "Enter" to add it or press "Esc" to cancel the operation (this also happens
      when the inline editor looses the focus). To remove a form (other than the lemma), click instead on the button
      <img src="images/lexview-remove.png" alt="remove" /> on its right. Clicking on a form, reveal an inline editor
      that behaves in the same manner as when adding a form.
    </p>
    <p>The menu associated with the pencil <img src="images/lexview-pencil.png"
        alt="Lexicographer View: edit form characteristics" /> on the right of each form now has items to:
    </p>
    <ul>
      <li>Add a morphosyntactic property: works exactly like as explained before for the heading</li>
      <li>Add phonetic pronunciation</li>
    </ul>
    <p>
      The addition of a pronunciation (in the IPA format) opens an inline editor within the lexicographer view.
    </p>
    <div class="figure"><img src="images/lexview-pronunciation.png" alt="Lexicographer view: add a pronunciation" />
    </div>
    <p>
      Press "Enter" to add the new pronunciation or press "Esc" to cancel the operation (this also happens when the
      inline editor looses the focus).
    </p>
    <p>
      An existing pronunciation can be edited inline after clicking on it. To delete it, just press the button <img
        src="images/lexview-remove.png" alt="remove" /> on its right.
    </p>

    <h3>Constituents, subterms and lexical relations</h3>
    <p>
      A lexical entry can be decomposed into its constituting tokens.
    </p>
    <div class="figure"><img src="images/lexview-constituents.png" alt="Lexicographer view: constituents" /></div>
    <p>
      Click on the pencil <img src="images/lexview-pencil.png" alt="Lexicographer View: edit form characteristics" /> on
      the very right of the components to edit an existing decomposition. Alternatively, click on the button <img
        src="images/lexview-add.png" alt="add" /> below the list of forms, and select the appropriate menu item to "set
      the constituents". In both cases, it will be shown the <a
        href="ontolex_editing.jsf#the_lexical-entry-view">constituent list editor</a> already described in the section
      on OntoLex-Lemon editing.
    </p>
    <p>
      We can associated facets with the constituents, as in the following example concerning the Spanish word "comunidad
      autónoma", in which the adjective "autónomo" occurs in the feminine form.
    </p>
    <div class="figure"><img src="images/lexview-constituents-facets.png"
        alt="Lexicographer view: constituents facets" /></div>
    <p>
      To add a facet click on the button <img src="images/lexview-add.png" alt="add" /> on the right of a constituent.
      Then, editing of facets is much like the editing of morphosyntactic properties of the entry and its forms
      (described earlier).
    </p>
    <p>
      It is also possible to specify subterms that occur within the currently lexical entry, without the need for its
      full decomposition.
    </p>
    <div class="figure"><img src="images/lexview-subterms.png" alt="Lexicographer view: subterms" /></div>
    <p>
      Click on the button <img src="images/lexview-add.png" alt="add" /> below the list of forms and select the menu
      item to add the first subterm. Additional subterms can be added by clicking on a same-looking button on the right
      of the list of subterms. To remove a subterm click on the button <img src="images/lexview-remove.png"
        alt="remove" />.
    </p>
    <p>
      The menu associated with the button <img src="images/lexview-add.png" alt="add" /> under the forms also contain an
      item to "add a related lexical entry".
    </p>
    <div class="figure"><img src="images/lexview-add-related-entry.png"
        alt="Lexicographer view: add related Lexical Entry" /></div>
    <p>
      Other related entries can be added by click on a same-looking button on the right of the list of related entries.
      Press the button <img src="images/lexview-remove.png" alt="remove" /> on the right of a related entry to remove
      it.
    </p>
    <p>
      The dialog for the addition of a related entry contains editable fields for:
    </p>
    <ul>
      <li><em>type</em>: reified (the default) or plain, depending on whether the relationship should be represented as
        a resource on its own or just as a triple</li>
      <li><em>category</em>: the specific relation that holds between the two lexical entry</li>
      <li><em>target resource</em>: the entry to which the current lexical entry is related</li>
      <li><em>Undirectional</em>: if the direction for the relation is meaningless</li>
    </ul>
    <div class="figure"><img src="images/lexview-lexical-relation-dialog.png"
        alt="Lexicographer view: dialog for the addition of a related entry" /></div>
    <p>
      The menu used to add a related entry also contain an item to add a translation for this. Indeed, translation of
      lexical entries is seen as a special type of lexical relation. The main difference is that in the creation dialog
      it is possible to specify a <em>translation set</em> to group reified translations.
    </p>
    <h3>Senses</h3>
    <p>
      The senses of a lexical entries corresponds to its different meanings, which are primarily determined by the reference to an ontology resource being lexicalized by this lexical entry. Another use of sense is to reify the link to a lexical concept that conceptualizes this lexical entry. To add a sense, click on the button <img src="images/lexview-add.png" alt="add" /> and select the appropriate menu item to add a lexicalization or a conceptualization. 
    </p>
    <div class="figure"><img src="images/lexview-add-sense.png"
      alt="Lexicographer view: add a sense" /></div>
    <p>
      Depending on which item is chosen, it will be displayed either a dialog for the selection of an ontology reference or a dialog for the selection of a lexical concept. In both dialogs, the checkbox labeled "create plain" controls whether a non-reified, triple-based version of the binding is added to the description of the lexical entry.
    </p>
    <div class="figure"><img src="images/lexview-senses.png"
      alt="Lexicographer view: list of senses" /></div>
    <p>
      The button <img src="images/lexview-pencil.png" alt="add characteristics of a lexical entry" /> is associated with a menu with options to:
    </p>
    <ul>
      <li><em>set the reference</em></li>
      <li><em>add lexical concept</em></li>
      <li><em>add a related sense</em></li>
      <li><em>add translation</em></li>
      <li><em>add definition to lexical sense</em></li>
    </ul>
    <p>
      These options work much the same as the ones already discussed for other parts of the lexicographer view, so they won't be described again in details.
    </p>
    <p>
      Note that the pencil <img src="images/lexview-pencil.png" alt="add definition to lexical concept" /> on the right of a lexical concept allows to add a definition to it.
    </p>

</ui:define>
</body>

</html>