<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Metadata Registry</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <p>
      The Metadata Registry View allows authorized users to define a system-wide catalog of known remote datasets, which are described by means of a combination of (metadata) vocabularies, including <a href="https://www.w3.org/TR/vocab-dcat/">DCAT</a>, <a href="http://art.uniroma2.it/lime/">LIME</a>/<a href="http://www.w3.org/TR/void/">VoID</a>, <a href="http://xmlns.com/foaf/0.1/">FOAF</a> and <a href="http://dublincore.org/documents/dcmi-terms/">DCMI Metadata Terms</a>. Additionally, the Metadata Registry uses a small RDF vocabulary to represent metadata that falls beyond the scope of the standard vocabularies that have been mentioned previously.
    </p>
    <img src="images/mdr_main.png" alt="Metadata registry screen" class="screenshot" />
    <p>
      The UI is mainly composed by two panels: the left panel (<i>Dataset Catalog</i>) lists all the datasets defined in the system, while the right one (<i>Dataset</i>) shows details about the selected dataset.
    </p>
    <p>
      Two kinds of datasets can be distinguished: abstract datasets and concrete datasets.
      The abstract dataset is kind of like a general reference to a dataset, that gives some identity to it despite its many realizations.
      A concrete dataset identifies a specific version (in a broad sense) of the dataset. It could be a numeric release version (e.g. 5.2), or some particular evolving datasets, e.g. the master version of the dataset being edited on VocBench, or the LOD Dataset with its SPARQL endpoint.
    </p>
    <p>
      The <i>Dataset Catalog</i> is represented as a tree. In this tree, we can have, as roots, both abstract datasets and concrete datasets. An abstract dataset is always a root while a concrete dataset is a root if it has no link to an abstract dataset. When an abstract dataset is expanded its linked concrete datasets are listed.
    </p>

    <img src="images/mdr_create.png" alt="Metadata registry create dataset" class="screenshot" />

    <p>
      In the <i>Dataset Catalog</i> panel, through the buttons at the top, it is possible to create and delete datasets. There are different ways for creating a dataset:
    </p>
    <ul>
      <li>
        <i>Create concrete dataset</i>: allows to define a new concrete dataset providing the following information:
        <ul>
          <li><i>Local name</i>: the local name of the IRI that will identify the dataset in the Metadata Registry;</li>
          <li><i>Title</i>: title of the dataset (optional);</li>
          <li><i>Description</i>: an optional description of the dataset;</li>
          <li><i>URI Space</i>: a URI that is a common string prefix of all entity URIs in the dataset. In other words, the dataset namespace;</li>
          <li><i>Dereferenceable</i>: tell if the IRI of the resources defined by the dataset can be dereferenced (to obtain their RDF description)</li>
          <li><i>Nature</i>: determines the nature of the dataset. The available options are:
            <ul>
              <li><i>Project</i>: the dataset has a corrispective project in VB. If this option is chosen, a further selector allows you to specify the refence to a VB project. Note: a dataset of a project is automatically created when a project is profiled, so rarely you will need to manually create a dataset with this nature.</li>
              <li><i>RDF4J HTTP Repository</i>: dataset hosted on an RDF4J repository which exposes <a href="https://rdf4j.org/documentation/reference/rest-api/">public API</a> and a SPARQL endpoint;</li>
              <li><i>GraphDB Repository</i>: dataset hosted on an GraphDB repository which exposes public API and a SPARQL endpoint;</li>
              <li><i>SPARQL Endpoint</i>: dataset accessible through a public SPARQL endpoint.</li>
            </ul>
            For the last three natures, the IRI of the SPARQL Endpoint URL needs to be specified.
          </li>
          <li>
            <i>Attach to abstract dataset</i>: optionally the concrete dataset can be attached to an already existing abstract dataset. If this option is checked, you need to select the abstract dataset to attach to and the relation among:
            <ul>
              <li><i>Master</i>: the master copy of a dataset being edited in production;</li>
              <li><i>Lod</i>: stands for Linked Open Dataset and it’s the official endpoint for the dataset;</li>
              <li><i>Has Version</i>: a particular version (intended specifically as a release version, e.g. 5.3) with a certain version info and description.</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="figure">
      <img src="images/mdr_create_concrete.png" />
    </div>
    <ul>
      <li>
        <i>Connect to abstract dataset</i>: allows the connection of a root concrete dataset (the one selected in the tree) to an existing abstract dataset. This action requires to specify the same info already seen for the <i>attach to abstract dataset</i> option seen above, so you must specify an abstract dataset and the relation between the concrete and the abstract.
      </li>
      <li>
        <i>Spawn new abstract dataset</i>: creates an abstract dataset by merging two existing concrete. The abstract dataset needs a <i>local name</i>, optionally a <i>title</i> and a <i>description</i>, and a <i>URI space</i>. For both the concrete datasets you need to specify the relation with the abstract one.
      </li>
    </ul>
    <div class="figure">
      <img src="images/mdr_spawn_abstract.png" />
    </div>
    <ul>
      <li><i>Discover dataset</i>: allows to define a new dataset by letting the system discover it simply providing an IRI, which can identify:
        <ul>
          <li>a <em>resource</em> defined by the dataset (e.g. <a href="http://aims.fao.org/aos/agrovoc/c_1071">http://aims.fao.org/aos/agrovoc/c_1071</a>). If available, the system follows the link to the <em>void:Dataset</em> - expressed through the <em>void:inDataset</em> property - describing the containing dataset)</li>
          <li>a <em>void:Dataset</em>, a resource being a sort of metadata proxy for the dataset of interest (e.g. <a href="http://aims.fao.org/aos/agrovoc/void.ttl#Agrovoc">http://aims.fao.org/aos/agrovoc/void.ttl#Agrovoc</a>)</li>
          <li>an <em>owl:Ontology</em> (e.g. <a href="http://xmlns.com/foaf/0.1/">http://xmlns.com/foaf/0.1/</a>)</li>
        </ul>
      </li>
      Currently, the discovery process does not include the use of a profiling mechanism to infer missing metadata, such as the lexicalization asset of the dataset. If not found (e.g. in the VoID description of them dataset), this information can be added later as discussed below.
    </ul>


    <p>The <i>Dataset</i> panel shows details about the selected dataset and allows you to edit some of them. It allows you also to provide information about the <i>embedded lexicalization sets</i>. These are called <em>embedded</em>, because they are part of the dataset itself, differently from lexicalizations that are shipped as a third-party, autonomous dataset.
    </p>
    <p>
      Also in this case there are two ways to define lexicalization sets:</p>

    <ul>
      <li><i>Add Embedded Lexicalization Set</i>: allows to provide manually information and statistics about a lexicalization set of the dataset</li>
      <li><i>Asses Lexicalization Model</i>: let the system discover the lexicalization sets by querying the dataset. In order to exploit this feature it is necessary to provide a SPARQL Endpoint for the given dataset. the discovery uses the MAPLE framework, and in summary tries all known lexicalization model to find the one that best fit the available lexicalizations. To reduce the stress on the SPARQL endpoint (which may not support the complex aggregated queries that would have been necessary), the discovery process does not produce detailed statistics (e.g. the percentage of the resources that have been lexicalized), and it uses an approximated algorithm: it tries to find a given number of resources (currently 100) that have at least one lexicalization, and then uses that sample to determine the available languages.
      </li>
    </ul>
    <img src="images/mdr_lexicalizations.png" alt="Metadata registry lexicalizations" class="screenshot" />

  </ui:define>
</body>

</html>