<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Metadata Vocabularies Section</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <p>The Metadata Vocabularies View (see figure below) allows users to define metadata at the level of the entire dataset according to different Metadata Vocabularies, such as <a href="http://www.w3.org/TR/void/">VoID</a>, <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a>, <a href="http://www.w3.org/TR/vocab-dcat/">DCAT</a>, <a href="http://www.w3.org/TR/vocab-adms/">ADMS</a>, <a href="https://lov.linkeddata.es/Recommendations_Vocabulary_Design.pdf">Linked Open Vocabularies (LOV) metadata profile</a>, <a href="https://github.com/dbpedia/DataId-Ontology">DataID</a>, <a href="https://semanticturkey.uniroma2.it/doc/user/mdr/">Semantic Turkey Metadata Registry (MDR)</a>, etc.</p>
    <p>Each Metadata Vocabulary is characterized by the following:</p>
    <ul>
      <li>A set of properties to be valued manually, these are divided into mandatory and non-mandatory properties. The mandatory properties show an * beside their name</li>
      <li>A set of properties and elaborated constructs that characterize the dataset (e.g. statistical information) and that can be automatically computed on the dataset itself.</li>
    </ul>
    <p>In the following picture, the manager for <a href="http://www.w3.org/TR/void/">VoID</a>/<a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a> has been chosen (as <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a> is an extension of <a href="http://www.w3.org/TR/void/">VoID</a>, we developed a single manager for both vocabularies) and the required metadata properties have been filled up</p>
    <div class="figure"><img src="images/metadata_vocabularies.png" alt="metadata vocabularies" /></div>
    <p>After that, by choosing &quot;Export&quot; (button at the bottom-right part of the page), a <a href="http://www.w3.org/TR/void/">VoID</a>/<a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a> metadata file of the edited dataset has been generated (figure below)</p>
    <div class="figure"><img src="images/metadata_export_void-lime.png" alt="dataset metadata export" /></div>
    <p>Whether it has been exported or not, the metadata information for the dataset can always be saved so that it can be inspected or modified later.</p>


    <p>
      Data inside the vocabularies, for the most, need to be entered manually, anyway there's the possibility to let the system try to detect and import some information directly from the <a href="mdr.jsf">Metadata Registry</a>. 
      By clicking on the <i>Import from MDR</i> button, placed on the top of the vocabulary panel, the form will be automatically filled with the data imported from the Metadata Registry. Note that if no record for the current dataset is available in the Metadata Registry, this operation will not produce any results.
    </p>
    <p>
      In case this operation returns values that conflict with existing data, VocBench will inform the user of this conflict and will ask to make a decision: whether to keep the previous data or to replace it with the imported one.
    </p>

    <div class="figure"><img src="images/metadata_vocabularies_conflictresolver.png" /></div>

  </ui:define>
</body>

</html>