<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Metadata Management</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <p>The Metadata management can be accessed from the <i>Metadata</i> menu item of the navigation bar</p>
    <div class="figure"><img src="images/metadata-menu.png" alt="metadata management" /></div>
    <p>The dropdown menu has three entries, each of which redirect to the dedicated page:</p>
    <ol>
      <li>The <a href="namespaces_imports.jsf">Namespaces and Import</a> page, allowing users to set prefix-namespace mappings, to owl:import ontology vocabularies and to edit the ontology mirror, a local mirror of ontologies stored within VB</li>
      <li>The <a href="metadata_vocabularies.jsf">Metadata Vocabularies</a> page allows for the specification of metadata according to different existing metadata vocabularies, such as <a href="http://www.w3.org/TR/void/">VoID</a>, <a href="http://www.w3.org/2016/05/ontolex/#metadata-lime">LIME</a>, <a href="http://www.w3.org/TR/vocab-dcat/">DCAT</a>, <a href="http://www.w3.org/TR/vocab-adms/">ADMS</a>, etc...</li>
      <li>The <a href="mdr.jsf">Metadata Registry</a> page, allowing authorized users to define a system-wide catalog of known remote datasets, which are described by means of a combination of (metadata) vocabularies</li>
    </ol>
    <p>&nbsp;</p>


  </ui:define>
</body>

</html>