<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Namespaces and Imports section</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Namespaces and Imports</h2>
    <p>The Namespaces and Imports page allows users to set prefix-namespace mappings, to owl:import ontology vocabularies and to edit the ontology mirror, a local mirror of ontologies stored within </p>
    <div class="figure"><img src="images/namespace_and_imports.png" alt="namespace and imports" /></div>
  
    <h2>Namespace Management</h2>
    <p>The namespace management section allows for two operations:</p>
    <ul>
      <li>to refactor the baseuri and default namespace of the edited dataset. <br />
        The &quot;chain&quot; symbol keeps the baseuri and namespace aligned. <br />
        The alignment follows this convention:
        <ul>
          <li>baseuris ending with neither hash (#) nor slash (/) will correspond to a namespace identical to them, ending with a hash (#) (as in the case in figure above)</li>
          <li>baseuris ending with hash (#) or slash (/) will correspond to a namespace identical to them (e.g. baseuri: http://my.thes/ --&gt; namespace http://my.thes/</li>
        </ul>
      </li>
      <li>to create or override prefix-namespace mappings
        <ul>
          <li>the + / - buttons at the top of the section allow the user to add a new prefix-namespace mapping or to remove the selected one. The &quot;-&quot; symbol is greyed out in case no mapping is selected or if the mapping is a predefined one (i.e. preset by factory, such as those for the basic vocabularies of the RDF family and other notable ones (e.g. dc: dublin core)</li>
          <li>the &quot;penci&quot; button allows to edit the currently selected prefix-namespace mapping</li>
        </ul>
      </li>
    </ul>
    
    <h2>Imports</h2>
    <p><em>Please notice that the operation described in this section allows the users to <a href="http://www.w3.org/TR/2012/REC-owl2-primer-20121211/#Ontology_Management">owl:import</a> an ontology, that is to state that the ontology being edited in VB depends on the content of another ontology and thus has to import its content. If the intent is instead to load the data that has to be edited inside the project, then the <a href="global_data_management.jsf#load_data">load data</a> functionality from the <a href="global_data_management.jsf">Global Data Management</a> menu should be selected.</em></p>
    <p>The imports panel in the <em>Namespace and Imports</em> section allows the authorized user to <a href="http://www.w3.org/TR/2012/REC-owl2-primer-20121211/#Ontology_Management">owl:import</a> ontology vocabularies into the current project. The menu offers five options, as in figure below:</p>
    <div class="figure"><img src="images/import_add-from_menu.png" alt="import menu" /></div>
    <p>The options refer to the source where to look for the ontology</p>
    <ul>
      <li>Web: imports the ontology by looking on the web for it, using the URI of the ontology for localization</li>
      <li>Local file: imports the ontology from a local file available in the hard disk</li>
      <li>Ontology mirror: imports the ontology directly from the ontology mirror</li>
      <li>Dataset catalog: imports the ontology exploiting the <a href="dataset_catalogs.jsf">Dataset Catalog</a></li>
      <li>Local project: imports the ontology from a local project</li>
    </ul>
    <p>In the following example, the <a href="http://xmlns.com/foaf/0.1/">FOAF</a> ontology is being imported, and stored in the mirror as file <em>foaf.rdf</em></p>
    <div class="figure"><img src="images/import_from-web-to-mirror.png" alt="importing the FOAF ontology" /></div>
    <p>The other options are the following:</p>
    <ul>
      <li><em>Alternative URL</em>: not mandatory, if specified, tells where to download the ontology from (does not use the ontology URI)</li>
      <li><em>Force format</em>: the format should be provided by the server in the form of a MIME type. If this non mandatory parameter is specified, then the server is asked specifically for that format and/or the interpretation of the content is forced to the specified format if the server is not providing the format information at all</li>
      <li>Resolve transitive imports from: this option has four choices:
        <ul>
          <li><em>Web</em>: tries to import all transitive imports (i.e. ontologies imported in turn by the ontology being imported) from the Web</li>
          <li><em>Web with fallback to Ontology Mirror</em>: tries first from the Web and if it fails, it looks in the Ontology Mirror</li>
          <li><em>Ontology Mirror</em>: tries to import all transitive imports from the Ontology Mirror</li>
          <li><em>Ontology Mirror with fallback to Web</em>: tries first from the Ontology Mirror and if it fails, it looks in the Web</li>
        </ul>
      </li>
    </ul>
    <p>After the ontology has been imported, it will be added to the tree of imports in the Imports section and its content will be visible, with a lighter color, in the various data views. In the figure below, the classes of the FOAF ontology are visible in light orange. The lighter color means that they are read-only elements.</p>
    <div class="figure"><img src="images/imported_foaf.png" alt="import menu" /></div>

    <h2>Failed imports</h2>
    <p>
      It can happen that a transitive import of an imported ontology cannot be imported (usually, from the Web) nor it is satisfied by an already imported ontologies. Such an import is dubbed a "failed import", and it is marked with a red cross in the imports tree.
    </p>
    <div class="figure"><img src="images/failed_imports.png" alt="failed imports" /></div>

    <p>
      On the right of a failed import, there is a button with a warning icon, which can be clicked to show a menu with various repair options. These differ mainly in the source of the ontology, with alternatives corresponding to analogous <a href="#imports">import options</a>.
    </p>

    
    <h2>Import update</h2>
    <p>
      All ontology imports (including transitive ones) can be updated, replacing the local copy of the ontology inside the project with a new one. Clicking the downward pointing arrow to the right of each import brings up a menu with different update options for different sources (just like the different <a href="#imports">import options</a>). The differently named option "Connect to project" allows the user to update the ontology with the content of another project.
    </p>
    <div class="figure"><img src="images/import_update-general.png" alt="import update" /></div>
    <p>
      An import that is already associated with a project can be updated from the source project or from another project. Alternatively, it can be disconnected from the project, making the general update options available.
    </p>
    <div class="figure"><img src="images/import_update-project.png" alt="project import update" /></div>
    <p>
      When an import is updated, its <code>owl:imports</code> are compared to the previous ones:
    </p>
    <ul>
      <li>new imports are resolved according to the chosen resolution strategy,</li>
      <li>no longer imported ontologies are removed (unless kept alive by other ontologies),</li>
      <li>still imported ontologies <u>are not updated</u> in turn.</li>
    </ul>

    <h2>Ontology Mirror Management</h2>
    <p>After ontologies have been imported, if they have been also stored in the mirror, they will be listed in the <em>Ontology Mirror Management</em> panel (figure below) accessible by clicking on the <i>Ontology mirror</i> button in the heading of the <i>Imports</i> panel.</p>
    <div class="figure"><img src="images/ontology-mirror.png" alt="importing the FOAF ontology" /></div>
    <p>For each entry in the mirror, it is possible to delete the mirror file or update its content, with options analogous to those present in the Import menu.</p>
  </ui:define>
</body>

</html>