<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>The Notification System</h1>

        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <h2>Introduction</h2>

        <p>
            From VocBench v8.0.0, a notification mechanism has been implemented. 
            This mechanism allows users to be notified when an event of interest occurs or when a watched resource undergoes changes.
        </p>


        <h2>Notification Preferences</h2>

        <p>
            From the <i>Preferences</i> page, accessible through the user menu (activated from the user icon, topmost-right part of the screen), user can enable notifications by selecting one of the available modes:
        </p>

        <ul>
            <li><i>No notifications</i>: user will not receive any notifications;</li>
            <li><i>In-app only</i>: user will be able to see notifications just in app, through the <i>Notifications</i> page (details in the following section);</li>
            <li><i>Email (instant)</i>: user will receive instantly an email notifying the event occurred;</li>
            <li><i>Email (daily digest)</i>: user will receive a daily email containing a report of the events occurred in the last 24 hours (The notification schedule must be enabled by the administrator, see the <a href="sys_config_adm.jsf">system configuration page</a> for details). Notifications will be also listed in the <i>Notifications page</i> (see later).</li>
        </ul>

        <img src="images/notifications_preferences.png" alt="Notifications preferences" class="screenshot" />

        <p>
            As mentioned in the introduction, a notification is triggered in two cases: when an event of interest occurs or when a watched resource is changed.
            From the <i>Type-event notifications</i> matrix users can choose for which <i>resource type</i> - <i>event</i> pair enabling notifications.
            The <i>Watching resources</i> panel lists the resources which user has subscribed. A user can subscribe to resource changes through the "bell" button placed in the ResourceView toolbar.
            In the same way, user can unsubscribe to resource through the same button or by removing the resource from the previous list.
        </p>

        <img src="images/notifications_watch_resource.png" alt="Notifications watch resource" class="screenshot" />

        <h2>The Notifications Page</h2>

        <p>
            When the modes <i>In-app only</i> or <i>Email (daily digest)</i> are activated, a new <i>Notifications</i> page is accessible from the user menu.
        </p>

        <img src="images/notifications_ctx_menu.png" alt="Notifications context menu" class="screenshot" />

        <p>
            This page contains just a table listing notifications.
            Each row of the table reports the <i>time</i> when the notified event occurred, the <i>resource</i> involved by the event, the <i>resource type</i> and the type of <i>event</i>.
            It is possible to sort the notifications according one of these data (by default sorted by date, from the newest to the oldest).
        </p>

        <img src="images/notifications_page.png" alt="Notifications page" class="screenshot" />

        <p>
            It may happen that a resource contained in a notification has been deleted in the meantime, in such case it would not be possible to correctly compute its rendering, so the <i>Resource</i> column will just show the resource /IRI with the default individual icon <img src="images/icons/individual.png"/>.
        </p>
        <p>
            Finally, from the panel heading it is possible to delete all the notifications through "eraser" button, to refresh the notifications list and to change the notifications preferences (the same described before) through the "cog" button.
        </p>

    </ui:define>
</body>

</html>