<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />      
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>The Data View: Editing OntoLex-Lemon lexicons</h1><div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>

<h2>Intro</h2>
<p>This section describes the <a href="https://www.w3.org/2016/05/ontolex/">OntoLex-Lemon</a> editing functionalities available in VocBench. We will go through the set of functionalities as they appear in the various elements of the user interface.</p>
<p><em>Please note that: as of version 4.0 and 5.0 of VocBench, the settings for the combinations of other models (RDFS, OWL or SKOS) with Ontolex as a lexicalization model in a project need still improvement. As a consequence, if you need to use Ontolex-Lemon at any extent in your project (from simply lexicalizing an existing ontology with lexical entries from an existing lexicon to building from scratch all of these resources we strongly suggest to choose Ontolex-Lemon both as the (semantic) model of the project and the lexical model.</em></p>
<h2>The Various Sections in OntoLex Projects</h2>
<p>OntoLex Projects offer 8 sections for managing different kind of resources. These include sections that we have already described in the manual page on <a href="owl_editing.jsf">OWL Editing</a> and <a href="skos_editing.xhtml">SKOS Editing</a>, so here we will discuss the Lexicon and Lexical Entry Sections peculiar to OntoLex-Lemon.</p>
<p>When editing an OntoLex-Lemon lexicon, the landing page for the Data View is the Lexicon Section.</p>
<div class="figure"><img src="images/lexiconpage-empty.png" alt="Empty Lexicon Page" /></div>
<h2>The Lexicon Section</h2>
<p>The Lexicon  Section (as of all the data section) is composed of two main areas: the structure on the left, and the resource view on the right. However, differently from other resources (e.g. classes, properties or concepts), the structure page offers a simple list, and not a tree as  <span class="code">lime:Lexicon</span>s have no taxonomic relation among them. Quoting the <a href="https://www.w3.org/2016/05/ontolex/#Lexicon">definition of lime:Lexicon</a>: &quot;A lexicon is a collection of lexical entries for a particular language or domain&quot;. </p>
<p>The Lexicon section allows to create and destroy Lexicons. When the usual + button is clicked, a form allows the user to prompt the lexicon information. The form is composed of the following elements:</p>
<ul>
  <li><em>Title</em>: when a lexicon is created, a title will be attached to it. The title will be generated with the prompted text and bound to the lexicon with the <span class="code">dcterms:title</span> property</li>
  <li><em>Language</em>: the natural language that characterizes the lexicon being created</li>
  <li><em>URI</em>: the URI for the lexicon can be manually defined by the user, or a random one can be generated. It is possible to specify the pattern to be used for random ID generation (see <em>advanced manual</em>). In case of manual prompt, the user may adopt the default namespace defined for the dataset and just create the local name, or can specify the entire URI by unsetting the lock icon on the right of the URI textfield</li>
  <li><span class="code">lime:Lexicon</span> <em>icon on the top-right corner of the form</em>: lexicons are created by instantiating the <span class="code">lime:Lexicon</span> class. Currently, it is not possible for the user to specialize this class and create instances of the specialized class.</li>
</ul>
<div class="figure"><img src="images/lexicon-creation.png" alt="Lexicon Creation Dialog" /></div>
<p>Once one or more schemes are created, they will appear as a list in the structure section. Note that the radio buttons on the left of the lexicons allow to select one of them. This selection will affect the Lexical Entry Section.
</p>

<div class="figure"><img src="images/lexiconsection.png" alt="Lexicon Section" /></div>

<h2>The Lexical Entry Section</h2>
<p>The Lexical Entry  Section is composed of two main areas as all other sections. The structure on the left, and the resource view on the right. The structure offers a list-view very similar to the one in the Lexicon section, though here the lexical entries are subdivided alphabetically. A dropdown menu between the toolbar and the list allows switching to a different letter of the alphabet.</p>
<p>As we anticipated in the previous section, the list view is affected by the selection of a lexicon performed on the Lexicon section. Only those lexical entries belonging to the selected lexicon will be shown on the list. Most of the following examples are based on the data from the <a href="">lemon lexica for DBpedia</a>.</p>
<div class="figure"><img src="images/lexicalentry-view.png" alt="Lexical Entry View" /></div>
<p>The subdivision of the lexical entries by first letter is similar to the organization of alphabetically indexed printed dictionaries. It should help the user navigate a potentially long list of lexical entries. Additionally, the user can find a lexical entry through the search field on the bottom of the structure: the selection of a result causes the automatic switch to the right letter of the alphabet.</p>
<p>
  The alphabetic indexing of lexical entries is also meant to reduce the number of lexical entries that should be retrieved and then displayed in the UI: this optimization can be very important when working with large lexicons. In some circumstances, a single alphabetic index may not sufficient, because the number of matching entries is too high. The gear (<img src="images/icons/gear.png" alt="Gear Icon" />) above the list can be clicked to reveal a dialog that allows to customize the view. In particular, it is possible to switch between the "Index based" and the "Search based" visualization modes. The former is enabled by default, and it can be configured by choosing between using just one or two letters as index. A longer index has be shown to be adequate for browsing very large lexicons such as the <a href="http://compling.hss.ntu.edu.sg/omw/">Open Multilingual Wordnet</a>. The "search based" visualization mode offers an alternative in which the list is only populated with the results of a search. This mode has been used with the English portion of the <a href="http://iate.europa.eu/">IATE</a> terminology.
</p>
<div class="figure"><img src="images/lexicalentry-searchbased-view.png" alt="Lexical Entry View" /></div>

<p>
  The Lexical Entry Section also allows to create and delete lexical entries. When usual button + is clicked, a form allows the user to supply the necessary information about the lexical entry. The form is composed of the following elements:  
</p>
<ul>
  <li><em>Canonical form</em>: the written representation of the canonical/dictionary form of the lexical entry. The allowed natural languages are constrained by the language of the lexicon that will contain the new lexical entry.</li>
  <li><em>URI</em>: the URI for the lexicon can be manually defined by the user, or a random one can be generated. It is possible to specify the pattern to be used for random ID generation (see <em>advanced manual</em>). In case of manual prompt, the user may adopt the default namespace defined for the dataset and just create the local name, or can specify the entire URI by unsetting the lock icon on the right of the URI textfield</li>
  <li><span class="code">ontolex:LexicalEntry</span> <em>icon on the top-right corner of the form</em>: lexical entries are created by instantiating the <span class="code">ontolex:LexicalEntry</span> class. However, it is possible for the user to specialize this class and create instances of the specialized class. For example, one may use the specializations defined by the OntoLex-Lemon model: <span class="code">ontolex:Word</span>, <span class="code">ontolex:MultiWordExpression</span> and <span class="code">ontolex:Affix</span>.</li>
</ul>

<div class="figure"><img src="images/lexical-entry-creation.png" alt="Lexical Entry Creation" /></div>

<h3>The Lexical-Entry-view</h3>
<p>The resource-view for lexical entry (or, simply, lexical-entry-view) is divided into a few sections listing the following information:</p>
<ul>
  <li><em>Types</em>: the lexical entries are usually of type <span class="code">ontolex:LexicalEntry</span> (or one of its subclasses <span class="code">ontolex:Word</span>, <span class="code">ontolex:MultiWordExpression</span> and <span class="code">ontolex:Affix</span>). However, some lexical entries may have further types from external linguistic ontologies (e.g. <span class="code">lexinfo:NounPhrase</span> for multiword expressions headed by a noun). </li>
  <li><em>Subterms</em>: this section lists some of the lexical entries a compound lexical entry is made of.</li>
  <li><em>Lexical forms</em>: this section lists the grammatical form variants of the lexical entry (<span class="code">ontolex:lexicalForm</span>), subdivided by typology (usually, a <span class="code">ontolex:canonicalForm</span> and zero or more <span class="code">ontolex:otherForm</span>s).</li>
  <li><em>Lexical Senses</em>: this section lists the senses (<span class="code">ontolex:sense</span>) of the lexical entry. Each sense is an object (of class <span class="code">ontolex:LexicalSense</span>) that represents the binding of a lexical entry to a resource in a lexicalized dataset, formally describing the meaning of the lexical entry.</li>
  <li><em>Denotations</em>: the set of resources in a lexicalized dataset denoted of by the lexical entry. These correspond to the objects of the property <span class="code">ontolex:denotes</span> (or a subproperty of its).</li>
  <li><em>Evoked Lexical Concepts</em>: the set of lexical concepts (<span class="code">ontolex:LexicalConcept</span>) evoked by the lexical entry. These correspond to the objects of the property <span class="code">ontolex:evokes</span> (or a subproperty of its).</li>
  <li><em>Constituents</em>: each of the elements that compose the lexical entry. In case of a compound lexical entry, these correspond to its tokens.</li>
  <li><em>RDFS members</em>: this sections lists the values for the <span class="code">rdfs:member</span> property and its subproperties, such as <span class="code">rdf:_1</span>, <span class="code">rdf:_2</span>, etc. The properties <span class="code">rdf:_N</span> can be used to represent the order of the constituents of the lexical entry.</li>
  <li><em>Properties</em>: any triple not falling in any of the sections above, is reported in this section<br />
  </li>
</ul>

<p>
  The addition of a form is informed by the contextual information associated with the lexical entry, so that it is only possible to select a natural language compatible to the one declared in the lexicon a given lexical entry belongs to. In fact, the system first looks at the language declared in the lexical entry, which should match the one declared in the lexicon.
</p>

<div class="figure"><img src="images/add-other-form.png" alt="Create Other Form" /></div>

<p>
It is worth to mention the fact that the content of the RDFS members section is used by system to display the constituents in the intended order.
</p>

<div class="figure"><img src="images/lexical-entry-constituents.png" alt="Lexical Entry Constituents" /></div>

<p>
  Individual constituents should not be added or removed individually, nor should RDFS members be edited directly. Actually, the decomposition of a lexical entry should be edited as a whole: the new decomposition would automatically replace the existing one. If the user indicated a compound lexical entry as a constituent of the lexical entry, the system does the following: the compound is used as subterm, while its constituents are in turn used in the decomposition of the lexical entry.
</p>

<div class="figure"><img src="images/create-constituents-list.png" alt="Create Constituents List" /></div>

<p>
  Another interesting observation is that the Lexical Senses and Denotations sections are related from the point of view of the OntoLex-Lemon model, as they represent the same information conceptually, that is to say the binding of lexical entries to resources in the lexicalized dataset. The Lexical Senses Section lists the reified version of the binding, represented by a <span class="code">ontolex:LexicalSense</span> object relating the two entities. Differently, the Denotations Sections lists the bindings realized as a mere triple with predicate <span class="code">ontolex:denotes</span>. The system tries to maintain the two sections in sync by doing the following:
</p>
<ul>
  <li>in the dialog for the addition of a sense (respectively, a denotation), the system suggests to create the plain version (respectively, the sense)
  </li>
  <li>the deletion of a sense (respectively, a denotation) causes the deletion of the denotation (respectively, the sense)</li>
</ul>

<p>
In fact, the system manages the creation and the deletion, respectively, of slightly more triples, since it takes into consideration the inverse properties defined by the OntoLex-Lemon model. As an example, when adding a denotation to a lexical entry, the system adds to the denoted resource the inverse properties relating it to the denoting lexical entry (only if the denoted resource is locally defined in the current project).
</p>

<div class="figure"><img src="images/lexical-entry-add-denotation.png" alt="Addition of a denotation to a lexical entry" /></div>

<h3>The Form-view</h3>

<p>The forms of lexical entries are modeled in OntoLex-Lemon as resources of type <span class="code">ontolex:Form</span>. Consequently, it is possible to double-click on them (e.g. within the Lexical Forms Section of a lexical-entry-view) and open their resource view. The resource-view for a form (or, simply, form-view) is divided into a few sections listing the following information:</p>
<ul>
  <li><em>Types</em>: the forms are usually of type <span class="code">ontolex:Form</span>. </li>
  <li><em>Form Representations</em>: this section lists the representations (<span class="code">ontolex:representation</span> and its subproperties) of the form, subdivided by typology (usually, <span class="code">ontolex:writtenRep</span> and <span class="code">ontolex:phoneticRep</span>).</li>
  <li><em>Properties</em>: any triple not falling in any of the sections above, is reported in this section<br />
  </li>
</ul>

<div class="figure"><img src="images/form-view.png" alt="Form View" /></div>

<p>
  When adding a representation to a form (e.g. a written representation), the system constraints the choice of the natural language based on the one defined in the lexicon. In fact, the system first looks at the lexical entry that is related to the form being edited; however, in the absence of errors, the natural language defined in the lexical entry shall match the one defined in the lexicon. In the following example about an English lexicon, we add the British spelling &quot;colour&quot; to a form as an additional written representation (possibly, accompanying the written representation &quot;color&quot; for the American spelling).  
</p>

<div class="figure"><img src="images/add-written-representation.png" alt="Addition of a written representation to a lexical entry" /></div>

<h2>Changes to the Concept and Scheme Sections</h2>

<p>
  In an OntoLex project, the behavior of the Concept and Scheme Sections is changed in the following ways:
</p>
<ul>
  <li>the class used for creating a concept is <span class="code">ontolex:LexicalConcept</span></li>
  <li>the class used fro creating a concept scheme is <span class="code">ontolex:ConceptSet</span></li>
</ul>

<p>
  These changes make it easier to create concept sets as defined by the OntoLex-Lemon model. Another features introduced with the support for OntoLex-Lemon, though not restricted to OntoLex projects, is the possibility to switch the concept tree from a "hierarchy based" to a "search based" visualization mode. The latter, as we have already discussed, is particularly useful to browse collections of concepts that are both large and rather flat. Again the switch can be operated by clicking on the gear button (<img src="images/icons/gear.png" />).
</p>

<h2>Lemon VocBench Custom Forms</h2>

<p>
  The OntoLex-Lemon model is a collection of related OWL ontologies that define different modules of the overall specification. It is therefore possible, in principle, to edit and visualizing OntoLex-Lemon lexicons using only the triple-level features of a generic ontology/RDF editor. Nonetheless, the reliance of the model on indirection (e.g. the <em>written representation</em> of a <em>form</em> of a <em>lexical entry</em>) and reification (e.g. a <em>form</em> is a resource) makes its hard to create and, consequently, understand the sometimes complex patterns required to represent seemingly simple information. In the previous sections, we have described the capabilities that have been added to VocBench to help users work with such model. However, these capabilities do not cover all possibilities embodied by the OntoLex-Lemon model; in particular, the system is not equally convenient to edit the ontology-lexicon interface, as specified by the <em>synsem</em> module.
</p>
<p>
  This limitation is mitigated by the use of the <a href="https://bitbucket.org/art-uniroma2/lemon-vb-customforms/">Lemon VocBench Custom Forms</a>. They implement a subset of the <a href="https://github.com/jmccrae/lemon.patterns"><i>lemon</i> patterns for the ontology-lexicon interface</a> as <a href="cforms">custom forms</a> that should be used as <em>custom constructors</em> for the class <em>ontolex:LexicalEntry</em>.
</p>
<p>
  Once the custom forms have been bound to the <em>ontolex:LexicalEntry</em> class, upon the creation of a new lexical entry, the user is prompted with the list of available forms, each corresponding to a different design pattern.
</p>

<div class="figure"><img src="images/lexical-entry-creation-cf.png" alt="List of custom forms for the creation of a lexical entry" /></div>

<p>
When the user chooses a form (e.g. <em>Intersective Object Property Adjective</em>, that is to say an adjective denoting a class defined as a value restriction on an object property), the form for the creation of the lexical entry is extended with additional fields that are specific to the chosen form (e.g. an object property and its value). 
</p>

<div class="figure"><img src="images/intersective-object-property-adjective.png" alt="Custom form for an Intersective Object Property Adjective" /></div>

<p>
  The corresponding lexical entry is a very complex one:  
</p>
<ul>
  <li>it has a <em>sense</em> the <em>reference</em> of which is an <em>owl:Restriction</em> (e.g. <span class="code">dbo:nationality value dbr:Italian</span>), with a <em>semantic argument</em> corresponding to the argument of the class (seen as a unary predicate)</li>
  <li>it has two syntactic behaviors:
    <ul>
      <li>one for the <em>predicative usage</em> (e.g. <span class="code">X is Italian</span>), in which we have a <em>copulative subject</em> (e.g. <span class="code">X</span>)</li>
      <li>one for the <em>attributive usage</em> (e.g. <span class="code">Italian X</span>), in which we have an <em>attributive argument</em> (e.g. <span class="code">X</span>)</li>
    </ul>
  </li>
  <li>each of the aforementioned syntactic argument is bound to the sole semantic argument by means of unification (i.e. use of the same identifier)</li>
</ul>

<p>
  It should be quite obvious that the representation of the information above without the use of custom forms would have been quite difficult. Moreover, it is similarly difficult to understand that complex graph pattern, and recognize it as an instance of a <i>lemon</i> design pattern. The custom forms also help visualize and understand complex lexical entries, since the custom forms are applied in &quot;<em>reversed mode</em>&quot;: they are matched against the data, and the custom form that best fit the data is used to decode the triples at hand and present a clear form-based preview (including the name of the design pattern and its salient information).
</p>

<div class="figure"><img src="images/intersective-object-property-adjetive-form-preview.png" alt="Custom form for an Intersective Object Property Adjective" /></div>

<h2>The Lexicographer view</h2>
As regards the lexicon editing functionalities available in VocBench there is also the LexicographerView. It can be consulted at the following link "<a href="lexview.jsf">LexicographerView</a>"

</ui:define>
</body>
</html>