<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>The Data View: Editing OWL Ontologies</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Intro</h2>

    <p>This section describes the ontology editing functionalities available in VocBench. We will go through the set of functionalities as they appear in the various elements of the user interface.</p>

    <h2>The Class Section</h2>
    <p>When editing an OWL ontology, the landing page for the Data View is the Class Section.</p>
    <p>The Class Section (as of all the data section) is composed of two main areas: the structure on the left, and the resource view on the right.</p>
    <div class="figure"><img src="images/resourceview-class.png" alt="classPanel" /></div>

    <h2>The structure section of the Class-page</h2>
    <p>In particular, the structure section for the Class Page is composed of a Class Widget and an Instance Widget. The first one shows the tree of Classes in the current project, while the latter shows the list of instances for the class selected on the Class-tree Widget.</p>

    <h3>Available Actions on the Class-tree Widget</h3>
    <p>The following actions are available on the class tree through the three action buttons located on the top-left corner of the widget:</p>

    <p><img src="images/icons/class_create.png" alt="addInst" width="20" height="20" />Create Class: creates a new class as a root element of the class taxonomy</p>
    <p><img src="images/icons/class_addSubClass.png" alt="op2" width="20" height="20" /> Add SubClass: adds a new class as a child of (<em>rdfs:subClassOf</em>) the selected class</p>
    <p><img src="images/icons/class_delete.png" alt="op4" width="20" height="20" />  Delete Class: deletes the selected class (not possible for read-only classes);<br /></p>
    <p><img src="images/icons/cls_deprecate.png" alt="op4" width="20" height="20" />  Deprecate Class: deprecates the selected class (not possible for read-only classes);<br /></p>

    <h4>Additional actions</h4>
    <p> At the right of the classes-specific buttons, there are the standard ones:
    	<ul>
		<li>The Rendering Button <img src="images/renderingbutton.png" width="27" height="25" /> activates the rendering for the class-tree</li>
		<li>The Refresh Button <img src="images/refreshbutton.png" width="23" height="21" /> allows the user to refresh the class-tree</li>
		<li>A gear button <img src="images/icons/gear.png" width="16" height="16" />, which allows to open the classes option menu</li>
	</ul>
    </p>
    
    <p>From the top-right context-menu of the widget, additional actions are available when a class is selected:</p>
    <div class="figure"><img src="images/class_tree_additional_actions.png" alt="additional actions" /></div>
    
    <ul>
      <li><em>Multiselection</em>: Enables the selection of multiple resources (details in the <a href="data_view.jsf#the_data_structure_view">Data View</a> page);</li>
      <li><em>Show model-oriented graph</em>: Shows the classes in a Graph View model-oriented (details in the <a href="graphs.jsf">Graph View</a> page);</li>
      <li><em>Show model-oriented graph rooted on the selected node</em>: Shows a Graph View rooted on the selected class;</li>
      <li><em>Show data-oriented graph</em>: Shows the selected class in a Graph View data-oriented;</li>
      <li><em>Show class-diagram</em>: Shows a class diagram;</li>
    </ul>

    <h3>Available Actions on the Individual Widget</h3>
    <p><img src="images/icons/individual_create.png" alt="addInst" width="20" height="20" />Create Individual: adds an instance to the class selected in the class-tree;</p>
    <p><img src="images/icons/individual_delete.png" alt="op4" width="20" height="20" />  Delete Individual: deletes the selected individual ( not possible for read-only individuals);</p>
    <p><img src="images/icons/individual_deprecate.png" alt="op4" width="20" height="20" />  Deprecate Individual: deprecates the selected individual ( not possible for read-only individuals);</p>

    <h4>Additional actions</h4>
    <p> At the right of the instances-specific buttons, there are the standard ones:
    	<ul>
		<li>The Include non direct instances Button <img src="images/showNonDirectInstanceButton.png" width="27" height="25" /> show the non direct instances as well</li>
		<li>The Rendering Button <img src="images/renderingbutton.png" width="27" height="25" /> activates the rendering for the instances list</li>
		<li>The Refresh Button <img src="images/refreshbutton.png" width="23" height="21" /> allows the user to refresh the instances list</li>
		<li>A gear button <img src="images/icons/gear.png" width="16" height="16" />, which allows to open the instances option menu</li>
	</ul>
    </p>

    <p>From the top-right context-menu of the widget, additional actions are available when an instance is selected:</p>
    <div class="figure"><img src="images/instances_list_additional_actions.png" alt="additional actions" /></div>

	<h3>Show Non direct instances</h3>
	<p>When selecting a class, all its explicit instances (instances that are defined having that class as rdf:type) are shown in the instance list.</p>
	<div class="figure"><img src="images/instances_list_direct.png" alt="direct instances" /></div>
	<p>To see also the non direct instances (e.g. instances that belong to one of the sub classes of the selected class), just click on the "Include non direct instances" Button and these instances will be shown
	in the same instance list. Near each of the non direct instance, the Direct type of that specific instance (using its qname or the complete class IRI)</p>
	<div class="figure"><img src="images/instances_list_non_direct.png" alt="non direct instances" /></div>
	
    <ul>
      <li><em>Multiselection</em>: Enables the selection of multiple resources (details in the <a href="data_view.jsf#the_data_structure_view">Data View</a> page);</li>
      <li><em>Show data-oriented graph</em>: Shows the selected instance in a Graph View data-oriented;</li>
    </ul>

    <h2>Class Section Options</h2>
    <p>When the gear button <img src="images/icons/gear.png" width="16" height="16" /> is clicked in the class widget the "Class tree settings" window is opened</p>
    <div class="figure"><img src="images/class_tree_settings.png" alt="class tree settings" /></div>
    <p>In this window it is possible to specify:
    	<ul>
		<li>Root class: which is the root class of the class-tree (the default value is owl:Thing)</li>
		<li>SubClassFilter: enable or disable to apply or not the following filters:
			<ul>
				<li>Classes: The classes which should be visible or not</li>
				<li>Filtered subClasses: once a class is selected in the "Classes" list, which classes should be visible or not (in the figure, under owl:Thing only the class :Person should be shown in 
				the class-tree, while the other two classes should not be visible in the class-tree)</li>
			</ul>
		</li>
		
    	</ul>
    </p>
    
    <h2>Individual Section Options</h2>
    <p>When the gear button <img src="images/icons/gear.png" width="16" height="16" /> is clicked in the instance widget the "Class list settings" window is opened</p>
    <div class="figure"><img src="images/instance_tree_settings.png" alt="class tree settings" /></div>
    <p>In this window it is possible to specify:
    	<ul>
		<li>Visualization mode: the possible values are "Standard" and "Search based" and selecting the former all instances of the selected classes are shown while the latter will show only the instances 
		after a search (useful when there are several instances to avoid having problem with the UI)</li>
		<li>Instances limit: Set the maximum amount of instances visible in the list</li>
		
    	</ul>
    </p>

        <h2>The Class-view</h2>
    <p>The resource-view for classes (or, simply, class-view) is divided into a few sections listing the following information:</p>
    <ul>
      <li><em>Types</em>: most of the classes are of type owl:Class. However, some classes might have other custom (meta)classes as their definitory resources. </li>
      <li><em>Class axioms</em>: this information is very class-specific. A class can be defined as <span class="code">owl:EquivalentClass</span> or <span class="code">owl:subClassOf</span> an <span class="code">owl:Restriction</span>, that is an unnamed class intensively specifying the set of instances falling into its set.</li>
      <li><em>Lexicalizations</em>: the set of lexicalization of the class for each language. The lexicalizations can be expressed through different models (rdfs:labels, skos or skosxl terminological labels) but are always presented here in a homogeneous way. Note: since SKOS-XL labels are reified, it is possible to click on them and open them on the resource-view. While this section hosts all kind of lexicalizations, it allows to create lexicalizations only according to the model specified when creating the project.</li>
      <li><em>Other Properties</em>: any triple not falling in any of the sections above, is reported in this section<br />
      </li>
    </ul>

    <div class="figure"><img src="images/class_resource_view.png" alt="class tree settings" /></div>

    <h3>Adding a type</h3>
    <p>By clicking on the + button on the type section, it is possible to add a more specific type to class shown in the class-view.</p>

    <div class="figure"><img src="images/adding-type.png" alt="adding a type" /></div>
    <p>The property shown at the top of the dialog is hard-wired to <span class="code">rdf:type</span>. However, in case the adopted vocabularies feature a subproperty of <span class="code">rdf:type</span>, it is possible to refine the choice for the adopted property by clicking on the &quot;change&quot; button besides the <span class="code">rdf:type</span> property.</p>
    <div class="figure"><img src="images/refining-type-property.png" alt="adding a type" /></div>
    <h3>Adding an axiom</h3>
    <p>By clicking on the + button on the axioms section, it is possible to add a definitory relation with another class. A simple click on the <img src="images/icons/class_create.png" alt="addInst" width="20" height="20" />button will prompt a dialog for choosing the relation to be used, as in the following figure:</p>
    <div class="figure"><img src="images/addingaxiom.png" alt="adding a type" /></div>
    <p>while a click on an the + button on any already existing subsection of the &quot;Class axioms&quot; section, will directly reuse the property specified there, as in the following figure:</p>
    <div class="figure"><img src="images/addingaxiom-choosingexistingclass.png" alt="adding a type" /></div>
    <p>where possible classes to be connected through the rdfs:subClassOf property are being shown by using a class-tree. By clicking on the &quot;<a href="http://www.w3.org/TR/owl2-manchester-syntax/">Manchester expression</a>&quot;, it is possible to define an owl:Restriction instead of referencing an existing class, as in the following (the property ":friend" has to be already present in the ontology):</p>
    <div class="figure"><img src="images/addingaxiom-editingmanchester.png" alt="adding a type" /></div>
    <p>resulting in the following view, where the <a href="http://www.w3.org/TR/owl2-manchester-syntax/">Manchester expression</a> for the restriction is properly rendered.</p>
    <div class="figure"><img src="images/addedaxiom.png" alt="adding a type" /></div>
    <p>The Manchester Syntax editor supports syntax completion. The feature is activated by depressing "ctrl + space", as shown in the following figure:</p>
     <div class="figure"><img src="images/manchesterSyntaxHints.png" alt="adding a type" /></div>
      <p>The editor also features an inline syntax checker. Here are some examples of spotted errors in the syntax:</p>
      <ul>
       <li>a undefined resource (a property in this specific case); </li>
        <div class="figure" style="margin-top:10px; margin-bottom: 10px;"><img src="images/addingaxiom-editingmanchester-propNotDef.png" alt="adding a type" /></div>
        <li>an element in a wrong position</li>
        <div class="figure" style="margin-top:10px;margin-bottom: 10px;"><img src="images/wrongManchesterSyntax.png" alt="adding a type" /></div>
        <li>an incomplete Manchester expression</li>
        <div class="figure" style="margin-top:10px;margin-bottom: 10px;"><img src="images/incompleteManchesterExpression.png" alt="adding a type" /></div>
      </ul>
   <p>By clicking on the "helper" button, a 1-1 conversion table between DL syntax and Manchester syntax is shown: </p>
    <div class="figure"><img src="images/helperManchesterSyntax.png" alt="adding a type" /></div>
   
	<h3>Adding a Lexicalization</h3>
    <p>By clicking on the + symbol on the Lexicalizations section, it is possible to add different lexicalization for the class, in different languages.</p>
    <div class="figure"><img src="images/add-lexicalization.png" alt="adding a type" /></div>
    <h2>The Property Section</h2>
    <p>The Property Section (as of all the data pages) is composed of two main areas: the structure on the left, and the resource view on the right.</p>
    <div class="figure"><img src="images/resourceview-property.png" alt="classPanel" /></div>

    <h2>The Structure Section of the Property Section</h2>
    <p>In particular, the structure section for the Property Section shows a widget listing all properties in the ontology.</p>
    <h3>Available Actions on the Property-tree Widget</h3>
    <p>The following actions are available on the property tree through the three action buttons located on the top-left corner of the widget:</p>
    <p><img src="images/icons/prop_create.png" alt="addInst" width="20" height="20" />Create Property: creates a new property as a root element of the property taxonomy</p>
    <p><img src="images/icons/prop_addSubProperty.png" alt="op2" width="20" height="20" /> Add SubProperty: adds a new property as a child of (<em>rdfs:subPropertyOf</em>) the selected property</p>
    <p><img src="images/icons/prop_delete.png" alt="op4" width="20" height="20" />  Delete Property: deletes the selected property (not possible for read-only properties);</p>
    <p><img src="images/icons/property_deprecate.png" alt="op4" width="20" height="20" />  Deprecate Property: deprecates the selected property (not possible for read-only properties);</p>
    <p>The behavior of the various action buttons is very similar to the one for classes, except that the create button for properties opens a submenu that lets the user choose the core property type to be used.</p>
    <div class="figure"><img src="images/create-prop.png" alt="adding a type" /></div>

    <h3>The Property-view</h3>
    <p>The resource-view for property (or, simply, property-view) is divided into a few sections listing the following information:</p>
    <ul>
      <li><em>Types</em>: defines the <i>rdf:type</i> of the property, such as <i>rdf:Property</i>, <i>owl:DatatypeProperty</i>, <i>owl:ObjectProperty</i>, ... </li>
      <li><em>Superproperties</em>: this section is property-specific. A property can be defined as a<span class="code"> rdfs:subPropertyOf</span> another property. This means that if a property <em>p1</em> is <span class="code">rdfs:subPropertyOf</span> a property <em>p2</em>, then for any relationship of the form: <em>p1(a,b)</em> it will hold that <em>p2(a,b)</em> is true as well.</li>
      <li><em>Domains and Ranges</em>: these sections are property-specific and allow to specify domain and range for the selected property. Please refer to the <a href="http://www.w3.org/TR/2012/REC-owl2-primer-20121211/">OWL 2 Primer</a> for further information.</li>
      <li><em>Property Facets</em>: this section, property-specific, contains a set of characteristics of a property (usually called <em>facets</em>, and represented in OWL through specific classes) which can be activated by ticking on their associated checkboxes. Please refer to the <a href="http://www.w3.org/TR/2012/REC-owl2-primer-20121211/">OWL 2 Primer</a> for further information.</li>
      <li><em>Lexicalizations</em>: same as for any other resource being lexicalized.</li>
      <li><em>Other Properties</em>: any triple not falling in any of the sections above, is reported in this section
      </li>
    </ul>

    <h2>The Datatype Section</h2>

    <p>Another panel available in the Data page is the <i>Datatype</i> one. In this panel there are represented the <i>rdfs:Datatype</i>s defined by the imported vocabularies and by the user.</p>

    <div class="figure"><img src="images/resourceview-datatype.png" alt="Datatype panel" /></div>

    <h3>Available Actions on the Datatype-list Widget</h3>
    <p>The following actions are available on the Datatype panel through the action buttons located on the header:</p>
    <p><img src="images/icons/dataRange_create.png" alt="addInst" width="20" height="20" />Create Datatype: creates a new datatype</p>
    <p><img src="images/icons/dataRange_delete.png" alt="op2" width="20" height="20" /> Delete Datatype: deletes the selected datatype (not possible for read-only datatypes)</p>
    <p><img src="images/icons/dataRange_deprecate.png" alt="op4" width="20" height="20" />  Deprecate Datatype: deprecates the selected datatype (not possible for read-only datatypes);</p>

    <h3>The Datatype-view</h3>
    <p>The resource-view for datatypes is divided into a few sections listing the following information:</p>
    <ul>
      <li><em>Types</em>: most of the datatypes are of type rdfs:Datatype. However, some datatype might have other custom (meta)classes as their definitory resources. </li>
      <li><em>Datatype definitions</em>: this section is datatype-specific and allows to define the core aspects of the datatype such as facets, restrictions, ...</li>
      <li><em>Lexicalizations</em>: same as for any other resource being lexicalized.</li>
      <li><em>Other Properties</em>: any triple not falling in any of the sections above, is reported in this section
      </li>
    </ul>

    <h3>Datatype editing</h3>

    <p>
      As stated in the previous section, the <i>Datatype definitions</i> partition allows to define facets, restrictions and other aspect of a datatype. Clicking on the add button of this partition, the modal shown in the following figure appears.
    </p>
    <div class="figure"><img src="images/datatype_facets.png" alt="Datatype facets" /></div>

    <p>
      From this modal it is possible to define the facets of the datatype specifying the base built-in data type and optionally a minimum and maximum value and a pattern for the validation of the defined typed values.
      In the previous figure it is defined, as example, a new datatype <i>:age</i> based on <i>xsd:integer</i>, which range of values is between 0 and 120 (both inclusive).<br/>
      In this way, when the user tries to create a value for this datatype, a validation check is performed on the entered value. For example, if the user enter an age of 1000, it will get the following error.
    </p>

    <div class="figure"><img src="images/datatype_invalid.png" alt="Datatype invalid" /></div>

    <p>
      Beside the customization through facets definition, a datatype can be defined through enumeration, namely a set of allowed values that the datatype admits.
    </p>

    <div class="figure"><img src="images/datatype_enumeration.png" alt="Datatype enumeration" /></div>

    <p>
      Finally, a dedicated editor is also provided in order to define datatype aspect through the Manchester syntax.
    </p>

    <div class="figure"><img src="images/datatype_manchester.png" alt="Datatype manchester" /></div>

  </ui:define>
</body>

</html>