<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>OWL Consistency Check</h1>
<p>VocBench features an <a href="icv.jsf">Integrity Constraint Validation (ICV) check</a> that detects whether an OWL ontology is consistent or not.</p>
<p>Consistency is a critical quality attribute for OWL ontologies, referring to the existency of an interpretation. In other words, an ontology is inconsistent if there is no assignment of meanings to the vocabulary of the ontology that satisfies all the assertions in the ontology. Determining the consistency of an ontology is indeed a classical task for OWL reasoners.</p>
<p>
  This ICV is only available for OWL projects hosted on a triple store capable of consistency checking. Currently, <a href="https://graphdb.ontotext.com/">Ontotext GraphDB</a> is the only supported triple store. In fact, GraphDB enables to customize <a href="https://graphdb.ontotext.com/documentation/free/reasoning.html">inference</a> through the selection of different "rulesets" (comprising axiomatic triples, consistency checks and entailment rules), allowing for choosing a different tread-off between completeness of the reasoning and resource consumption. The possibility to detect an inconsistency is thus limited by the selection of a suitably expressive ruleset.
</p>


<h2>Run the consistency check</h2>
<p>
  After selecting the consistency check ICV, the user lands on a page containing an empty area, which will be populated with the detected inconsistencies, eventually. To start the actual consistency check, click on the "Run" button on the right of the header of the area.
</p>
<div class="figure"> <img src="images/owl_consistency_check_empty.png" alt="OWL consistency check empty"/></div>

<h2>Inconsistencies visualization</h2>
<p>
  An inconsistent ontology entails statements that contradict each other, e.g. two individuals being the same and different at the same time, the existency of an instance for an empty class (such as the intersection of disjoint classes), etc. These inconsistency, if any, will be displayed in the initially empty area. VocBench may not display all inconsistency in an ontology, as GraphDB - for instance - returns only the inconsistency related to the same triple, possibly omitting inconsistency involving unrelated triples. Therefore, the check should be run iteratively as the found inconsistency are resolved, until none is detected. As a reasoner may be incomplete with respect to the semantics of OWL, it worth to notice that there might still be undetected inconsistency.
</p>
<div class="figure"> <img src="images/owl_inconsistency_collapsed.png" alt="OWL inconsistency collapsed"/></div>
<p>
  In the figure above, the contradiction is that <code>:Monaco</code> is an instance (<em>rdf:type</em>) of both the class <em>:State</em> and <em>:City</em>, which are disjoint (<em>owl:disjointWith</em>).
</p>
<p>
  It is possible to double-click on each triple component to open a read-only resource view focused on the clicked resource.
</p>
<p>
  Matching the conventions of the <a href="data_view.jsf">resource view</a>, the background of the first triple highlights that it is inferred (and not explicitly asserted in the ontology). Clicking the question mark on the right of an inferred triple enables to see the premises from which that inference has been drawn. If a premise is itself an inferred triple, its premises can be obtained recursively. 
</p>
<div class="figure"> <img src="images/owl_inconsistency_expanded.png" alt="OWL inconsistency expanded"/></div>
<p>
  In the figure above, the fact that <code>:Monaco</code> is an instance (<em>rdf:type</em>) of the class <em>:State</em> has been inferred from two (explicit) triples: 
</p>
<ul>
  <li>
    <code>:unMemberSince</code> <code>rdfs:domain</code> <em>:State</em>
  </li>
  <li>
    <code>:Monaco</code> <code>:unMemberSince</code> <code>"1993-05-28"^^xsd:date</code>
  </li>
</ul>
<p>
  In words, Monaco must be a state, since it has been member of the <a href="https://www.un.org/en">United Nations</a> since 28 May 1993, and every member of the United Nations must be a (sovereign) state.
</p>

<h2>Inconsistency repair</h2>
<p>
  A common approach to repair an inconsistent ontology is to remove the offending (explicit) axioms. When visualizing an inconsistency, it is possible to click on the trash bin icon near an explicit triple to remove it. In our running example, we could remove the axiom stating that the class <code>:City</code> is disjoint with the class <code>:State</code>, as Monaco - for instance - is a modern city-state. After the removal of a triple, the check is automatically re-run to detect other inconsistencies, if any.
</p>

</ui:define>
</body>
</html>