<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
  <link href="../../js/pre_default_style.css" rel="stylesheet" title="Default" />
  <script src="../../js/jquery/jquery-1.2.5.js" type="text/javascript"></script>
  <script src="../../js/chili/jquery.chili-2.2.js" type="text/javascript"></script>
  <script src="../../js/chili/recipes.js" type="text/javascript"></script>
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
  xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
  xmlns:f="http://java.sun.com/jsf/core" class="art">
  <ui:define name="head">
    <link href="../../js/pre_default_style.css" rel="stylesheet" title="Default" />
    <script src="../../js/jquery/jquery-1.2.5.js" type="text/javascript"></script>
    <script src="../../js/chili/jquery.chili-2.2.js" type="text/javascript"></script>
    <script src="../../js/chili/recipes.js" type="text/javascript"></script>
  </ui:define>
  <ui:define name="mainContent">
    <h1>Project Access Control</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>
    <p>Each project contains an Access Control List (ACL), representing the consumers that can access its content. </p>
    <p>Consumers are actually other projects that request (through a user) to access their content. This enables a
      permission-by-delegation mechanism for which a project can automatically grant access to its content to users
      logged on another project, providing that this second project has been allowed to access the content of the first. </p>
    <p>Typical use cases for the ACL are all those functionalities related to alignment. If two datasets are both
      available on the same VB instance, it would be very convenient to allow access to each other (or just from one to
      the other) in order to perform alignments between them, benefiting from the direct access to the resources
      available in the two projects. </p>
    <p>Another case is related to proper rendering of entities present in a foreign dataset. If a project A contains
      mentions of entities present in an ontology present in project B, having A granted access to B enables for a more
      efficient rendering of the resources in B when shown in A, instead of looking for their descriptions on the Web. </p>
    <h2>Access Control List</h2>
    <p>Formally, the ACL it consists of two elements:</p>
    <ul>
      <li>The ACL list itself, containing entries in the form of &lt;<a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html">ProjectConsumer</a>, <a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html">AccessLevel</a>&gt;
        pairs</li>
      <li>a &quot;<a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html">lockable</a>&quot;
        property, telling if the project containing this ACL, can be locked for use by a ProjectConsumer, and with which
        modality </li>
    </ul>
    <p>The <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html">AccessLevel</a> can have two values: <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html#R">R</a> (read), or <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html#RW">RW</a> (read/write). This tells if the project content can be accessed (R or RW) by the paired consumer, and if the
      consumer may also edit this content (RW). The sole presence of a ProjectConsumer in a Project's ACL thus enables
      that consumer to access the project's content.</p>
    <p><em>Locking works in a different way from traditional locks (actually, its values have to be read the opposite
        way: we were tempted to give it a different name, though we ended up deciding that, whichever way it is managed,
        it still represent a lock!). Traditional locks are usually activated by a controller (e.g. an Operating System)
        whenever an agent tries to access a resource (e.g. a file) managed by it. The way in which the resource is being
        used by the agent automatically implies the kind of lock set on it. For instance, a read-write operation on a
        file, implies the file cannot be accessed, because its content is subject to change. However, projects contain
        large non-atomic data repositories which can be potentially accessed in parallel by different actors. Atomic
        operations are in any case guaranteed to not overlap with each other by means of ACID transactions, and this is
        independent of the consumer (two users could make an attempt to touch the same data even from the same
        consumer). Thus, the LockLevel is more concerned with establishing a level of global exclusiveness on the access
        to a project, for a certain consumer.</em></p>
    <p>The <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html">LockLevel</a> associated to each project, and reported in its <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.html">ProjectACL</a>,
      can assume the following values:</p>
    <ul>
      <li><a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#NO">NO</a>:
        the project cannot be locked by any consumer</li>
      <li><a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#W">W</a>:
        the project can be locked by a consumer so that its content cannot be modified by other consumers</li>
      <li><a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#R">R</a>:
        the project can be locked by a consumer so that its content cannot be accessed at all by other consumers</li>
    </ul>
    <p>Thus, this form of locking describes not the kind of access which is being currently done on the resource (in
      fact, there could be more consumers accessing in parallel, with different levels, the same project), but the kind
      of access which is being forbidden by a single consumer asking for exclusiveness on that same form of access. As a
      consequence, <a
        href="dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#R">R</a> is the strongest form of lock, as it prevents other consumers from doing READ operations (and, implicitly, even                                
      WRITE ones).</p>
    <h2>Online Access Status</h2>
    <p>The Access Control List describes the access <em>allowances</em> established for each project in a given VocBench
      instance. These reflect the possibilities for various consumers to access each project. The Online Access Status
      represents instead the actual list of consumers which requested access to the project in the current running
      system.</p>
    <p>Access requests are evaluated by both considering the ACL and the online status of a project. The <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectManager.html">ProjectManager</a> keeps track of the status of all projects, telling whether they are open, which consumers are accessing them and
      with which <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html">AccessLevel</a>,
      and if a Lock has been set on them. Whenever an access request to a given project comes from a consumer, the <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectManager.html">ProjectManager</a> performs a series of checks, by first analysing static compatibility of the consumer with the ACL of the project
      to which access is requested, and then examining if the online status of the project (alone, or combined with the
      ACL) forbids the request.</p>
    <p>When a project is created:</p>
    <ul>
      <li>its ACL, unless differently specified, is set to <a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html#SYSTEM">SYSTEM</a>, <a
          href="https://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html#RW">RW</a> </li>
      <li> it is also automatically accessed by its <a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html">consumer</a> in <a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html#RW">RW</a> mode and with <a
          href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#NO">NO</a> lock on it.</li>
    </ul>
    <p>This way, a project created through <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html#SYSTEM">SYSTEM</a>, 
      initially can only be directly accessed by users in read/write mode (<a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html#SYSTEM">SYSTEM</a> consumer <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.AccessLevel.html#RW">RW</a> mode), but their data cannot be inspected by other projects in turn. <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectACL.LockLevel.html#NO">NO</a> lock is active on it, though this option is useless until a new consumer is added to the ACL (as only <a
        href="http://semanticturkey.uniroma2.it/documentation/dev/modules/st-core-framework/apidocs/it/uniroma2/art/semanticturkey/project/ProjectConsumer.html#SYSTEM">SYSTEM</a> can access its content)</p>
    <h2>Configuring the Project Access Control through VocBench UI</h2>
    <p>The Project Access can be configured through VocBench by clicking on the ACL button at the top-rightmost part of
      the Projects page.</p>
    <div class="figure"> <img src="images/acl_button.png" alt="ACL Menu" /> </div>
    <p>Once clicked, a matrix for the ACL is shown on the screen (figure below). The column on the left lists the
      projects available in VocBench, while the header for the rows lists the consumers (other projects trying to access
      the content of the project in the row). </p>
    <p>SYSTEM is a special consumer, representing users logged to the project itself (with no intermediation from
      another project).</p>
    <div class="figure"> <img src="images/acl_page.png" alt="ACL Matrix" /> </div>
    <p>Each cell crossing a project with a consumer, describes the kind of access granted to the consumer by the project
      and it is colored with a green background if the consumer accesses the project (e.g. in the screenshot below <i>SYSTEM</i> accesses <i>foaf</i> project). </p>
    <p>Each square is in any case explained by a tooltip, which specifically indicates the involved resources, for
      example hovering the green square crossing <i>SYSTEM</i>-<i>foaf</i> pair, a tooltip will show the message:</p>
    <code> Available Access Level: Project 'foaf' grants Read and Write access to 'SYSTEM'<br/>
  Acquired Access Level: Project 'foaf' is accessed by 'SYSTEM' in Read and Write level </code>
    <p>By clicking on the &quot;pencil&quot; symbol besides each project, it is possible to edit its specific ACL. In
      this case, after clicking on the <i>foaf</i> project, a list of consumers, including SYSTEM plus all the other
      projects in the VB instance is shown. For each consumer, it is possible to state the possible level of access. By
      default it is RW for SYSTEM (otherwise users logged to the project would not even be able to write its content)
      and not defined for the other projects.</p>
    <p>The lockable value determines, univocally for all consumers, if these can access the given project and lock it
      for R or RW.</p>
    <div class="figure"> <img src="images/acl_editing.png" alt="ACL Editing" /> </div>
    <p> A <i>universal access level</i> can be stated, namely the Access Level that the project will grant to all the other projects,
      thus avoiding the admin to update the level to every single project but simply update them all in a single shot. </p>
    <p>
      In addition to the access levels we already seen, <i>R</i> and <i>RW</i>, a special <i>EXT</i> level is available for this option.
      By setting <i>universal access level</i> to <i>EXT</i> in a project P, each user that can access project P (having a role assigned in it) can also reach P from a second project P<sup>1</sup> even if P did not explicitly granted access to P<sup>1</sup> through the ACL.
    </p>
    <p>The lock level is shown for each project in the square beside the &quot;pencil&quot; button. In case the project is locked,
      as well as for the access level, the square is colored with a red background.</p>
    <div class="figure"> <img src="images/acl_locked.png" alt="ACL locked" /> </div>
  </ui:define>
  <p>&nbsp;</p>
</body>

</html>