<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>Projects administration</h1>
        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <h2>Introduction</h2>

        <p>The Projects administration page can be reached by clicking on the <em>user </em>button on the top-right corner(the one with the symbol of a user) and select &quot;Administration&quot; from the menu. Then, by clicking on the Projects button on the top-left part of the screen, the Projects Page will be shown.</p>
        <div class="figure">
            <img src="images/projectsmanagement.png" alt="Projects Management" />
        </div>
        <p>From this page, it is possible to add users to projects, to assign them languages, roles, or to assign them to a group.</p>

        <h2>Project-Users management</h2>
        <p>
            The management of users bound to a project is available by selecting the <i>Project-Users management</i> button on the top right corner of the page.
        </p>
        <div class="figure">
            <img src="images/projects_users_mgmt.png" alt="Projects-user Management" />
        </div>

        <p>
            After selecting a project in the dedicated panel, the list of the assigned users is shown in the "Users" panel. From this panel the administrator can add new users or remove those already assigned.
        </p>
        <p>
            When a user is selected as well, in the right panel "Project-user settings" it is possible to:
        </p>
        <ul>
            <li>
                Add/remove roles to the user. The available roles are those defined at system level or locally to the selected project (for further details see the dedicated <a href="roles_adm.jsf">documentation</a>)
            </li>
            <li>
                Assign/remove a group to the user. It is possible to assign just one group among the available ones.
                The "Apply restrictions" button on the top-right corner of the <i>Assigned Group</i> panel, if active/pressed, tells to the system that the group limitations for the given project must be applied. This means that a group membership doesn't necessarily imply that its limitation (if any) are applied to all the users (for details see the next section <a href="projects_adm.jsf#project-groups_management">Project-Groups management</a>).
            </li>
            <li>
                Assign/remove languages to the user. The assignable languages are restricted to those available in the project (see <a href="projects_adm.jsf#project_settings">Project settings</a>).
                The "star" button located on the <i>Available languages</i> panel heading allows you to filter the languages by showing only those indicated by the user as proficiencies in its <a href="first_access_usr.jsf#user_profile_editing">profile page</a>.
            </li>
            <li>
                Customize the ResourceView visualization of the user in the given project (see <a href="data_view.jsf#customization_of_resourceview">here</a> for further details)
            </li>
        </ul>
        <p>
            All these settings can be cloned into a target project through the <img src="images/icons/clone.png"/> button located on the top right corner of the panel.
            Once clicked, a dialog will prompt the selection of a target project and then, if submitted, all the above settings will be replicated in it. Roles (except for project-level ones), group, languages and ResourceView template will be overwritten to the already existing settings in the target project (if any).
        </p>

		<p>To help the Administrator, or the Project Manager, to assign the right language(s) to a user (for the selected project), it is possible to filter the languages by just using the search box right under the
		"Available Languages". For example, by using "it" in that search field, only 3 possible languages are shown (the only three languages having the "it" sequence in their name):</p>
		<div class="figure">
            <img src="images/projects_users_language_filter.png" alt="Projects-user Management" />
        </div>

		<p>As seen before, by selecting a project, all its associated users are shown near it. This list can be quite long and to know the features of each user, the Administrator/Project Manager needs to click on each user. Another possibility is to use filter option. Click on the "funnel" button and a context dialog will be opened, containing three fields: "Roles", "Groups" and "Languages". By filling one, or more, of these fiels, it is possible to filter the list of users, assigned to the selected project, and show only those users having the desired features (these features can be considered in AND or OR combinations). For example the shown users all have the specified features (e.g. they have the roles "lexicographer" AND "thesaurus-editor" and have the language "it")  </p>

		<div class="figure">
            <img src="images/projects_users_complex_filter.png" alt="Projects-user Management" />
        </div>

        <h2>Project-Groups management</h2>

        <p>
            Other aspect that can be managed from this page is the project-groups binding. The related editor is accessible from the same top-right buttons group of the "Project-Users management".<br />
        </p>

        <div class="figure"><img src="images/group_limitations.png" alt="Groups limitations" /></div>

        <p>
            Selecting "Project-Groups management" a list of existing groups is shown. Once a project-user pair is selected, on the left panel their settings are shown. A user can be assigned to a single group per project.<br/>
            For details on how to create/edit/delete groups, see the <a href="groups_adm.jsf">dedicated page</a>
        </p>

        <p>
            A group can be used in order to constrain or limitate the operation that its users can perform on a SKOS thesaurus. In particular it is possible to configure the following:
        </p>
        <ul>
            <li><span class="code">Base broader property</span>: sets the base broader property that is selected by default when the user is creating a narrower concept in the concept tree.</li>
            <li><span class="code">Management of broader/narrower</span>: customizes the properties on which the concept tree hierarchy is based on.</li>
            <li><span class="code">ConceptScheme authorizations</span>: determines which ConceptScheme the group is authorized to work with.</li>
        </ul>
        <p>
            All these three settings are available only for projects that adopt a semantic model that includes SKOS.
        </p>
        <p>About the <i>ConceptScheme authorizations</i>, any changes on a unauthorized scheme or any of its concepts (according to this configuration) will be denied. For instance, considering the configuration show in the previous figure, a user that belongs to the <i>ART</i> group in the <i>Eurovoc</i> project, cannot add a concept to a scheme different from <i>EuroVoc (en)</i>.</p>
        <div class="figure"><img src="images/group_unauthorized_scheme.png" alt="Denied operation on scheme" /></div>

        <h2>Project settings</h2>

        <p>
            The third configuration panel available on this page is the "Project settings".
        </p>

        <div class="figure">
            <img src="images/projects_settings_mgmt.png" alt="Projects-settings Management" />
        </div>

        <p>
            This panel contains three tabs:
        </p>
        <ul>
            <li>
                <i>Languages</i>: from here it is possible to select the languages to made available in the project. It is also possible to mark some of them as "mandatory". The mandatory languages are expected to be covered extensively in the dataset. Some features of the platform (e.g. <a href="icv.jsf">ICV</a>) support verification of this constraint.
            </li>
            <li>
                <i>Resource View</i>: allows you to customize the Resource View aspect by changing the templates and defining custom sections. This is documented in details in a dedicated <a href="dataview_consumers.jsf">page</a>.
            </li>
            <li>
                <i>Other</i>: a tab containing other generic settings:
                <ul>
                    <li>
                        <i>PrefLabel clash mode</i>: this determines how the system should handle the unicity of preferred labels within concept schemes. Three behaviours are available:
                        <ul>
                            <li><i>Allow</i>: the user is not prompted and the duplicated prefLabel is allowed</li>
                            <li><i>Forbid Always</i>: forbids multiple concepts to have the same preferred label in the same scheme</li>
                            <li><i>Allow with warning</i>: the user is warned that there's already another concept with a same prefLabel, the user can choose to force the new entry or cancel the operation</li>
                        </ul>
                    </li>
                    <li><i>Custom Tree</i>: allows the definition of a custom tree which will be available in the Data page. This is documented in a dedicated <a href="custom_tree.jsf">page</a>.</li>
                </ul>
            </li>
        </ul>

        <div class="figure"><img src="images/projects_settings_other.png" /></div>

    </ui:define>
</body>

</html>