<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>The Projects page</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <p>VocBench is a collaborative platform. As such, different users may collaborate on a same project with different editing privileges. Above all users, the administrator is in charge of creating projects and of assigning them managers.</p>
    <p>There are mainly two pages related to projects:</p>
    <ul>
      <li>The landing page for the administrator, showing the list of available projects, their status, characteristics etc.., allowing the administrator to create new projects, delete them etc..</li>
      <li>The <a href="projects_adm.jsf">Project Management</a> page, which is available also to Project Managers</li>
    </ul>

    <h2>Listing, Creating, Deleting Projects</h2>
    <p>Projects can be listed, created and deleted by the administrator through the Landing Page, that is reached by the administrator right after they log into the system</p>
    <div class="figure"><img src="images/projectslandingpage.png" alt="ProjectsLanding Page" /></div>

    <p>The pages shows a table that will be filled with the projects created inside VocBench. Here follows a description of the table headers:</p>
    <ul>
      <li><em>Project Name</em> : The name of the project</li>
      <li><em>Open/Close</em>: tells whether a project has been opened inside the system. A project can be closed in order to release its resources. However, when a project is closed, it is not possible for common users to access it.</li>
      <li><em>Accessed: </em>if the project has been selected by the user and is thus the one currently accessed by the client browser. All operations focused on a specific project will assume this selection as the reference project</li>
      <li><em>Model</em>: the type of the dataset, it can be an RDFS or OWL ontology, a SKOS thesaurus, or an OntoLex lexicon</li>
      <li><em>Lexicalization</em>: the type of lexicalization adopted, it can be RDFS, SKOS, SKOS-XL or OntoLex</li>
      <li><em>History</em>: tells whether history has been activated for this project</li>
      <li><em>Validation</em>: tells whether history has been activated for this project</li>
      <li><em>Repository Location</em>: remote or local</li>
      <li><em>Actions</em>: a button for deleting a project and a context menu for further actions (e.g. Edit ACL, edit project settings, see project Properties, ...)</li>
    </ul>
    
    <div class="figure"><img src="images/projects_ctx_menu.png" alt="Projects context menu" /></div>
    
    <p>Through the buttons on the panel heading it is possible to:</p>
    <ul>
      <li><i>Create</i> a new Project</li>
      <li>Open or close all the projects in one go</li>
      <li>Refresh the projects list</li>
      <li>Inspect the ACL matrix</li>
      <li>Changes the project view settings and customize the project facets schema (both under the cog button)</li>
    </ul>

    <h3>Which kind of project best suits my needs?</h3>
    <p>In VocBench we introduced the notion of <em>semantic model</em>, or simply <em>model</em>, implying the core modeling vocabulary that is being used. Roughly speaking:</p>
    <ul>
      <li>if you are developing an ontology, the model to be adopted is <a href="https://www.w3.org/TR/owl2-overview/">OWL</a></li>
      <li>for a thesaurus or any kind of KOS (Knowledge Organization System), including authority lists, terminologies etc.. the model should be <a href="https://www.w3.org/TR/skos-reference/">SKOS</a></li>
      <li>while if you are interested in developing a lexical resource with a fine-grain on lexical aspects (e.g. distinction between lemmas and other forms, term composition, lexical relations etc..) <a href="https://www.w3.org/2016/05/ontolex/">Ontolex-Lemon</a> should be your choice.</li>
    </ul>

    <h3>Project Creation</h3>
    <p>To create a new project click on &quot;Create&quot; button. You will be prompted with a window like the one in figure below:</p>
    <div class="figure"> <img src="images/createproject.png" alt="New Project" /> </div>
    <p>Here you have to fill (in order of appearance) the following fields:</p>
    <p>Section <em>Create Project</em>:</p>
    <ul>
      <li><em>Project Name</em>: the name of the project. Any name which can be stored as a folder in the file system is a valid project name.</li>
      <li><em>Optional data preloading</em>: allows the user to preload data during the project creation. The available choices are:
        <ul>
          <li><em>Do not preload any data</em>: default selection, skips the data preloading.</li>
          <li><em>Preload from local file</em>: loads the content of an RDF file picked from the local filesystem.</li>
          <li><em>Preload from URI</em>: fetches and loads the data referenced by an URL (e.g. <i>http://xmlns.com/foaf/0.1/</i>).</li>
          <li><em>Preload from Dataset Catalog</em>: exploits available <a href="./dataset_catalogs.jsf">Dataset Catalog</a>s for loading a vocabulary.</li>
        </ul>
        The preload operation will also try to infer and set the <i>Base URI</i>, <i>Model</i> and <i>Lexicalization</i> fields automatically.
      </li>
      <li><em>Base URI</em>: any valid ontology URI is accepted. If the uri ends with no trailing # nor /, the default namespace will end with a #. If the URI ends with /, the default namespace will be the same as the baseuri.</li>
      <li><em>Model</em>: it can be RDFS, OWL, SKOS or OntoLex depending on the model (RDFS and OWL for ontologies, SKOS for thesauri, OntoLex for lexicons) you want to adopt for your data.</li>
      <li><em>Lexicalization</em>: it can be RDFS, SKOS, SKOS-XL or OntoLex depending on the lexicalization model you want to adopt for your data. If the adopted <i>Model</i> is OntoLex, then the <i>Lexicalization</i> model is forced to be OntoLex as well. <em><br />
          Please note that: as of version 4.0 and 5.0 of VocBench, the settings for the combinations of other models (RDFS, OWL or SKOS) with Ontolex as a lexicalization model in a project need still improvement. As a consequence, if you need to use Ontolex-Lemon at any extent in your project (from simply lexicalizing an existing ontology with lexical entries from an existing lexicon to building from scratch all of these resources we strongly suggest to choose Ontolex-Lemon both as the (semantic) model of the project and the lexical model.</em></li>
      <li><em>History</em>, <em>Validation</em> and <em>Blacklisting</em>: the checkboxes have to be ticked in order to activate the respective features for the project being created. Blacklisting can be activated only if Validation is activated as well.</li>
      <li><em>Undo</em>: Enable the possibility to undo operation on the data.</li>
      <li>
        <em>Trivial Inference</em>: optionally enables trivial reasoning (e.g. resolution of inverse and symmetric properties) to assert and retract triples. <br/>
          Upon the addition of a triple <code>s p o</code>:
          <ul>
            <li>if <code>p</code> is an <code>owl:SymmetricProperty</code>, then the triple <code>o p s</code> (swapping the subject and object of the original triple) will be also added</li>
            <li>if <code>p</code> has inverse <code>p'</code> or <code>p'</code> has inverse <code>p</code>, then the triple <code>o p' s</code> (swapping the subject and object of the original triple, and using the inverse property as predicate) will also be added</li>
          </ul>
          Upon the deletion of a triple <code>s p o</code>, the triple that would have been materialized according to the rules above will be also deleted. <br />
          This trivial reasoning is based on the schema existing at the beginning of a transaction: therefore, its soundness and completeness depends on the fact that a property is not
          used in the same transaction that manipulates its definition.
      </li>
    </ul>
    <p>Section <em>Data Store</em>:</p>
    <ul>
      <li><em>Repository Access</em>: one of:
        <ul>
          <li><em>CreateLocal</em>: creates a local data repository. </li>
          <li><em>CreateRemote</em>: creates a repository on a remote triple store. Currently there are configurable settings for RDF4J and GraphDB stores.</li>
          <li><em>AccessExistingRemote</em>: access an existing repository and creates a project by using the data already there.</li>
        </ul>
      </li>
      <li><em>Remote Access Config</em>: enabled only for remote repositories, allows the user to specify the server URL and the access credentials (username and password)</li>
      <li><em>Repository ID</em> Fields and <em>Configuration</em>:
        <ul>
          <li>In order to enable options for History and Validation, the related checkboxes in the previous section must have been selected</li>
          <li>For both &quot;Create&quot; options for repository access, the IDs of the repositories will follow predefined conventions.</li>
          <li>If the <em>AccessExistingRemote</em> option has been chosen, the Configuration boxes will be greyed out as the repository has already been configured and needs only to be accessed</li>
        </ul>
      </li>
    </ul>
    <p>Section <em>Optional Settings</em>:</p>
    <p>
      This section is initially hidden, because the default configuration will be fine in most circumstances. The figure below shows the content of the section, after the user clicked on the collapse/expand (rotating) triangle near the section name.
    </p>

    <div class="figure"><img src="images/project-creation-optional-settings.png" alt="Optional Settings for project creation" /></div>

    <p>There are four subsections here.</p>
    <ul>
      <li><em>URI Generator</em>: this section allows to configure which <a href="http://semanticturkey.uniroma2.it/doc/sys/uri_generator.jsf">URIGenerator</a> that will be used generate resource URIs automatically (in those circumstances in which the user has not indicated them explicitly).</li>
      <li><em>Rendering Engine</em>: this section allows to configure which <a href="resource_rendering.jsf">Rendering Engine</a> will be used to produce a human-intelligible representation of the resources displayed in different parts of the UI.</li>
      <li><em>Resource Metadata</em>: this section is about the configuration of the automatic management of resource-level metadata. It has been originally designed for the automatic update of date-time metadata about created or modified resources, but its usage could be wider. This topic is explained in detail on the dedicated <a href="resource_metadata.jsf">page</a>.
      </li>
      <li><em>SHACL Shape Validation</em>: this section is about data validation using <a href="https://www.w3.org/TR/shacl/">SHACL</a> shape definitions. To enable such feature, it is necessary to:
        <ul>
          <li>check the checkbox "Enable"</li>
          <li>after the project has been created, <a href="global_data_management.jsf#load_shapes">load shapes</a> that define actual constraints on the data</li>
        </ul>
        This section also exposes a number of SHACL-related settings. We refer the reader to the <a href="https://rdf4j.org/documentation/programming/shacl/">pages on SHACL</a> in the RDF4J documentation for an in-depth discussion of these settings. Nonetheless, we describe hereafter a few of them that are particularly critical:
        <ul>
          <li><em>Validation enabled</em> (<em>true</em> by default): tells whether the (loaded) SHACL shapes are enforced interactively on every commit, aborting any change that would violate any constraint. Consequently, the data will always be valid with respect the loaded shapes. Conversely, if this setting is set to <em>false</em>, then data can become invalid and violations can be detected later by means of the batch validation. This settings can be <a href="projects.jsf#project_settings">changed afterwards</a></li>
          <li><em>Validation results limit total</em> (<em>-1</em> by default): limits the number of validation results per report: <em>-1</em> means unlimited, <em>0</em> means that validity is ascertained but not validation result is reported in detail, while <em>n</em> means that at most n results will be included in the report. The property <em>rdf4j:truncated</em> has been introduced to indicate whether a report is truncated or not</li>
          <li><em>Validation results limit per constraint</em> (<em>true</em> by default): limits the number of validation results per constraint. The same policy discussed above applies</li>
        </ul>   
      </li>
    </ul>

    <p>
      Both the <em>URIGenerator</em> and the <a href="resource_rendering.jsf">Rendering Engine</a> is configured by the system automatically, by choosing an implementation suitable for the indicated <em>lexicalization model</em>. To choose a different implementation, do the following:
    </p>
    <ul>
      <li>Uncheck the checkbox &quot;User default settings&quot;</li>
      <li>Use the dropdown &quot;Plugin&quot; to choose the implementation</li>
      <li>Use the dropdown &quot;Configuration&quot; to choose a configuration type, and if enabled press the button &quot;Configure&quot; to edit the configuration properties</li>
    </ul>
    <p>
      The documentation of Semantic Turkey lists the predefined <a href="http://semanticturkey.uniroma2.it/doc/sys/uri_generator.jsf#uri_generator_implementations">URIGenerator</a> and <a href="http://semanticturkey.uniroma2.it/doc/sys/rendering_engine.jsf#rendering_engine_implementations">RenderingEngine</a> implementations, together with their configuration options.
    </p>

    <p>A final <i>Other options</i> section contains:</p>
    <ul>
      <li>
        <em>Universal access level</em>: Set the universal access level for this project. The default for this option can be established in the <a href="sys_config_adm.jsf">System configuration</a> panel. More details about this option in <a href="project_access_control.jsf#configuring_the_project_access_control_through_vocbench_ui">ACL</a> documentation.
      </li>
      <li>
        <em>Open at startup</em>: If true, the project is automatically opened when SemanticTurkey server starts up. As well as the previous option its default can be configured from the System configuration panel.
      </li>
    </ul>


    <h3>Repository Configuration</h3>
    <p>Each triple store may support different type of configurations. Currently there are configurable settings for RDF4J and GraphDB stores.</p>
    <p>In particular, <a href="http://rdf4j.org/">RDF4J</a> offers three kind of connections:</p>
    <ul>
      <li><em>in-memory</em>: a repository managed completely in-memory. The two options provided by the connector (persistent/non persistent) specify which kind of project will be managed. In the first case (persistent) the data will be always saved in real time, with user modifications, in the latter case it will require for the project to be explicitly saved</li>
      <li><em>native</em>: this corresponds to a repository using dedicated on-disk data structures for storage</li>
      <li><em>remote</em>: allows for remote connection to a <a href="http://rdf4j.org/">RDF4J</a>-compliant server. Currently supported stores are <a href="http://rdf4j.org/">RDF4J</a> itself and <a href="http://graphdb.ontotext.com/">GraphDB</a>.</li>
    </ul>
    <p>The Configuration menu provides a list of properties which depend on the chosen triple store. These properties are declared by the connector itself and are thus dynamically fed to the user interface. The documentation for the parameters of RDF4J is available in a <a href="https://rdf4j.org/documentation/reference/configuration/#repository-configuration">dedicated section</a> of the RDF4J user manual. Same for GraphDB <a href="http://graphdb.ontotext.com/documentation/standard/configuring-a-repository.html">Sail Configuration</a>.</p>
    <p>However, a tooltip over each of the shown parameters should provide enough explanation to understand its use. </p>
    <p>Also, in case of a remote connection, if any of <em>History</em> or <em>Validation</em> (or both) has been selected during the initial part of the project configuration, the changetracking-sail jar should be dropped onto the target triple store, see <a href="../sys/#separate_triple_store">instructions</a> in the system-administration manual. Similarly, if <em>Trivial Inference Engine</em> has been selected, the trivial-inference-sail jar should be dropped onto the target triple store</p>
   

    <h3>Project settings</h3>
    <p>
      Some of the settings configured during the project creation procedure can be changed once the project is already activated. From the projects list page, by clicking on the <i>Edit project settings</i> option in the project context menu, the following dialog is prompted.
    </p>

    <div class="figure"><img src="images/proj_settings_editor.png"/></div>

    <p>Some settings, in order to be edited, strictly require the project to be inactive, so the above editor is available only for closed projects.</p>
    <p>From such editor it is possible to:</p>
    <ul>
      <li>Activate or deactivate the <i>Open at startup</i> option, in order to let the system automatically open the project when the SemanticTurkey server starts up.</li>
      <li>Activate or deactivate the <i>Blacklisting</i> option (only for project with Validation activated). See History, Validation and Blacklisting <a href="history_and_validation.jsf#blacklisting">documentation</a> for details about this feature.</li>
      <li>Activate or deactivate the <i>SHACL Shape Validation (on commit)</i> option (only for project with SHACL Validation enabled). When active, the validation of SHACL shapes is run at every commit.</li>
      <li>Activate or deactivate the <i>Undo</i> feature.</li>
      <li>Change the <a href="resource_rendering.jsf">Rendering Engine</a> adopted and its configuration.</li>
      <li>Change the <a href="http://semanticturkey.uniroma2.it/doc/sys/uri_generator.jsf">URIGenerator</a> adopted and its configuration.</li>
    </ul>
    <p>Note: in order to make the changes effective it may be necessary to restart the repository. This operation can be executed automatically on remote repositories by ticking the dedicated checkbox (see the figure above), or, in case of local projects, it has to be executed manually.</p>

    <h3>Project labels</h3>
    <p>
      Project renaming is an operation not allowed in VocBench. This limitation is due to the fact that the project name is actually an identifier which is widely referenced in the data structure of SemanticTurkey. In order to overcome this limitation, VocBench offers the possibility to set multilingual labels to projects. From the context menu of the project, by clicking on <i>Edit labels</i> entry, the following dialog is prompted where you can set a label to show for a specific language.
    </p>
    <div class="figure"><img src="images/project_edit_label.png"/></div>
    <p>
      User can enabled/disable the visualization of the labels through the rendering button <img src="images/renderingbutton.png" width="27" height="25"/> placed on the top bar of the project list. The label shown when rendering is enabled depends on the active <a href="first_access_usr.jsf#multilingual_ui">localization language</a>. If no label is set for the active language, the project rendering falls back on the project name.
    </p>

    <h3>Further actions</h3>
    <p>Once a project has been created, by selecting it, it is possible to enable further actions. It is possible in fact to delete a project, just clicking on the button with the trashbin icon under the <i>Actions</i> column.</p>
    <p>By clicking on the <i>Properties</i> entry in the project context menu a modal dialog shows basic properties of the project</p>
    <div class="figure"><img src="images/project_properties.png" alt="Projects properties" /></div>
    <p>Only for remote (and close) projects is also possible to show and edit the information to access to the remote repository. The following dialog can be open by clicking on the <i>Edit remote Repo configuration</i> entry in the project context menu.</p>
    <div class="figure"><img src="images/project_remote_repositories.png" alt="Projects remote repositories" /></div>

    <!--
      
      		Left as a comment, in case it is restored
            <h3>Import a Project</h3>
			<p>To import a previously exported Project, by first select "Import" from the upper buttons and the following page should appear</p>
			<div class="figure"><img src="images/importproject.png" alt="Import a Project" /></div>
			<p>The page allows administrators to browse their file system and upload a previously exported project. The &quot;Project name&quot; textfield will in any case establish the name for the project after it is being imported.</p>
			<h3>Selecting a Project</h3>
			<p>Once a project has been created, by selecting it, it is possible to enable further actions, such as <em>Delete</em> and <em>Export</em>.</p>
			<div class="figure"><img src="images/selectedproject.png" alt="Import a Project" /></div>
			<p>&nbsp;</p>
			<h3>Deleting a Project</h3>
			<p>To delete a project, just click on an existing project in the table and then click on "Delete" button on the top row of buttons.			</p>
			<h3>Export a Project</h3>
			<p>To exporet a project, just click on an existing project in the table and then click on &quot;Export&quot; button on the top row of buttons. </p>
			<div class="figure">
			  <img src="images/exportproject.png" alt="Export a Project menu" />
		    </div>
			<p>A dialog with a download link will appear. Just download the project from the link and close it through the &quot;Ok&quot; buton on the bottom-right corner.he file in the field below. Then press "Export Project"</p>      
      -->

    <h2>Project facets</h2>
    <p>
      In case of large amount of projects loaded in VocBench, the default view, which consists in a flat list of projects, may result poorly organized and difficult to read.
      This is where the new facts-based view, available from version 9.0.0, comes useful. This view allows you to group projects according a chosen facet in order to make the view cleaner and organized efficiently.
    </p>
    <p>
      The facets are aspects and attributes that characterize a project. 
      VocBench provides six pre-defined facets: <i>Model</i>, <i>Lexicalization</i>, <i>History</i> and <i>Validation</i>, which are unmodifiable attributes chosen during the creation of the project, <i>Category</i> and <i>Organization</i>.
    </p>
    <p>
      In addition to such pre-defined facets, VocBench allows the administrator to define custom facets.
    </p>

    <div class="figure"><img src="images/projects_view_menu.png"/></div>

    <p>
      Clicking the "cog" button in the top right corner of the panel and selecting the entry <i>Custom project facets schema settings</i>, the following dialog is prompted.
    </p>

    <div class="figure"><img src="images/proj_facets_schema_editor.png"/></div>

    <p>
      A new facet can be added through the "plus" button. Then the editor shows several fields that can be filled in order to define a new facet:
    </p>
    <ul>
      <li>
        <i>Name</i>: a unique name that identifies the facet;
      </li>
      <li>
        <i>Required</i>: tells if the facet must be provided to the project;
      </li>
      <li>
        <i>Description</i>: a natural language description that provide further information to the user (it will be displayed as a tooltip).
        It is possible to provide multiple descriptions in different languages, VocBench will display the proper description according the chosen <a href="first_access_usr.jsf#multilingual_ui">localization</a>;
      </li>
      <li>
        <i>Localized display names</i>: the facet name to display to the user. Also in this case, as well as the description, multiple names can be provided in order to support the multilingual UI;
      </li>
      <li>
        <i>Type</i>: the value type of the facet (e.g. string, integer, boolean, ...);
      </li>
      <li>
        <i>Enumeration</i>: optionally an enumeration can be defined in order to restrict the admitted values;
      </li>
    </ul>

    <p>
      Clicking on the <i>Edit facets</i> entry in the project context menu (under <i>Actions</i> column), the following dialog shows up and it allows the editing of the project facets. As you can see, there are the built-in facets <i>Category</i> and <i>Organization</i> plus the custom one just defined.
    </p>

    <div class="figure"><img src="images/proj_facets.png"/></div>

    <p>
      Now that we know what facets are, how to define customs and how to set them in a project, let's see how can they be used to organize the project view.
      As we have already seen, the "cog" button, placed on the topbar of the project list, opens a menu. 
      Selecting <i>Project view settings</i>, user can customize the visualization of the project view.<br/>
    </p>

    <div class="figure"><img src="images/project-view-settings.png"/></div>

    <p>
      Here it is possible to choose between two <i>visualization mode</i>: <i>List</i>, namely the "classic" flat list of projects, and <i>Facet based</i>. 
      Selecting the latter, it appears a <i>Facet</i> selector which allows the selection of the facet on which the projects have to be grouped.
    </p>
    <p>Additionally, in the same dialog, it is possible to customize the info shown in the list by changing the columns order or hiding some of them.</p>
    <p>
      Here it is an example of facets-based visualization based on <i>Category</i>. The categories here shown have been assigned arbitrarily by the administrator. 
      The last one <i>"Unclassified"</i> is a dedicated group that collects those projects where the category (or in general the chosen facet) has not been specified.
    </p>

    <div class="figure"><img src="images/projects-view-facets-based.png"/></div>
    
    <p>
      Note: projects facets can be created, edited and assigned only by administrator users, which are the only users who can access the Projects page.
      Anyway the possibility to change the visualization preferences through the <i>Projects view settings</i> dialog, is also available for non-admin users through the project selection dialog (the one accessible through the button on the topmost bar of the screen).
    </p>

    <div class="figure"><img src="images/projects-modal-facets-based.png"/></div>

    <h2>Project Access Control</h2>
    <p>Each project in VB contains an <a href="project_access_control.jsf">Access Control List</a>, representing the consumers that can access its content. This enables a permission-by-delegation mechanism for which a project can automatically grant access to its content to users logged on another project, providing that this second project has been allowed to access the content of the first. </p>


  </ui:define>
</body>

</html>