<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="head">
        <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" title="Default" href="../../styles/pre_default_style.css" />
        <script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
        <script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
        <script type="text/javascript" src="../../js/chili/recipes.js"></script>
    </ui:define>

    <ui:define name="mainContent">

        <h1>Resource Metadata</h1>

        <div id="IndexDiv">
            <script type="text/javascript" src="../../js/indexCreator.js"></script>
        </div>

        <h2>Introduction</h2>

        <p>
            Resource Metadata, available from version 8.0.0, is an enhanced and customizable way for enabling metadata according to the user desires.
            This mechanism is inspired to the <a href="cforms">Custom Form</a> functionality and exploit the transformation language <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a>
            in order to define RDF graph pattern to write or delete following certain events (resource creation, update or deletion).
            In a nutshell, the idea behind Resource Metadata is that if (for instance) a concept is being edited, an event is fired and a dedicated CODA PEARL is triggered to do something, for instance, remove the old dct:modified and create a new one with the current date.
        </p>

        <h2>Resource Metadata page</h2>

        <p>
            Resource Metadata page can be accessed through the link under the <a href="tools.jsf">Tools</a> menu.
            The page is mainly splitted in two sections, left and right, respectively showing the <i>Metadata Patterns</i> and <i>Pattern Associations</i> and allowing their management.
        </p>

        <img src="images/resourcemetadata_page.png" alt="Resource Metadata page" class="screenshot" />

        <h3>Metadata Pattern</h3>
        <p>
            A <i>Metadata Pattern</i> represents the actions to be performed following certain events. It is possible to defines three different patterns: <i>Construction</i>, <i>Update</i> and <i>Destruction</i> respectively fired when a resource is created, updated or deleted.
        </p>
        <p>
            Through the buttons on the <i>Metadata Patterns</i> panel toolbar, users can create, delete and edit patterns. By clicking on the <b>+</b> button (for creation) or the "pencil" one (for editing), the following pattern editor is prompted.
        </p>

        <img src="images/resourcemetadata_pattern_editor.png" alt="Pattern editor" class="screenshot" />

        <p>
            Below the two input fields for the name and the description of the pattern, a three tabbed panel contains PEARL editors for writing or editing the three different patterns aforementioned.
            Editor for factory-provided patterns (written in gray) are opened in readonly mode.
        </p>
        <p>
            The previous screenshot shows the factory-provided pattern designed for writing and updating DublinCore metadata (dct:created and dct:modified). 
            In order to better understand how it works, here below are reported the <i>Construction</i> and <i>Update</i> pearl rules (prefix declarations omitted for simplicity):
        </p>
        <code class="pearl_example">
            /* Construction */

            rule it.uniroma2.art.semanticturkey.onResourceCreated id:onResourceCreated {
                nodes = {
                    createdRes uri opCtx/resource .
                    creationDate literal(coda:datetime()) .
                }
                graph = {
                    $createdRes dct:created $creationDate .
                }
            }

            /* Update */

            rule it.uniroma2.art.semanticturkey.onResourceModified id:onResourceModified {
                nodes = {
                    modifiedRes uri opCtx/resource .
                    modificationDate literal(coda:datetime()) .
                }
                insert = {
                    $modifiedRes dct:modified $modificationDate .
                }
                delete = {
                    OPTIONAL{
                        $modifiedRes dct:modified ?oldModificationDate .
                    }
                }
                where = {
                    $modifiedRes dct:modified ?oldModificationDate .
                }
            }
        </code>

        <p>
            The first rule adds the <i>dct:created</i> metadata to a created resource, while the second one updates the old <i>dct:modified</i> value of the modified resource.
        </p>
        <p>
            A special feature structure <code>opCtx</code> is present in the code. This structure holds contextual operation details in order to make them usable in the rule.
            Additionally to <code>resource</code> (that holds the resource being created/edited/deleted), it is available <code>user</code> holding the IRI of the user that performed the triggering action.
        </p>

        <p>
            Through the toolbar buttons further actions are available.
            A pattern can be cloned. Factory provided patterns, rendered in gray, are widely available across all projects and cannot be edited. They can thus be cloned at project level in order to be customized.
            All patterns can be exported on the user filesystem and then imported in another project or even in another VB instance.
            An alternative way to share patterns across projects is represented by the pattern library
        </p>

        <img src="images/resourcemetadata_pattern_library_actions.png" alt="Pattern library actions" class="screenshot" />

        <p>
            A project defined pattern can be shared into a cross-project pattern library simply by selecting it and clicking on the <i>Store pattern in shared library</i> item (see previous figure).
            A shared pattern can be then imported into a project through <i>Import Pattern from shared library</i>. The following figure shows the modals for storing in and importing from the shared patterns library.
        </p>

        <img src="images/resourcemetadata_pattern_library.png" alt="Pattern library" class="screenshot" />

        <h3>Metadata Association</h3>

        <p>
            As seen previously, the right panel of the ResourceMetadata page lists the <i>Metadata Associations</i>. From this panel it is possible to create and delete association.
            An association is needed in order to make effective a pattern as it maps a resource type with a pattern. In this way the system is instructed to execute the proper PEARL rule following an event.
        </p>

        <p>Creating a new association is quite simple. By clicking of the <b>+</b> button of the panel, the following modal is prompted, where user just need to select a resource type and a pattern among those available.</p>
        <img src="images/resourcemetadata_association.png" alt="Pattern association" class="screenshot" />

        <h2>Enabling Resource Metadata during project creation</h2>

        <p>
            Enabling usage of Resource Metadata can be done also during the project creation.
            In the <a href="projects.jsf#project_creation">create project</a> form, the <i>ResourceMetadata</i> section is available among the <i>Optional settings</i>.
            In this section, administrator user needs to tick the <i>User Resource Metadata</i> checkbox and add an association between a <i>Resource type</i> and a <i>Pattern</i>.
        </p>

        <img src="images/resourcemetadata_proj_creation.png" alt="Project creation" class="screenshot" />

        <p>
            Clicking on the button with the "pencil" icon, a modal prompts the available patterns. During the project creation, only factory-provided patterns can be chosen.
            Finally, it is possible to inspect a pattern selected in the list by clicking on the "eye" button on the top right corner of the panel. A further modal will show a readonly pattern editor (already seen in this page).
        </p>
        <img src="images/resourcemetadata_proj_creation_pattern_selection.png" alt="Pattern selection" class="screenshot" />


    </ui:define>
</body>

</html>