<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>Resource Rendering</h1>
<p>VocBench allows for rendering of RDF resources (i.e. showing them in different, usually more human-friendly, ways wrt their URI) accordng to different policities.</p>
<p>By first, rendering is a functionality based on an <a href="https://semanticturkey.uniroma2.it/doc/sys/rendering_engine.jsf">extension point</a>, so that very specific policies can always be covered by <a href="https://semanticturkey.uniroma2.it/documentation/dev/extension_point_devguide.jsf#rendering_engine">developing</a> and plugging a dedicated rendering engine.</p>
<p>However, VocBench (more specifically, its backing server Semantic Turkey) comes bundled with an already configurable rendering engine, which is satisfying most of the common (and less common) needs.</p>
<p>The rendering engine can be configured at project creation (in the <em>advanced settings</em>) or later on, by the administrator, by closing the project and selecting its context option &quot;<em>Edit Project Settings</em>&quot;.</p>
<p>Whichever the origin, the section for configuring the rendering engine will look like this:</p>

<div class="figure"> <img src="images/rendering_engine_selection.png" alt="selecting the rendering engine"/></div>

<p>From this menu it is then possible to select which rendering engine to use and, in case, customize its behavior through the &quot;configure&quot; option. Please notice that the initial selection will be automatically set basing on the lexicalization model chosen for the project and it will mostly affect the rendering based on labels (if labels are chosen to be adopted for rendering, otherwhise it is irrelevant).</p>
<p>Once the <em>configure</em> button is clicked, the next window will appear as in the following picture:</p>

<div class="figure"> <img src="images/rendering_engine_configuration.png" alt="configuring the rendering engine"/></div>

<p>The fields above contribute to the configuration in this way:</p>
<ul>
  <li><em>Languages</em>: it is possible to describe the set of languages, universally for the project, that will be used for rendering the resources by using their labels. If the <span class="code">userLangs</span> variable is used (variables are always indicated with the <span class="code">\${<em>variablename</em>}</span> syntax), then the languages are determined by the preferences for rendering set by each user, independently.</li>
  <li><em>Template</em>: as the name suggests, this field describes the string that will be used as a template for representing resources. The template must be a mix of ground characters and variables (to determine what characterizes each resource). A special variable, <em>labels</em>, determines the rendering based on the labels of the resources (constrained by the languages described in the <em>languages</em> field). If the field is left empty, it defaults to: <span class="code">\${labels}</span>, thus rendering the resource with the set of its labels without further customization. It is possible to use a group notation in order to bind the representation of parts of the template to the existence of some property values (see example later in this section).</li>
  <li><em>Variables</em>: this field allows for the definition of user-defined variables. The field is indeed a map, with keys representing variables and values representing their binding to properties. The binding to properties can be defined in terms of single properties or property paths, by listing the properties to be traversed for each variable. Please notice that, usually, configuration panels allow for the possiblity to choose RDF resources (in this case, properties) directly from the project. However, since this configuration field can only be accessed with the project being closed, the user has to manually write or paste the URI of the properties into the property path fields.</li>
  <li><em>Ignore validation</em>: this field determines whether the values that would be extracted by the previous settings would be considered even when pending validation.</li>
</ul>
<p>In the following example:</p>

<div class="figure"> <img src="images/rendering_engine_example_skosnotation.png" alt="configuring the rendering engine to use skos:notation"/></div>

<p>we see how the property <span class="code">skos:notation</span> is bound to the variable <em>notation</em>. Furthermore, the <em>group feature</em> of the template is being shown; the template is meant to represent resources with their <span class="code">skos:notation</span> value, followed by a colon (&quot;:&quot;), a space and the list of labels, according to the user preferences for visualization, so that the concept tree would look like this:</p>
	
<div class="figure"> <img src="images/rendering_engine_example_eurovoc.png" alt="an example of rendering with skos:notation configured in the EuroVoc thesaurus" /></div>

<p>However, what if the skos:notation property is not valued for a certain concept? Instead of the ugly representation with an empty string followed by the colon, it is possible to bind the colon to the existence of the skos:notation value, with the group expression <em>(...)?</em>. This way, if the skos:notation is missing, only the labels will be represented, with no colon separator.</p>
	

</ui:define>
</body>
</html>