<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>Settings Managers</h1>

        <p>
            The Settings Managers is a general editor for low-level management of settings in VocBench.
        </p>
        <div class="figure">
            <img src="images/settings_mgr.png" />
        </div>

        <p>
            The multitab view allows the navigation among the set of available Settings Managers. On the left, a panel lists the available implementations for the selected tab.
            It is possible to manage the settings on different levels (e.g. SYSTEM, PROJECT, USER, PROJECT_USER, ...) via the <i>Scope</i> selector.
        </p>

        <p>
            It is important to point out that for most of the settings in this page dedicated and more user-friendly editors are available in VocBench.
            For example, in the image above there are settings about <i>Administrators</i> users, which can be already managed from the <a href="users_adm.jsf">Users administration</a> page, or <i>Remote triple stores</i> which can be better managed during from the project creation page.
            Management at low-level of the settings from this page, in addition to being impractical, is recommended only if you are aware of what you are doing.
        </p>

        <p>
            Said that, there are a few relevant settings that can be managed only (and safely) through this editor.
            One of them is the <i>Error reporting</i> located under <i>SemanticTurkeyCoreSettingsManager</i> at SYSTEM level.
        </p>
        <div class="figure">
            <img src="images/settings_mgr-error_reporting.png" />
        </div>
        <p>
            By setting <i>Report stack trace</i> to false, it is possible to prevent the backing SemanticTurkey server from sending back stacktrace within error responses (eventually useful for security reasons).
        </p>
        <div class="figure">
            <img src="images/settings_mgr-report_stacktrace.png" />
        </div>

        <p>
            Another noteworthy setting is <i>Authentication service</i>, located under <i>SemanticTurkeyCoreSettingsManager</i> at SYSTEM level, which is already documented in a dedicated <a href="../sys/#vocbench_configuration">page</a>.
        </p>

    </ui:define>
</body>

</html>