<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
	<title>
		<ui:insert name="title">Default title</ui:insert>
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="mainContent">

		<h1>Sheet2RDF</h1>

		<div id="IndexDiv">
			<script type="text/javascript" src="../../js/indexCreator.js"></script>
		</div>

		<p>Sheet2RDF is a platform for acquisition and transformation of datasheets into RDF, developed by the <a href="http://art.uniroma2.it/"> ART Research Group</a> at the University of Rome Tor Vergata</p>
	
		<p>Sheet2rdf is built on top of our flagship platform for automatic knowledge acquisition and triplification <a href="http://art.uniroma2.it/coda/">CODA</a>, and is specifically targeted towards the acquisition and processing of information from datasheets, in order to generate RDF content modeled according to any target RDF vocabulary.</p>
	
		<p>The platform supports <a href="http://office.microsoft.com/excel/">Microsoft Excel</a>, <a href="http://www.openoffice.org/">Apache OpenOffice</a> and <a href="https://www.libreoffice.org/">LibreOffice</a> spreadsheets (through <a href="https://poi.apache.org/">Apache POI</a> and <a href="http://www.jopendocument.org/">jOpenDocument</a>), as well as CSV, TSV and other delimited formats (through <a href="https://commons.apache.org/proper/commons-csv/">Commons CSV</a>).</p>

		<p>To access Sheet2RDF inside VocBench, just click on the menu <b>Tool</b> and then select the <b>Sheet2RDF</b> entry.
		<img src="images/sheet2rdf_menu.png" alt="Sheet2RDF menu" class="inline" />
		</p>

		<p>Once the Sheet2RDF tab is opened, the user can load in it data from a Spreadsheet or a DB, specify in the <a href="http://art.uniroma2.it/coda/documentation/pearl.jsf">PEARL</a> section how to perform the transformation of the input data 
		into RDF and generate the RDF triples.
		<div class="figure">
			<img src="images/sheet2rdf_all.png" alt="Sheet2RDF" />
		</div>	
		</p>

		<p>To get more information on Sheet2RDF, please refer to the <a href="http://art.uniroma2.it/sheet2rdf/">official site</a> 
		or directly the page describing the <a href="http://art.uniroma2.it/sheet2rdf/documentation/vb_tool/">Sheet2RDF plugin for VB3</a> </p>
		

	</ui:define>
</body>

</html>