<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
	<title>
		<ui:insert name="title">Default title</ui:insert>
	</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="mainContent">

		<h1>SKOS Diffing</h1>

		<div id="IndexDiv">
			<script type="text/javascript" src="../../js/indexCreator.js"></script>
		</div>

		<h2>Introduction</h2>

		<p>
			In order to access the SKOS Diffing functionalities, the <em>ST Remote Service Compendium</em> needs to be installed. The system can be <a href="https://bitbucket.org/art-uniroma2/st-rsc/downloads/">downloaded</a> from its <a href="https://bitbucket.org/art-uniroma2/st-rsc/">GIT BitBucket repository site</a>. The most updated version of ST-RSC for VB3 #{vb3_version} is version #{skosdiff_version}
		</p>

		<p>
			The SKOS Diffing tool can be accessed from the VB main toolbar. This tool allows to check for differences among two SKOS projects. The two projects could be two different projects or different versions of the same project.
		</p>

		<img class="screenshot" src="images/alignmentvalidation-page_2.png" alt="alignment_validation_menu" />



		<h2>Execute the SKOS Diffing task</h2>
		<p>
			After clicking on the <b>SKOS Diffing</b> entry in the Tools menu, the SKOS Diffing pages is presented
		</p>

		<img class="screenshot" src="images/skos_diffing_empy_page.png" alt="alignment_validation_layout" />
		<p>
			To create a new SKOS Diffing task, click on the + button ("Create Task"). In the new window decide whether the new task will be about two different projects ("Compare the current project with an external one") or about two version of the same project ("Compare two different versions of the same project") 
		</p>
		<p>
			In the former case, the <b>Left dataset</b> is the current project (and cannot be changed) and the user can decide the <b>Right dataset</b> (the project against which the current project will be compared to). Only projects that are accessible by the current project are selectable (see documentation about <a href="project_access_control.jsf">ACL</a>) 
		</p>
		<p>
			In the latter case, the user can choose between which two versions of the current project to perform the SKOS Diffing task (see documentation about the <a href="global_data_management.jsf"> versioning</a>)
		</p>
		

		<img class="screenshot" src="images/skos_diffing_versions.png" alt="alignment_validation_layout" />
		
		<p>
			Once the two datasets have been decided, press ok to start the task.
		</p>

		<img class="screenshot" src="images/skos_diffing_task_execution.png" alt="alignment_validation_layout" />

		<p>
			The status of the task will start as "execution" and, once such task has been completed, it will be "completed" (with the time it took to be completed and such time depends mainly on the size of the two datasets). If any error should arise during the task, the status will be "error". The window does not refresh automatically, so the user needs to press the "Refresh tasks list" button periodically to check whether the task is completed.
		</p>

		<img class="screenshot" src="images/skos_diffing_task_completed.png" alt="alignment_validation_layout" />


		<h2>What is compared in the two datasets</h2>

		<p>
			The comparison among the two datasets is between SKOS resources. In particular, such comparison is between skos:Concept, skos:ConceptScheme, skos:Collection and, in case of SKOSXL lexicalization, skosxl:Label (and all subClasses, if any, of these four SKOS resources). 
		</p>
		<p>
			During the SKOS Diffing task, these SKOS resources are divided into three groups:
			<ul>
				<li> resources present only in the Left Dataset (called <b>Removed Resources</b>) </li>
				<li> resources present only in the Right Dataset (called <b>Added Resources</b>) </li>
				<li> resources present in both Datasets (called <b>Resources in Common</b>) </li>
			</ul>
		</p>
		
		<p>
			For the <b>Removed Resources</b> and <b>Added Resources</b> no further comparison is done, and the associated lexicalization is retrieved. For the <b>Resources in Common</b> a more complex comparison is executed. All triples having one of these resources as subject are considered to see if these triples are present in both dataset or not. Special structures are searched and resolved as well among these resources: SKOSXL lexicalizations (so skosxl:prefLabel, skosxl:altLabel and skosxl:hiddenLabel followed by skosxl:hiddenLabel) and skos:note reified (so any subProperty of skos:note followed by rdf:value). 
		</p>
		
		<p>
			Once the task is completed, a file containing the result of the SKOS Diffing is generated. The user can then download a copy of such result in three different format:
			<ul>
				<li> HTML </li>
				<li> PDF </li>
				<li> JSON </li>
			</ul>
			To download such file, select the format and press on "Download task result".
		</p>
		
		<h2>Example of a result file</h2>
		
		<p>
			An example, in PDF, of such result is:
	
		</p>
	
		<img class="screenshot" src="images/skos_diffing_result.png" alt="alignment_validation_layout" />
		

	</ui:define>
</body>

</html>