<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
  xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>The Data View: Editing SKOS Thesauri</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Intro</h2>
    <p>This section describes the thesauri editing functionalities available in VocBench. We will go through the set of functionalities as they appear in the various elements of the user interface.</p>
    
    <h2>The Various Sections in SKOS Projects</h2>
    <p>SKOS Projects offer 5 sections for managing different kind of resources. We have already described the <a href="owl_editing.jsf#the_class_section">Class</a>, <a href="owl_editing.jsf#the_property_section">Property</a> and <a href="owl_editing.jsf#the_datatype_section">Datatype</a> sections in the manual page on <a href="owl_editing.jsf">OWL Editing</a>, so here we will discuss the three other sections peculiar to thesauri.</p>
    <p>When editing a SKOS thesaurus, the landing page for the Data View is the Concept Section. When opening a new project for the first time, VB will inform the user (through the question mark on the yellow triangle in figure below) that one or more schemes have to be selected, in order to show their related concept trees.</p>
    <div class="figure"><img src="images/conceptpage-empty.png" alt="concept page" /></div>
    
    <h2>The Scheme Section</h2>
    <p>The Scheme Section (as of all the data section) is composed of two main areas: the structure on the left, and the resource view on the right. However, differently from other resources, the structure page offers a simple list, and not a tree (or, better, in a forest) as <span class="code">skos:ConceptScheme</span>s have no taxonomic relation among them. Concept schemes provide containers for concepts in a thesaurus. Depending on the literature, it is also possible to say that concept schemes identify different thesauri in a same dataset. Whatever the terminology, the objective of concept schemes is to allow different views on a shared pool of concepts. </p>
    <p>The Scheme section allows to create and destroy skos concept schemes. When the usual + button is clicked, a form prompts the user for the information required to create a new scheme. The form is composed of the following elements:</p>
    <ul>
      <li><em>Label</em>: when a concept scheme is created, a label will be attached to it. The label will be generated with the prompted text and with a structure following the lexicalization model specified for the project (<span class="code">rdfs:label</span>, <span class="code">skos</span> or <span class="code">skos-xl</span> labels, using preferred labels for the latter two models)</li>
      <li><em>URI</em>: the URI for the scheme can be manually defined by the user, or a random one can be generated. It is possible to specify the pattern to be used for random ID generation (see <em>advanced manual</em>). In case of manual prompt, the user may adopt the default namespace defined for the dataset and just create the local name, or can specify the entire URI by unsetting the lock icon on the right of the URI textfield</li>
      <li><span class="code">skos:ConceptScheme</span> <em>icon on the top-right corner of the form</em>: by default, all concept scheme are created by instantiating the <span class="code">skos:ConceptScheme</span> class. However, it is possible for the user to specialize this class and create instances of the specialized class. If a subclass of <span class="code">skos:ConceptScheme</span> is available, it is possible to select it by clicking on the related class icon, opening a tree selection form for picking up the desired specialized class.</li>
    </ul>
    <div class="figure"><img src="images/scheme-creation.png" alt="concept page" /></div>
    <p>Once one or more schemes are created, they will appear as a list in the structure section. Note that for each scheme is (independently) selectable, through the checkbox buttons on their left. The selection will affect the view on the Concept Section.
    </p>
    <div class="figure"><img src="images/schemesection.png" alt="concept page" /></div>

    <h3>Available Actions on the Scheme-list Widget</h3>

    <h4>Main buttons</h4>
    <p>The following actions are available on the scheme list through the three action buttons located on the top-left corner of the widget:</p>
    <p><img src="images/icons/conceptScheme_create.png" alt="create" width="20" height="20" />Create Scheme: creates a new scheme as described above;</p>
    <p><img src="images/icons/conceptScheme_delete.png" alt="delete" width="20" height="20" /> Delete Scheme: deletes the selected scheme;</p>
    <p><img src="images/icons/conceptScheme_deprecate.png" alt="deprecate" width="20" height="20" /> Deprecate Scheme: deprecates the selected scheme.</p>

    <h4>Additional actions</h4>
    <p>From the heading of the widget, additional actions are available:</p>
    <div class="figure"><img src="images/scheme_list_additional_actions.png" alt="additional actions" /></div>

    <p><img src="images/icons/or_and_scheme_btn.png" alt="or and scheme mode"/> Scheme mode selector: A selector for switching between OR and AND scheme-based filter of concepts in the concept tree.
      If the <i>OR</i> mode is activated, the concept tree will contain concepts that are linked (through <i>skos:inScheme</i> or <i>skos:topConceptOf</i> and sub-properties) with at least one of the checked schemes; Otherwise, if the <i>AND</i> mode is activated, only those concepts linked with all the active schemes will be visible in the tree.</p>
    <p><img src="images/icons/check_btn.png" alt="check all scheme"/> Check all schemes: Activates all the available schemes;</p>
    <p><img src="images/icons/uncheck_btn.png" alt="uncheck all scheme"/> Uncheck all schemes: Deactivates all schemes (consequently enables the no-scheme mode);</p>

    <p>Moreover, from the top-right context-menu of the widget, these actions are available when a scheme is selected:</p>
    
    <ul>
      <li><em>Multiselection</em>: Enables the selection of multiple resources (details in the <a href="data_view.jsf#the_data_structure_view">Data View</a> page);</li>
      <li><em>Add all concepts to the selected scheme</em>: Allows the mass assignment of all existing concepts to the currently selected scheme;</li>
      <li><em>Show data-oriented graph</em>: Shows a Graph view data-oriented rooted on the selected scheme. The graph can be expanded by double clicking on a node (details in the <a href="graphs.jsf">Graph View</a> page).</li>
    </ul>

    <h2>The Concept Section</h2>
    <p>The Concept Section is composed of two main areas as all other sections. The structure on the left, and the resource view on the right. The structure offers a tree-view very similar to the one in the class section, though here there is no <em>Individual</em> list (concepts are themselves instances of the class <span class="code">skos:Concept</span> and have no instances on their own).</p>
    <p>As we anticipated in the previous section, the tree view is affected by the selection of concept schemes performed on the Scheme section. Only those concepts belonging to at least one of the selected schemes will be shown on the tree. Note that:</p>
    <ul>
      <li>concepts are arranged in taxonomies, however the taxonomic relationships (<span class="code">skos:broader/narrower</span>) between concepts are not scoped to the concept schemes, only the concepts are stated to explicitly belong to a scheme (<span class="code">skos:inScheme</span>) or to be the top concept (<span class="code">skos:topConceptOf</span>) of it. As a consequence, the each time a tree branch is explored by expanding a concept, the system first looks for all narrower concepts of the node that has been expanded, and then uses the selection of schemes from the Scheme section in order to filter out those not belonging to any of the selected schemes.</li>
      <li>being a top concept is not an intrinsic characteristic of a concept, but it is a binary relationship (c <span class="code">skos:topConceptOf</span> s) involving a given concept c with a scheme s. The topConceptOf relation is mxn: each concept scheme contains more concepts and each concept can belong to more concept schemes. Note that there is not even an exclusivity concerning roots: though some KOSes may have &quot;house-rules&quot; preventing it, SKOS generally permits a same concept to have broader concepts in one scheme A and to be topConceptOf scheme B. Actually, A and B may even coincide, so that in a same scheme S a concept can be a root and still have broader concepts in S. It can thus happen to see a concept appearing twice (or more) in a forest determined by one or more schemes: as a root of a tree, and as a node in one other tree.</li>
    </ul>
    <div class="figure"><img src="images/concept-view.png" alt="concept page" /></div>
    <p>As evident from the figure above, the concept Car is both a top concept of the &quot;main scheme&quot;, and a narrower concept of the concept Vehicle, which is also present in &quot;main scheme&quot;.</p>

    <h3>Available Actions on the Concept-tree Widget</h3>

    <h4>Main buttons</h4>
    <p>The following actions are available on the concept tree through the four action buttons located on the top-left corner of the widget:</p>
    <p><img src="images/icons/concept_create.png" alt="create" width="20" height="20" />Create Concept: creates a new concept as a top concept;</p>
    <p><img src="images/icons/concept_addNarrower.png" alt="add_child" width="20" height="20" /> Add Narrower: adds a new concept as a child of (<em>skos:narrower</em>) the selected concept;</p>
    <p><img src="images/icons/concept_delete.png" alt="delete" width="20" height="20" /> Delete Concept: deletes the selected concept;</p>
    <p><img src="images/icons/concept_deprecate.png" alt="deprecate" width="20" height="20" /> Deprecate Concept: deprecates the selected concept.</p>

    <h4>Additional actions</h4>
    <p>From the top-right context-menu of the widget, additional actions are available when a concept is selected:</p>
    <div class="figure"><img src="images/concept_tree_additional_actions.png" alt="additional actions" /></div>
    <ul>
      <li><em>Add selected concept's subtree to scheme...</em>: Allows the mass assignment of a subtree to a scheme;</li>
      <li><em>Show graph rooted on selected node</em>: Shows a Graph view rooted on the selected concept. The graph can be expanded by double clicking on a node.
        <!-- Note: This action is available only in the version 5.0.0 as <i>Experimental feature</i>, the administrator can enable it from <i>Administration > Configuration > Enable experimental features</i>. -->
      </li>
    </ul>

    <h4>Concept tree settings</h4>

    <p>Next to the aforementioned context-menu, a "cog" button opens a modal for editing the settings of the concept tree view.</p>
    <div class="figure"><img src="images/concept_tree_settings.png"/></div>
    <p></p>

    <p>
      From here user can switch the visualization mode between <i>Hierarchy based</i> and <i>Search based</i>. When the <i>Search based</i> mode is activated, the <i>Concept</i> panel is empty (it will not show the usual concept tree) and it allows users to reach a desired concept only by means the search bar at the bottom of the panel. If <i>Hierarchy based</i> is chosen, further settings are available:
    </p>
    <ul>
      <li>
        It is possible to set a limitation to the maximum amount of top concepts visible in the tree. This last setting is useful for preventing the initialization of a tree with too much top concepts which may cause performance issues. 
      </li>
      <li>It is possible to switch between OR and AND scheme-based filter (already detailed previously, in the <a href="skos_editing.jsf#the_scheme_section">Scheme section</a>).</li>
      <li>The <i>base broader property</i> sets the property that is selected when the user is creating a narrower concept (the default is <i>skos:broader</i>).</li>
      <li>In the <i>Management of broader/narrower</i> panel, user can customizes the properties on which the concept tree hierarchy is based on.</li>
    </ul>

    <h3>The Concept-view</h3>
    <p>The resource-view for concepts (or, simply, concept-view) is divided into a few sections listing the following information:</p>
    <ul>
      <li><em>Types</em>: most of the concepts are of type <span class="code">owl:Concept</span>. However, some concepts might have other custom classes as their definitory resources. </li>
      <li><em>Top Concept of</em>: this section lists the schemes which the shown concept is a root concept of.</li>
      <li><em>Schemes</em>: this section simply lists all the schemes which the shown concept belongs to.</li>
      <li><em>Broaders</em>: this section lists all the broader concepts of the shown concept.</li>
      <li><em>Lexicalizations</em>: the set of lexicalization of the concept for each language. The lexicalizations can be expressed through different models (rdfs:labels, skos or skosxl terminological labels) but are always presented here in a homogeneous way. Note: since SKOS-XL labels are reified, it is possible to click on them and open them on the resource-view. While this section hosts all kind of lexicalizations, it allows to create lexicalizations only according to the model specified when creating the project.</li>
      <li><em>Notes</em>: skos:notes of various type (editorial notes, definitions etc..) can fit into this section. Note that notes can be reified according to the pattern specified in <a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secadvanceddocumentation">section 4.2 of the SKOS Primer</a>. Whether notes are stored as simple rdf literals or resources, it depends on settings established at project creation. Notes are then created consistently along all the project and by all users.</li>
      <li><em>Properties</em>: any triple not falling in any of the sections above, is reported in this section<br />
      </li>
    </ul>

    <h2>The Collection Section</h2>
    <p>The Collection Section (as of all the data pages) is composed of two main areas: the structure on the left, and the resource view on the right. The structure offers as usual a tree, even though the semantics of the taxonomy here do not hint to some form of specialization, but to a containment relation. Collections may be normal collections (<span class="code">skos:Collection</span>) or ordered collections (<span class="code">skos:OrderedCollection</span>). Ordered collections, as their name suggest, represent ordered list of elements.</p>
    <div class="figure"><img src="images/collection-view.png" alt="classPanel" /></div>
    <h3>The Collection-view</h3>
    <p>The resource-view for collection (or, simply, collection-view) is divided into a few sections listing the following information:</p>
    <ul>
      <li><em>Types</em>: most of the collection are of type <span class="code">owl:Collection</span> or <span class="code">owl:OrderedCollection</span>. However, some concepts might have other custom classes as their definitory resources. </li>
      <li><em>Lexicalizations</em>: the set of lexicalization of the collection for each language. The lexicalizations can be expressed through different models (rdfs:labels, skos or skosxl terminological labels) but are always presented here in a homogeneous way. Note: since SKOS-XL labels are reified, it is possible to click on them and open them on the resource-view. While this section hosts all kind of lexicalizations, it allows to create lexicalizations only according to the model specified when creating the project.</li>
      <li><em>Notes</em>: skos:notes of various type (editorial notes, definitions etc..) can fit into this section. Note that notes can be reified according to the pattern specified in <a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secadvanceddocumentation">section 4.2 of the SKOS Primer</a>. Whether notes are stored as simple rdf literals or resources, it depends on settings established at project creation. Notes are then created consistently along all the project and by all users.</li>
      <li><em>Members</em>: a collection is called as such because...it collects elements! These elements are listed under the <em>Members</em> section. The elements of a collection may be skos concepts or other collections. The tree on the left reflects the containment relation between collections.</li>
      <li><em>Properties</em>: any triple not falling in any of the sections above, is reported in this section</li>
    </ul>

<h2>The terminologist view</h2>
As regards the thesauri editing functionalities available in VocBench there is also the TermView. It can be consulted at the following link "<a href="termview.jsf">TermView</a>"

  </ui:define>
</body>

</html>