<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>SPARQL</h1>

<div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>

<h2>Introduction</h2>

<p>The Sparql page can be accessed through the main VocBench menu on the top blue stripe.</p>
<div  class="figure"><img src="images/sparql-page.png" alt="sparql"/></div>

<p>This page is based on tab panels, each of which corresponds to a type of editor:
  <ul>
    <li><span class="code">query tab</span>: contains an editor for &quot;standard&quot; <a href="#sparql_query_editor">SPARQL queries</a></li>
    <li><span class="code">parameterized query tab</span>: contains an editor for <a href="#parameterized_sparql_query_editor">parameterized SPARQL queries</a></li>
  </ul>  
</p>
<div class="figure"><img src="images/sparql_tabs.png" alt="sparql tabs"/></div>

<h2>SPARQL query editor</h2>

<p>This editor is divided into three parts: </p>
<ul>
  <li>the upper part provides the text area for query editing</li>
  <li>the central part contains the buttons for clearing/submitting the query, the option to include inferred statements in the result, an exporter for saving the results of the queries in different formats and buttons for storing/loading queries in a inner VocBench storage.</li>
  <li>the bottom part reports the results of the query</li>
</ul>

<h3>Query Editing</h3>
<p>The query editing section of the SPARQL Editor contains a text area for typing the query. A syntax completion helper (see figure below, where RDFS predicates are being suggested) is automatically activated at each section of the query where it might provide suggestions. Syntax checking and highlighting are also features of this editor.</p>
<p>The syntax completion helper and syntax checking/highlighting features have been made available by adapting the open source <a href="http://yasgui.org/">YASGUI</a> SPARQL editor to the VocBench environment. Besides the inclusion in the environment of VocBench, the completion has been improved to provide not only language syntax completion, but also (to a limited extent) live suggestions from the data present in the managed project (e.g. available prefix/namespace mappings).</p>

<div class="figure"><img src="images/sparql_query_editor.png" alt="sparql query editor"/></div>

<p>
  Regarding these live suggestions, it worth to mention the completion of the SPARQL endpoint associated with the <span class="code">SERVICE</span> keyword. Candidate endpoints are found by matching (the tokens of) the completion source against the names of the open projects. Currently, only projects (whose main repo is) hosted on a remote Ontotext GraphDB triple store are available as potential candidates. Moreover, the address of the SPARQL endpoint is expressed using the <span class="code">repository</span> scheme (rather than the <span class="code">http(s)</span> scheme), exploiting the <a href="https://graphdb.ontotext.com/documentation/9.8/free/internal-federation.html">internal federation</a>> machinery provided by this triple store, which increases speed, security and flexibility.
</p>

<div class="figure"><img src="images/sparql_query_editor-service_completion.png" alt="sparql query editor - completion of a federated SPARQL endpoint"/></div>

<p>
  If more tokens are needed, it is sufficient to start a literal term (instead of writing the single token as it were a keyword), which would be replaced by the IRI of the selected completion.
</p>

<h3>Results Area</h3>
The results area of the SPARQL Tab shows the results of the submitted query:
<ul>
<li><span class="code">SELECT</span> queries provide results in the form of TUPLE bindings, so they are shown as records in a table, with the headers representing the bound variables</li>
<li><span class="code">DESCRIBE</span> and <span class="code">CONSTRUCT</span> queries are said to be <span class="code">GRAPH</span> queries, in that the result of their processing is a RDF GRAPH. For this reason, a table with a static template (three headers representing the three elements of a RDF triple) is used to represent results content</li>
<li><span class="code">ASK</span> queries provide a <em>boolean</em> result, telling if the GRAPH PATTERN of the query successfully matched the ontology graph</li>
</ul>

<h3>Exporting results</h3>
	<p>The results obtained from a SPARQL query can be exported to an external file.</p>
	<div  class="figure"><img src="images/sparql_export_formats.png" alt="export formats"/></div>  
  <p> Currently the following formats are supported:</p>
<ul>
  <li><em>json</em></li>
  <li><em>text</em> (CSV and TSV)</li>
  <li><em>spreadsheet</em> (XLSX Microsoft format and ODS Open Document Spreadsheet format)</li>
  <li><em>RDF</em> (only for graph queries, such as DESCRIBE and CONSTRUCT )</li>
</ul>
<p>In the case of RDF, it is possible to use the same RDF Transformation Processors that can be used for the <a href="global_data_management.jsf#export_data">export of the whole dataset</a>.</p>

<h3>Storing and Loading queries</h3>
<p>VocBench is provided with an internal storage for configurations and settings, in this storage a SPARQL query can be stored and consequently loaded using the &quot;floppy disc&quot; buttons on the right under the SPARQL textarea.<br/>
The <i>Store SPARQL query</i> dialog prompts an ID (identifier of the query) and a scope (available: <span class="code">SYSTEM</span>, <span class="code">PROJECT</span>, <span class="code">USER</span>, <span class="code">PROJECT_USER</span>) which tells at which level the configuration will be stored. Additionally, the dialog shows the previously stored queries so it is possible to override an existing one.
</p>

<div class="figure"><img src="images/sparql_storage.png" alt="sparql storage"/></div>

<p>
The <i>Load SPARQL query</i> dialog simply lists the available stored queries that can be loaded into the editor. The stored queries can be also deleted from this dialog.
</p>
<div class="figure"><img src="images/sparql_storage_load.png" alt="sparql load"/></div>
<p>
In the <i>Load SPARQL query</i> dialog it is also possible to filter the list of previously saved queries by using the search field in the lower part of the dialog. For example, by using the text "xlabels" only the queries 
having the word "xlabels" in their name are shown: 
</p>
<div class="figure"><img src="images/sparql_storage_load_filter.png" alt="sparql load filter"/></div>


<h2>Parameterized SPARQL query editor</h2>

<p>
This editor is for the most the same as the previously described one; in addition it allows users to configure a set of variable bindings to be applied to the SPARQL query. It is possible to parameterize only stored queries, so in order to create a parameterized query, it is first necessary to create and store a &quot;standard&quot; query, then it can be parameterized by loading it into the <i>Stored query</i> textarea (through the &quot;pencil&quot; button). Each variable defined in the query can then be constrained to some classes of values, or grounded to a specific value. The result is a user-friendly form for a query where users can easily provide values for the variables in the query or leave them free in order to see their groundings in the result.
</p>
<div class="figure"><img src="images/sparql_parameterized_query_editor.png" alt="sparql parameterized query editor"/></div>

<h3>Parameterization</h3>

<p>
The right panel <i>Variable bindings</i> allows to create and edit parameterization for the current loaded query (through the &quot;pencil&quot; button).
The <i>Query parameterization</i> dialog requires the following information:
</p>
<ul>
  <li><span class="code">Binding Variable</span>: the query variable to parameterize.</li>
  <li><span class="code">Display Name</span>: a user friendly name to show as alternative of the variable name (optional).</li>
  <li><span class="code">Description</span>: a brief description of the variable, shown as tooltip near the input field of the variable binding (optional).</li>
  <li>
    <span class="code">Binding Type</span>: the type of parameterization. It can be:
    <ul>
      <li><span class="code">Assignment</span>: the value of the variable is assigned statically in the parameterization.</li>
      <li><span class="code">Constraint: role</span>: the value of the variable is constrained to the specified role.</li>
      <li><span class="code">Constraint: datatype</span>: the value of the variable is a literal constrained to the specified datatype.</li>
    </ul>
  </li>
  <li>
    <span class="code">Value</span>: the value of the parameterization. This depends on the previous <i>Binding Type</i> selected. If <i>Assignment</i> is a statically bound resource, plain literal or datatype literal; if <i>Constraint: role</i>, it is the role of the bound resource; finally, if <i>Constraint: datatype</i> it is the datatype of the bound resource.
  </li>
</ul>
<div class="figure"><img src="images/sparql_query_parameterization.png" alt="query parameterization"/></div>

<p>Once the parameterization is defined, it is possible to bind values to the variables. Each input field in the <i>Variable bindings</i> panel guides the user to enter a value that is compliant with the constraints defined by the parameterization. For instance, in the example shown in the above figure, the <i>type</i> field suggests to enter a class, while the <i>name</i> suggests to enter a plain literal or an <span class="code">xsd:string</span> literal.<br/>
  Submitting the query with the variable bounds is equivalent to evaluate a query with the provided values in place of the variables. So, this represents a reusable and customizable way to evaluate structurally equal queries which may differ only from the values assigned to the variables.
A parameterized query can be evaluated also ignoring the bindings simply unchecking the <i>Use variable bindings</i> flag.<br/>
The &quot;eye&quot; button on the panel heading switches the name of the input field between the <i>Display name</i> and the <i>Binding variable</i> defined during the parameterization.<br/>
Under the <i>Variable bindings</i> panel there is a textarea dedicated to the description of the parameterized query. The description is especially useful when using the parameterized query in the <a href="data_view.jsf#custom_search">Custom Search</a>.
</p>

<h3>Parameterized queries and Custom Search</h3>
<p>
  Like the &quot;standard&quot; SPARQL queries, also the parameterized queries can be stored and loaded. Stored SPARQL <span class="code">SELECT</span> queries which return a single variable can be used for the Custom Search, a search feature that exploits the power of the SPARQL language to perform customizable queries. For detailed information see the <a href="data_view.jsf#custom_search">dedicated section</a>.

</p>


</ui:define>
</body>
</html>