<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
    <title>
        <ui:insert name="title">Default title</ui:insert>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="mainContent">

        <h1>System configuration</h1>

        <p>
            In Vocbench the administrator is the only user authorized to manage some "behind the scene" aspects of the application through the "Configuration" page. The same configuration panel is prompted after the first access to Vocbench, once the administrator user has been registered.
        </p>

        <p>
            The following system configuration settings are available:
            <ul>
                <li>
                    <i>SemanticTurkey data folder</i>: shows the path of the SemanticTurkey data folder. This can be absolute or relative to the SemanticTurkey installation folder.
                </li>
                <li>
                    <i>Preload profiler threshold</i>: tells the threshold file size admitted by the preload profiler during the project creation. If unspecified, or 0, the default size is 1048576 bytes (1 megabyte).
                </li>
            </ul>
            <ul>
                <li>
                    <i>Vocbench Email Configuration</i>: configuration of the Vocbench e-mail service: this service is used to send notifications to the administrators and users. This configuration, even if not mandatory, is particularly important as if it is not properly configured, the system will not be able to notify the administrator when a new user is registered, or users will not be able to eventually complete the procedure for retrieving the password in case they forget it.<br/>
                    A <i>Test</i> button is available to check that the provided info are valid.
                    <ul>
                        <li><i>Mail SMTP host</i>: the IP/URL of the SMTP mail server;</li>
                        <li><i>Mail SMTP port</i>: the port of the SMTP mail server;</li>
                        <li><i>Cryptographic protocol</i>: the cryptographic protocol being used: allowed values are <i>SSL</i>, <i>TLS</i> or <i>None</i> if not used;</li>
                        <li><i>SSL protocols</i>: specifies the SSL protocols that will be enabled for SSL connections (prompted only if <i>SSL</i> is chosen as <i>Cryptographic protocol</i>);</li>
                        <li><i>Authentication</i>: specifies if the authentication is required in the mail server;</li>
                        <li><i>Mail from address</i>: the email address used to send administration notifications;</li>
                        <li><i>Mail from password</i>: the password of the above email address (required only if <i>Authentication</i> is <i>Yes</i>;</li>
                        <li><i>Mail from alias</i>: the alias name shown in the sent emails.</li>
                    </ul>
                </li>
            </ul>
        </p>

        <div class="figure"><img src="images/sys_configuration.png" alt="System configuration" /></div>

        <ul>
            <li>
                <i>Notifications schedule configuration</i>: configuration of the VocBench e-mail notification service. 
                This setting determines the time of day when the system will send a notifications daily digest to the users who have chosen the <i>Email daily digest</i> as notification mode (details <a href="notifications.jsf">here</a>). Here, the administrator user can set the <i>Hour of the day</i> and a <i>Time zone</i>, the latter can be automatically detected from the browser.
                The <i>Submit</i> button confirms the chosen settings, while <i>Disable</i> reset them and disables the daily digest (note: in this way those users who have chosen <i>Email daily digest</i> as notification mode will not receive any email, they will be able to see notifications only through the <a href="notifications.jsf#notifications_page">notification page</a>)
            </li>
        </ul>

        <div class="figure"><img src="images/notifications_schedule_config.png" alt="System configuration" /></div>

        <ul>
            <li>
                <i>Registration form fields</i>: allows for the customization of the fields describing users. These fields are prompted in the registration form and shown in the user overview.
                <ul>
                    <li>
                        <i>Optional fields</i>: hide/show four optional fields (<i>Office address</i>, <i>Phone</i>, <i>Affiliation</i> and <i>Personal URL</i>).
                    </li>
                    <li><i>Custom fields</i>: allows the administrator to define up to four custom optional fields. For each of them it is possible to indicate a label and a description.</li>
                    <li><i>Email verification</i>: tells if a user must verify the email address in order to complete the registration. Note: email verification is never required when registering the administrator user at the <a href="first_access_adm.jsf#administrator_registration">first access</a> or when the administrator creates new user from the <a href="users_adm.jsf#the_user_list">users administration</a> page.</li>
                </ul>
            </li>
        </ul>

        <div class="figure"><img src="images/sys_configuration1.png" alt="System configuration" /></div>

        <p>The following image shows the registration form resulting with the addition of an additional custom field defined as in the previous image.</p>

        <div class="figure"><img src="images/sys_configuration1_example.png" alt="System configuration" /></div>
        
        <ul>
            <li>
                <i>Home page content</i>: allows for a basic customization of the home page content by providing a HTML-formatted text content. This could be useful in case the system administrator would like to print a message visible to all users.
            </li>
        </ul>

        <div class="figure"><img src="images/sys_configuration2.png" alt="System configuration" /></div>
        
        <p>
            Here it is an example of home page customized through the <i>Home page content</i> setting. A further way to customize the home page is described <a href="../sys/system_settings.jsf#home_page_customization">here</a>.
        </p>
        
        <div class="figure"><img src="images/home_custom_content.png" alt="Home custom content" /></div>

        <ul>
            <li>
                <i>Project creation</i>: allows for the configuration of the default value of some options prompted in the project creation form.
                <ul>
                    <li>
                        <i>Default for "Universal access level"</i>,
                        see <a href="project_access_control.jsf#configuring_the_project_access_control_through_vocbench_ui">ACL documentation</a> for details about this option.
                    </li>
                    <li>
                        <i>Default for "Open at startup"</i>, 
                        see <a href="projects.jsf#project_creation">project creation</a> documentation for details about this option.
                    </li>
                </ul>
            </li>
        </ul>

        <div class="figure"><img src="images/sys_configuration_proj_creation.png"/></div>

        <ul>
            <li>
                <i>Enable experimental features</i>: some new and unstable features of Vocbench might be released as experimental. These features are hidden by default. Through this setting it is possible to enable them.
            </li>
        </ul>

        <div class="figure"><img src="images/sys_configuration_experimental.png" /></div>

    </ui:define>
</body>

</html>