<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Editing SKOS Thesauri: The Terminologist view</h1>

    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Intro</h2>

    <p>This section describes an alternative user interface for skos:Concept called "TermView", available from version 8.0.0.</p>

    <h2>The Concept Section in Terminologist view</h2>
    <p>As already described in <a href="skos_editing.jsf"> The Data View:Editing SKOS Thesauri</a> section, The Concept Section is composed of two main areas that in this case are: the structure on the left and the TermView on the right.</p>
    <div class="figure"><img src="images/termview.png" alt="termview" /></div>
    <p>User can choose to see this interface both by clicking on "TermView" tab, located at the bottom of the page as it is possible to see in the figure above, and by clicking on ResourceView settings button <img src="images/icons/gear.png" alt="gear" width="15" height="15" /> selecting "Terminologist" item on field "Initial view for concepts" as shown in the following image. </p>
    <div class="figure"><img src="images/terminologist-preferredsetting.png" alt="termview" /></div>
    <p>In this second way, user will always be able to see TermView panel as favorite view also for other concepts without clicking on tab "TermView" each time.</p>

    <h2>The structure of the Terminologist view</h2>
    <p>TermView page is composed of three parts. The first one shows the description of the concept, then there is a list of flags or lang codes representing languages and finally there are a series of boxes per language containing the definition(even more than one for each language), the preferred label and eventually a series of alternative labels.</p>

    <h3>Concept description</h3>
    <p> In this box there are some information about concept. In particular under qname, across the line, there are first a list of preferred labels and then a list of definitions. Instead "Broader Concepts" section lists parent concepts (if any) of the one described by the TermView.</p>
    <div class="figure"><img src="images/conceptdescription.png" alt="termview" /></div>

    <h3>Languages</h3>
    <p> In the following image there is a list of flag buttons, these can contain or flags or lang tag, it depends from the preference "show flags" set by user as it is possible to see in this section <a href="data_view.jsf#user_preferences_for_visualization">User Preferences for Visualization</a>. Active flags, indicating the presence of a related box for that language, are followed by disabled flags which are determined according the languages assigned to the user in the current project.</p>
    <div class="figure"><img src="images/flagslist.png" alt="termview" /></div>
    <p>Each active flag in the top line can be clicked for scrolling down to the corresponding language box whereas clicking on disabled flags will create a new box for that language as shown in the following image(see Italian language in this example).</p>
    <div class="figure"><img src="images/termboxinitialized.png" alt="termview" /></div>

    <h3>Boxes of Languages</h3>
    <p>Finally for each language there is a corresponding box on which it is possible to perform these operations:</p>
    <ul>
      <li>Modify definition: a definition can be modified by clicking on input box and writing a new value for it. </li>
      <li>Delete definition: a definition and its input box can be deleted by clicking on this semi-transparent button <img src="images/icons/delete_button_termview.png" alt="minus" width="17" height="17" />
          located on the right of the input box and visible hovering mouse cursor. When user has only a definition, by clicking on minus button it will delete the value inside input box but not the entire box.
      </li>
      <li>Add new definition: if there is no empty box of definition by clicking on this semi-transparent button <img src="images/icons/caret_button_termview.png" alt="caret" width="10" height="20" />,located on the opposite side of the flag as shown in the following image, it is possible to add another definition.
      	 <div class="figure"><img src="images/add_definitionTermView.png" alt="termview" /></div>
      </li>
      <li>Add preferred label: if a preferred label already exists for a language it is not possible to add another one otherwise by clicking on this semi-transparent button <img src="images/icons/add_labelsTermView.png" alt="add" width="17" height="17" />,located on the opposite side of the flag near to the previous one, a preferred label can be added. The word "Term" is colored in blue to point out a preferred label. </li>
      <li>Delete preferred label: this action is the same as "Delete definition" but in this case the entire box of the preferred label can always be deleted.</li>
      <li>Modify preferred label: this action is the same as "Modify definition". </li>
      <li>Add alternative label: by clicking on plus button shown in "Add preferred label" item, the system checks if a preferred label exists and in positive case it allows user to add an alternative label(even more than one). The word "Term" is colored in gray to point out an alternative label.
       <div class="figure"><img src="images/add_altLabelTermView.png" alt="termview" /></div>
      </li>
      <li>Delete alternative label: this action is the same as "Delete preferred label".</li>
       <li>Modify alternative label: this action is the same as "Modify definition". </li>
       <li>Delete a language box: A language box can be deleted by clicking on this transparent button <img src="images/icons/removeButtonTermView.png" alt="add" width="17" height="17" />,located inside of the flag, that appears(hovering mouse cursor on flag) only if there is no alternative label, preferred label and there is only a definition input box without value as shown in the following image.
       	<div class="figure"><img src="images/deleteLangBox.png" alt="termview" /></div>
       </li>
    </ul>
    <p> When user have to add or edit values to definitions, preferred labels and alternative labels in TermView he must use keyboard, in particular:</p>
    <ul>
    	<li>By pressing "Enter" user can save changes;</li>
    	<li>By pressing "Esc" user can cancel changes;</li>
    	<li>By pressing "alt-ctrl + Enter" user can break line;</li>
    </ul>

  </ui:define>
</body>

</html>

