<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
	<head>
		<title>
			<ui:insert name="title">Default title</ui:insert>
		</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />          
	</head>

	<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:ui="http://java.sun.com/jsf/facelets"
		xmlns:f="http://java.sun.com/jsf/core">

		<ui:define name="mainContent">

			<h1>Test Drive: creating projects and loading data</h1>
				
	  	  <div id="IndexDiv"><script type="text/javascript" src="../../js/indexCreator.js"></script></div>
  	    
	  	    <p>This is a series of simple test drives for you to try VocBench in creating projects and loading data to be managed withing them.</p>
  	      <p>These tests assume that VocBench has already been started for the first time and that the administrator is logged into the system.</p>
  	      <h2>Creating a SKOS Project for Managing a Small Thesaurus</h2>
	  	    <p><em>In this test drive we create a project for managing a simple SKOS thesaurus, the &quot;Land and Water&quot; FAO vocabulary (which is available for download&nbsp;<a href="https://bitbucket.org/art-uniroma2/vocbench2/downloads/LandAndWater_20141202.nt" rel="nofollow">here</a>), by using the embedded <a href="http://rdf4j.org/">RDF4J</a> store.</em></p>
	  	    <p>Once logged in, the list of projects available in VocBench is shown (obviously empty if VocBench has just been installed)</p>
			<div class="figure"><img src="images/projectslandingpage.png" alt="ProjectsLanding Page" /></div>
			
			<p>Click on the &quot;Create&quot; button in order to access the following project creation page:            </p>
			<div class="figure"> <img src="images/createproject.png" alt="New Project" /> </div>
            <p>Fill the fields as in the following text and image below:</p>
            <ul>
              <li><em>Project Name</em>: LandAndWater</li>
              <li><em>Base URI</em>: <span class="code">http://www.fao.org/landandwater/</span>&nbsp; (<em>it is important to keep the trailing &quot;/&quot;</em> )</li>
              <li><em>Type</em>: SKOS</li>
              <li><em>Lexicalization</em>: SKOSXL (<em>the Land and Water thesaurus we are going to load contains reified labels, expressed with the SKOSXL standard)</em></li>
              <li>leave everything else as is</li>
            </ul>
			<div class="figure"><img src="images/td_create_landwater.png" alt="Creating LandAndWater project" /></div>

          <h3 id="QuickTestDrive-Loadingpre-existingdata">a. Loading the thesaurus data</h3>
            <p>Download the Land and Water thesaurus <a href="https://bitbucket.org/art-uniroma2/vocbench2/downloads/LandAndWater_20141202.nt">RDF file</a></p>
            <p>Go to the Global Data Management and select &quot;Load Data&quot;, as described <a href="global_data_management.jsf#load_data">here</a></p>
          <p>Just click on the &quot;Browse&quot; button next to the RDF file label and choose the Land And Water data file you have previously downloaded. Leave all the other fields unchanged, as in the following figure.          </p>
          <div class="figure"><img src="images/td_load_landwater.png" alt="Loading LandAndWater data" /></div>
            <p>and then click on the &quot;Submit&quot; button. A confirmation message will inform you that the data has been loaded successfully.</p>
            <p>By clicking on the &quot;Data&quot; menu entry, it is possible to view the loaded thesaurus.            </p>
            <div class="figure"><img src="images/td_loaded_lw.png" alt="Loaded LandAndWater data" /></div>
            <p>The &quot;warning&quot; yellow symbol informs us that no concept scheme has been selected, thus all concepts in the thesaurus are being shown. By clicking on the &quot;Scheme&quot; tab it is possible to select one (or more) of the available schemes so that the &quot;Concept&quot; tab will now show only those concepts belonging to it (or them).</p>
            <div class="figure"><img src="images/td_lw_scheme-sel.png" alt="Selecting a scheme for LandAndWater" /></div>
            <h2>Creating an OWL Project for Managing an Ontology</h2>
            <p><em>In this test drive we create a project for managing an OWL ontology, the &quot;Friend of a Friend&quot; vocabulary (which is available for download&nbsp;<a href="http://xmlns.com/foaf/spec/index.rdf" rel="nofollow">here</a>), by using the embedded <a href="http://rdf4j.org/">RDF4J</a> store.</em></p>
            <p>Once logged in, the list of projects available in VocBench is shown (obviously empty if VocBench has just been installed)</p>
            <div class="figure"><img src="images/projectslandingpage.png" alt="ProjectsLanding Page" /></div>
            <p>Click on the &quot;Create&quot; button in order to access the following project creation page: </p>
            <div class="figure"> <img src="images/createproject.png" alt="New Project" /></div>
          <p>Fill the fields as in the following text and image below:</p>
            <ul>
              <li><em>Project Name</em>: FOAF</li>
              <li><em>Base URI</em>: <span class="code">http://xmlns.com/foaf/0.1/</span>&nbsp; (<em>it is important to keep the trailing &quot;/&quot;</em> )</li>
              <li><em>Type</em>: OWL</li>
              <li><em>Lexicalization</em>: RDFS (<em>the Friend of a Friend ontology we are going to load contains only simple rdfs:labels)</em></li>
              <li><em>Configuration</em>: in memory / persistent (<em>we will use this configuration as the FOAF ontology is very small and can be easily managed in-memory</em>)</li>
              <li>leave everything else as is</li>
            </ul>
            <div class="figure"><img src="images/td_create_foaf.png" alt="Creating FOAF project" /></div>
            <h3 id="QuickTestDrive-Loadingpre-existingdata2">a. Loading the ontology data</h3>
            <p>Download the FOAF ontology <a href="http://xmlns.com/foaf/spec/index.rdf">RDF file</a></p>
            <p>Go to the Global Data Management and select &quot;Load Data&quot;, as described <a href="global_data_management.jsf#load_data">here</a></p>
            <p>Just click on the &quot;Browse&quot; button next to the RDF file label and choose the FOAF data file you have previously downloaded. Leave all the other fields unchanged, as in the following figure. </p>
            <div class="figure"><img src="images/td_load_foaf.png" alt="Loading FOAF data" /></div>
            <p>and then click on the &quot;Submit&quot; button. A confirmation message will inform you that the data has been loaded successfully.</p>
            <p>By clicking on the &quot;Data&quot; menu entry, it is possible to view the loaded ontology. </p>
          <div class="figure"><img src="images/td_loaded_foaf.png" alt="Loaded FOAF data" /></div>
            
            
            <h2>Creating a SKOS Project for Managing a Large Thesaurus by Connecting to an External Triple Store, Exploiting History, Validation and Inference, </h2>
            <p><em>In this test drive we create a project for managing a large SKOS thesaurus, the &quot;Eurovoc&quot; thesaurus published by the Publications Office of the European Union. We provide <a href="http://vocbench.uniroma2.it/demos/data/eurovoc_2017-03-09_no_skos_coreLabels.zip">here</a> a dump of Eurovoc which has already been cleaned of duplicate data. The project will enable the History and Validation features and will be relying on an external triple store: <a href="http://graphdb.ontotext.com/">GraphDB</a>.</em></p>
            <h3>a. Setting up and Running GraphDB</h3>
			<p>By first, setup the GraphDB server. </p>
            <p>If GraphDB has never been used with VocBench, and since we desire to activate the <em>History</em> an <em>Validation</em> features in this test drive, the change-tracking sail component must be deployed into the triple store. Follow the instructions for doing that in the <a href="../sys/#separate_triple_store">related section</a> of the system administration manual.</p>
            <p>Once the change-tracking sail component has been deployed into <a href="http://graphdb.ontotext.com/">GDB</a>, it is possible to start the triple store.</p>
            <h3>b. Creating the Project</h3>
            <p>Log into VocBench, the list of projects available in VocBench will be shown (obviously empty if VocBench has just been installed)</p>
            <div class="figure"><img src="images/projectslandingpage.png" alt="ProjectsLanding Page" /></div>
			<p>Click on the &quot;Create&quot; button in order to access the following project creation page: </p>
            <div class="figure"> <img src="images/createproject.png" alt="New Project" /></div>
            <p>Fill the fields as in the following text and image below:</p>
            <ul>
              <li><em>Project Name</em>: EUROVOC</li>
              <li><em>Base URI</em>: <span class="code">http://eurovoc.europa.eu/</span> (<em>it is important to keep the trailing &quot;/&quot;</em> )</li>
              <li><em>Type</em>: SKOS</li>
              <li><em>Lexicalization</em>: SKOSXL (<em>the Eurovoc thesaurus we are going to load contains reified labels, expressed with the SKOSXL standard)</em></li>
              <li><em>History and Validation</em>: enable both options</li>
              <li><em>Repository Access</em>: set to <span class="code">CreateRemote</span></li>
              <li><em>Configuration (next to Data Repository ID)</em>: set to <span class="code">GraphDB Free (remote only)</span></li>
              <li><em>Configuration (next to History/Validation Repository ID)</em>: set to <span class="code">GraphDB Free (remote only)</span></li>
            </ul>
          <div class="figure"><img src="images/td_create_eurovoc.png" alt="Creating Eurovoc project" /></div>
            <p id="QuickTestDrive-Loadingpre-existingdata3">The click on the &quot;Remote Access Config&quot; button, which leads to the following window:            </p>
            <div class="figure"><img src="images/td_remote-access-config_empty.png" alt="Setting up a new triple store connection" /></div>
            <p>By first create a new configuration, through the &quot;Manage Config&quot; button, which leads to the following window, where you have to insert the address where GDB is listening (we assume here that everything has been installed on the same machine, so that a &quot;localhost&quot; 127.0.0.1 address would work). Unless authorization credentials have been configured in GDB, no username and password is required.</p>
            <div class="figure"><img src="images/td_remote-access-config_localhost.png" alt="Setting up a new triple store connection" /></div>
            <p>By clicking on the + button the configuration will be saved, as in the following figure   </p>
            <div class="figure"><img src="images/td_remote-access-configured.png" alt="Setting up a new triple store connection" /></div>
          <p>After clicking on the &quot;OK&quot; button in the previous window, it is possible to select through the &quot;Server URL&quot; combobox the configuration previously setup, so that the window will look like this:          </p>
          <div class="figure"><img src="images/td_remote-access-setup.png" alt="Setting up a new triple store connection" /></div>
          <p>After clicking on &quot;OK&quot; on the previous windows, we come back to the Project Creation page:</p>
          <div class="figure"><img src="images/td_create_eurovoc.png" alt="Creating Eurovoc project" /></div>
          <p>We now setup the configuration for the core repository being created for storing the Eurovoc data, by clicking on the first of the two &quot;Configure&quot; Buttons, related to the &quot;Data Repository ID&quot;, and changing only one field, the &quot;ruleset&quot; one, setting it to &quot;owl-horst-optimized&quot;, and leaving everything else as is.</p>
            <div class="figure"><img src="images/td_gdb_config.png" alt="Loading LandAndWater data" /></div>
          <p>We leave the other configuration unchanged (no need to click at all on the other &quot;Configure&quot; button), and finally click on the &quot;Create&quot; button at the bottom of the page, thus creating the project and the two repositories (core and support for history/validation) on GraphDB.</p>
            <h3>c. Loading the thesaurus data </h3>
            <p>Download the Eurovoc thesaurus <a href="http://vocbench.uniroma2.it/demos/data/eurovoc_2017-03-09_no_skos_coreLabels.zip">RDF file</a> and unzip it.</p>
            <p>Select the newly created project, then go to the Global Data Management (top-right menu) and select &quot;Load Data&quot;, as described <a href="global_data_management.jsf#load_data">here</a></p>
            <p>Click on the &quot;Browse&quot; button next to the RDF file label and choose the Eurovoc data file you have previously downloaded. </p>
            <p><em>It is important that the &quot;Implicitly validate loaded data&quot; checkbox is ticked</em>, otherwise all the loaded Eurovoc data will be subject to validation, consuming lot of unwanted resources. </p>
            <p>Leave all the other fields unchanged, as in the following figure: </p>
            <div class="figure"><img src="images/td_load_eurovoc.png" alt="Loading Eurovoc data" /></div>
            <p>and then click on the &quot;Submit&quot; button. </p>
            <p>The data loading process can take quite a few minutes (depending on the underlying hardware) as the hundreds of thousands of triples of Eurovoc are loaded both in the core repository and in the support repository, for purpose of history (validation has been skipped by ticking the option for implicit validation). <em>On a modern Microsoft Surface with an i7 processor, 16Gb of memory and SSD hard disk, it takes less than 6 minutes.</em></p>
            <p>A confirmation message will inform you that the data has been loaded successfully.</p>
            <p>By clicking on the &quot;Data&quot; menu entry, it is possible to view the loaded thesaurus. </p>
            <div class="figure"><img src="images/td_loaded_eurovoc.png" alt="Loaded Eurovoc data" /></div>
            <p>However, there are two inconveniences that limit the usability:</p>
			<ul>
              <li>all labels from all languages of Eurovoc are being used to render the concepts</li>
              <li>no scheme has been selected, so all concepts are being shown (<em>this is not a real issue - even though signaled by the warning triangle icon - for browsing the dataset, as simply all concepts are being shown, but the user might want to select a scheme for browsing Eurovoc by topic</em>)</li>
            </ul>
            <p>By clicking on the user icon on the top-right corner of the application, it is possible to select the language that the user is proficient with:     </p>
            <div class="figure"><img src="images/td_pref_lang.png" alt="Loaded Eurovoc data" /></div>
            <p>Going back to the data section, by clicking on the &quot;Scheme&quot; tab it is possible to select one (or more) of the available schemes so that the &quot;Concept&quot; tab will now show only those concepts belonging to it (or them).</p>
            <div class="figure"><img src="images/td_eurovoc_scheme-sel.png" alt="Selecting a scheme for Eurovoc" /></div>
            <p>In this case, we have selected the global &quot;EuroVoc&quot; scheme, which contains all concepts in the thesaurus, finally shown in the following figure (<em>a refresh of the concept tree, through the dedicated circular icon, might be necessary</em>)</p>
            <div class="figure"><img src="images/td_eurovoc_show.png" alt="Selecting a scheme for Eurovoc" /></div>
            <p>&nbsp;</p>
			
			
			<h2>Creating a OntoLex Project for Managing a Large Lexicon by Connecting to an External Triple Store </h2>
			<p><em>In this test drive we create a project for managing a large Lexicon , the &quot;Wordnet&quot; Lexicon. The project will be relying on an external triple store: <a href="http://graphdb.ontotext.com/">GraphDB</a>.</em></p>
            <h3>a. Setting up and Running GraphDB</h3>
			<p>By first, setup the GraphDB server. </p>
            <p>If GraphDB has never been used with VocBench follow the instructions for doing that in the <a href="../sys/#separate_triple_store">related section</a> of the system administration manual.</p>
            <h3>b. Creating the Project</h3>
            <p>Log into VocBench, the list of projects available in VocBench will be shown (obviously empty if VocBench has just been installed)</p>
            <div class="figure"><img src="images/projectslandingpage.png" alt="ProjectsLanding Page" /></div>
			<p>Click on the &quot;Create&quot; button in order to access the following project creation page: </p>
            <div class="figure"> <img src="images/createproject.png" alt="New Project" /></div>
            <p>Fill the fields as in the following text and image below:</p>
            <ul>
              <li><em>Project Name</em>: Wordnet</li>
              <li><em>Base URI</em>: <span class="code">http://art.uniroma2.it/pmki/omw/</span> (<em>it is important to keep the trailing &quot;/&quot;</em> )</li>
              <li><em>Type</em>: OntoLex</li>
              <li><em>Lexicalization</em>: OntoLex </li>
              <li><em>History and Validation</em>: disable both options</li>
              <li><em>Repository Access</em>: set to <span class="code">CreateRemote</span></li>
              <li><em>Configuration (next to Data Repository ID)</em>: set to <span class="code">GraphDB Free (remote only)</span></li>
            </ul>
			<div class="figure"><img src="images/td_wordnet1.png" alt="Creating Wordnet project" /></div>
            <p id="QuickTestDrive-Loadingpre-existingdata3">The click on the &quot;Remote Access Config&quot; button, which leads to the following window:            </p>
            <div class="figure"><img src="images/td_remote-access-config_empty.png" alt="Setting up a new triple store connection" /></div>
            <p>By first create a new configuration, through the &quot;Manage Config&quot; button, which leads to the following window, where you have to insert the address where GDB is listening (we assume here that everything has been installed on the same machine, so that a &quot;localhost&quot; 127.0.0.1 address would work). Unless authorization credentials have been configured in GDB, no username and password is required.</p>
            <div class="figure"><img src="images/td_remote-access-config_localhost.png" alt="Setting up a new triple store connection" /></div>
            <p>By clicking on the + button the configuration will be saved, as in the following figure   </p>
            <div class="figure"><img src="images/td_remote-access-configured.png" alt="Setting up a new triple store connection" /></div>
			<p>After clicking on the &quot;OK&quot; button in the previous window, it is possible to select through the &quot;Server URL&quot; combobox the configuration previously setup, so that the window will look like this:          </p>
			<div class="figure"><img src="images/td_remote-access-setup.png" alt="Setting up a new triple store connection" /></div>
			<p>After clicking on &quot;OK&quot; on the previous windows, we come back to the Project Creation page:</p>
			<div class="figure"><img src="images/td_wordnet1.png" alt="Creating Wordnet project" /></div>
			<p>We now setup the configuration for the core repository being created for storing the Wordnet data, by clicking on the first of the two &quot;Configure&quot; Buttons, related to the &quot;Data Repository ID&quot;, and checking that one field, the &quot;ruleset&quot; one, has the value &quot;empty&quot;, and leaving everything else as is.</p>
			<div class="figure"><img src="images/td_gdb_config.png" alt="Loading LandAndWater data" /></div>
			<p>We leave the other configuration unchanged (no need to click at all on the other &quot;Configure&quot; button), and finally click on the &quot;Create&quot; button at the bottom of the page, thus creating the project and the repository (core) on GraphDB.</p>
			<h3>c. Loading the Lexicon data </h3>
            <p>Before loading the data into VocBench, go to the Data and select the &quot;Lex. Entry&quot;. Click on the gear button called &quot;Settings&quot;. In the new window, select &quot;Search Based&quot;</p>
			<div class="figure"><img src="images/td_wordnet_searchBased.png" alt="Configure Search based" /></div>
            <p>do the same action (press gear and then select "Search Based") on the concept tab.</p>
			<p>Download the Wordnet lexicon <a href="https://bitbucket.org/art-uniroma2/ontolex-resources/downloads/omw-w3c-ontolex-lemon-v2018-07-30.zip">RDF file</a> and unzip it.</p>
            <p>Select the newly created project, then go to the Global Data Management (top-right menu) and select &quot;Load Data&quot;, as described <a href="global_data_management.jsf#load_data">here</a></p>
            <p>Click on the &quot;Browse&quot; button next to the RDF file label and choose the Wordnet data file you have previously downloaded (wn_08_eng.rdf). </p>
            <p>Leave all the other fields unchanged, as in the following figure: </p>
            <div class="figure"><img src="images/td_load_wordnet.png" alt="Loading Wordnet data" /></div>
            <p>and then click on the &quot;Submit&quot; button. </p>
            <p>The data loading process can take quite a few minutes (depending on the underlying hardware) as the hundreds of thousands of triples of Wordnet are loaded in the core repository</p>
            <p>A confirmation message will inform you that the data has been loaded successfully.</p>
            <p>Load pwn-concepts.rdf as well (to have also all concepts). </p>
            <p>By clicking on the &quot;Data&quot; menu entry, it is possible to view the loaded lexicon. </p>
            <p>The default tab in &quot;Data&quot; is &quot;Lexicon&quot;. Select "Princeton Wordnet".</p>
            <div class="figure"><img src="images/td_wornet_lexicon.png" alt="Wordned Lexicon" /></div>
			<p>Open the &quot;Lex.Entry&quot; tab.</p>
            <div class="figure"><img src="images/td_wornet_lexEntry1.png" alt="Wordned Lex.Entry" /></div>
			<p>since the &quot;Search Based&quot; no Lexical Entry is shown. To see some Lexical Entries, search &quot;dog&quot;</p>
            <p>In the lower part of the window, in the &quot;Search&quot; field write &quot;dog&quot; and press enter. After a couple of seconds, all Lexical Entries containing the word dog are returned:</p>
            <div class="figure"><img src="images/td_wornet_lexEntry2.png" alt="Worned Lex.Entries dog" /></div>
			<p>Click on the first entry, &quot;water dog&quot;to see all the information associated to it:</p>
            <div class="figure"><img src="images/td_wornet_lexEntry3.png" alt="Worned Lex.Entries dog" /></div>
			
			<p>Open the &quot;Concept&quot; tab.</p>
            <div class="figure"><img src="images/td_wornet_concept1.png" alt="Wordned Concept" /></div>
			<p>since the &quot;Search Based&quot; no concept is shown. To see some concepts, search &quot;dog&quot;</p>
            <p>In the lower part of the window, in the &quot;Search&quot; field write &quot;dog&quot; and press enter. After a couple of seconds, all concepts containing the word dog are returned:</p>
            <div class="figure"><img src="images/td_wornet_concept2.png" alt="Worned Concepts dog" /></div>
			<p>Click on the first entry, &quot;Greater Swiss Mountain dog&quot;to see all the information assocaited to it:</p>
            <div class="figure"><img src="images/td_wornet_concept3.png" alt="Worned Concepts dog" /></div>
			
            
    </ui:define>
	</body>
</html>
