<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Time machine</h1>

    <!-- <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div> -->

    <p>
      The Time Machine is a powerful history-based tool, introduced in VocBench3 10.0, to visualize the ResourceView of a previous version of a resource. This tool is only available in projects with <a href="history_and_validation.jsf">history</a> enabled.
    </p>

    <div class="figure"><img src="images/timemachine_travel_to.png" /></div>

    <p>
      The Time Machine can be accessed from a ResourceView. You need to click on the "clock" button on the top bar and select <i>Travel to any point in time</i> which opens the following dialog (note: this entry is available only for IRI resource defined locally).
    </p>

    <div class="figure"><img src="images/timemachine_ui.png" /></div>

    <p>
      The dialog is initialized with only a ResourceView on the left which represents the resource at the present instant. The right side is initially empty waiting for a date to be chosen through the selector at the bottom of the dialog.
    </p>
    <p>
      A click on <i>Select a date</i> shows a list containing all the commits where the resource modified is the one currently inspected. Once a commit is selected, it is highlighted with a blue background and it enables also the slider below which also allows the selection of a commit.
    </p>

    <div class="figure"><img src="images/timemachine_commit.png" /></div>

    <p>
      In the example above, the inspected scheme has 4 commits:
    </p>
    <ol>
      <li>Creation of the scheme itself (Operation: create concept scheme)</li>
      <li>Addition of the Italian label (Operation: set preferred label)</li>
      <li>Addition of the Spanish label (Operation: set preferred label)</li>
      <li>Addition of a definition (Operation: add note)</li>
    </ol>
    <p>
      As you can see, selecting the 2nd commit (addition of Italian label) the ResourceView on the right doesn't contains the Spanish label and the skos:definition which have been added later.
    </p>

    <p>
      It might happen that some actions which are indirectly reflected on the resource, but do not modify it, are not listed (e.g. when changing the skosxl:literalForm of a skosxl:Label, the modified resource is the label itself, but the resource which the label belongs to is affected as well). To overcome such limitation it is also possible to select a date manually clicking on the calendar button just below <i>Pick a date manually</i> which prompts the following date picker.
    </p>

    <div class="figure"><img src="images/timemachine_datepicker.png" /></div>

  </ui:define>
</body>

</html>