<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>VocBench User Manual</h1>
    <p>The main menu of VocBench offers a Tool entry, providing a cascade menu with some tools expanding VocBench core capabilities.</p>
    <div class="figure"> <img src="images/tools-menu.png" alt="tools menu" /></div>

    <h2>Content</h2>
    <p>The Tools menu offers links to a set of available tools in VocBench:</p>

    <ul>
      <li><a href="alignment_validation.jsf">Alignment Validation</a></li>
      <li><a href="collab_platform.jsf">Collaboration System</a></li>
      <li><a href="cforms">Custom Form Management</a></li>
      <li><a href="custom_services.jsf">Custom Services</a></li>
      <li><a href="custom_reports.jsf">Custom Reports</a></li>
      <li><a href="icv.jsf">Integrity Constraint Validation (ICV)</a></li>
      <li><a href="resource_metadata.jsf">ResourceMetadata</a></li>
      <li><a href="http://art.uniroma2.it/sheet2rdf">Sheet2RDF</a></li>
      <li><a href="skos_diffing.jsf">SKOS Diffing</a></li>
    </ul>
  </ui:define>
</body>

</html>