<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>User administration</h1>
    <div id="IndexDiv">
      <script type="text/javascript" src="../../js/indexCreator.js"></script>
    </div>

    <h2>Introduction</h2>

    <p>
      The User Management page allows the administrator to view all the users registered on the system and to manage them.
    </p>
    <p>
      This page is basically splitted in two section: the left one lists the users and the right one shows their details or allows you to customize their ResourceView visualization.
    </p>

    <div class="figure"><img src="images/usermanagement.png" alt="User Management" /></div>

    <h2>The user list</h2>
    
    <p>
      The <i>Users</i> panel lists all the registered users. Beside each of them there is a status icon:
      <ul>
        <li><img src="images/icons/user_active_online.png"></img>: Active user currently (or recently) online</li>
        <li><img src="images/icons/user_active_offline.png"></img>: Active user offline</li>
        <li><img src="images/icons/user_new.png"></img>: New registered user, still not activated</li>
        <li><img src="images/icons/user_inactive.png"></img>: Deactivated user</li>
      </ul>
    </p>
    <p>
      In addition, two further (and optional) icons indicates "special" user types:
      <ul>
        <li><img src="images/icons/user_administrator.png"></img>: System administrator user</li>
        <li><img src="images/icons/user_superuser.png"></img>: Super user</li>
      </ul>
      which are the only two cross-projects roles.
    </p>
    <p>
      In the panel heading there are three buttons. The "funnel" one opens a panel for filtering the users list according personal information (given name, family name, email address), User's Status (<i>New</i>, namely registered users who are still pending activation, <i>Active</i>, users activated by administrator, <i>Inactive</i>, users who are inactive due to an explicit deactivation) or online status. The second button allows you to sort users according name, email address or registration date. Finally, through the <b>+</b> button, the administration can also create new users.<br/>
    </p>
    
    <div style="display: flex; align-items: center; justify-content: center;">
      <img src="images/usermanagement_filters.png"/>
      <img src="images/usermanagement_sort.png"/>
    </div>
   
    <p>
      Note: If the email address verification is enabled, a new registered user that has still not completed the verification step will be not shown in the users list.
    </p>
    
	
	<h3>Filter users</h3>
	<p>It is possible to show only the users that are currently connected to VocBench. To do so, click on the "funnel" button to open a panel for filtering the users list and check the "Online" checkbox. Doing so, only 
	the currently connected users will be shown in the user list.</p>
	<div style="display: flex; align-items: center; justify-content: center;">
      <img src="images/online_users.png"/>
    </div>
	
	<p>Using one, or more, of the fields in the filter dialog, it is possible to filter the list of users according to the input text. For example, by writing "Armando" in the field "Given Name" and 
	"uniroma2.it" in "E-mail", in this case, only one user is returned</p>
	<div style="display: flex; align-items: center; justify-content: center;">
      <img src="images/users_filter_name.png"/>
    </div>
	
    <h2>User details</h2>

    <p>
      When a user is selected in the Users panel, its details are shown in a panel on the right side of the page.
      On the panel heading a status-switch allows the administrator to activate/deactivate the selected user. The activation of a user is essential in order to allow it to operate inside VocBench, indeed a non-active user will not be able to log into VocBench even if registered. In order to make the user activation more agile, just after a user has completed the registration process, administrator is notified about such event with an email which contains a direct link for activating the user immediately.
    </p>
    <p>
      A selector allows administrator to change the type of an active user. It is possible to promote a user to the role of Super User or to Administrator (multiple administrators are admitted).<br/>
      Super User is a special cross-projects role that empowers a "normal" user by giving the possibility to create projects. When a Super user creates a project he/she is automatically granted the Project Manager role for it.
    </p>

    <div class="figure">
      <img src="images/usermanagement_types_and_activation.png"/>
    </div>

    <p>
      On the panel footer two further buttons allow the administrator to delete a user or to change the user password. The latter is an alternative to the "Forgot password" procedure.<br/>
      Finally, at the bottom of the right section there are listed the user assigned projects.
    </p>

    <h2>Resource View template</h2>

    <p>
      From the top right corner of the page it is possible to switch to the "Template" editor. This editor allows to force/customize the visualization of the <a href="data_view.jsf#the_resource_view">ResourceView</a> for the selected user. For further details about the templates see <a href="data_view.jsf#customization_of_resourceview">here</a>.
    </p>

    <div class="figure"><img src="images/usermanagement_template.png" alt="User template"/></div>

  </ui:define>
</body>

</html>