<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>VocBench Video Tutorials</h1>
    <p>A number of presentations in conferences, seminars and webinars about VocBench has been 
    made in these years. We will collect here a few pointers to relevant videos, possibly classifying them by topic</p>
    <h2>List of Videos</h2>

    <h3>Introduction to VocBench for the Lotico Community</h3>
    <p>The <a href="http://www.lotico.com/">Lotico community</a> kindly hosted an <a href="http://www.lotico.com/index.php/VocBench_with_Armando_Stellato">introductory webinar to VocBench</a>. Here's the list of topics touched by the webinar. Kudos to Roland Wingerter for kindly providing this index of the presentation!</p>

    <h4>Slides</h4>
    <ul>
      <li>Presentation  Outline <a href="https://youtu.be/i9vhkEiyZzM?t=49">0:49</a> </li>
      <li>The VocBench Dev Team <a href="https://youtu.be/i9vhkEiyZzM?t=51">0:51</a> </li>
      <li>FTL VocBench History <a href="https://youtu.be/i9vhkEiyZzM?t=243">4:03</a> </li>
      <li>VB3 Architecture and Requirements <a href="https://youtu.be/i9vhkEiyZzM?t=418">6:58</a> </li>
      <li>Technological  Stack in VB3 <a href="https://youtu.be/i9vhkEiyZzM?t=756">12:36</a> </li>
      <li>VB3  (and ST) Architecture <a href="https://youtu.be/i9vhkEiyZzM?t=814">13:34</a> </li>
      <li>VocBench  Availability <a href="https://youtu.be/i9vhkEiyZzM?t=900">15:00</a> </li>
      <li>VocBench  Features <a href="https://youtu.be/i9vhkEiyZzM?t=971">16:11</a> </li>
      <li>VocBench  UI <a href="https://youtu.be/i9vhkEiyZzM?t=990">16:30</a> </li>
      <li>UI  and Multilingualism <a href="https://youtu.be/i9vhkEiyZzM?t=1060">17:40</a> </li>
      <li>Collaborative  Editing through Role-based Access Control <a href="https://youtu.be/i9vhkEiyZzM?t=1119">18:39</a> </li>
      <li>VocBench  Extensions <a href="https://youtu.be/i9vhkEiyZzM?t=1244">20:44</a> </li>
      <li>Advanced History and Change Tracking mechanism <a href="https://youtu.be/i9vhkEiyZzM?t=1361">22:41</a> </li>
      <li>Terms  Black List <a href="https://youtu.be/i9vhkEiyZzM?t=1548">25:48</a> </li>
      <li>On-the-fly automatic assertion of trivial inference <a href="https://youtu.be/i9vhkEiyZzM?t=1596">26:36</a> </li>
      <li>Service  Extensions <a href="https://youtu.be/i9vhkEiyZzM?t=1660">27:40</a>  </li>
      <li>Extension  Points <a href="https://youtu.be/i9vhkEiyZzM?t=1754">29:14</a> </li>
    </ul>
    <h4>Live demonstration </h4>
    <ul>
      <li>Create  Project <a href="https://youtu.be/i9vhkEiyZzM?t=2032">33:52</a> </li>
      <li>Test  drive of Agrovoc thesaurus <a href="https://youtu.be/i9vhkEiyZzM?t=2320">38:40</a> </li>
      <li>Using  an Ontology <a href="https://youtu.be/i9vhkEiyZzM?t=2564">42:44</a> </li>
      <li>Editing  a Manchester expression <a href="https://youtu.be/i9vhkEiyZzM?t=2641">44:01</a> </li>
      <li>TermView <a href="https://youtu.be/i9vhkEiyZzM?t=2683">44:43</a> </li>
      <li>Linked  data in Gemet thesaurus <a href="https://youtu.be/i9vhkEiyZzM?t=2799">46:39</a> </li>
      <li>Metadata  Registry <a href="https://youtu.be/i9vhkEiyZzM?t=2879">47:59</a> </li>
      <li>Accessing  Linked data in local project <a href="https://youtu.be/i9vhkEiyZzM?t=2976">49:36</a> </li>
      <li>Using  SHACL within VocBench <a href="https://youtu.be/i9vhkEiyZzM?t=3071">51:11</a> </li>
      <li>SHACL  Shape of foaf:Person <a href="https://youtu.be/i9vhkEiyZzM?t=3306">55:06</a> </li>
      <li>Create  a new project with SHACL validation enabled <a href="https://youtu.be/i9vhkEiyZzM?t=3472">57:52</a> </li>
      <li>Create  a CustomForm for class foaf:Person <a href="https://youtu.be/i9vhkEiyZzM?t=3573">59:33</a> </li>
      <li>Create  a CustomForm for a value of a given property (foaf:accountName) <a href="https://youtu.be/i9vhkEiyZzM?t=4009">1:06:49</a> </li>
      <li>What  is coming in the next version(s)? <a href="https://youtu.be/i9vhkEiyZzM?t=4271">1:11:11</a> </li>
      <li>Questions  and Answers <a href="https://youtu.be/i9vhkEiyZzM?t=4445">1:14:05</a> </li>
    </ul>
  
	  
    <h3>Peter's Tutorials</h3>
    <p>Peter Winstanley (Scottish Government, now <a href="https://www.semanticarts.com/">Semantic Arts</a>) is realizing a series of interesting videos on VocBench. They are being hosted on a dedicated youtube <a href="https://www.youtube.com/channel/UCSMbq7q14Yr0NsRa-fhGrOw">channel</a>. Thanks Peter!</p>
</ui:define>

</body>

</html>