<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>Reformatting Exporters</h1>
    <p>Reformatting Exporters are plugin implementations of the eponym extension point providing serialization of RDF data to different formats. These are usually invoked in the context of data dump operations. 
    </p>
	  
    <h2>Available extensions</h2>
    <p>This section lists all extensions bundled with the current VocBench. Details about the extension point and its available plugins, such as the interface definition, method signatures and parameters description are provided on dedicated <a href="https://semanticturkey.uniroma2.it/doc/sys/reformatting_exporter.jsf">Semantic Turkey pages</a>.</p>
    
    <h3>RDF Serializing Exporter</h3>  

    <p>To use the RDF Serializing Exporter select <i>RDF serializing exporter</i> in the <i>Reformatter</i> context menu. The default export format is RDF/XML, but you can choose from more than a dozen RDF serialization formats, as shown in the figure below.</p>
    
    <div class="figure"><img src="images/RDFSerializingExporter.png" alt="RDF serializing exporter" /></div>

    <p>A click on the Configure button opens a dialog form where you can specify some optional parameters.</p>
    
    <p>
    <div class="figure"><img src="images/RDFSerializingExporterConfiguration.png" alt="RDF serializing exporter configuration" /></div> 
    </p>
    
    <p>The following options are available:
    <ul>
        <li><i>Pretty print</i>: Set to true to format output nicely (using indentation, additional spaces and empty lines) for better readability. </li>
        <li><i>inline blank notes</i>: Use blank node property lists, collections, and anonymous nodes instead of blank node labels. This setting requires that all triples are first loaded in memory, and should not be checked for large datasets</li>
        <li><i>xsd:string to plain literal</i>: Remove the xsd:string datatype from literals and represent them as RDF-1.0 Plain Literals</li>
        <li><i>rdf:langstring to language tagged literal</i>: Omit the rdf:langString datatype from language literals when serializing them</li>
        <li><i>Base directive</i>: Include a base directive in the output</li>
    </ul>    
    </p>
    
    <h3>
    SDMX Serializing Exporter</h3>
    <p>To use the SDMX Serializing Exporter (it can be used only on SKOS projects) select <i>SDMX serializing exporter</i> in the <i>Reformatter</i> context menu</p>
    <div class="figure"><img src="images/SDMX_1.png" alt="SDMX serializing exporter 1" /></div>
    <p>Then click on the <i>Configure</i> button to specify the mandatory and optional parameters</p>
    <div class="figure"><img src="images/SDMX_configuration_1.png" alt="SDMX serializing exporter Configuration" /></div>
    <p>The parameters are:
    <ul>
        <li><i>Use altLabels instead of prefLabel</i>: Set to true to use skos:altLabel, false to use skos:prefLabel (mandatory)</li>
        <li><i>Scheme to Export</i>: Select the scheme to export(mandatory)</li>
        <li><i>Default AgencyId</i>: Default AgencyId. If no value is specified, then the value (localName) of the property dct:creator is used (Optional)</li>
    </ul>
    Once the parameters have been set, click ok and, if also the, desired, <i>Graphs to export</i> have been selected and the 
    <i>transformers</i> have been added and configured, click on <i>Submit</i> to generate the export. 
    </p>
    <p>VocBench will generate an XML file, following the SDMX standard (see <a href="https://sdmx.org/">SDMX official site</a> for more info).
    A couple of screenshots of a generated SDMX file, using VocBench, are:</p>
    <div class="figure"><img src="images/SDMX_file_1.png" alt="SDMX file 1" /></div>
    <p>and</p>
    <div class="figure"><img src="images/SDMX_file_2.png" alt="SDMX file 2" /></div>
    
    <h3>
    Spreadsheet Serializing Exporter</h3>
    
    <p>This exporter exports data to an Excel spreadsheet (*.xlsx) in a specific layout which has been devised specifically for SKOS projects by the developers of VocBench.</p> 

     <div class="figure"><img src="images/SpreadsheetSerializingExporter.png" alt="Spreadsheet serializing exporter" /></div>

    <p>Configuration:</p>
    
    <p>
    <div class="figure"><img src="images/SpreadsheetSerializingExporterConfiguration.png" alt="Spreadsheet serializing exporter configuration" /></div>
    </p> 
     
    
    <p>Options:
    <ul>
    <li><i>Preferred language</i>: The language of the preferred label to show near the SKOS resource (Concept, ConceptScheme and Collection)</li>
    <li><i>skos:note reified</i>: True if there are reiified notes (skos:note and its subproperties), False otherwise</li>
    </ul>
    </p>       
    
    <p>Here is a screenshot of a very simple example thesaurus in VocBench.</p>
    
    <div class="figure"><img src="images/SampleThesaurusScreenshot.png" alt="Sample thesaurus screenshot" /></div>
    
    <p>The screenshot below shows its representation in a spreadsheet created by the VocBench Spreadsheet Serializing Exporter.</p>
                                                                                                                                                           
    <div class="figure"><img src="images/SpreadsheetSerializingExporterSampleResult.png" alt="Spreadsheet serializing exporter sample output" /></div> 
        
    <h3>
    Zthes Serializing Exporter</h3>

    <p>Zthes is a thesaurus representation format for term-oriented thesauri. The output format is XML. For further information see <a href="http://zthes.z3950.org/">Zthes website</a>.</p>

     <div class="figure"><img src="images/ZthesSerializingExporter.png" alt="Zthes serializing exporter" /></div>

    <p>Configuration</p>
    
    <p>
     <div class="figure"><img src="images/ZthesSerializingExporterConfiguration1.png" alt="Zthes serializing exporter configuration" /></div>
    </p>   
    
    <ul>
    <li><i>Pivot languages</i>: Priority list of language tags which the relation of preferred terms will be based on.</li>
    </ul>
    <p>On Submit VocBench will generate an XML file conforming to the the Zthes specification. The following example shows two thesaurus concepts in the Vocbench tree structure.</p>
    
    <p>
     <div class="figure"><img src="images/ThesaurusConcepts.png" alt="Sample thesaurus" /></div>
    </p>                                                                      
    
    <p>This is what the corresponding Zthes XML output file will look like:</p>

    <p>
    <div class="figure"><img src="images/ZthesSampleOutput.png" alt="Zthes sample output" /></div>
    </p>
 
    <p>The relation types and term types in the example show the term-oriented structure of Zthes:</p>
    <ul>
    <li><i>relationType</i>: BT - Broader Term; NT - Narrower Term  </li>
    <li><i>termType</i>: PT - Preferred Term; (another term type is ND - non-descriptor)</li>
    </ul> 

    <p>Note that SKOS concept schemes (and their relations to concepts) are not exported, since they have no equivalents in Zthes.</p>
    
    <p>&nbsp; </p>
    <p>&nbsp;</p>
	  
 
  </ui:define>

</body>

</html>