<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>What Is</h1>
<p>...yet to come :-)</p>

<h2>Index</h2>

<ul>
	<!--
  <li><a href="installation.jsf">Requirements and Installation</a></li>
  <li><a href="firstStart.jsf">First Start</a>
    <ul>
      <li><a href="#fs_choose_uri">Choose an URI for your ontology</a></li>
      <li><a href="#fs_sidebar">Activate the Semantic Turkey Sidebar</a></li>      
      <li><a href="#first_import">Import your first ontology</a></li>  
      <li><a href="#fs_edit_prefix-ns_mapping">Add a prefix for your imported ontology</a></li>  
    </ul>
  </li>  
  -->

</ul>

</ui:define>
</body>
</html>
