<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

    <head>
        <title>
            <ui:insert name="title">Default title</ui:insert>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link href="../styles/art.css" rel="stylesheet" type="text/css" />
        </title>
    </head>

    <body xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml">
        <ui:define name="mainContent">
            <h1>The VocBenchers!!!</h1>
            <!--
            <p>VocBench 3 is the result of a fruitful collaboration between the <a href="http://www.fao.org/">Food and Agriculture Organization of the United Nations (FAO)</a> and the <a href="http://art.uniroma2.it/">ART Group</a> of the <a href="http://www.uniroma2.it/">University of Rome Tor Vergata</a>. </p>
            <p>FAO brought a set of experienced users with clear use cases and requirements which the ART researchers used to drill down their thoughtful, experimental architectures into a solid product that was both concrete and usable by the masses.</p>
            -->
            <div>
                <table>
                    <tbody>
                        <tr height="50">                           
                            <td colspan="2">
                                <h2>The Developers</h2>
                                <p>Unkempt, nerdy, and self-effacing, they spend days slipping in and out of dreams about the ultimate adaptive, self-configuring, extensible, customizable, versatile (keep adding ..ive, ..ing, and ...ble) system before those pesky users on the right pull them back down to Earth in order to actually conclude something within our lifetime...</p>
                            </td>
                            <td colspan="2">
                                <h2>The Users</h2>
                                <p>They think they have the keys to paradise: a vision, clear objectives, ideas, and 'some' requirements.....but don't be fooled, just try to mention that functionality could be altered or a button moved and you may find their hands quietly wrapping about your throat, silencing you before you can even finish explaining you were considering such changes as a remote, future hypothesis...</p>
                            </td>                           
                        </tr>
                        
                       <tr>
                       <td colspan="2">
                       <table>
                       <!--
                        <tr height="50">
                           
                            <td colspan="2">
                                <h2>The Developers</h2>
                                <p>Unkempt, nerdy, and self-effacing, they spend days slipping in and out of dreams about the ultimate adaptive, self-configuring, extensible, customizable, versatile (keep adding ..ive, ..ing, and ...ble) system before those pesky users on the right pull them back down to Earth in order to actually conclude something within our lifetime...</p>
                            </td>
                            <td colspan="2">
                                <h2>The Users</h2>
                                <p>They think they have the keys to paradise: a vision, clear objectives, ideas, and 'some' requirements.....but don't be fooled, just try to mention that functionality could be altered or a button moved and you may find their hands quietly wrapping about your throat, silencing you before you can even finish explaining you were considering such changes as a remote, future hypothesis...</p>
                            </td>
                           
                        </tr>
                         -->

                        <tr>
                            <td><img src="./images/MeAtTenerifeAirport.jpg" alt="Armando Stellato" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://art.uniroma2.it/stellato/">Armando Stellato</a>
                                    <br /> 
                                    PhD, Researcher, <em>Project Lead</em><br /> University of Rome Tor Vergata, Italy
                                    <br />

                                </p>
                                <p><em>An insane love for insane architectures...he has two imaginary friends, sitting on each of his shoulders, fighting an eternal battle between order and chaos.</em></p>
                            </td>
                            
                            <!--
                            <td><img src="./images/5309639238_38d6b39079_q.jpg" alt="Johannes Keizer" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://johanneskeizer.com/">Johannes Keizer</a>
                                    <br /> PhD, FAO Team Leader
                                    <br /> Food and Agriculture Organization of the United Nations
                                    <br />
                                </p>
                                <p><em>He dreamed it, he wanted it, he made it real.</em></p>
                            </td>
                            -->
                            
                        </tr>

                       <!--
                        <tr>
                            <td><img src="./images/photo.jpg" alt="Sachit Rajbhandari" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://www.sachit.com.np/">Sachit Rajbhandari</a>
                                    <br /> PhD Student, University of Tasmania, Australia
                                    <br /> FAO Information Management Specialist
                                    <br />
                                    <br /> VocBench GWT WebApp Main Developer</p>
                                <p><em>He created it, he was there at the beginning and even before</em>.</p>
                            </td>
		
                            <td><img src="./images/1d97d20.jpg" alt="Yves Jaques" height="100" width="100"/></td>
                            <td>
                                <p><a href="https://www.linkedin.com/in/yjaques">Yves Jaques</a>
                                    <br /> FAO Information &amp; Knowledge Management Officer
                                    <br /> Food and Agriculture Organization of the United Nations
                                    <br />
                                </p>
                                <p><em>He raised it and drove it all the way to glory.</em></p>
                            </td>
                        </tr>
				-->
                       
                        <tr>
                           	<td><img src="./images/26c6daf.jpg" alt="Andrea Turbati" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://art.uniroma2.it/turbati">Andrea Turbati</a>
                                    <br /> PhD, Research Associate
                                    <br /> University of Rome Tor Vergata, Italy
                                    <br />
                                    <br />
                                    <em>He can carve any system bit by bit, but don't talk to him about 'frameworks'...<br />
            His motto? "if it works, it's good and if it ain't broke don't fix it!"</em></p>
                            </td>
<!--
                            <td><img src="./images/9942065.jpg" alt="Caterina Caracciolo" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://caterinacaracciolo.weebly.com/">Caterina Caracciolo</a>
                                    <br /> PhD, FAO Senior Information Specialist
                                    <br /> Food and Agriculture Organization of the United Nations
                                    <br />
                                </p>
                                <p><em>The <a href="http://aims.fao.org/aos/agrovoc">Agrovoc</a> Queen, she's continuously trying to make sense of all the weird people here.</em></p>
                            </td>
-->
                        </tr>                        
                           
                           <tr>
                            <td><img src="./images/fiorelli.jpg" alt="Manuel Fiorelli" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://art.uniroma2.it/fiorelli">Manuel Fiorelli</a>
                                    <br /> PhD, Research Associate
                                    <br /> University of Rome Tor Vergata, Italy
                                    <br />
                                    <br />
                                    <em>Dangerously following and amplifying Armando's architectural leaps...<br />
            his hobby is (before breakfast) refactoring 10 levels of abstraction into what Andrea just made work so well.</em></p>
                            </td>
                            
           <!--                 
                            <td><img src="./images/3229.jpg" alt="Caterina Caracciolo"  height="100" width="100"/></td>
                            <td>
                                <p><a href="https://it.linkedin.com/pub/sarah-dister/28/510/152">Sarah Dister</a>
                                    <br /> FAO Knowledge Management Specialist
                                    <br /> Food and Agriculture Organization of the United Nations
                                    <br />
                                </p>
                                <p><em>A new blossom in the  <a href="http://aims.fao.org/aos/agrovoc">Agrovoc</a> garden, but already sweet nectar for VocBench!</em></p>
                            </td>
            -->
                            
                            
                        </tr>
                        <tr>
                            <td><img src="./images/lorenzetti.jpg" alt="Tiziano Lorenzetti" height="100" width="100"/></td>
                            <td>
                                <p><a href="http://art.uniroma2.it/lorenzetti/">Tiziano Lorenzetti</a>
                                    <br /> Research Assistant
                                    <br /> University of Rome Tor Vergata, Italy
                                    <br />
                                    <br />
                                    <em>&lt;A&gt; Uh...Tiziano...if you have time could you implement...<br /> 
                                    &lt;T&gt;: Done.<br />
            &lt;A&gt; Well, then, you could move on to... <br />
            &lt;T&gt;: I'm already on it, done by end of today.<br />
            &lt;A&gt; This guy is so efficient it's frustrating!</em></p>
                            </td>

                        </tr>
						</table>                        
                        </td>
                        
                        <td colspan="2">
                        	<img src="images/vb3_users_legal.png" height="600" />
                        	<p></p>
                        	<br/><br/><br/>
                        	<p>..and obviously, all the community active on the <a href="../support">VocBench forums</a>!</p>
                        </td>
					</tr>
                    </tbody>
                </table>
            </div>
            
            
            <!--
            <br />
            <h2>Acknowledgements</h2>
            <p>The VocBenchers like to also acknowledge the work of the the following contributors to the development of the VocBench platform:</p>
            <table class="std">
                <tbody>
                    <tr>
                        <td width="100"><img src="./images/2a78774.jpg" alt="Margherita Sini" height="100" width="100"/></td>
                        <td>
                            <p><a href="https://www.linkedin.com/in/margheritasini">Margherita Sini</a>
                                <br /> FAO, Information Systems Officer
                                <br /> Food and Agriculture Organization of the United Nations
                                <br />
                            </p>
                            <p><em>The "mama" of VocBench, no need to say more!</em>
                                <br />
                            </p>
                        </td>

                        <td width="100"><img src="./images/019bf7b.jpg" alt="Carlo Ieva" height="100" width="100"/></td>
                        <td>
                            <p><a href="http://aims.fao.org/community/profiles/johannsen">Gudrun Johannsen</a>
                                <br /> FAO, Information Systems Officer (<em>now retired</em>)
                                <br /> Food and Agriculture Organization of the United Nations
                                <br />
                            </p>
                            <p><em>The previous Agrovoc Queen, and living memory of its evolution...<br />
          In VocBench, she has been the "The User" since its infancy.
        </em>
                                <br />
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            
            
            <p> </p>
            -->
            
            
            
            
            <h2>Acknowledgements</h2>
          <p>The VocBenchers want to acknowledge the work of the the following people which have contributed to the development of past versions of the VocBench platform</p>
            <table class="std">
              <tbody>
                <tr height="150">
					<td><img src="./images/5309639238_38d6b39079_q.jpg" alt="Johannes Keizer" height="100" width="100"/></td>
					<td>
						<p><a href="http://johanneskeizer.com/">Johannes Keizer</a>
							<br /> 
							PhD, Independent Consultant (working for FAO at that time)</p>
						<p><em>He dreamed it, he wanted it, he made it real.</em></p>
					</td>
                </tr>
                <tr height="150">
                            <td><img src="./images/1d97d20.jpg" alt="Yves Jaques" height="100" width="100"/></td>
                            <td>
                                <p><a href="https://www.linkedin.com/in/yjaques">Yves Jaques</a>
                                    <br />
                                    Director of Technical Delivery, Data Products at WGSN. <em>VocBench 1.0 Project Lead</em></p>
                                <p><em>He raised it and drove it all the way to glory.</em></p>
                  </td>                           
                            <td><img src="./images/photo.jpg" alt="Sachit Rajbhandari" height="100" width="100"/></td>
                            <td>
                              <p><a href="http://www.sachit.com.np/">Sachit Rajbhandari</a>
                                    <br /> PhD Student, University of Tasmania, Australia
                                    <br />
                                    <br /> 
                                  <em>VocBench 1 Main Developer and VB2.0 GWT Web App developer</em></p>
                              <p><em>He created it, he was there at the beginning and even before</em>.</p>
                            </td>
                </tr>
              </tbody>
            </table>
            <h2>Project references</h2>
            <p>If you need to cite VocBench in your scientific papers, journals and communications, please have a look at the <a href="../doc/publications.jsf">publications</a> page and use the reference which best suits your needs.</p>
            
            <!-- <a href="javascript:ilink('Documentation','html/doc/publications.xhtml');"> -->
        </ui:define>
    </body>

    </html>