#thumbBox{ /*Outermost DIV for thumbnail viewer*/
	position: absolute;
	left: 0;
	top: 0;
	width: auto;
	padding: 10px;
	padding-bottom: 0;
	background: #626262;
	visibility: hidden;
	z-index: 10;
	cursor: pointer;
	border: 3px double #999;
}

#thumbBox .footerbar{ /*Footer DIV of thumbbox that contains "close" link */
	line-height: 1.1em;
	color: #999;
	padding: 5px 0;
	text-align: right;
	background: url(close.gif) no-repeat right;
	padding-right: 20px;
}


#thumbBox #thumbImage img{
	display: block;
	border: 1px solid #000;
}

#thumbBox #thumbImage br {display:none}

#thumbBox #thumbImage em {
	float: left;
	margin-right: 20px;
	font-style:normal;
	margin-top: .5em;
	color: #ccc;
}


#thumbLoading{ /*DIV for showing "loading" status while thumbbox is being generated*/
	position: absolute;
	visibility: hidden;
	border: 1px solid black;
	padding: 5px;
	padding-left: 27px;
	background: url(loading.gif) no-repeat 5px 50% #fff;
	z-index: 5;
}