<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>RDF Lifters</h1>  
    
    <p>An RDF Lifter can transform content conforming to some data format into RDF.</p>
    
    <h2>Available extensions</h2>
     
    <p>This section lists extensions bundled with the current VocBench that can be accessed from the "Load data" page when the default option "Load from file" is selected.</p>
    
    <div class="figure"><img src="images/RDFLifters.png" alt="RDF lifters" /></div>
    
    <p>Details about the extension point and its available plugins, such as the interface definition, method signatures and parameters description are provided on dedicated <a href="https://semanticturkey.uniroma2.it/doc/sys/rdf_lifter.jsf">Semantic Turkey pages</a>.</p>
	      
	  <h3>RDF Deserializing Lifter</h3>  
    
    <p>This RDF Lifter deserializes RDF data according to a concrete RDF syntax. It allows VocBench to load data in more than a dozen RDF serialization formats.</p> 

     <div class="figure"><img src="images/RDFFormats.png" alt="RDF serialization formats" /></div>

    <p>The RDF serialization format is automatically detected, it does not need to be specified by the user.</p>             

         
    <h3>Spreadsheet Deserializing Lifter</h3>
    
    <p>An RDF Lifter that creates RDF data from a spreadsheet in a specific layout created by the Spreadsheet Serializing Exporter (see example <a href="../reformatters/index.xhtml">here</a>).</p> 

    <h3>Zthes Deserializing Lifter</h3>
    
    <p><a href="http://zthes.z3950.org/">The Zthes specification for thesaurus representation</a>
    (first published in 1999, latest version in 2006) defines an abstract model and a concrete XML format for representing term-oriented thesauri following ISO 2788, and was widely used at the time. The Zthes Lifter provides the possibility to migrate thesauri from Zthes to SKOS.</p> 

    <p>Be aware that Zthes does not know about <i>skos:ConceptSchemes</i> and properties <i>skos:inScheme</i> and <i>skos:topConceptOf</i>. After loading data from Zthes it is therefore recommended to create a skos:ConceptScheme and add concepts, e.g. by going to Tools > Integrity Constraint Validation (ICV) and running ICV "Concepts in no scheme" and then choose "Add to skos:ConceptScheme". With no scheme selected, you can then mark the top concepts (i.e. concepts with no broaders) as <i>skos:topConceptOf</i>.</p>
 
  </ui:define>

</body>

</html>