<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">

<head>
  <title>
    <ui:insert name="title">Default title</ui:insert>
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../../../../styles/art.css" rel="stylesheet" type="text/css" />
</head>

<body jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core">

  <ui:define name="mainContent">

    <h1>RDF Transformers</h1>
	  
    <p>RDF transformers allow to manipulate RDF data in the context of an export operation. They can be used to delete existing triples or create new ones  in order to meet certain modelling patterns or information needs. 
    </p>

	<div id="IndexDiv">
		<script type="text/javascript" src="../../../../js/indexCreator.js"></script>
	</div>  
	  
  
	  
	<h2>Technical and code-level details </h2>
    <p>Details about the extension point and its available plugins, such as the interface definition, method signatures and parameters description are provided on dedicated <a href="https://semanticturkey.uniroma2.it/doc/sys/rdf_transformer.jsf">Semantic Turkey pages</a>.</p>
	  
    <h2>Available extensions</h2>
    <p>This section lists all extensions bundled with the current VocBench </p> 
    
    <h3>Delete Property Value RDF Transformer</h3>
    <p>This is an RDF transformer that can be configured to delete a property value.</p>
    
    <div class="figure"><img src="images/DeletePropertyValueRDFTransformer.png" alt="Delete property value RDF transformer" /></div> 
    
    <p>Parameters:</p>
    <ul>
    <li><em>Resource</em> (required): The subject of the filtered triple.</li>
    <li><em>Predicatee</em> (required): The predicate of the filtered triple.</li>
    <li><em>Value</em> (optional): The value of the triple being filtered. If not set, then all triples of the form resource, predicate, * are deleted.</li>
    </ul>
    
    <p>An example would be nice (e.g. dct:modified???)</p>
      
    <h3>Property Normalizer Transformer</h3>
    <p>This RDF transformer can be used to normalize a set of properties by replacing them with another property.</p>   
     
    <div class="figure"><img src="images/PropertyNormalizerTransformer.png" alt="Property Normalizer transformer" /></div>  
    
    <p>Parameters:</p>
    <ul>
    <li><em>Normalizing property</em> (required): Replacement property (an IRI with role property).</li>
    <li><em>Properties being normalized</em> (required): Properties that are replaced in the output.</li>
    </ul>
    
    <h3>Scheme Exporter Transformer</h3>
    <p>This RDF transformer can be configured to export a given scheme.</p>

    <div class="figure"><img src="images/SchemeExporterTransformer.png" alt="Scheme Exporter transformer" /></div>  
    
    <p>Parameters:</p>
    <ul>
    <li><em>Scheme</em> (required): Replacement property (an IRI with role property).</li>
    <li><em>Properties being normalized</em> (required): Properties that are replaced in the output.</li>
    </ul>
    
    <h3>SPARQL RDF Transformer</h3>
    <p>This RDF transformer can be configured through a SPARQL Update.</p>             
    
    <div class="figure"><img src="images/SparqlUpdateRDFTransformer.png" alt="SPARQL Update RDF transformer" /></div>

    <p>Parameters:</p>
    <ul>
    <li><em>Filter</em>: SPARQL Update implementing the filter.</li>
    <li><em>Sliced</em>: Executes the SPARQL query on each graph separately.</li>
    </ul>   
    
    <p>For an example see the page on <a href="https://vocbench.uniroma2.it/doc/lib/rdf_transformers/sparql.xhtml">The SPARQL RDF Transformer</a>.</p>

    <h3>Update Property Value RDF Transformer</h3>
    <p>An RDF transformer that can be configured to update a property value.</p>
    
    <div class="figure"><img src="images/UpdatePropertyValueRDFTransformer.png" alt="Update property value RDF transformer" /></div> 

    <p>Parameters:</p>
    <ul>
    <li><em>Resource</em> (required): The subject of the filtered triple.</li>
    <li><em>Property</em> (required): The predicate of the filtered triple.</li>
    <li><em>Value</em> (required): The new value to be set.</li>
    <li><em>Old value</em> (optional): &lt;resource, property, oldValue&gt; is replaced by &lt;resource, property, value&gt;. If not set, then all &lt;resource, property, *&gt; are deleted and &lt;resource, property, value&gt; is written.</li>
    </ul>
        
    <h3>XLabel Dereification RDF Transformer</h3>
    <p>This RDF transformer performs XLabel dereification, i.e. it transforms SKOSXL labels to SKOS labels. You can use this transformer to export a SKOSXL thesaurus in SKOS format.</p>

    <div class="figure"><img src="images/XLabelDereificationRDFTransformer.png" alt="XLabel Dereification RDF transformer" /></div>
    
    <p>Parameter:</p>
    <ul>
    <li><em>Preserve reified labels</em>: <em>True</em> will preserve reified labels in the output, <em>False</em> will not.</li>
    </ul> 
        
    <h3>XNote Dereification RDF Transformer</h3>
    <p>This RDF transformer performs XNote dereification, i.e. it can be used to transform reified notes into simple notes.</p>
    

    <div class="figure"><img src="images/XNoteDereificationRDFTransformer.png" alt="XNote Dereification RDF transformer" /></div>  
     
    <p>Parameter:</p>
    <ul>
    <li><em>Preserve reified notes</em>: <em>True</em> will preserve reified notes in the output, <em>False</em> will not.</li>
    </ul> 
        
  </ui:define>

</body>

</html>