<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>
		<ui:insert name="title">Default title</ui:insert>
	</title>
	<link href="../../styles/art.css" rel="stylesheet" type="text/css" />
</head>


<ui:define name="head">
	<link rel="stylesheet" title="Default" href="../../js/pre_default_style.css" />
	<script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script>
	<script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script>
	<script type="text/javascript" src="../../js/chili/recipes.js"></script>
</ui:define>


<body class="art" jsfc="ui:composition" template="/WEB-INF/templates/main-template-FILLERS.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="mainContent">

		<h1>Troubleshooting</h1>

		<div id="IndexDiv">
			<script type="text/javascript" src="../../js/indexCreator.js"></script>
		</div>

		<h2>System Start</h2>

		<h4><strong><em>[Not present from version 12]</em> When running for the first time Semantic Turkey, strange errors are logged on the console</strong></h4>

		<p>
			After the first installation and run, the system might log some errors on the console. These errors are non-deterministic (they depend on non-synchronic factors, which vary from machine to machine) but are usually related to installation of bundles/web bundles. Examples are:
		</p>

		<div>
			<pre>
Failed to install artifact: C:\TEMP\semanticturkey-6.0\deploy\vocbench3-6.0.0.war
java.lang.IllegalStateException: Unknown protocol: webbundle
	at org.apache.felix.framework.URLHandlersStreamHandlerProxy.toExternalForm(URLHandlersStreamHandlerProxy.java:482)
	at org.apache.felix.framework.URLHandlersStreamHandlerProxy.toExternalForm(URLHandlersStreamHandlerProxy.java:474)
	at java.net.URL.toExternalForm(URL.java:929)
	at java.net.URL.toString(URL.java:915)
	….
			</pre>
		</div>

		<p>or</p>

		<div>
			<pre>
18:57:40.185 ERROR [fileinstall-C:\TEMP\semanticturkey-6.0/deploy] Registration exception. Skipping.
org.osgi.service.http.NamespaceException: alias: '/vocbench3' is already in use in this or another context
	at org.ops4j.pax.web.service.spi.model.ServerModel.addServletModel(ServerModel.java:124)
	at org.ops4j.pax.web.service.internal.HttpServiceStarted.registerServlet(HttpServiceStarted.java:243)
	at org.ops4j.pax.web.service.internal.HttpServiceStarted.registerResources(HttpServiceStarted.java:307)
	at org.ops4j.pax.web.service.internal.HttpServiceProxy.registerResources(HttpServiceProxy.java:76)
			</pre>
		</div>

		<p>
			In that case, ignore the error, wait for the various procedures to complete and when they are finished, close the system and restart. Since the second time the system is started, they do not usually appear anymore, because the bundles have been installed and they are all available at system start.
		</p>

		<h4><strong><em>[Not present from version 12]</em> After stating the system, I do not see the expected VocBench page when I access its address on the browser</strong> </h4>
		<p>This may happen because the OSGi environment has not yet loaded all of the required components for providing the client application, but it is already able to reply if its address is being accessed</p>
		<p>If you happen to see the karaf login prompt:</p>
		<div class="figure"><img src="images/slow_start_karaf_auth.png" alt="karaf login on slow start" /></div>
		<p>it means that KARAF, the OSGi container hosting VocBench, has not yet loaded the user interface.</p>
		<p>If you see an error dialog with the "not found" message shown in VocBench, as in figure below:</p>
		<div class="figure"><img src="images/slow_start_notfound.png" alt="not found error on system start" /></div>
		<p>the client has been loaded, but the services are not yet responding. This can happen always (depending on how fast and powerful the server is, how many projects are present, if it is the first start, if there are updates being done, etc...</p>
		<p>If you are running VocBench locally on your machine or, in any case, can monitor the messages being logged at startup, you should look for the "ST Started" message being logged. When that message is logged, the application should be up. If it is not, there might still be some asynchronous procedures being finalized, but it should be ready soon</p>
		<p>If you cannot access the console or logs of VB, grab a cup of coffee and come back soon ;-)</p>




		<h2>Project Creation</h2>


		<h4><strong>Q. Why after trying to create a project I get an error message such as the following?</strong> </h4>
		<div class="figure"><img src="images/error_missing-changetracking.png" alt="classPanel" /></div>
		<p>This happens when the user is trying to create a project connecting to a remote triple store, using the history and/or validation features, and the remote triple store does not contain the <em>change-tracking</em> sail component.</p>
		<p>Please check that the <em>change-tracking</em> sail component has been deployed on the remote triple store, as per the instructions <a href="../sys#separate_triple_store">here</a>. </p>


		<h2>Editing</h2>

		<h4><strong><a name="deprecation">Q.</a>Deprecated concepts cannot be edited anymore?</strong> </h4>
		<p>By default, VB restricts to edit any deprecated concepts. In order to enable editing, The Administrator can:</p>
		<ol>
			<li>go to Group management page</li>
			<li>Select the desired group which will be allowed to edit deprecated concepts</li>
			<li>Select group action (TERM-EDIT)</li>
			<li>Click [+] button from the Group actions box</li>
			<li>Tick the checkbox with the ‘Deprecated' status, and click the [Add] button. </li>
		</ol>
		<p>This will enable editing of deprecated terms. After editing, term&rsquo;s status will be change &lsquo;Revised' and after validation to &lsquo;Published'.</p>

		<h2>Bugs and Issues</h2>

		<h4><strong>Q. When reconnecting to VB3, I cannot see the effects of the last changes I brought</strong> to my dataset</h4>
		<p>This happens in old versions of VB3. If your project uses a <em>local repository</em> backed by <em>NativeStore</em>, then most probably this is due to a <a href="https://github.com/eclipse/rdf4j/issues/749">bug</a> in RDF4J for which <em>NativeStore</em> repositories might not be properly persisted if the server is closed abruptly, without closing the project holding the repository first.</p>
		<p>As we suggest in the installation instructions, it is better for your stable projects to adopt a separate triple store, as described in the <a href="../sys">system administrator manual</a>.</p>
		<p>In any case, projects with local repositories using <em>in-memory store</em> are not affected by this issue.</p>



		<p>&nbsp;</p>

	</ui:define>

</body>

</html>