@charset "utf-8";
body  {
	font: small Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background: #FFFFFF;
	margin: 0; /* è buona norma impostare a zero i valori margin e padding dell'elemento body per tenere conto delle diverse impostazioni predefinite dei browser*/
	padding: 0;
	text-align: left; /* dovrebbe centrare il contenitore nei browser IE 5*. Il testo viene quindi impostato con l'allineamento predefinito a sinistra nel selettore #container, però ho notato che ora se metto center qui è cmq tutto al centro, forse non è usato container..*/
	color: #000000;
}

.std {
	font: small Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}


/* Suggerimenti per questo layout ibrido 
1. Poiché le dimensioni in em delle colonne laterali sono basate sulla dimensione predefinita del carattere dell'utente, occorre assicurarsi che la grafica di sfondo delle colonne tenga conto di questa circostanza. Se usato correttamente, questo layout risulta più accessibile per gli utenti che hanno bisogno di visualizzare i caratteri con dimensioni maggiori, perché la larghezza delle colonne rimane proporzionale. Se per un progetto specifico è meglio evitare questo tipo di risultato, è sufficiente cambiare la larghezza con un valore in pixel e modificare di conseguenza i margini del div #mainContent.
2. Poiché le dimensioni delle colonne laterali di questo layout sono basate sul 100% della dimensione del carattere nell'elemento body, se si riduce la dimensione generale del testo specificando font-size: 80% nell'elemento body o nel #container, ricordarsi che la larghezza delle colonne si ridurrà in proporzione. Per compensare eventualmente questo effetto, è possibile aumentare la larghezza delle colonne e le dimensioni dei margini laterali del div #mainContent.
3. Se le dimensioni dei caratteri vengono modificate in modo diverso per ogni div anziché a livello globale (ovvero, se si assegna a #sidebar1 una dimensione di carattere del 70% e a #mainContent dell'85%), le dimensioni generali di ciascun div verranno modificate in modo proporzionale. È possibile adattare il risultato in base alle dimensioni finali dei caratteri.
4. Il div #container non è necessario per questo layout alla larghezza del 100%. Può essere utilizzato per creare "false colonne" o limitare la larghezza del layout.
5. Non è necessario avere una larghezza del 100% nel div #container poiché, per definizione, un div occupa il 100% dello spazio disponibile. Questa soluzione viene fornita qui in modo tale che, se si desidera ridurre le dimensioni del contenitore globale (ad esempio lasciando un po' di margine su entrambi i lati), è possibile applicare direttamente la modifica.
*/
.art #container { 
	width: 100%;
	/*margin: 0 auto;  i margini auto (insieme a una larghezza) centrano la pagina se necessario */
	text-align: left; /* sostituisce l'impostazione text-align: center nell'elemento body. */
}  

.art #head_container {
	width: 100%;
}

.art #head_middle {
	text-align: center;
	margin: 0 14em 0 14em;
	padding: 2em 1em 0 1em;
} 

.art #title {

}

.art #left_logo {
	float: left;
	width: 14em;
	padding: 11px 0;
	text-align:center;
}
.art #right_logo {
	float: right;
	width: 14em;
	padding: 11px 0;
	text-align:center;
}

a.rightLogo:link {
	color: #FFFFFF;
	text-decoration: none
}
a.rightLogo:visited {
	color: #FFFFFF;
	text-decoration: none
}
a.rightLogo:hover {
	color: #FFFFFF;
	text-decoration: none
}


#topNavBar {
	margin-top:30px;
}


a.topNavBarButton {
	margin: -2.5px;
}	

a.topNavBarButton:link {
	color: #FFFFFF;
	text-decoration: none
}
a.topNavBarButton:visited {
	color: #FFFFFF;
	text-decoration: none
}
a.topNavBarButton:hover {
	color: #D5EAEA;
	text-decoration: none
}

.horizontalBarContainer {
	padding: .325em 1.25em 0em;
}
.horizontalBarContainer > .horizontalBar {
	height: 4px; 
	background: linear-gradient(135deg, #591819, #D4A7A3, #9C292E, #260B0A, #D4A7A3, #260B0A, #D4A7A3, #591819, #9C292E, #260B0A, #D4A7A3, #591819, #9C292E, #260B0A, #D4A7A3, #591819); 
	box-shadow: 2px 3px 5px;
}

a.leftLogo:link {
	color: #FFFFFF;
	text-decoration: none
}
a.leftLogo:visited {
	color: #FFFFFF;
	text-decoration: none
}
a.leftLogo:hover {
	color: #FFFFFF;
	text-decoration: none
}






/* Suggerimenti per sidebar1:
1. Se si imposta un valore font-size per questo div, la larghezza globale del div viene modificata di conseguenza.
2. Poiché si lavora in ems, è meglio non applicare un padding alla barra laterale, poiché, nei browser conformi agli standard, verrebbe aggiunto alla larghezza producendo una larghezza effettiva non prevedibile. 
3. Per creare spazio tra il lato del div e gli elementi al suo interno, è possibile applicare un margine sinistro e destro a tali elementi, come descritto nella regola ".art #sidebar1 p".
*/
.art #leftSideBar {
	float: left; 
	width: 14em; /* poiché questo elemento è mobile, occorre specificare una larghezza */
	padding: 11px 0; /* un padding superiore e inferiore creano uno spazio visivo all'interno di questo div */
}

#leftNavBar ul {
	padding-right: 0px; 
	padding-left: 0px; 
	padding-bottom: 0px; 
	padding-top: 0px; 
	margin: 0px 0px 0px 0px; 
	list-style-type: none;
}
#leftNavBar a {
	display: block;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 4px;
	margin: 2px 12px 1px 5px;
	color:#400000;
	background-color: #f1f1f1;
	font-weight: bold;
	text-align: center;
	background-image: url('../images/STButtonLeftPanel.png');
	font-size: 8pt;
}

.art #rightSideBar {
	float: right; 
	width: 14em; /* poiché questo elemento è mobile, occorre specificare una larghezza */
	padding: 11px 0; /* un padding superiore e inferiore creano uno spazio visivo all'interno di questo div */	
}
.art #rightSideBar > div {
	/* styles for the div containing links with images (e.g. w3c badges, partners/founding projects images) */
	text-align: center;
	margin-bottom: 2em;
}
.art #leftSideBar h3, .art #leftSideBar p {
	margin-left: 10px; /* è necessario applicare un margine sinistro e destro a ogni elemento che verrà inserito nelle colonne laterali */
	margin-right: 10px;
}

/* Suggerimenti per mainContent:
1. Se si assegna a questo div #mainContent un valore font-size diverso dal div #sidebar1, i margini del div #mainContent e la larghezza del div #sidebar1 saranno basati sui rispettivi valori font-size. Può essere utile modificare i valori di questi div.
2. Lo spazio tra mainContent e sidebar1 viene creato con il margine sinistro del div mainContent.  Indipendentemente dalla quantità di contenuto presente nel div sidebar1, lo spazio della colonna rimane inalterato. È possibile rimuovere questo margine sinistro se si desidera che il testo del div #mainContent riempia lo spazio di #sidebar1 quando il contenuto di #sidebar1 finisce.
3. Per evitare il problema del 'float drop', può essere necessario eseguire una prova per determinare le dimensioni massime approssimative dell'immagine o elemento, poiché questo layout è basato sulle dimensioni di carattere dell'utente combinate con i valori impostati. Tuttavia, se nel browser dell'utente la dimensione del carattere è impostata su un valore più basso del normale, nel div #mainContent sarà disponibile meno spazio di quello evidenziato nella prova.
4. Nel commento condizionale di Internet Explorer riportato di seguito, la proprietà zoom viene utilizzata per assegnare "hasLayout" a mainContent, al fine di evitare vari bug specifici di IE che potrebbero verificarsi.
*/
.art #mainContent {
 	margin: 0 14em 0 14em; /* il margine destro può essere specificato in ems o pixel. Crea lo spazio lungo il lato destro della pagina. */ 
	padding: 0 1em 0 1em; /* questo padding crea un spazio vuoto "dentro il riquadro". */
} 
.art #footer { 
	text-align: center;
	padding: 10px 10px; /* questo padding corrisponde all'allineamento a sinistra degli elementi nei div sovrastanti. */
} 
.art #footer p {
	margin: 0; /* azzerando il valore margin del primo elemento del footer si evita il rischio di compressione del margine, con la creazione di uno spazio tra i div */
	padding: 10px 0; /* il padding di questo elemento crea uno spazio, così come avverrebbe specificando un valore margin, senza il problema della compressione del margine */
	font-style:italic;
}


h1 {
	text-align:center;
	color: #660000;
	font-size: 16px;
}

h2 {
	color: #660000;
	font-size: 14px;
}

h3 {
	color: #660000;
	font-size: 13px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 12px;
}

.story {
	font-family: "Times New Roman";
	font-size:13px;
}

.code {
	font: medium "Courier New", Times, serif;
	font-size: 12px;
}

.code_comment {
	font: medium "Courier New", Times, serif;
	font-size: 12px;
	color: #009933;
}

/* div.figure {
	text-align: center;
} */

div.figure > img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.fline:FIRST-LETTER {
	font-size: 36pt;
	font-stretch: extra-expanded;
}

/* Classi varie riutilizzabili */
.fltrt { /* questa classe può essere utilizzata per rendere mobile un elemento a destra nella pagina. L'elemento reso mobile deve precedere l'elemento al quale deve essere affiancato sulla pagina. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* questa classe può essere utilizzata per rendere mobile un elemento a sinistra nella pagina.*/
	float: left;
	margin-right: 8px;
}
.clearfloat { /* questa classe deve essere inserita in un elemento div o break e deve essere l'elemento finale prima della chiusura di un contenitore che deve contenere per intero un elemento mobile */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

a.structure:link {
 color: #FFFFFF;
 text-decoration: none
}

a.structure:visited {
 color: #FFFFFF;
 text-decoration: none
}

.isa a {
 font: normal 30px Arial,serif;
 color: #336699;
 text-decoration: none
 
}

img.screenshot {
	max-width: 100%;
	/* the following center the image */
	margin-left:auto; 
	margin-right:auto;
	display:block;
}

img.schema {
	width: 75%;
}

img.inline {
	max-width: 30%;
	margin-top:10px;
	margin-bottom:15px;
	display:block;
}

li.publ {
	margin-bottom: 12pt;
}


/* override style of Google Search bar */
.gsc-control-cse {
	/* in order to align the search bar with links in left nav bar */
	padding: 0px !important;
	margin-left: 5px !important;
	margin-right: 12px !important;
	margin-top: 12px;
}
.gsc-input {
	/* Reduce space between input field and search button */
	padding-right: 2px !important;
}
.gsc-search-button-v2 {
	/* reduce inner padding of search button */
	padding: 6px !important;
}