<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />   
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench Advanced User Manual</h1>
<p>This manual deals with advanced features related to system customization/reconfiguration, which are thus not reported in the User Manual.</p>

<h2>Index</h2>
<ul>
  <li><a href="#customIDgeneration">Custom ID generation</a></li>  
</ul>

<h2><a name="customIDgeneration" id="customIDgeneration">Custom ID generation</a></h2>
<p>The RDF backing framework of VocBench, Semantic Turkey, provides a configurable random ID generator. In Semantic Turkey, it is being used in SKOS and SKOS-XL for generating the localnames of URIs for concepts and skosxl labels. In VocBench, it is being used also for reified skos definitions and for images.</p>
<p>The generated localnames of the above resources have thus the following form:</p>
<ul>
  <li>concepts: <span class="code">c_&lt;randCode&gt;</span></li>
  <li>skosxl labels: <span class="code">xl_&lt;lang&gt;_&lt;randCode&gt;</span>  {<em>where lang is the language of the label</em>}</li>
  <li>skos definitions: <span class="code">def_&lt;randCode&gt;</span></li>
  <li>images: <span class="code">img_&lt;randCode&gt;</span></li>
</ul>
<p>The <span class="code">randCode</span> variable may be customized, according to project properties, as explained in the related <a href="http://semanticturkey.uniroma2.it/documentation/adv_user/#customIDgeneration">Semantic Turkey Adv Manual Entry</a>.</p>
<p>&nbsp;</p>
</ui:define>
</body>
</html>
