<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />  
</head>



<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core" class="art">

<ui:define name="head">
  <script type="text/javascript" src="../js/d13.js"/>
</ui:define>

<ui:define name="mainContent">

			<h1>VocBench Developers Manual</h1>
			<p>This section provides detailed information for people interested in developing extensions for VocBench or even in modifying the core system. Currently, it contains generic information about the architecture of the system. We will add more details soon.</p>

<div id="IndexDiv"><script type="text/javascript" src="../js/indexCreator.js"></script></div>
			
<h2><a name="building">Building VocBench</a></h2>
<p>To build Vocbench, you need:</p>
<ul>
  <li>the sources of VocBench</li>
  <li>the sources of <a href="http://semanticturkey.uniroma2.it">Semantic Turkey</a></li>
</ul>
<p>download and compile first <a href="http://semanticturkey.uniroma2.it">Semantic Turkey</a>, as this is the only dependency which is out of Maven. From the POM of VocBench, you can check the version of Semantic Turkey which is being used for the VocBench version you are using. <em>A note regarding Maven and ST: from ST 0.10 on (being used by forthcoming VB2.2)</em> <em>ST artifacts will be available through Maven</em></p>
<p>Once Semantic Turkey has been compiled, you may run a simple <span class="code">mvn clean install</span> and the job is done!</p>
<h2><a name="architecture">VocBench Architecture</a></h2>
<p>The architecture  of VocBench (figure below) has been designed following a three-tier approach.</p>
<div class="figure"><img src="../images/Architecture.png" alt="architecture" width="800" /></div>
<p>...</p>
<h3><a name="presentation">Presentation</a> </h3>
<p>...<em>more to come</em>...</p>
<h3><a name="business_logic">Business Logic</a> </h3>
<p>...<em>more to come</em>...</p>
<p>VocBench services are in turn clients for the RDF Management Backend <a href="http://semanticturkey.uniroma2.it/">Semantic Turkey</a>. More details about its architecture can be found in the <a href="http://semanticturkey.uniroma2.it/documentation/dev/">development page</a> of that project.</p>


<h2><a name="logging">Logging</a> </h2>
<p>There are various loggers in the VB system. </p>
<p>For anything related to ST server logs, pls refer to the documentation of <a href="http://semanticturkey.uniroma2.it/documentation/dev/#logging">Semantic Turkey</a>. </p>
<p>The loggers of VocBench can instead be modified through the <span class="code">WEB-INF\classes\log4j.properties</span> file inside the vocbench installation directory. The logs can then be found in the /logs directory of the tomcat directory. There is also another directory: <span class="code">/bin/logs/</span>, where a specific log file, called <span class="code">SemanticTurkeyTest.log</span>, contains the log of all interactions with the Semantic Turkey server. This can be a good place to look for when analyzing the requests which are sent to the ST server.</p>
<p>In the specific, the following changes can be made to the <span class="code">log4j.properties</span> property file in order to enable logging of requests sent to ST server and of responses received from it</p>
<p class="code"><span class="code_comment"># Set to DEBUG to print HTTP QUERY  from ST server</span><br />
  log4j.logger.org.fao.aoscs.model.semanticturkey.service.wrappers=DEBUG <br />
  <span class="code_comment" style="font-family: 'Courier New', Times, serif"># Set to DEBUG to print XML  responses from ST server</span><br />
  log4j.logger.org.fao.aoscs.model.semanticturkey.service.manager.response=DEBUG </p>
  
<h2>VocBench Database</h2>
<p>VocBench uses a dedicated SQL database for:</p>
<ul>
  <li>User Management: all information about users and their roles is stored there</li>
  <li>Editorial History: the full list of changes is stored in VB</li>
  </ul>
<p>The database schema evolves as new features are being introduced in VB. In order to allow users to keep their data from version to version, we have introduced DB update scripts which are constantly checked against the current version of the system at each VB start. This DB self-updating system is based on the Flyway version 3.0 (<a href="http://flywaydb.org">http://flywaydb.org</a>), by means of the <a href="http://flywaydb.org/documentation/migration/sql.html">SQL based migration</a>.</p>
</ui:define>
</body>
</html>
