<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><ui:insert name="title">Default title</ui:insert></title>
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />
</head>


<ui:define name="head">  
	<link rel="stylesheet" title="Default" href="../../js/pre_default_style.css"/> 
	<script type="text/javascript" src="../../js/jquery/jquery-1.2.5.js"></script> 
	<script type="text/javascript" src="../../js/chili/jquery.chili-2.2.js"></script> 
	<script type="text/javascript" src="../../js/chili/recipes.js"></script> 
</ui:define>


<body class="art" jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

			<h1>VocBench Frequently Asked Questions</h1>
			<h2>Building</h2>
			<p><strong>Q. I see I need to use <a href="http://maven.apache.org/">Maven</a> to <a href="http://vocbench.uniroma2.it/documentation/developers.jsf#building_vocbench">build</a> VocBench. I don't know how to use it and, frankly, I don't want to learn a new technology, I just want to use &lt;<em>replace_here_with_your_favourite_IDE</em>&gt;. May I skip this step?</strong></p>
			<p>Yes, in theory you can. You can just check all the dependencies written in the pom.xml file of each project, search them on the web, download them (make a prayer hoping you downloaded the exact version of everything, all the required dependencies etc..), then import them in &lt;<em>replace_here_with_your_favourite_IDE</em>&gt;, inside the project that you just created to hold the sources, then import the sources etc...</p>
			<p>...though..let us be a bit evangelists...<a href="http://maven.apache.org/">Maven</a> may be a big beast
			if you start to love it, you get addicted to it, and start thinking things like &quot;I want to prepare a beer with it&quot; (we are sure there is a Maven plugin even for that...), but, if you are an end user of Maven and just need it to build a project, the time you need to download and install it, is so short you will get immediately paid back for the time you would need to build this single project in the traditional way. See the <a href="http://vocbench.uniroma2.it/documentation/developers.jsf#building_vocbench">build</a> instructions to see how quick is to build VocBench (and most other projects you will find out there) with Maven. </p>
  <p>Last but not the least, Maven is today a de facto standard for releasing source code.</p>
			<p>...and..oh, yes, almost probably there is a Maven plugin for &lt;<em>replace_here_with_your_favourite_IDE</em>&gt; !</p>
			<h2>Installing</h2>
			<p><strong>Q. I've got problems with MySQL 5.7, getting some obscure exception messages: <br />
		    ERROR [http-bio-8080-exec-4] (JDBCExceptionReporter.java:78) - 10:53:50.381 - Expression #1 of ORDER BY clause is not in SELECT list, references column 'vocbench.pt.permission_id' which is not in SELECT list; this is incompatible with DISTINCT</strong> </p>
			<p>This is a MySQL 5.7 issue. A <a href="https://groups.google.com/forum/#!topic/vocbench-user/eB5ab5M9A24">note on the user support mailing list</a> (thanks Thomas Frankart for this!) explains how to sort things out.</p>
			<h2>Using VB</h2>
			<p><strong>Q. Why all those URIs in the data, also for labels?</strong></p>
  <p>VocBench  uses the <a href="http://www.w3.org/TR/skos-reference/skos-xl.html">SKOS-XL</a> standard, which consists in &ldquo;reified&rdquo; labels. This means that the labels are  described by URIs, and can have properties in turn. This has two advantages:</p>
  <ol>
    <li>You can  model labels in turn (adding, for instance, lexical relationships between  labels)</li>
    <li>You can  provide them with editorial notes and metadata in general</li>
  </ol>
  
			<p>VB already provides some additional metadata  automatically, such as creation and modification dates (as it does for concepts), while it is up to the user to add additional notes or, if they want,  to adopt vocabularies of lexical relations. </p>
			<p>VB also uses reified <span class="code">skos:definitions</span>, a pattern foreseen by the SKOS standard (see second case of the &quot;<a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/#secadvanceddocumentation">Advanced Documentation Features</a>&quot; section of the <a href="http://www.w3.org/TR/2009/NOTE-skos-primer-20090818/">SKOS Primer</a> document).</p>
			<p>However, VB provides an export for SKOS which also allows to flatten the reified <span class="code">skos:definitions</span> to simple literals. There are then options for retaining or removing the triples providing the reified descriptions and labels.</p>
			<p>If you prefer to handle these transformations offline from VB, these operations are also available as <a href="http://art.uniroma2.it/owlart/documentation/utilities.jsf#skos_utilities">command line utilities</a> through the <a href="https://bitbucket.org/art-uniroma2/owlart/downloads">full distribution</a> of the <a href="http://art.uniroma2.it/owlart">OWLART</a> library. </p>
			<p><strong>Q. I'm not interested in the collaborative aspects of VB, or at least I don't need all that user authentication/permissions/validation part. Can I disable these features? <br />
		    Also I would like more in-depth control over the data, at triple level, thought not necessarily by having to use SPARQL</strong>. </p>
  <p>The collaborative and controlled development of VB are more than features. They are the principle upon which VB 1 and 2 have been developed. In environments where contributions come from hundreds of users sparse all over the world (such was the case of FAO, which originally developed the tool) it is important to provide the exact boundaries of allowed actions for each user, and to control and validate their contributions. </p>
  <p>Conversely, VocBench 3 has much more versatile settings so that it is possible to use it without validation and to edit any dataset at the grain of single triples (while still keeping facilities for high-level modeling based on OWL and SKOS vocabularies). Please consider moving to VocBench 3 if your editing enviroment fits more this scenario.</p>
  <p><strong><a name="publishing">Q.</a> Can VocBench be used to publish data other than editing it?</strong> </p>
  <p>We got this asked many times...and when we receive a request/are asked a question many times, it is a good sign for a new feature to be added. 
  Fact is, with all the best intentions into supporting it, editing and publishing are really two completely different tasks. Some systems may exhibit some publishing feature, but this usually amounts to being able to dump data in a given SPARQL endpoint (used for publication).</p>
  <p>Simply, the advantage of using web standards is that, the gap from data management to data publishing is (technically) inexisting. From VocBench, it suffices to export data in any of the available RDF serialization formats, and load it (that same data, as is) into some content publishing framework. </p>
  <p>A few caveats and solutions:</p>
  <ul>
    <li>some publishing/visualization systems might be able to properly read only SKOS (and not SKOSXL). VocBench however allows to export data to plain SKOS</li>
    <li>some publishing/visualization systems might be able to read only some RDF serializations. VocBench allows to export data in all common RDF serialization formats.</li>
  </ul>
  <p>About which publishing systems to choose, it is not our role to suggest them, so consider the ones below (grouped by publishing modality) our personal advice, with no aim to be exhaustive nor to be 
    optimal:</p>
  <ol>
    <li><em>Publish data as a sparql endpoint</em>. <br />
    Just export all the data and load it into a RDF data server with a sparql endpoint. <a href="http://rdf4j.org/">Sesame</a> and <a href="https://jena.apache.org/">Jena</a> (through <a href="http://jena.apache.org/documentation/serving_data/">Joseki</a>) are just two open source and free solutions, which can in turn backed up by more powerful triple stores.<br />
    </li><br/>
    <li><em>Provide  HTTP dereferenciation for your published data</em><br />
    One very common solution is <a href="http://wifo5-03.informatik.uni-mannheim.de/pubby/">Pubby</a>,  or this other tool developed again by us: <a href="https://bitbucket.org/art-uniroma2/loddy/downloads">Loddy</a>.  Other than being a plain Linked Data Server as Pubby, Loddy provides lot of  customization options for reorganizing the information in the HTML  presentation. In particular, a template has been specifically provided in the  downloadable demo for SKOSXL thesauri</li>
    <br/>
    <li><em>Have a  browser for your skos thesaurus published at a given address</em><br />
    a very good SKOS browser is <a href="https://github.com/NatLibFi/Skosmos">SKOSMOS</a>. Note that it supports SKOS core only (again, just export to plain SKOS from VB and you will get SKOSMOS readable data).<br />
    </li>
  </ol>
  <p><strong><a name="deprecation">Q.</a>Deprecated concepts cannot be edited anymore?</strong> </p>
  <p>By default, VB restricts to edit any deprecated concepts. In order to enable editing, The Administrator can:</p>
<ol>
  <li>go to Group management page</li>
  <li>Select the desired group which will be allowed to edit deprecated concepts</li>
  <li>Select group action (TERM-EDIT)</li>
  <li>Click [+] button from the Group actions box</li>
  <li>Tick the checkbox with the ‘Deprecated' status, and click the [Add] button. </li>
  </ol>
<p>This will allow editing of deprecated terms. After  editing, term&rsquo;s status will be change &lsquo;Revised' and after validation to  &lsquo;Published'.</p>
<p><strong><a name="whatispubliched" id="whatispubliched">Q.</a> Why all concepts are being exported, and not just the ones with status &quot;published&quot;?</strong>
</p>
<p>The answer is two fold, depending on the considered statuses.</p>
<ul>
  <li>for <em>deprecated</em> concepts, the reason is that concepts in a thesaurus are useful references for document bases and anything for which a thesaurus represents a semantic index. Documents tagged with a concept should always retain a valid link to a description of the concept on the Web.</li>
  <li>for <em>proposed/validated</em> concepts, the simple reason is that the validation process is assumed to be completed before an export is done for publication of the thesaurus. In this case there will be simply no proposed/validated concept left</li>
</ul>
<p>As a side note: the default export procedure of VocBench should always export everything so that it is fast and complete (just a mere export ofthe default graph). However, we might add specific filters for this aspect in the future</p>

</ui:define>

</body>
</html>
