<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<head>
  <title><ui:insert name="title">Default title</ui:insert></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href="../styles/art.css" rel="stylesheet" type="text/css" />    
</head>

<body jsfc="ui:composition"  template="/WEB-INF/templates/main-template-FILLERS.xhtml" 
							 xmlns="http://www.w3.org/1999/xhtml"
                             xmlns:ui="http://java.sun.com/jsf/facelets"
                             xmlns:f="http://java.sun.com/jsf/core">

<ui:define name="mainContent">

<h1>VocBench 2 Documentation</h1>
<p>This documentation page is focused on VocBench 2.</p>
<div id="IndexDiv"><script type="text/javascript" src="../js/indexCreator.js"></script></div>

<h2><a name="reqandinstall">Requirements and Installation</a></h2>
<h3><a name="requirements">Requirements</a></h3>
<p>The following technologies are needed to be installed in the server machine.</p>
<ul>
  <li>Apache <a href="http://tomcat.apache.org/">Tomcat</a></li>
  <li><a href="http://www.mysql.com/">MySQL</a></li>
  <li><a href="http://ontotext.com/products/ontotext-graphdb/">Ontotext GraphDB</a><a href="http://www.ontotext.com/owlim"></a> installed on a <a href="http://rdf4j.org/">Sesame2 (RDF4J)</a> server (optional, though highly recommended for managing repositories larger than toy examples)</li>
</ul>



<h3><a name="install">Installation</a></h3>
<p>An <a href="https://aims-fao.atlassian.net/wiki/display/VB/Installation">installation manual</a> is available on the Vocbench wiki. </p>

<h2><a name="quick_testdrive">Quick Test Drive</a>	</h2>
<p>Following the installation, you may want to try a <a href="https://aims-fao.atlassian.net/wiki/display/VB/Quick+Test+Drive">quick test drive</a></p>

<h2><a name="user_manual">User Manual</a></h2>
<!--
<p>The VocBench User team from FAO has produced a complete <a href="https://bitbucket.org/art-uniroma2/vocbench/downloads/VocBench_v2.3_user_manual.pdf">user manual</a> with step-by-step instructions for performing all of the operations allowed by VocBench. </p>
<p>The manual is updated to version 2.3, while the current version is #{vb_current_version}, however, the changes in more recent versions can be easily managed once the user has gone through the manual. </p>
-->
<p>In collaboration with us, the VocBench User team from FAO has produced a complete <a href="https://bitbucket.org/art-uniroma2/vocbench2/downloads/VocBench_v2.3_user_manual.pdf">user  manual</a> with step-by-step  instructions for performing all of the operations allowed by VocBench.</p>
<p>Concerning the creation of a new project, more details (options, configuration etc..) can be obtained from the <a href="http://semanticturkey.uniroma2.it/documentation/user/projects.jsf#create_a_new_project">related section</a> of the Semantic Turkey user manual.</p>
<p>The complete list of changes is reported in the project <a href="https://bitbucket.org/art-uniroma2/vocbench/src/914e457c12863a5c98052a55718ada3508f8f551/ChangeLog.txt">changelog</a> file.</p>
<h2><a name="adv_manual">Advanced User Manual</a></h2>
<p>The <a href="adv_users.jsf">advanced user manual</a> deals with advanced features related to system customization/reconfiguration. </p>
<h2>Developer Manual</h2>
<p>The <a href="developers.jsf">developer manual</a> provides behind-the-stage information for VB developers, third party developers and anybody interested in how VB works </p>
<h2>FAQ</h2>
<p>A <a href="faq.jsf">FAQ</a> page lists answers to the most frequently asked questions on the <a href="../support">community group</a></p><h2>SKOS Development Pages</h2>
<p>While not intended as a full SKOS guide, the <a href="skos.jsf">SKOS Development</a> pages provide insights on aspect of SKOS development which are usually less known, best practices and also typical modeling issues and how they are dealt with in VocBench.</p>


</ui:define>
</body>
</html>
